[2018-01-12 02:08] mak-in opened #971 "BeGreaterThan/BeLessThan the negative number is not correct 負数の大小が正しくない"
BeGreaterThan/BeLessThan the negative number is not correct 負数の大小が正しくない

Pester version     : 4.2.0 C:\Users\xxx\Documents\WindowsPowerShell\Modules\Pester\Pester.psm1
PowerShell version : 4.0
OS version         : Microsoft Windows NT 6.1.7601 Service Pack 1

[code]

[2018-01-15 09:21] DarkLite1 opened #973 "Get-ADGroupMember with ParameterFilter"
## 1. Provide a general summary of the issue in the Title above

We're trying to have two `Mocks`, one `Mock` that does a catch all with no `ParameterFilter` and one `Mock` that is only called when the group name matches the `ParameterFilter`.

## 2. Describe Your Environment

Pester version     : 4.1.1 C:\Program Files\WindowsPowerShell\Modules\Pester\4.1.1\Pester.psm1
PowerShell version : 5.1.14

[2018-01-16 07:41] nohwnd commented on #754
@it-praktyk I don't think gitflow is the way to go, it solves one problem but adds many other problems, and a lot of ceremony. if you want to be able to issue a hotfix/release without releasing all the other features/changes that were added since the last stable release then the build server can be configured to release also from tags on branches called hotfix-*, you can span that branch from any

[2018-01-16 07:50] nohwnd commented on #968
Thank you for your contribution, but I am sorry, I don't think many users would find this useful, because such comparison is very rarely done, and it would be better to split it in two different tests. Naming it `EqualTo` would also make it very confusing. You can still register your own operator to `Should` if you find it useful in your tests, or you can write a simple assertion yourself that doe

[2018-01-16 07:50] #968 closed

[2018-01-16 07:55] nohwnd commented on #971
Thanks will have a look on that.

[2018-01-16 08:13] nohwnd commented on #631
Good idea, there are few other types that could use a better output, but for date time the 'o' format looks great.

[code]

[2018-01-16 08:21] nohwnd commented on #631
I have this piece of code that formats different types for my assert module. Weirdly the date time is not one of them, but it's easy to add it :) So we might use that formatting for Pester.

[https://github.com/nohwnd/Assert/blob/master/Format/tst/Format.Tests.ps1#L111](https://github.com/nohwnd/Assert/blob/master/Format/tst/Format.Tests.ps1#L111)

[2018-01-16 08:25] nohwnd commented on #966
That is because it was not registered prior 4.2.0-alpha, [see here](https://github.com/pester/Pester/blob/7c8a7f99463b998aeb4a6965427a2f2aebdbba96/Functions/Assertions/BeLikeExactly.ps1) the Add-ShouldParameter is missing.

[2018-01-16 09:04] nohwnd commented on #969
I am not sure what you are trying to do in the repro code. But if you want to pass a hashtable in the mock you need to do it the same way as if you would call your normal function, the parameters of the original function will be defined by on the mock function. Like this:

[code]

[2018-01-18 09:39] bgelens opened #974 "AfterAll synopsis is incorrectly stating it runs at end of every It"
## 1. Provide a general summary of the issue in the Title above

Current AfterAll synopsis

[code]

Should be

[code]

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

Fixed in #975

[2018-01-27 17:36] heaths opened #977 "Support for TRX test results format"
We have a large build/test/release workflow that standardizes on TRX for reporting. I propose (and am willing to implement) support for TRX as another report format.

Specifically, I propose:
- [x] Add a durable GUID to each group and test result in `PesterState` based on https://gist.github.com/heaths/7470fc582dcfcc9c87f65e013432d3c3. I could do this directly in the formatter but would require se

[2018-01-27 22:01] it-praktyk commented on #977
@heaths,
I expect - a final decision will be made when we will see a code - that we will accept contribution what will fulfill your proposal.

Some questions/remarks - numbers based on your list
1. A durable GUID will be generated based on which tests parameters?
2. It shouldn't be a problem
3. Nothing to add
4. Nothing to add

Missed point "Update Pester wiki with information about the new featur

[2018-01-28 09:51] nohwnd commented on #971
The problem here is that the negative value is interpreted by the parameter parser as a `String`, and the expected value dictates the type.

[code]
So a solution would be to reverse the behavior to let the actual value dictate the type (which would be inconsistent with all the other assertions, or check if the value is string and is deserializible to a decimal, then deserialize it, otherwise let t

[2018-01-28 09:52] #935 closed

[2018-01-28 10:53] #974 closed

[2018-01-28 11:28] it-praktyk commented on #754
I've updated the tags in [the new branch in my fork](https://github.com/it-praktyk/Pester/tree/Pester_4.1.2).

I'm not sure if should I push this branch directly to Pester repository too.

[2018-01-28 11:33] it-praktyk commented on #933
Fixed by #945

[2018-01-28 11:37] it-praktyk commented on #949
@mikeclayton, your previous contribution to Pester (the pull request #945).

Would you like prepare the new based on a proposal described above?

Do you need support to clean/recreate the master branch in your fork or any git-related issues?

[2018-01-30 02:37] heaths commented on #977
I would at least like to know if accepting TRX as an optional format is something you would consider. Of course the code will have to stand up to scrutiny, but as your own [contribution docs](https://github.com/pester/Pester/wiki/Contributing-to-Pester) state,

I don't expect it will take long to implement, but once or twice I made a PR-first feature change only to have it summarily rejected on pr

[2018-01-30 10:40] it-praktyk commented on #977
Your contribution will be welcomed.

Generally, we will accept any good prepared and reviewable (not based on the solution that we can't verify by us) extension in the area of integration with external systems.

[2018-01-30 16:09] Jaykul commented on #754
Just because alternatives are fun: at work we use [OneFlow](http://endoflineblog.com/oneflow-a-git-branching-model-and-workflow) which dispenses with the (unnecessary?) second long-term branch, while still proscribing a little bit of "ceremony" as @nohwnd puts it.

We like that it proscribes a little organization of branches (i.e. someone unfamiliar with the project can immediately distinguish a f

[2018-01-31 08:02] johlju opened #979 "When using -ScriptBlock named parameter on a BeforeAll block at the same time as using test cases"
## 1. Provide a general summary of the issue in the Title above

So I hit a strange error. I was writing and It block using test cases, and the test cases are built in the BeforeAll block. I added the named parameter `-ScriptBlock` to the `BeforeAll`-block and all of the sudden the `It `-block using the test cases starting to fail.

## 2. Describe Your Environment

Operating System, Pester version

[2018-01-31 09:15] BlackAngelTiger commented on #442
May be the Tags can help you to exclude or skip tests you do not want to execute at the moment.
A example of this can be found here: https://github.com/pester/Pester/wiki/Describe#tags

[2018-01-31 13:06] peppekerstens opened #980 "Mocking 'Get-PhysicalDisk' fails"
## Issue

Mocking 'Get-PhysicalDisk' fails

## Environment
Pester version     : 4.1.1 C:\Program Files\WindowsPowerShell\Modules\Pester\4.1.1\Pester.psm1
PowerShell version : 5.1.17074.1002
OS version         : Microsoft Windows NT 10.0.17074.0

## Expected Behavior
run:
[code]

should return:
[code]

## Current Behavior

current result:
[code]

[2018-01-31 13:46] peppekerstens commented on #980
problem seems to exist in older code also:

## Environment
Pester version     : 3.4.0 C:\Program Files\WindowsPowerShell\Modules\pester\3.4.0\Pester.psm1
PowerShell version : 5.1.14393.1944
OS version         : Microsoft Windows NT 10.0.14393.0

## Code
[code]

##  Current behavior

current result:
[code]

[2018-01-31 14:31] dlwyatt commented on #979
That's a result of me getting too fancy.  When the Before/After Each/All feature was requested, the person who asked for it referred to equivalent features in another framework, commenting that they could be placed anywhere in the test definition (even after the test cases) and still work.

What I should have said was "Sure, I can implement this, but they have to go before the test cases because w

[2018-02-01 00:48] TravisEz13 commented on #442
@BlackAngelTiger
The thread has already discussed why `Skip` doesn't completely solve the problem (https://github.com/pester/Pester/issues/442#issuecomment-166708838).

Regarding using tags to skip, in a large test suite, creating tags to skip for every condition and then the combinations of conditions used in tests would be unwieldy.  I think the current solution of using `skip` works better.

[2018-02-01 08:56] DarkLite1 opened #981 "BeforeEach not executed within In clause"
## 1. Provide a general summary of the issue in the Title above

I think this is a feature request.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]
## 3. Expected Behavior

`BeforeEach` used within an `In` clause that is nested in a `Describe` clause should also be called every time before an `It` clause is called. In case this is not supported, a

[2018-02-01 09:48] DarkLite1 opened #982 "PowerShell ISE Snippets not following the new style"
When pressing CTRL + J in the PowerShell ISE we can see the Pester snippets. They are currently implemented without the dash:

| Should BeGreaterThan

It should be

| Should -BeGreaterThan

This is for all snippets from Pester the case.

[2018-02-01 10:52] it-praktyk commented on #982
IMHO, PowerShell ISE Snippets should be excluded from the main Pester repository.

@DarkLite1, we are open for your contribution. Please update not only report. Thank you.

[2018-02-01 11:02] DarkLite1 commented on #982
You are correct, when I have some time I'll try to set up Git and do a commit.

[2018-02-01 19:12] SteveL-MSFT opened #983 "Support `-Timeout` for test cases"
## 1. Provide a general summary of the issue in the Title above

For PSCore6, we've had to create a custom [test function](https://github.com/PowerShell/PowerShell/blob/master/test/tools/Modules/HelpersCommon/HelpersCommon.psm1#L1) so that tests don't hang during execution (eventually timing out in CI).

It would be ideal if `It` had a parameter to specify `-Timeoutms` and fail the test case.

##

[2018-02-01 21:53] it-praktyk commented on #979
@dlwyatt, It's not a bug, it's a feature?

[2018-02-01 21:54] it-praktyk commented on #979
It's probably required reviewing/updating documentation.

[2018-02-01 21:55] it-praktyk commented on #940
IMHO, it can be closed now. Am I right?

[2018-02-01 22:34] dlwyatt commented on #979
More like a limitation of supporting PowerShell v2. In v3+ I’d just use the AST

[2018-02-02 04:02] iSazonov commented on #983
Maybe we need a global default value.

[2018-02-02 04:49] SteveL-MSFT commented on #983
@iSazonov perhaps have it for `Describe` as well?

[2018-02-02 05:43] iSazonov commented on #983
This is expected.

[2018-02-05 06:37] skest3qc opened #984 "Should Be Greater Equal"
Hi,

i know there is Should BeGreaterThan but is there a Should BeGreaterEqual ? (-ge)

Thanks

[2018-02-05 19:23] dlwyatt commented on #984
Should Not BeLessThan accomplishes the same thing, so I didn’t bother with the “or equal to” syntax.

[2018-02-06 00:52] dfinke opened #985 "travis-cs question"
I used your `.travis.yml`. The macOS works with the line below, but the linux version says PowerShell requires an elevated rights. Do you know how to `sudo` for a script?

[code]

[2018-02-06 03:18] it-praktyk commented on #985
Installing in the current user scope isn't an option?

I assume that you try to install/run Pester on Linux so you can use [gosu - Simple Go-based setuid+setgid+setgroups+exec](https://github.com/tianon/gosu) for it.

[2018-02-06 03:22] it-praktyk commented on #985
or [su-exec](https://github.com/ncopa/su-exec).

Disclaimer: My answers are written at 4:20 AM. ;-)

[2018-02-06 03:28] dfinke commented on #985
Went with `-Scope`. Thank you.

[2018-02-06 03:28] #985 closed

[2018-02-06 15:21] AlexKeySmith commented on #805
Hi @CtrlDot

I found that if I'm testing a module, which is using a AzureRm module that I need to mark start my tests with InModuleScope.

e.g.

Import-Module MyModule

InModuleScope MyModule {
    Describe "My Test" {
      #tests here

    }
}

[2018-02-08 10:11] DarkLite1 opened #986 "FileSystemWatcher locks Pester TestDrive"
## 1. Provide a general summary of the issue in the Title above

Please review https://github.com/pester/Pester/wiki/Contributing-to-Pester prior to submitting an issue.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

Internal Pester code should not throw an error when all tests are successful.

## 4.Current Behavior

The

[2018-02-08 10:59] nohwnd commented on #386
The issue exists for every type that enumerates when piped through the pipeline. The proposed switch is a nice idea, but the problem is how would you implement it? Should is invoked after the collection is enumerated, and even if it wasn't (say if we implemented begin {} in should), is there a way to get the type of the collection that $DataTable is? cc @alx9r

[2018-02-08 14:33] AlexKeySmith commented on #805
Hi @CtrlDot

Learning more about pester, I could also get this to work, by ensuring I used -ModuleName parameter on both Mock and Assert-MockCalled functions. Pay close attention to the -ModuleName documentation, it's the name of your module, not the AzureRm module you are mocking.

[2018-02-08 17:30] iRon7 commented on #386
:S You're right, this idea was too short-sighted

[2018-02-08 18:02] alx9r commented on #386
@nohwnd Per [PowerShell/PowerShell#5578 (comment)](https://github.com/PowerShell/PowerShell/issues/5578#issuecomment-348045355) I'm fairly confident there is no supported way do that.

[2018-02-10 14:43] nohwnd commented on #973
@DarkLite1 Sorry for the late reply, I was a bit busy in the past weeks. It works with normal function, so the problem here is the AD cmdlet itself. When you look at the type of the Identity parameter you can see that it has type `ADGroup` (more precisely `Microsoft.ActiveDirectory.Management.ADGroup` ).

Using a simple test to compare it to a string, you can see that it matches when we force it t

[2018-02-10 14:43] #973 closed

[2018-02-10 14:46] nohwnd commented on #949
@mikeclayton Hello, are you still interested in getting your fix in Pester?

[2018-02-10 14:52] nohwnd commented on #977
@heaths Please implement it :)

[2018-02-10 15:18] nohwnd commented on #980
The cause of this is that the type `PhysicalDiskUsage` is defined inside of the cmdlet which makes it's type name `Get-PhysicalDisk.PhysicalDiskUsage`, which is what the proxy generator outputs, and which is not a valid powershelll type literal `[Get-PhysicalDisk.PhysicalDiskUsage]` ( because of the extra `-` in there ). I am looking for ways to escape the dash, but I guess if there was a way they

[2018-02-10 15:25] nohwnd commented on #980
The solution would be removing the type constraint on the parameter.

[2018-02-10 15:40] #940 closed

[2018-02-10 18:20] IISResetMe commented on #980
@nohwnd How about something like this [here](https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L238):

[code]

[2018-02-10 19:08] LaurentDardenne commented on #740
Thanks :-)

[2018-02-11 07:59] nohwnd commented on #969
@dogleft Were you able to resolve this issue? If so please respond and reopen the issue.

[2018-02-11 07:59] #969 closed

[2018-02-11 08:31] nohwnd commented on #983
@SteveL-MSFT
Thanks for the suggestion, but I don't think your spin wait works. The call to `.Invoke()` is synchronous (tested on PS and PSCore), so your while *condition* is just waiting for the scriptblock to finish.

[code]
[code]

Is there any simple way of timing out the script block, without running it asynchronously? Timers maybe?

[2018-02-11 08:49] #805 closed

[2018-02-11 10:04] nohwnd commented on #981
I am afraid this is not an easy thing to solve, the Before* and After* blocks are parsed out from the scriptblock and executed even if you specify them on the bottom of the It (see [this comment](https://github.com/pester/Pester/issues/979#issuecomment-361949087)). So unless we switch to using AST, or sacrifice the ability to specify them anywhere within the block this won't be solved.

You can tr

[2018-02-11 10:08] nohwnd commented on #980
@IISResetMe that is a good idea, but only works for enums. The type with `-` can be anything and the issue popped up once in few years. So to me it seems that the simplest (even though not the cleanest way) to fix this is removing the offending type from the function signature.

[2018-02-11 10:47] nohwnd commented on #913
Tried it about 100 times, and cannot reproduce it :/ What is your Pester version, and ad modules version?

[2018-02-12 07:27] DarkLite1 commented on #973
Thank you very much @nohwnd, I fully understand it now. Couldn't get my head around it. Big thumbs up :)

[2018-02-12 07:35] DarkLite1 commented on #986
Thank you for the feedback @nohwnd, exactly my thoughts as well. The only thing I'm wondering about is why it Pester still able to remove the drive at that point? Because when all tests are done, and the error is thrown, the drive is nonetheless destroyed as expected.

Might it be a suggestion to just ignore errors that are produced in the clean-up section of the drive? Because in reality they are

[2018-02-12 07:40] DarkLite1 commented on #913
It's a very rare thing that this happens. But I still found it worth it to report it. In case someone else experienced this too. I just checked, it is Pester version `4.1.1`.

[2018-02-12 09:40] nohwnd commented on #913
Okay I will try looping it for some time to see if it ever happens to me :)

[2018-02-12 09:46] nohwnd commented on #986
The drive is just a pointer to a folder. Kind of like creating a shortcut and removing it. The folder (and it's contents) remain in place, but the pointer is removed. Are you sure that once the test is done the folder is also removed, or is it just that the TestDrive: drive no longer exists?

[2018-02-12 09:52] nohwnd commented on #973
@DarkLite1 no problem, it is a bit intricate. :) glad I could help you

[2018-02-12 10:11] DarkLite1 commented on #913
I can't duplicate it either, so it might have to do with running other Pester tests at the same time. Or mocks not being unloaded/removed. The good thing is, a screenshot doesn't lie lol. Anyhow, I hope I can pinpoint it more/better next time. If I find more I'll let you know. Thx again for the effort, much appreciated.

[2018-02-12 10:22] DarkLite1 commented on #986
Yes, I am certain that the folder is correctly removed as you can see in the screenshot attached. Therefor I think it would not be an issue to do `-ErrorAction Ignore` on the clean-up part of the drive.

<img width="854" alt="capture" src="https://user-images.githubusercontent.com/10828570/36092221-e7bad246-0fe6-11e8-9227-bbd136fbc6e7.PNG">

[2018-02-12 10:30] DarkLite1 commented on #986
You are correct, the drive `TestDrive` is removed but the folder is still there with its content. A bit of annoying issue, but not a showstopper.

[2018-02-12 10:31] #986 closed

[2018-02-13 15:38] bergmeister commented on #742
Thanks for the info, I came across this problem today and found this discussion very useful.

[2018-02-14 13:44] Contramatter opened #989 "Feature request for Project level Recursive Code Coverage metrics."
## 1. Provide a general summary of the issue in the Title above
The current -CodeCoverage parameter accepts only one path string with wildcards. This seems to work well enough to target one or more ps1 files within a give folder, but does not seem to offer a method to provide total recursive code coverage results for a project having a multi level folder structure. There also does not seem to be a

[2018-02-18 11:30] nohwnd commented on #960
The about should part was done in #990

[2018-02-19 02:52] codykonior opened #991 "Pester 4 output different to Pester 3 due to missing stack trace exclusion regex, and Gherkin too"
## 1. Provide a general summary of the issue in the Title above

I find that the stack trace output is often too verbose and after some investigation it changed between Pester 3 and Pester 4 and I believe it's due to a missing regex.

In Pester 3:

[code]

Results in:

[code]

In Pester 4:

[code]

Results in:

[code]

The difference is the extra Invoke-Assertion line which shouldn't be there. Thi

[2018-02-19 03:02] codykonior commented on #917
I think that extra verbose output is a bug I've just written up in #991

[2018-02-19 03:27] alx9r commented on #991
@codykonior I have a branch here that I think addresses this issue: https://github.com/alx9r/Pester/tree/improve-stacktrace-output

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-02-19 03:31] codykonior commented on #991
@alx9r Thanks but I think that PR went too far because it didn't realise that the stack trace output is caused by the incorrect regex string. The fix is just adding Invoke-Assertion to the regex string... it doesn't require all that other stuff. What do you think?

[2018-02-19 10:34] DarkLite1 commented on #914
I'm still struggling with this. Piping to `Get-ADUser` seems to be impossible when `Get-ADUser` is mocked. If anyone knows a way how to do this with an example that would be nice.

[2018-02-19 15:28] bergmeister opened #993 "Invoke-Pester does not work in 'PowerShell on Target Machines' task of VSTS using non-interactive account"
## 1. Provide a general summary of the issue in the Title above

In VSTS one can use the `PowerShell on Target Machines` task to run PowerShell scripts remotely. I am using a non-interactive account to effectively run `Invoke-Pester` on a remote machine and the remoting is handled by the VSTS task. The problem is that it fails and it is telling me that something is prompting implicitly.
I am not s

[2018-02-19 22:16] it-praktyk commented on #808
@Jaykul, gentle reminder. Thank you.

[2018-02-19 23:49] KevinMarquette commented on #808
I went ahead and created a few simple examples for these commands.

[2018-02-20 09:17] it-praktyk commented on #808
Thank you @KevinMarquette!

[2018-02-20 09:59] #991 closed

[2018-02-20 10:12] nohwnd commented on #993
@bergmeister thanks for reporting this, I thought I can replicate it locally but I can't. ( I am running through psExec as system, and non-interactive, and it runs just fine. Maybe I am doing it wrong, but it helped me debug vsts agent like this last week.). Could you try running Invoke-Pesterwith -PassThru and -Show None to eliminate Write-Host, please? Are you sure the prompting does not come fr

[2018-02-20 10:25] nohwnd commented on #914
@DarkLite1 Could you give me an example of what is wrong please?

[2018-02-20 17:18] Xoph commented on #360
Another use case would be Gherkin test cases, which is what I'm running into.

Given a prerequisite
When I execute my script
Then I should have this output

If my Given is not true, I don't want to execute the When, because otherwise I have a completely invalid use case, and why would I want to run something that could take a while, if I already know it's going to completely blow up?

We have a to

[2018-02-20 17:45] nohwnd commented on #360
@Jaykul would it make sense to you to hookup your blocks together so they fail if the Given block fails? Unless that's already how it works. :)

[2018-02-20 18:05] nohwnd commented on #944
@rismoney  will be fixed soon by #996 to print
[code]

[2018-02-20 18:05] #944 closed

[2018-02-20 18:07] nohwnd commented on #631
@oylenshpeegul @iRon7 will be fixed soon by #996 to print
[code]

[2018-02-20 18:07] #631 closed

[2018-02-20 22:47] it-praktyk commented on #648
Completed, #997

[2018-02-20 22:47] #648 closed

[2018-02-20 22:48] it-praktyk commented on #808
Completed, #994, #995

[2018-02-20 22:48] #808 closed

[2018-02-20 22:52] it-praktyk commented on #923
@SteveL-MSFT, does someone from your Team can look on this? Especially, did I correctly understand a purpose the mentioned change in the psl-pester. Thank you.

[2018-02-20 22:56] it-praktyk commented on #966
Is it a bug or a feature? ;-)

Can we close it now?

[2018-02-20 23:01] it-praktyk commented on #827
@vors, can you confirm that the issue is (un)resolved?

I didn't see that behavior (on Linux) since v4.1.1 - I have a suspicion that was related to loading external/Gherkin libraries.

[2018-02-21 01:40] SteveL-MSFT commented on #923
@it-praktyk I don't believe the change that @JamesWTruher was the same.  The issue he was trying to solve was to have unique testnames in the test log as we were doing some analysis of our test results which depended on unique test names.

[2018-02-21 02:07] vors commented on #827
Confirming, it dropped from 100s to 10s. It still seems high - the Start-Job should not put that much overhead, but it seems much more reasonable.

[2018-02-21 02:07] #827 closed

[2018-02-21 08:10] DarkLite1 commented on #914
Thank you for your help @nohwnd . In the code below I'm trying to get the filter correct for `Get-ADUser` in case a specific user object is piped to it. but I can't seem to get it right.

Describe 'disregarded users' {
    it "exclude users that are member of 'ExcludedGroups'" {
        Mock Get-ADGroupMember {
            New-Object Microsoft.ActiveDirectory.Management.ADUser Identity -Property @

[2018-02-21 08:17] DarkLite1 commented on #914
I think I found it now. stupid me. Closing issue.

[code]

[2018-02-21 08:17] #914 closed

[2018-02-21 08:26] ChrisLGardner commented on #993
I've just tested this and it's working fine for me. The only settings I'm using are below. The tests are pretty simple though so I guess it could depend on what your tests are doing that's causing the agent problems.

![image](https://user-images.githubusercontent.com/16837142/36469875-ba6a9686-16e0-11e8-9483-f424a625c895.png)

[2018-02-21 14:06] nohwnd commented on #966
fixed in 4.2.0

[2018-02-21 14:06] #966 closed

[2018-02-21 14:07] nohwnd commented on #827
Weird, runs 2.5s on travis.

[2018-02-21 19:39] vors commented on #827
Something mac-specific in powershell/coreclr I guess?

[2018-02-22 00:45] Jaykul opened #998 "Comment-based help for Should is useless..."
Can we please make the Synopsis for Should say:

[code]

And then, you know, switch to PlatyPS and generate the help for Should from the About_Should, because this is ridiculous 😉

[2018-02-22 08:53] nohwnd commented on #998
No we can't because I am working on this in my free time, as anyone else. For little to no benefit, and very little credit. You are free to post a PR and implement the help the way you see fit. Or you could sponsor the development, and then we can talk about being lazy, and not doing our work properly. ;P

[2018-02-22 08:54] nohwnd commented on #827
I don't know, I never seen it happen since we removed the progress bar, that made many tests much longer.

[2018-02-23 08:12] Jaykul commented on #998
This response to my request is confusing. I can't tell if I should submit a PR to implement my suggestion, or just go away...

[2018-02-23 08:39] nohwnd commented on #998
A PR :)

[2018-02-23 21:49] it-praktyk commented on #998
@Jaykul, your remarks/opinions about the uselessness of help - in some places - of Pester documentation are OK. You have the right to your opinion.

The words "our lazyness" used in your proposal were not fair.

Yes, we are open to any constructive help to update and maintain the code - especially we need help in the subject of Gherkin - improve a documentation, support our Community.

[2018-02-23 21:51] it-praktyk commented on #998
I'm closing the current issue because it's covered by #720.

[2018-02-23 21:51] #998 closed

[2018-02-24 20:57] potatoqualitee opened #999 "Please consider obtaining a code signing certificate"
## 1. Provide a general summary of the issue in the Title above

First, Pester is *awesome* and people are *loving* it. We created a framework around Pester with dbchecks and the reception has been very positive.

I saw #900 and know it's a known limitation but have a proposed solution below.

## 3. Expected Behavior

Pester is catalog signed

## 4.Current Behavior

Pester is not catalog signed

#

[2018-02-24 21:06] dlwyatt commented on #999
If I remember correctly, it won’t help.  The version of Pester shipped with windows is catalog signed by Microsoft. PowerShellGet would still complain if we sign new versions with a non-MS cert.

[2018-02-24 21:09] potatoqualitee commented on #999
Seems unlikely but I'm always hopeful - perhaps Microsoft would consider using your cert in future Windows releases.

[2018-02-25 11:55] bergmeister opened #1000 "-HaveCount assertion operator does not work when using strong typing on $null"
## 1. Provide a general summary of the issue in the Title above

Pester 4.2.0 introduced a new `-HasCount` assertion operator. When migrating existing tests, by replacing `$variable.Count | Should -Be $expectedCount` to `$variable | Should -HaveCount $expectedCount`, I found edge cases where this does not work. I created Pester tests to demonstrate this behaviour:

[code]

## 2. Describe Your Envi

[2018-02-25 12:12] bergmeister commented on #960
Why is the milestone for 4.4 when this already shipped in 4.2?

[2018-02-25 12:43] it-praktyk commented on #960
IMHO, [the wiki page](https://github.com/pester/Pester/wiki/Should) needs review too.

[2018-02-25 21:40] bergmeister commented on #999
Pester has already been removed from PowerShell Core and @steveLMsft has also thought of removing it from Windows PowerShell in 5.2 (although not sure what the final decision is)

[2018-02-25 21:44] bergmeister commented on #993
Ok, thanks for trying. Then I guess the issue might be that we are using a slightly older version of the VSTS agent. Since I have opened an issue in the vsts tasks repo and the issue is not blocking for me because I just do the remoting myself, I will close this issue then.

[2018-02-25 21:44] #993 closed

[2018-02-26 06:39] SteveL-MSFT commented on #999
@bergmeister Current decision by PS-Committee is to not make any change in Windows PowerShell so to not introduce a regression.  The issue with PowerShellGet can be solved by PowerShellGet team.

[2018-02-26 07:07] potatoqualitee commented on #999
Thanks @bergmeister and @SteveL-MSFT. I'd be happy with any solution that isn't repeatedly having to educate users about `-SkipPublisherCheck -Force`. Who is best to approach about making an exception within PowerShellGet for Pester?

Thanks again,
Chrissy

[2018-02-26 16:25] SteveL-MSFT commented on #999
@potatoqualitee please open an issue here: https://github.com/powershell/powershellget, I think if the publisher is trusted even if the publishing cert changed, PowerShellGet shouldn't stop the install (perhaps a Warning is ok).

[2018-02-27 02:08] TravisEz13 opened #1002 "-show should have an option to write summarized passes"
## 1. Provide a general summary of the issue in the Title above

`-show` should have an option to print only summarize passes.  Example only a `+` per pass

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

ability to print something per test case to satisfy CI requirement, but not full log

## 4.Current Behavior

To print s

[2018-02-27 02:25] dlwyatt commented on #1002
If you need to do processing on the output, why not just use -PassThru and get nice objects to work with inestead of the text?  PowerShell, man!  :)

[2018-02-27 04:48] johlju commented on #1002
I like the idea that Travis proposes. It would simplify output when used in a CI pipeline. I think even when using the `-PassThru` parameter Pester still writes the full testing output to console. Or is there another parameter that can be used to minimize the output?

[2018-02-27 08:47] nohwnd commented on #999
Can we do anything about this, or should I close this issue?

[2018-02-27 08:49] nohwnd commented on #1002
@johlju you can use `-Show None` to show no output to the console.

[2018-02-27 09:02] nohwnd commented on #1002
@TravisEz13 you can change the output with a small hack. You can reach inside of Pester module and replace `Write-PesterResult` with your custom function, like this:
[code]
That way you can work with the "raw data" directly, but you will also rely on internal details of the implementation. What I don't get is how you will understand which test has failed from that output. You will have to go back

[2018-02-27 09:54] potatoqualitee commented on #999
Thanks for the quick response and feedback, everyone!

[2018-02-27 10:49] markekraus commented on #1000
similarly.. I would expect this to work on HashTable and Dictionaries to could the number of Items in the dictionary.

[code]

[2018-02-27 11:13] bergmeister commented on #1000
Yes, I have seen similar issues with different .net collection types as well but decided to rather raise this simple one first.

[2018-02-27 18:48] TravisEz13 commented on #1002
@dlwyatt travis-ci requires that we output something periodically.  `-passthru` doesn't meet our needs.  Also, suppressing the logs was the opposite of my ask.
@nohwnd  We have been able to do this without rewriting a pester function, I'm just proposing moving the functionality to Pester.

[2018-02-28 19:05] nohwnd commented on #1002
@TravisEz13 I am sorry, but to me this seems too niche to warrant adding another form of output to Pester. Hopefully we will have a general "plugin" solution some day, that would allow this kind of extension (or in this case reduction :D).

[2018-03-01 11:50] DarkLite1 opened #1003 "Should -Throw wildcard charachters"
## 1. Provide a general summary of the issue in the Title above

It would be nice if the following could be used:
[code]
## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

[code]

It would be great if all these tests could be evaluated as True.

## 4.Current Behavior

Test 3 and 4 fail.

[2018-03-01 15:03] alx9r commented on #1003
It looks like [this is the line](https://github.com/pester/Pester/blob/b8fa450b30eacce1318c9a0e81f5617f6babc471/Functions/Assertions/PesterThrow.ps1#L126) that currently does the comparison matching.  It uses `[string].IndexOf()` to do the pattern matching. That seems like a curious way of matching strings.  It looks like [it was changed from `.Contains()`](https://github.com/pester/Pester/commit/

[2018-03-01 15:06] dlwyatt commented on #1003
In v4, we can just add some switches to control the comparison behavior, similar to how the switch statement works (-Regex and -Wildcard options).  Yay for dynamic parameter sets.  :)

[2018-03-01 17:17] nohwnd commented on #1003
Imho reverting back to `-cnotlike` is the most sensible thing to do (I actually thought it still works like that. :) ). For anything more advanced you can pipe the exception object via `-PassThru` and do whatever you like.

[2018-03-01 19:34] TravisEz13 commented on #1002
@nohwnd Without some solution, the logs become unreadable in our CI system.  I hope we have enough usage of PowerShell that other projects face the same problem.  Granted we have a solution but I think in the long run the solution needs to be moved into Pester.

[2018-03-04 13:06] michalporeba opened #1004 "Testing the tests - with mocks"
Recently I got involved in a very interesting (for me) project dbachecks (https://dbachecks.io) which is using pester a lot, not only to test the code itself, but to deliver the functionality. It runs well and I'm really impressed with both tools, but...

The problems started when I tried to test the tests. We have a scenario where there is a pester test implemented, let say in `DatabaseCollation.

[2018-03-04 14:07] michalporeba commented on #1004
I am now looking at http://jakubjares.com/2017/12/07/testing-your-environment-tests/
to see if that is something that will address my problem

[2018-03-05 12:50] DarkLite1 commented on #913
The error in  #1004 also refers to a Mock name that doesn't exist.

[2018-03-06 08:57] DarkLite1 commented on #1003
Thanks for the suggestion @nohwnd , for now I fixed it like this:

[code]

[2018-03-06 17:50] NickDMax opened #1005 "Pester tests with unicode strings in code"
## 1. Provide a general summary of the issue in the Title above

I am running a test to see that a function based upon the  String.Normalize() function works -- but "under pester" the test fails - outside of pester the assertion works fine. Pester seems to be performing some encoding of the strings within the code (or just the code itself).

Please review https://github.com/pester/Pester/wiki/Cont

[2018-03-06 17:58] NickDMax commented on #1005
'ï¼' is EF BC 86  which is the UTF8 code point used to encode U+FF06 -- So it looks like pester is reading the UTF8 - encoded powsershell code byte-for-byte rather than as UTF8.

[2018-03-06 18:10] NickDMax commented on #1005
Well I took a guess that the problem was that Powershell will read and execute UTF8 encoded code - but when it reads a scriptblock it does not decode the code properly:

[code]

This shows the same behavior.

[2018-03-06 18:31] alx9r commented on #1005
The comparison seems to take place on [this line](https://github.com/pester/Pester/blob/b8fa450b30eacce1318c9a0e81f5617f6babc471/Functions/Assertions/Be.ps1#L228).

@NickDMax I've invoked

[code]

under WMF 5.1's PowerShell 5.1 and PowerShell 2 (I don't have a PowerShell 4 test system available right now).  It passes in both cases.  Can you confirm whether you see this behavior in any version of P

[2018-03-06 19:53] #1005 closed

[2018-03-06 19:55] NickDMax commented on #1005
I can confirm that it works under:

[code]

[2018-03-07 10:05] nohwnd commented on #1005
Can we do something about this, or is it most likely a general problem with PowerShell?

[2018-03-12 14:11] fschumann1211 opened #1006 "Assert-VerifiableMock / Assert-MockCalled return false unexpectedly"
.. although mocked functions should definetely be called
[code]
## 3. Expected Behavior
in my opinion, this should test ok on the snippet below
[code]
Tested Function:
[code]

## 4.Current Behavior
[code]

Am I missing something?

[2018-03-12 16:00] alx9r opened #1007 "SessionStateUnauthorizedAccessException when Mocking Get-Module"
I came across this while trying to repro #1006.

## 1. Repro

[code]

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

Test should pass.

## 4.Current Behavior

[code]

[2018-03-12 16:18] alx9r commented on #1006
@fschumann1211 I have reproduced this on my computer.  While narrowing the cause I came across #1007.  I think #1007 will have to be resolved before this can be completely understood.

In the meantime, I _think_ a workaround is to put the function-under-test inside a module and use `InModuleScope{}`.  The following seems to work on my computer:

[code]

[2018-03-12 16:20] alx9r commented on #1007
@dlwyatt Can you take a look at this?  I'm not familiar with Pester's mocking subsystem.

[2018-03-13 03:16] johnemau commented on #418
@goomyman, @nohwnd I found a workaround using `InvokeWithContext` on the `$ScriptBlock` parameter
[code]

[2018-03-13 06:12] fschumann1211 commented on #1006
@alx9r In fact, the function actually is in a function. I'll give the inModuleScope a try.
Thanks a lot. I'll keep you posted.

[2018-03-13 06:30] fschumann1211 commented on #1006
Thanks @alx9r. Totally works as a _workaround_

[2018-03-13 06:35] fschumann1211 commented on #1006
I also tried with the original module and it works. Now I don't know if this is a genuine error or just a great moment of boneheadedness on my part ;)

[2018-03-13 14:31] nohwnd commented on #1007
@alx9r The mock generates implementation of the mock function that has parameter called PSEdition, which causes the error when the function is executed. Mocking internally uses ProxyCommand. Here is a repro that suggests that this is error in the ProxyCommand, not in Pester (yet we should still find a way to  fix it, probably by skipping that parameter).

[code]

[2018-03-13 15:37] alx9r commented on #1007
@nohwnd Oh I see now.  Although, I find the details of this behavior to be peculiar:

[code]

FWIW, it seems there is discussion around the following in PowerShell/PowerShell#3061:

* which automatic variables should/will become read-only
* how to discover/detect automatic variables

I'm not convinced that the error correlates well with automatic variables, however.

[2018-03-13 16:00] alx9r commented on #1006
@fschumann1211 The root cause (#1007) is indeed a genuine issue.  The reason it was a confusing manifestation is because the exception message was hidden because the call that raised the message was made by `Should -throw`.  If you change that line to

[code]

you'll see

[code]

which gets us straight to #1007.

[2018-03-14 00:38] alx9r commented on #1007
@nohwnd

AFAICT, we should expect this error to occur whenever the name of a parameter conflicts with a `ReadOnly` or `Constant` variable in the _current_ scope.  Currently, `Get-Module`'s `$PSEdition` _can_ be mocked inside a module because of a bug that causes `$PSEdition` to be shadowed inside a module despite its `AllScope` option (see PowerShell/PowerShell#6378).  When that bug is resolved, I

[2018-03-14 08:26] fschumann1211 commented on #1006
Great! Thanks for your help and support 😆

[2018-03-14 08:26] #1006 closed

[2018-03-14 09:33] nohwnd commented on #1007
@alx9r I don't think we can do better job than the ProxyCommand without a lot of effort. So I would just add special cases for the errors as they come. The type in #980 can be relaxed to [object] (or string with validation), and the PSEdition can be fixed the way you describe. Ok?

[2018-03-14 17:17] alx9r commented on #1007
@nohwnd It looks to me like visiting and emitting a string from each relevant node in the `[Dictionary[string,ParameterMetaData]]` tree would produce the needed `param()` block.  The visitor could implement the special cases from this bug, #980, and whatever else we find.

I think how well this works will come down to implementation.  If it's string pattern matching and replacement, I would antici

[2018-03-14 20:04] alx9r commented on #980
@nohwnd Can you still repro this for `Get-PhysicalDisk`?  On my computer the repro in the OP passes on Pester 3.4.0, 4.1.1, and 4.3.1.

## Environment

[code]

[2018-03-15 08:59] nohwnd commented on #1007
@alx9r I agree that there might be edge cases, but the language allowed in the param block is quite simple, so doing a string replacement on a known type / parameter name is imho relatively problem free. I would rather start simple, than implement the whole thing ourselves, the proxycommand worked for the past few years without any problems, it's just now that we have 2 bugs in the same year.

[2018-03-15 09:10] fschumann1211 opened #1008 "Assert-VerifiableMock not asserting a verifiable mock ... again ... ;)"
## 1. Provide a general summary of the issue in the Title above

I am experiencing a similar issue as described by me in #1006 a few days ago. As suggested I do use `InModuleScope MyModule {}`.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

The function resides in $ModuleName. And my dummy module dbatools has a function

[2018-03-15 09:35] fschumann1211 commented on #1008
I replaced `Assert-VerifiableMock` with `Assert-MockCalled` just for laughs.
[code]
throws
[code]

[2018-03-15 10:30] nohwnd commented on #980
![image](https://user-images.githubusercontent.com/5735905/37458014-e69c4dc0-2843-11e8-8aca-622b46ca68a7.png)

@alx9r Yes still fails. I am using Windows 10.0.016299

[2018-03-15 18:51] ChrisLynchHPE opened #1009 "Should -Not -Throw doesn't print or display the actual exception if caught"
## 1. Provide a general summary of the issue in the Title above

I recently upgraded Pester from 3.x to 4.x, and have noticed a different behavior with catching exceptions that should not be thrown.  In 3.x and older, when an unexpected exception was caught within an It block, the exception message would be displayed.

## 2. Describe Your Environment

Operating System, Pester version and PowerShel

[2018-03-16 00:41] alx9r commented on #1008
@fschumann1211 I rearranged your repro to get it passing.  I'm guessing a bit at how your repro fits into your real-world situation, so it might not be exactly on-point.  Here is the new version with comments in-line describing the reason for some of the changes:

[code]

I hope this helps you.

[2018-03-16 00:46] alx9r commented on #1007
I think you are probably right for Cmdlets.  I think `param()` for PSCmdlets can contain almost anything in `[ValidationScript()]` scriptblocks, so it might be worth doing the #1007 replacement for only Cmdlets.

This sounds reasonable to me.

[2018-03-16 06:11] fschumann1211 commented on #1008
I thought I could mock that the function called is coming from the right module. Your assumption was almost correct. dbatools is a 3rd party module not developed by me, but my module depends quite heavily on it

[2018-03-16 14:11] nohwnd commented on #1009
@ChrisLynchHPE you are right, the exception should be visible when the test fails. I will add it.

[2018-03-16 21:32] alx9r commented on #1008
Do you mean that you'd like to assert that the call to the mock is coming from the right module?

[2018-03-19 07:13] fschumann1211 commented on #1008
I wanted to verify that I test the functionality of my own Module (`InModuleScope{}`) but the mocked function should be called from the imported 3rd party module.

[2018-03-23 15:51] sheldonhull opened #1010 "Gherkin feature is case sensitive"
## 1. Provide a general summary of the issue in the Title above

I had issues executing with Invoke-Gherkin despite simplifying the format to exactly the same as all the examples. Once I changed the text from the example below to normal case the steps correctly executed.

[code]

to
[code]

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version

[2018-03-24 05:06] ConstantineK opened #1011 "When running any Describe block on OS X, error thrown due to invalid variable referenced in Environment.ps1"
## 1. Provide a general summary of the issue in the Title above

Attempting to run tests that I had previous known worked on another platform, I received the following on OS X for any complex test that I ran:

[code]

It appears that when I run Pester for more complex tests either the $error record doesnt pop all the errors out (or its overwritten) but with the super simple test below I got to

[c

[2018-03-24 07:45] nohwnd commented on #1011
@ConstantineK Thanks for reporting this, and the analysis. The issue seems to be that your version of PowerShell is outdated. I just tested it on macOS (and we are testing every build on macOS via TravisCI), and it works.

The  [PR implementing this change](https://github.com/PowerShell/PowerShell/issues/4700) was merged on September 2017.

Please consider updating you PowerShell installation. :)

[2018-03-24 07:59] nohwnd commented on #1010
@Jaykul could you have a look, please?

[2018-03-24 14:59] ConstantineK commented on #1011
Thank you, that makes more sense! I checked but clearly not thoroughly enough :)

[2018-03-24 14:59] #1011 closed

[2018-03-25 21:15] Remco-74 opened #1014 "Let CodeCoverage exclude Pester Tests by default"
## Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## Expected Behavior

When using `-CodeCoverage *`, Pester test scripts (`*.Tests.ps1`) should be excluded from code coverage reoprting.

## Current Behavior

When using `-CodeCoverage *`, Pester test scripts (`*.Tests.ps1) are included in code coverage reporting.

[code]

## Possible Solution

Exclude

[2018-03-26 14:12] jakauppila commented on #832
+1 to this. It would be great to be able to pass TestCases to a context when writing more data-driven tests.

[2018-03-26 16:58] Jaykul commented on #1010
The Gherkin syntax _is_ case sensitive. I don't think we have enough documentation about Gherkin syntax, really, but that's partly because we expect people to refer to [their documentation](https://github.com/cucumber/cucumber/wiki/Gherkin)

We are using the official multi-lingual gherkin parser for .net (provided by the cucumber organization who came up with the idea). If we have examples in caps

[2018-03-29 13:34] sam-bryant commented on #402
I also came across the need for this functionality.  +1

[2018-04-04 13:28] AlexGagne opened #1015 "Mocking cmdlets with Transformation Attributes"
Pester version     : 4.3.1 C:\Program Files\WindowsPowerShell\Modules\Pester\4.3.1\Pester.psm1
PowerShell version : 5.1.15063.966
OS version         : Microsoft Windows NT 10.0.15063.0

I am trying to mock a cmdlet that has a transformation attribute, coming from a strongly-typed function.

 I am trying to test this function:

[code]

I want to mock the Get-Something cmdlet.

Internally, the Somet

[2018-04-04 17:00] alx9r commented on #1015
Do you have a repro that you can post?  This example seems to successfully mock function `f` which uses `ArgumentTransformationAttribute`:

[code]

[2018-04-04 17:41] AlexGagne commented on #1015
[code]

So, I think I didn't understand properly my problem, but I now see what my problem is. The problem is that the Transformation attribute fails because it does work that cannot be done during tests (simulated here by simply failing the convert). Is there a way to skip the transformation/mock the transform attribute?

[2018-04-04 19:33] alx9r commented on #1015
"Testing the Mock" fails because you are trying to convert `"test1"` to `[int32]` when it is passed to `g`.  That is same as the statement `[int32]"test1"`, which fails with the same error.  Changing `"test1"` to `"1"` (which is a string that is convertible to `[int32]`) causes the test to pass.

As a side note, for out-of-the-box PowerShell, `h($name)` invokes `Get-History` because of the built-i

[2018-04-05 21:29] Bradmiller72 opened #1017 "Issue Mocking in Nested Modules"
[code]

## 3. Expected Behavior

Expected that the mocked function would be called, more information below.

## 4.Current Behavior

I'm attempting to mock a function in a nested module. The file structure is such:

.
+--Module
|   +-- Module.psd1
|   +-- NestedModule1
|   |   +-- NestedModule1.psm1
|   +-- NestedModule2
|   |   +-- NestedModule2.psm1
|   +-- NestedModule3
|   |   +-- NestedModule3

[2018-04-06 21:00] alx9r commented on #1017
@Bradmiller72

I haven't been able to reproduce the problem you described.  Do you have a repro you can post?

For reference I created [this working example](https://gist.github.com/alx9r/824f89d0badc27cc9a3defc1d3293cda) which calls a mock of a function in a nested sibling module, but obviously there would be differences from your situation.

There are five files in the example.  The test file lo

[2018-04-06 21:42] adamfortuno opened #1018 "Filtered Mock of 'Get-ADComputer' Not Being Applied to Call of 'Get-ADComputer' in ForEach Loop"
OS: Windows 10 64-bit
Powershell: 5.1.15063
Pester: 4.2.0

I am testing a function that has the following snippet:

[code]

I have the following mock setup in a context block:

[code]

I'd expect my mocks to be called, but they're not. If I add an unfiltered mock,

[code]

The unfiltered mock is called for both iterations of the call to 'Get-ADComputer'.

![image](https://user-images.githubusercon

[2018-04-06 22:53] alx9r commented on #1018
@adamfortuno

I haven't been able to reproduce your issue.  Do you have a repro you can post?

For reference, below is example that invokes mocks using parameter filters in a similar manner to what you describe.  Obviously there would be differences from your situation, but I thought it might help narrow in on those differences.

The example is as follows:

[code]

That outputs the following:

[co

[2018-04-08 14:18] DaveKaretnyk opened #1021 "Exit code not passed to calling process when using: #requires -Modules Pester"
## 1. Provide a general summary of the issue in the Title above

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

When calling a PoSh script from a client program (e.g. another PoSh instance; a Windows cmd shell; or a C# application) the exit code from the PoSh script should be transmitted to the client program.

Example tr

[2018-04-08 20:03] adamfortuno commented on #1018
I posted this issue on StackExchange as well - see [Mock with ParameterFilter Not Being Called (Pester)](https://stackoverflow.com/questions/49701142/mock-with-parameterfilter-not-being-called-pester/49701942#49701942).  Patrick Meinecke helped me resolve the issue. The parameter in the commandlet I was mocking took an object. I was supplying a string. It was converting the string to a new object,

[2018-04-08 20:03] #1018 closed

[2018-04-09 07:31] fschumann1211 commented on #402
I second the request. Also for an ActiveDirectory test drive +1

[2018-04-09 16:27] Bradmiller72 commented on #1017
So I tried using InModuleScope on my unix machine (acutally a mac).

This is the code:
[code]

When I run this I get this response:

[code]

So I did some quick googling and found https://github.com/PowerShell/PowerShell/issues/5115 which makes it seem like running huge functions (which I assumed that InModuleScope could be) could be an issue on a mac.

So I transfered my code over to a Windows 10

[2018-04-09 18:09] michalporeba opened #1022 "Skip a test from the inside of the It script block"
## 1. Provide a general summary of the issue in the Title above

My usecase is for environmental validation, not unit tests as such. I have been recently working on dbachecks project trying to find an efficient way of structuring code while making sure we can unit test environmental tests. One of the remaining challanges is that to keep code simple and any logic testable I don't want to depend on

[2018-04-09 18:56] nohwnd commented on #402
@fschumann1211 AD test drive is not going to happen, we would have to take dependency on the AD cmdlets, and install a real domain per-test :)) The registry test drive I'd like to implement, but unfortunately I have so little free time :/

[2018-04-09 19:09] nohwnd commented on #1018
similar issue #973

[2018-04-09 19:38] nohwnd commented on #1021
@DaveKaretnyk I am trying it, and I can observe the same behavior with many other modules. They don't seem to have anyting in common, but the behavior is reproducible, so maybe someone else will have a deeper look into this.

Here is my repro:

[code]

As a workaround you could try using `[System.Environment]::Exit(666777)` which seems to work correctly.

[2018-04-09 19:48] nohwnd commented on #1022
@michalporeba That is not possible for the moment, I was not even very happy about addition of the set-testinconclusive function, it's not a very systematic solution. It would be much nicer to have access to the context of the test from the insides of the test via some object that we could evolve.

[2018-04-09 19:57] michalporeba commented on #1022
@nohwnd Could you point me where to start looking at it to see how difficult it would be to make it possible in the future? I agree that having access to some 'context' would be much better than a global 'Set-TestInconclusive' command.

[2018-04-10 10:51] DaveKaretnyk commented on #1021
@nohwnd: thanks! For investigating and for the workaround (works for me also). To be clear I understand, the workaround returns the exit value via the underlying .NET framework Exit rather than the PowerShell Exit?

Since it is a general PowerShell issue, is there somewhere that I can or should submit this?

[2018-04-10 15:13] alx9r commented on #1021
@DaveKaretnyk

I think I narrowed this down to script modules that dot-source.  I opened PowerShell/PowerShell#6615.

FWIW I have found exit codes from `powershell.exe` to often have surprising values.  That is somewhat mitigated by using `[System.Environment]::Exit()` as @nohwnd pointed out.  But even that technique can be frustrated, for example, when a `ParserError` occurs.

It looks like there

[2018-04-10 17:49] nohwnd commented on #1022
@michalporeba The `Set-TestInconclusive` function throws an exception with special error id. This error is recognized by `ConvertTo-PesterResult` and produces inconclusive result. If I was implementing the functionality you want I would add `Get-Test` (or Get-PesterTest?) that would look at the current test info, and return a live read-only object with the test name, params etc. Then I would have

[2018-04-10 19:01] michalporeba commented on #1022
@nohwnd Thank you, I'll have a look at the code in the next few days (hopefully). Main main usage cases are around environmental checks. Please have a look at what I have written about it here (http://dbain.wales/about/environmental-checks). I would like to be able to skip the test from inside the It block so that the skipping logic can be tested. Potentially some improvements could be made to mak

[2018-04-11 01:53] adamfortuno commented on #706
Hoping @SeeminglyScience is onto something. I don't want to have to create objects to simulated the objects I'm working with. At what point do I then need to test the objects I've created to make sure they're representative. Agreed. Wrapper function just won't cut it. At some point, you need to test the wrapper, right?

[2018-04-11 02:09] adamfortuno commented on #706
Not sure where this change is. It looks like it's slated for 4.3. However, I'm using 4.3.1, and I'm running into the problem.

I have a script with the function:

[code]

I have a context block with the following mock:

[code]

When I run the test, I get the following:

MethodException: Cannot find an overload for "ManagedComputer" and the argument count: "2".

I'm running Pester 4.3.1, Powershell

[2018-04-11 03:05] VertigoRay commented on #212
@felixfbecker Thanks for sharing your process. I set it up, but it gave me 0% for the Composite Resource I'm working on. Mind looking at the repo and letting me know if anything stands out to you?

https://github.com/VertigoRay/OneDriveDsc

[2018-04-11 03:08] felixfbecker commented on #212
@VertigoRay according to this you don't use the script I posted?

https://github.com/VertigoRay/OneDriveDsc/blob/aaea7a67debeaac3c98fe773abe6751ef0ddcdf1/REQUIREMENTS.psd1#L19:64

[2018-04-11 03:14] VertigoRay commented on #212
@felixfbecker You said it was minor changes for linux/mac compatibility, so I didn't switch to that. I took that one from your first post:
https://github.com/aaronpowell/ps-nvm/blob/9784e5ada938a7485a6786371ac76b3ed78d37fb/appveyor.yml#L15

I'll switch to the one your have posted just above and see if it works.

[2018-04-11 07:15] nohwnd commented on #1022
You can attach data to the exception and read them from it afterwards.

[2018-04-11 16:48] VertigoRay commented on #212
@felixfbecker Same issue with newer script. I don't want to clutter this issue, but I want to be sure that whatever solution is implemented properly tracks coverage of DSC Composite Resources.

[2018-04-11 19:40] nohwnd commented on #913
@DarkLite1 @michalporeba So internally we are creating a function with guid name, and then an alias (or multiple aliases if the command is from a module) that points to it. That is how mocking works. Aliases are running out of scope automatically, but if you stop the test mid run the alias and function will remain. Then on subsequent calls the mock will pick up the alias, and resolve to the guid f

[2018-04-11 21:27] michalporeba commented on #1022
The more I think about it the more I disagree with my initial instincts that the Set-TestInconclusive is ugly and a bit awkward solution. Throwing exceptions might be the best way to implement it and a function that throws an exception with correctly initialized object attached to it might be the best, and most elegant solution. I'm thinking about it from the perspective of environmental checks an

[2018-04-11 21:46] michalporeba opened #1025 "Make testing tests easier"
## General summary of the issue

I'm looking for an easier way to write unit tests for tests, both positive and negative tests, as well as ensuring tests are skipped or marked as inconclusive when necessary. For more context please see [this blog post](http://dbain.wales/about/environmental-checks).

## Expected behaviour

### Positive tests
Positive tests appear to be fairly easy. Using my confir

[2018-04-11 21:56] michalporeba commented on #1022
Please see #1025 and the referenced blog post. I think it is essential that the logic in the check's `It` block is encapsulated in a `Confirm-*` function so that it can be unit tested. That means in the simplest of examples we have an environmental check that looks like so
[code]
That is simple enough, but in practice, with context and reason it already is
[code]
It gets already a bit more complic

[2018-04-11 23:12] alx9r commented on #1025
I'm not entirely sure I got the point of your OP, but a few things stood out to me on first read.

In my experience testing code that tests production code, involves basically the same concerns as testing production code.  For example, I have [a fairly substantial module that is mostly implementations of tests specific to DSC resources](https://github.com/alx9r/structuredresource).  That module fo

[2018-04-12 05:52] DarkLite1 commented on #913
Thank you for looking into this further. When we write production scripts here at work, we usually declare the variables empty at the top of each script. This way we prevent an incorrect or assumed state.

The workaround you suggest seems to be able to allow Pester to start clean. Which I'm turn might no longer require it to run only in a Powershell window but also in the Powershell ISE.

Thumbs u

[2018-04-12 08:53] DaveKaretnyk commented on #1021
@alx9r: thanks for the follow up and links. Based on this information I guess the main conclusion is to proceed cautiously in this area...

[2018-04-12 11:45] michalporeba commented on #1022
@nohwnd if you have a moment please look here
https://github.com/michalporeba/Pester/commit/87b0ee17146493c8b6269c94cc922004b62b758d
in this commit I have a first draft of how skipping could look like. Inconclusive is already included in the same way. Perhaps pending should be included too?

Let me know what you think

[2018-04-12 11:46] michalporeba commented on #1022
![image](https://user-images.githubusercontent.com/120880/38675405-7dab6766-3e4f-11e8-94a2-24f780725f02.png)

[2018-04-12 16:33] nohwnd commented on #1022
I like the inclusion of `-Because`, what will happen if I simply skip the test with the skip parameter? :) The command name I don't like much, I think it should rather be called `Set-TestResult` (or `Set-ItResult`).  Internally I would rather switch on the error Id to figure out the result, replacing parts of the error Id is clever, but adds a convention to internal code that we would have to reme

[2018-04-12 16:47] nohwnd commented on #1021
Not a Pester issue.

[2018-04-12 16:47] #1021 closed

[2018-04-12 16:50] nohwnd commented on #913
@DarkLite1 I actually stumbled upon it by accident, I was preparing a talk about Pester internals, and I got this exact issue after a while, which puzzled me for a bit. I think the clean up should be pretty simple, unless it gets complicated with cleaning up in modules. Should have a look next week or the week after that.

[2018-04-12 18:17] michalporeba commented on #1022
There is much more than 'what will happen if there is no because missing'. It's just a quick illustration to the idea to further the discussion. That's why it is not a PR. As for the function name, I made it `Set-PesterResult` for now rather then `Set-TestResult` as I felt the latter is too generic, and since it will be a public method I'd like to limit potential for clashes with other modules tha

[2018-04-13 08:52] nohwnd commented on #1025
I've read your blog post (thanks for the shout-out), and I am also not entirely sure what you are after.

The assertions are based purely around exceptions, the framework does not really care whether or not you fail the test by using `Should` or just throwing an exception. There is no proof that the test actually did anything, a test calling empty function is not distinguishable from a test that c

[2018-04-13 17:04] michalporeba commented on #1025
OK, so the `Should -Pass` was there because i wrote it before I read the Pester code properly. No I know that not implemented test is marked as pending, and really what I'm after is that the test is not pending. I wanted to have a way to see if the test was implemented.

The other puzzle is the `{ Confirm-MyCheck } | Should -Throw`. Since writing the checks I considered out of scope for those exam

[2018-04-13 17:13] michalporeba commented on #1025
As soon as I started thinking of improving #1022 I found an example of what I really want to do easily.
I'm working on `Set-ItResult`, so to see if it works I have

[code]
and I can see the test skips, and the output is correct. But now I'd like to validate it with a unit test (and here we can omit the logic, the test should always skip (imagine my `Confirm-MyCheck` contains only that `Set-ItResul

[2018-04-13 17:55] michalporeba commented on #1025
Reading the source code some more I found that @nohwnd added Verify-AssertionFailed 4 months ago.
I can see now I could write my skipping tests as something like this
[code]
so perhaps what I'm after is just some syntaxic sugar to make that test easier to write, like the last code bloc from the previous comment? What do you think about that?
[code]

[2018-04-14 08:03] nohwnd commented on #1025
Oh nice, you found my `Verify-AssertionFailed`, flashing out that concept in my head took me a while, but it greatly simplifies testing of assertions, and in the end it is logical to do it this way.  :)

In that case the first three assertions just boil down to a specialized case of `Should -Throw`. To assert on `FullyQualifiedErrorId` you can use the `-ErrorId` parameter, or `-PassThru` the error

[2018-04-14 10:42] michalporeba commented on #1025
Yes, the `| Should -Throw -ErrorId "PesterTestSkipped"` gets very close to what I need and it is almost as simple as I need it to be. If I register it as a custom operator I think it will give me what I need but I leaves one little problem: an external code which is dependant on internal magical string "PesterTestSkip".

I can live with that I guess, and I'm going to implement it one way or anothe

[2018-04-22 11:07] #1009 closed

[2018-04-24 13:30] Aorimn opened #1028 "Code Coverage for proxy functions/steppablePipelines"
## 1. Provide a general summary of the issue in the Title above

In proxy functions, a steppable pipeline is created from a scriptblock:
[code]

Each pipeline phase (begin/process/end) is then called on this object, thus actually executing the scriptblock.

However, when executing Pester with the CodeCoverage option, the scriptblock is reported as not being executed:
[code]

## 2. Describe Your En

[2018-04-24 13:45] it-praktyk commented on #1028
@Aorimn, thank you for the report.

Can you confirm it using the current version (4.3.1) of Pester? The version 3.4.* will be deprecated soon.

[2018-04-24 17:02] it-praktyk commented on #1010
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2018-04-24 17:02] #1010 closed

[2018-04-24 17:03] it-praktyk commented on #1015
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2018-04-24 17:03] #1015 closed

[2018-04-24 20:46] Aorimn commented on #1028
Sorry for the delay, I confirm it for the version 4.3.1

[2018-04-26 22:29] michalporeba commented on #1025
So for now I have implemented the functionality I need in dbachecks as a custom assertion.
Please have a look here
https://github.com/sqlcollaborative/dbachecks/blob/ccc/internal/functions/PesterAssertions.ps1
https://github.com/sqlcollaborative/dbachecks/blob/ccc/tests/PesterAssertions.Tests.ps1

[2018-04-27 08:10] DarkLite1 commented on #313
+1

[2018-05-01 18:58] it-praktyk commented on #913
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2018-05-02 08:30] DarkLite1 commented on #913
@it-praktyk I don't think it should be closed yet, given that @nohwnd is working on a fix. Thank you for reopening in the meantime.

[2018-05-03 07:12] nohwnd commented on #1009
@ChrisLynchHPE the next one :) Hopefully I will get to releasing it till the next week.

[2018-05-04 06:57] lipkau opened #1029 "OutputFile does not resolve PSDrive"
## 1. Provide a general summary of the issue in the Title above

When writing the results of `Invoke-Pester` to a file (eg: `-OutputFormat NUnitXml -OutputFile "Test:\foo.xml"`), it fails to write to a path that uses a PSDrive.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

NUnitXML is written.

## 4.Current Behavior

NU

[2018-05-04 07:10] PatrickGrub commented on #246
Would be nice if Pester itself provides such a functionality without installing other modules.

I would love that!

Thanks,
Patrick

[2018-05-04 10:25] it-praktyk commented on #1014
I like that idea.

[2018-05-04 11:07] it-praktyk opened #1030 "Under run of Pester tests on Linux information about incorrect syntax for the ps tool is used"
## 1. Provide a general summary of the issue in the Title above

Under run of Pester itself tests on the console is displayed information about incorrect syntax for the ps tool.

## 2. Describe Your Environment

[code]

[code]

## 3. Expected Behavior

Non error message from an external tool displayed.

## 4.Current Behavior

[code]

![-usr-bin-zsh_001](https://user-images.githubusercontent.com/49

[2018-05-04 11:08] it-praktyk commented on #867
@nohwnd, I don't have more ideas how it can be resolved.

[2018-05-04 11:31] it-praktyk commented on #1029
Something like doesn't mean 'exactly' ;-)

`Join-Path -Path $(resolve-path (Split-Path Test:\foo.xml)).ProviderPath -ChildPath $(Split-Path Test:\foo.xml -Leaf)`

It works under PSCore 6.1.0-preview.2

[2018-05-04 13:43] nohwnd commented on #867
@it-praktyk okay I will have a look on it.

[2018-05-04 14:57] EgoManiac opened #1032 "Language used in error message when using 'not' and 'begreaterthan'"
## 2. Describe Your Environment

Pester version     : 4.3.1 3.4.0 C:\Program Files\WindowsPowerShell\Modules\Pester\4.3.1\Pester.psd1 C:\Program Files\WindowsPowerShell\Modules\Pester\3.4.0\Pester.psd1
PowerShell version : 5.1.16299.251
OS version         : Microsoft Windows NT 10.0.16299.0

## 3. Expected Behavior
when running a pester test -
 Get-CimInstance Win32_PhysicalMemory -CimSession $Fro

[2018-05-04 15:12] EgoManiac commented on #1032
Update. Sorry, this was my fault.

When returning the value I hadn't converted it to an integer. so when the comparison was working it was comparing a string to an integer. My mistake.

[2018-05-04 15:14] EgoManiac commented on #1032
Nope, even with integer it is still there :-)

My brain hurts -
  [-] The Memory on the Edge: '192.168.1.47' Should be greater than 16GB 76ms
        Expected 16 to be greater or equal to the actual value, but got 8.

thanks

Chris

[2018-05-04 17:03] alx9r commented on #694
FWIW FWICT generalized mocking of objects is currently frustrated by a number of issues with PowerShell classes.  I'm thinking in particular of  PowerShell/PowerShell#4713 and PowerShell/PowerShell#2505.  AFAICT the PowerShell team is currently working to resolve those issues.  I suspect that once those are fixed commands for creating fully-featured mock objects can be implemented in a general and

[2018-05-06 07:48] nohwnd commented on #1029
@it-praktyk so what was the problem exactly? :)

[2018-05-06 07:51] #1029 closed

[2018-05-06 09:40] #913 closed

[2018-05-06 12:05] nohwnd commented on #867
@it-praktyk so two issues with this code.

1) when you are querying for the command to get the module the command is mocked so you get the alias back instead of the cmdlet. You need to explicitly ask for the cmdlet type of a command otherwise you just get the alias (more generally: you get the command that would resolve to that name, in this case the alias).

2) in the code you are doing select mo

[2018-05-06 12:29] nohwnd commented on #1030
The test is using `ps` alias which I assume does not exist on Linux to avoid yet another `curl` fiasco. The test did not fail because the result was `$null` which is not a collection, which is what we expected.

[2018-05-06 12:30] #867 closed

[2018-05-06 13:01] #1030 closed

[2018-05-06 14:54] nohwnd opened #1039 "Tags should not split on whitespace"
Implementing wildcards for Tags I noticed that tags provided to `Invoke-Pester` will be split on whitespace. Is this for historical reasons? Does anyone use this? To me it's just an awkward non-standard behavior.

I would expect that any valid string could be provided as a tag, and that providing multiple tags is done by using a comma, as with any other PowerShell cmdlet. Thoughts?

@Jaykul gherki

[2018-05-06 16:46] #504 closed

[2018-05-06 16:47] nohwnd commented on #1039
related #557

[2018-05-06 17:01] nohwnd commented on #394
Looked at this and it would be quite easy to implement if we provide parameter to `Invoke-Blocks` catch and throw exception from there that will include both the information about where we failed, and with which error we failed.

The only downside I can see is that we won't be throwing the original type of exception but a single type of exception with the original exception attached as InnerExcept

[2018-05-06 17:06] nohwnd commented on #833
The related PR was merged a year ago, closing this.

[2018-05-06 17:06] #833 closed

[2018-05-06 17:28] nohwnd commented on #885
Repro:

[code]

[2018-05-06 17:35] bergmeister commented on #885
This one is going to be opinionated but the user should make a choice whether to mark inconclusive as failed or not. Therefore the current default to pass looks ok to me.
VSTS has this great behaviour that it marks the build as red in this case but the UI hides inconclusive tests by default...

[2018-05-06 20:38] it-praktyk commented on #1030
I think the holiday mode has turned on me, that I did not see it. Now the long weekend (we've public holidays on May 1st and 3rd) is coming to the end. Thx for the fix.

[2018-05-07 03:58] Jaykul commented on #1039
Yes, the tags parameter in `Invoke-Gherkin` was mostly copied from `Invoke-Pester` I think.
I wouldn't make a big deal of it myself (never even noticed, guess I use WordsSmashedTogether) for backward compatibility reasons, but I don't mind changing it -- I agree with Dave that for new users, it's confusing to take an array, _and **also**_ split the input...

[2018-05-07 05:36] johlju commented on #1039
@nohwnd  I don't think anyone would expect it to behave like that, splitting on whitespace. Also, it is undocumented (?) so if someone is using it they probably read the code, come across it by accident or just didn't notice. My thoughts. :)

[2018-05-07 07:00] nohwnd commented on #1039
Great that is what I wanted to hear. I will remove it and update the documentation.

[2018-05-07 07:04] nohwnd commented on #1030
@it-praktyk no problem, I am actually glad when there are some simple unsolved issues left over for me. Otherwise it's always just big problems, or breaking changes :)

(It was also asking for the idle process which is not present on Linux, so I made it ask for the current powershell/pwsh process.)

[2018-05-07 07:04] DarkLite1 commented on #913
Awesome! This will be very helpful when testing and debugging code from within the `PowerShell ISE` or `VS code`, rather than invoking `Invoke-Pester`. Thank you very much :)

[2018-05-09 07:06] #949 closed

[2018-05-10 04:37] fakhrulhilal opened #1042 "How to test ScriptBlock passed to mocked function"
I'm new to Pester, and I'd like to test my [git cloner script](https://github.com/fakhrulhilal/TFSGitDownloader/blob/master/GitDownloader/GitDownloader.ps1). I create `Invoke-VerboseCommand` to ensure external command executed, either it throw error or not. Of course, it should show the executed command.

I'm using Windows 10, Pester 4.3.1, PowerShell 5.1

This is script that I'd like to test:
[co

[2018-05-11 12:26] nohwnd commented on #1042
You are running still in the same scope so you can mock the git command and run the script as you normally would and then assert that git was called with the correct params. Like this:

[code]

[2018-05-11 12:44] nohwnd opened #1043 "Add alias without .exe when mocking external command"
## 1. Provide a general summary of the issue in the Title above

Running a test like this:

[code]
Will result in notepad being executed because `notepad` will resolve into `notepad.exe` command, but Mock will not pick it up since there is no alias for `notepad`. This is counter-intuitive and currently there is no good way of mocking executables without wrapping them into functions, which is espec

[2018-05-11 21:20] arashikageclan opened #1044 "Pester Mocked Read-Host prompting for input during Invoke-Pester Code Coverage"
## 1. Provide a general summary of the issue in the Title above
Pester Mocked Read-Host prompting for input during Invoke-Pester Code Coverage

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version: Windows 10 Pro, 4.3.1, 5.1.16299.251

## 3. Expected Behavior

When mocking Read-Host in a test, if I call the test file using Invoke-Pester "MyTestFile" -CodeCoverag

[2018-05-11 22:17] it-praktyk commented on #1043
What about using `Get-Command`?
Similar like [here](https://github.com/pester/Pester/blob/5796c95e4d6ff5528b8e14865e3f25e40f01bd65/Pester.Tests.ps1#L32)

[2018-05-14 09:33] nohwnd commented on #960
For reference, this is how all the assertion operators can be easily listed import-module pester; & (get-module pester) { $AssertionOperators

[2018-05-14 09:34] nohwnd commented on #1043
@it-praktyk I am not sure how that helps. Could you expand on it, please?

[2018-05-14 09:37] nohwnd commented on #1044
Thanks for reporting, that is odd, the code coverage should only set breakpoints on all available places, and check if the breakpoint was hit. There were some instances of unexpected behavior with and without breakpoints so this might be another one. I will have to have a deeper look on this to understand what happens.

[2018-05-14 15:43] it-praktyk commented on #212
This issue was referenced in the blog post [Adding a code coverage badge to a PowerShell project](http://wragg.io/add-a-code-coverage-badge-to-your-powershell-deployment-pipeline/) by @markwragg

[2018-05-15 04:10] mklement0 opened #1045 "Pester hangs when invoking xclip on Ubuntu 16.04"
# 1. Provide a general summary of the issue in the Title above

`xclip` is a clipboard utility for X11-based desktop environments.

You can install it with `sudo apt-get install xclip`.

Interactive use or use in regular scripts works fine, but in the context of a Pester test it _hangs_ when trying to _copy_ something to the clipboard.

It returns once something _else_ is copied to the clipboard,

[2018-05-15 07:52] nohwnd commented on #1045
Weird, thanks for reporting. I am not able to replicate this in docker, because it cannot open a display, so I will have to install a full blown virtual machine :)

[2018-05-15 10:35] ClaudioESSilva commented on #960
I have updated the Should page with missing parts 😄
https://github.com/pester/Pester/wiki/Should

[2018-05-15 13:58] mklement0 commented on #1045
Thanks for giving it a shot, @nohwnd.

Turns out poor Pester isn't to blame; it only surfaced the problem, whose reproduction is as simple as:

[code]

I.e., simply trying to _capture_ the output (even though there is none) causes the hang.

I've opened https://github.com/PowerShell/PowerShell/issues/6875 and I'm closing this.

[2018-05-15 13:58] #1045 closed

[2018-05-15 14:15] mklement0 commented on #1043
It's obviously not a proper solution, but simply defining an _empty_ function _in addition_ to the `Mock` is a quick workaround for now:

[code]

[2018-05-15 16:15] mklement0 commented on #1043
@nohwnd:

Here's what I _think_ you're proposing, but just to spell it out (do correct me if I'm wrong):

* Whenever the `<name>` in a  `Mock [-CommandName] <name>` call resolves to an _external application_, implicitly create a `<name>.exe` alias for it _on Windows_, so that both `<name>` and `<name>.exe` invocations are covered by the mock.

* Windows-only code benefits by the `Mock` now automat

[2018-05-15 18:48] mklement0 opened #1047 "Allow Mock to target nonexistent external programs to facilitate testing cross-platform code"
## 1. Provide a general summary of the issue in the Title above

Currently, `Mock` requires the targeted command to _exist_.

However, cross-platform code may involve calls to platform-specific external utilities (programs) that aren't available on _all_ supported platforms - e.g., `cmd.exe` vs. `/bin/sh`.

Currently, you can work around that problem in two ways:

* Define dummy functions for all

[2018-05-15 19:35] mklement0 commented on #1045
Turns out it was `xclip` itself, as @BrucePay discovered:

It apparently never closes the stdout stream when used in a pipe, which also applies to capturing the result in a variable in PowerShell, such as the `$null = ...` idiom that Pester uses behind the scenes.

The workaround from PowerShell is to call `xclip` via `sh -c` and to explicitly close stdout with `>&-`:

[code]

[2018-05-16 14:01] DarkLite1 commented on #415
One could also use `Start-Process $Command` and mock that.

[2018-05-16 15:03] claudiospizzi opened #1048 "Skip tests with global test suppression"
## 1. Provide a general summary of the issue in the Title above

In our environment, we use Pester for infrastructure tests. We have up to 1000 tests and run these tests against hundreds of servers. The tests themself are quite smart, and will, for example only be executed if a specific features is installed on the target. This will anyway give us a lot of test results. But sometimes, we get some

[2018-05-17 15:56] joshua-honig opened #1049 "Pester fails test showing exception which was already caught and intentionally ignored"
## 1. Summary

I am testing a function which includes a `try/catch` block to intentionally ignore an exception. When I test this function, tests which should pass instead fail, citing the exception *which was already caught in the catch block*.

Here is the complete code which reproduces the issue. The `Write-Debug` statements are really just to demonstrate that the `catch` block is working, and t

[2018-05-17 17:07] #1049 closed

[2018-05-17 17:07] joshua-honig commented on #1049
Error was being raised in `Remove-Item` line of the `It`, outside the function being tested.

[2018-05-21 07:48] it-praktyk commented on #960
Yeap,
because I've found - in [your comments](https://github.com/pester/Pester/issues/960#issuecomment-388755764) something what should be added to the wiki.

BTW, can you check if is the syntax correct?
[code]

[2018-05-21 10:15] nohwnd commented on #960
@it-praktyk yes, it's just missing the last curly brace. it should be this: `import-module pester; & (get-module pester) { $AssertionOperators }`

[2018-05-23 10:44] iricigor opened #1050 "Document integration with AppVeyor Ubuntu build"
AppVeyor now supports running tests also on Ubuntu / PowerShell core. It should be documented in Readme / Build server integration section ([link](https://github.com/pester/Pester#build-server-integration)). Planets example is already updated and tested ([link](https://ci.appveyor.com/project/nohwnd/planets)).

A couple of consequences to that:
1. It requires specifying an additional image (Ubuntu

[2018-05-23 10:50] it-praktyk commented on #1050
@iricigor, please feel free to propose an update. Thank you.

[2018-05-23 12:47] nohwnd commented on #1050
@iricigor yeah that is fine, the example in the readme is there to show how easy it is to use Pester in appveyor, the main concern is to keep the config really short and easy to comprehend, which it still it. Choco was used only because installing Pester via Install-Module required enabling nuget first etc. and that was too long, from your config it seems that that step is no longer necessary so u

[2018-05-24 09:17] iricigor commented on #1050
Yeap, I know/agree with your comments. As you mentioned, the new config file (visible [in my fork](https://github.com/iricigor/Pester#build-server-integration)) is still compact. I believe one additional line is worth for the new functionality AppVeyor provided. Though true is not all need that functionality yet.

[2018-05-24 13:31] LethiferousMoose opened #1052 "AfterEach issue with Assert-MockCalled."
## Environment

Operating System, Pester version and PowerShell version:

[code]

## Expected Behavior
AfterEach block has ability to use Assert-MockCalled if a group of tests has a similar set of functions that need to called or not called.

## Current Behavior

I have some pester tests that declare mocks in a BeforeAll block, which are then used in 2 or more tests in a Context block. I had previ

[2018-05-24 17:07] LethiferousMoose commented on #1052
I may have a different issue that was making it look like this behavior. So this may not be an issue.

[2018-05-24 17:11] LethiferousMoose commented on #1052
I had a different issue that was making it look like this behavior. So the behavior is actually working as expected. Closing issue.

[2018-05-24 17:11] #1052 closed

[2018-05-25 17:26] ChrisLynchHPE commented on #822
Sorry to get back to this so late.  But I did some major code refactoring, moving HttpWebRequest into a custom C# class my library uses.  Making that change appears to have fixed my issue, so closing this one.

[2018-05-25 17:26] #822 closed

[2018-05-25 17:27] ChrisLynchHPE commented on #1009
Just saw `4.4.0-Beta` published.  I saved and started testing my Pester tests with it, and can confirm `Should -Not -Throw` is working as it used to in the 3.x release.

[2018-05-25 17:29] ChrisLynchHPE commented on #606
This issue can be closed.  I just put all of the pre-validation code into `BeforeAll` calls within each `Describe` block.

[2018-05-25 17:29] #606 closed

[2018-05-26 08:55] Stephanevg opened #1053 "Pester 4.3.1 points to internal cmdlet when test is failing instead of tested cmdlet."
## 1. Provide a general summary of the issue in the Title above

Please review https://github.com/pester/Pester/wiki/Contributing-to-Pester prior to submitting an issue.

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

I would expect that the test that is failing actually outputs the information related to the test, not tot the internal cmdlet from Pester.

This is  the correct o

[2018-05-26 14:53] fakhrulhilal commented on #1042
I change the test as follows:
[code]
and here's the result:
[code]
FYI, I don't change the implementation at all. Anything wrong?

[2018-05-28 00:25] njmaeff opened #1054 ""Dot sourcing" / "using module" into test file - Issue with classes"
## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

I would like to add the dot source at the beginning of the script and for the class definitions to be recognized.

## 4.Current Behavior

If I dot source the system under test before running pester, it works as expected. If I'm running a new session and Invoke-Pester, I get a

[2018-05-28 03:15] fakhrulhilal commented on #1042
Finally I can get it works using your example. I'm new to PowerShell, I don't understand why when `$args` is in left it will failed but not when written in right. I wish you could tell me why. This issue can be closed anyway.
[code]

[2018-06-01 00:33] ginobrewski opened #1055 "When mocking Get-CimInstance -filter switch doesn't filter"
## 1. Provide a general summary of the issue in the Title above
When developing a function that uses Get-CimInstance I find that using -filter works with a real server, but when I try to do a mock of a machine the filter switch does not work, but the mock will work when the function uses Where-Object on the pipeline as a filter instead.

## 2. Describe Your Environment
Pester version     : 4.3.1 3

[2018-06-01 07:33] it-praktyk commented on #1053
@nohwnd , maybe is it a good time to add a deprecation warning?

[2018-06-01 09:48] claudiospizzi commented on #1048
Even without feedback to my idea, I've created the proof of concept in this branch:
https://github.com/claudiospizzi/Pester/tree/GlobalSuppression

[2018-06-01 18:48] it-praktyk commented on #1048
@claudiospizzi, my first impression is that it's a great idea. I'll try to review it soon.

[2018-06-02 01:37] LethiferousMoose opened #1056 "Should Throw not detecting exceptions thrown from inside classes."
Operating System, Pester version and PowerShell version:

[code]

## Expected Behavior

If a function tested in a PowerShell module calls a PowerShell class that throws an exception, Should Throw should detect it.

## Current Behavior

If I call a function from pester than in turn calls a PowerShell class method that throws an exception, Should Throw is not detecting that any exception occurred.

[2018-06-03 19:57] claudiospizzi commented on #1048
@it-praktyk May I create the PR already, so that you can review it easier?

[2018-06-03 21:56] it-praktyk commented on #1048
Yes, please :-) Any constructive pull requests are welcomed.

[2018-06-04 05:06] #1056 closed

[2018-06-04 05:06] LethiferousMoose commented on #1056
Found my problem, pester working as expected.

[2018-06-04 20:36] claudiospizzi commented on #1048
@it-praktyk Pull request created. I'm locking forward to your review.

[2018-06-04 22:21] it-praktyk commented on #892
Finally, I found a time to add the function provided by @indented-automation to the [Pester wiki](https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4).

Guys, can you review it?

[2018-06-04 22:21] #892 closed

[2018-06-04 22:23] it-praktyk commented on #854
Ping @Remco-74

[2018-06-05 16:45] ksivasenthil opened #1058 "Should Not Match assertion across multiple lines."
## 1. Provide a general summary of the issue in the Title above
Should Not Match does not assert correctly across multiple lines.
Please review https://github.com/pester/Pester/wiki/Contributing-to-Pester prior to submitting an issue. -  [x] Reviewed

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]
Pester version     :  3.4.0 C:\Program Files\Windo

[2018-06-05 19:14] it-praktyk commented on #1058
Please update Pester to version 4.3.1 and verify that an issue exists in the newest stable version also.

[2018-06-06 07:02] nohwnd commented on #892
@it-praktyk LGTM

[2018-06-09 05:53] ksivasenthil commented on #1058
I have updated to the latest version of 4.3.1. I still have the same issue as narrated before. The tests report a pass in that specified scenario where they should have reported a fail.

[2018-06-09 05:54] ksivasenthil commented on #1058
I also noticed I had mentioned -remove switch in the test which is not correct. I

[2018-06-09 05:55] ksivasenthil commented on #1058
I accidentally closed this. Pardon me :(

[2018-06-10 06:01] fakhrulhilal commented on #1042
My question has [answer](https://stackoverflow.com/questions/50780342/compare-string-vs-array). I'll close this issue.

[2018-06-10 06:01] #1042 closed

[2018-06-11 12:09] mikeclayton opened #1060 "Invoke-Pester -PassThru returns pipeline output from test scripts"
## 1. Provide a general summary of the issue in the Title above

When calling Invoke-Pester with the -PassThru switch, the return value contains all of the pipeline output from the test scripts, as well as the actual test results.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

Note: I'm actually importing Pester 4.3.1 from a separate working dir

[2018-06-11 12:10] mikeclayton commented on #1060
I'm happy to do some investigation into this if you can confirm whether it's a bug or not. I didn't want to dig too far into the root cause yet though in case its "by design" behaviour.

[2018-06-11 14:19] dlwyatt commented on #1060
Yep, that's a bug.  We already discard output in commands like Describe, but looks like that's not being done out where test scripts themselves get invoked.

[2018-06-11 23:02] mikeclayton commented on #1060
Hi Dave,

Thanks for confirming.

I've added some tests around this behaviour (which initially failed as expected), and what looks like a deceptively simple change to fix the new tests. All the Pester pass locally (except half a dozen do to with tagging and versioning) but I might have missed something.

See https://github.com/pester/Pester/compare/master...mikeclayton:feature/1060-capture-test-ou

[2018-06-11 23:27] mikeclayton commented on #1058
@ksivasenthil - i modified your test slightly to output some temporary value as follows:

[code]

I got this output:

[code]

which looks to be correct as "result" does not equal "token".

You might want to double-check what your test is trying to assert...

[2018-06-12 00:45] ksivasenthil commented on #1058
@mikeclayton  Thank you. I noticed a problem with the regex. The correct regex pattern should be "(?s)/\*(.*)?*/" in my test. Since, this is not an issue with pester I am closing the issue.

[2018-06-12 00:45] #1058 closed

[2018-06-12 02:48] awickham10 opened #1062 "Longer Tests Break Problem Matcher"
## 1. Provide a general summary of the issue in the Title above
The VSCode problem matcher is hard coded to match against tests that take milliseconds (searching for the string "ms").

## 2. Describe Your Environment
Operating System, Pester version and PowerShell version:
[code]

## 3. Expected Behavior
The problem matcher should match tests that take a second or longer to run.

## 4.Current Beha

[2018-06-12 02:54] awickham10 commented on #1062
This is actually an issue for PowerShell/vscode-powershell, not Pester. My apologies.

[2018-06-12 02:54] #1062 closed

[2018-06-12 06:41] it-praktyk commented on #1062
@awickham10, thank you for the report. Can you reference the mentioned issue? Thank you.

[2018-06-12 10:55] awickham10 commented on #1062
The PowerShell/vscode-powershell is can be found here: https://github.com/PowerShell/vscode-powershell/issues/1291

[2018-06-12 15:22] mikeclayton commented on #1055
Hi @ginobrewski,

I think what you're saying is that when you call your ```Get-VolumeInfo``` function in a normal PowerShell session the **real** ```Get-CimInstance``` returns a filtered array which only contains drive objects that have ```DriveType=3```.

By comparison, when you call ```Get-VolumeInfo``` with your Mock version of ```Get-CimInstance```, you are getting an unfiltered array containi

[2018-06-12 21:35] it-praktyk commented on #1060
@mikeclayton,
it took me some time to understand where the issue is. Finally, I've tested the code updated by you using a file with the content.

[code]
and [tests](https://github.com/equelin/Format-Pester/blob/master/demo/DemoFunction1.Tests.ps1).

I confirm that it works as expected now. It means that output from other commands is not included in the object returned when the `PassThru` parameter

[2018-06-12 21:56] mikeclayton commented on #1060
@it-praktyk - I've sent a PR with the changes. Let me know if you've got any comments / feedback.

Cheers,

M

[2018-06-12 22:00] ginobrewski commented on #1055
Thanks for the feedback. It has given me a better understanding of how Mock works with powershell.

[2018-06-14 12:24] DarkLite1 opened #1064 "Comparing collections returns PASS while it should FAIL"
## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

Expect the test to fail instead of pass, due to the difference in the property value.

## 4.Current Behavior

The test passes incorrectly:

[code]

## 6. Context

We were trying to optimize code to run faster. That's why we started using the [.where method](http://www.powersh

[2018-06-14 13:01] DarkLite1 commented on #1064
As a workaround we now use:

[code]

[2018-06-14 13:56] DarkLite1 commented on #1064
Eventually I went for something a lot simple, converting the collections to an `Array` as described [here](https://blogs.msdn.microsoft.com/powershell/2009/02/27/converting-to-array/).

[code]
Then changed the assertion to:

`Assert-Equivalent -Actual ($Actual  | ToArray) -Expected ($Expected  | ToArray)`

[2018-06-15 07:01] DarkLite1 commented on #1064
Hmmm... stumbling over the same issue. When there's more than one object in the collection both methods fail.

[code]

@nohwnd  do you have an idea why `Assert-Equivalent` is failing here? Or am I using the wrong approach?

[2018-06-15 10:55] DarkLite1 commented on #1064
All properties that are of type `Collection1` are now converted to simple `arrays`. After that the following code makes the test function properly:

[code]

[2018-06-15 15:34] alx9r commented on #1064
It seems like this issue belongs in the [nohwnd/Assert project](https://github.com/nohwnd/Assert).

[2018-06-22 19:56] JamesCrompton-MSFT opened #1065 "Invoke-Pester does not respect tags when test load pester from path"
## 1. Provide a general summary of the issue in the Title above

We want our tests to load pester from a path so that we load a specific version from our branch and not a random version people may have on their machines. This scenario is blocked however because tags are no longer respected when pester is loaded from a path.

## 2. Describe Your Environment

Operating System, Pester version and Pow

[2018-06-23 21:10] it-praktyk commented on #1065
@JamesCrompton-MSFT, I couldnt reproduce the issue that you reported. Can you check commands/outputs provided below and answer me if I understood your report correctly?

Thank you.

[code]

[2018-06-27 08:26] Stephanevg opened #1066 "Receiving Warning message when tests are ran using 'F5' in IDE"
## 1. Provide a general summary of the issue in the Title above

I guys, I am using VSCode to develop powershell stuff. When I press F5 to launch my test, I have the following message:

[code]

running ```invoke-pester``` in the path containing the script, the message doesn't appear.

See below for code examples.

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

If you're describi

[2018-06-28 03:54] JamesCrompton-MSFT commented on #1065
Thank you for your response. I followed your steps and was not able to repro on a new machine, however i still have my original dev machine where this is reproing so the repro is not as simple as i first thought. I have been busy with other things, but i will try and look this weekend at what is special about my repro box and update the issue accordingly.

Thanks,
-James

[2018-06-28 09:12] Mallappays opened #1067 "Mocking the dynamic command"
I have a situation. The Poweshell script will pick a function name from the xml file that suppose to get execute. Wondering how to mock the command that read from the xml.

Running Pester 4.3.1 on Windows Server 2008 R Standard Edition and using Powershell 4.0

This is my Powershell script to be unit tested
[code]
"& $($action.Api) " is dynamic command. The $action.Api will be a command name. How

[2018-06-28 09:56] johlju commented on #1067
You need something for the mock to "attach to", so if you create a `function ThisIsSampleAPI {}` before you call `Mock` it will have something to "attach to".

[2018-06-29 11:02] Mallappays commented on #1067
Thank you.

[2018-06-29 11:02] #1067 closed

[2018-06-29 11:25] Mallappays opened #1068 "Mocking Functions of an object"
I would like to mock a inner function/command for an object.  Let me give you a background. I am processing a xml file. The xml object will have a Load and Save as a inner function. I would like to mock the Save and Load.

Running Pester 4.3.1 on Windows Server 2008 R Standard Edition and using Powershell 4.0

This is my Powershell script to be unit tested

[code]

I dont know how to mock the .Loa

[2018-06-29 12:32] mikeclayton commented on #1068
Hi @Mallappays,

You can't mock members of CLR objects, so you'll need to wrap the call in your own function, and then you can mock that. For example:

**Your Code**
[code]

**Your Tests**
[code]

Hope this helps.

Cheers,

Mike

[2018-06-29 13:07] DarkLite1 opened #1069 "How to test a function within a script"
This is more a question than it is an issue. Suppose I have a script file that contains some functions in the `Begin` clause. However, the script has also some actions defined in the `Process` clause and some mandatory parameters in the `Parameters`.

Under normal circumstances I would move the functions to a module and test the module for proper functionality of the containing functions. But in t

[2018-07-01 04:20] ChrisLynchHPE opened #1070 "Context block throws "New-PSDrive : A drive with the name 'TestDrive' already exists.""
## 1. Provide a general summary of the issue in the Title above

During unit test execution through AppVeyor, Pester will throw an error `New-PSDrive : A drive with the name 'TestDrive' already exists.`  Here are two examples of the output from two independently ran builds:
* [Example1](https://ci.appveyor.com/project/ChrisLynchHPE/posh-hponeview-34esg#L202)
* [Example2](https://ci.appveyor.com/pr

[2018-07-02 13:08] mikeclayton commented on #1070
I can reproduce this error with the following pathological test script:

[code]

output:

[code]

Basically, if something running inside the tests deletes the filesystem folder underneath "TestDrive:" (or, e.g., the entire %temp% directory) the next set of tests will try to re-create the TestDrive again because it tests for the *root folder* existing, not the PSDrive itself.

Changing https://gith

[2018-07-02 16:44] ChrisLynchHPE commented on #1070
So, I am not removing the `TestDrive` resource in my Pester tests.  I do use `Remove-Item` to delete specific files copied or stored on the `$TestDrive` location.  But those are in different `Context` blocks, as the script above is a root `Context` block in my unit test script.

[2018-07-02 19:32] it-praktyk commented on #1070
Can you verify the behavior with the #1059 applied?

[2018-07-02 20:39] mikeclayton commented on #1070
@ChrisLynchHPE - I've not used AppVeyor before - is it possible some other build or process in the same context (e.g. same VM / container) is running under the same user account and is intermittently deleting the contents of %temp% (normally resolves to ```C:\Users\<username>\AppData\Local\Temp```)?

The PowerShell "TestDrive:\" is a virtual drive mapped to a folder with a random guid under %temp%

[2018-07-02 21:00] wekempf opened #1071 "Gherkin Scope Issue?"
## 1. Provide a general summary of the issue in the Title above

I've got some Gherkin tests that work for me locally, but fail in my AppVeyor builds, and I don't know why. I know PowerShell moderately well, and I'm familiar with Gherkin, so when I found out Pester had Gherkin support I decided to use it. Unfortunately, I've been running into nothing but issues. Some I've worked around, but this l

[2018-07-03 21:42] kort3x opened #1072 "Support for special characters"
## 1. Provide a general summary of the issue in the Title above

Pester should support special characters (e.g. Umlaut)

## 2. Describe Your Environment

[code]

## 6. Context

I use pester for infrastructure tests. There are many points in our systems where special characters are present (e.g. performance counter names, filenames, etc.)

[2018-07-03 21:46] it-praktyk commented on #1072
Thank you for your report.

Please provide detailed information about how we can reproduce cases that you are talking about.

[2018-07-03 21:46] it-praktyk commented on #1071
What about using global variables?

[2018-07-03 21:56] kort3x commented on #1072
**Here is an example test:**

[code]

**This test always fails because of the Umlaut in the the tested path:**
[code]

[2018-07-03 22:11] dlwyatt commented on #1072
Nothing there is happening because of Pester. Best guess, you haven’t saved your script with a Unicode encoding.

[2018-07-03 22:29] kort3x commented on #1072
Thanks @dlwyatt !

It was an encoding Problem indeed.
I recently switched to vscode and apparently I have to use "UTF-8 with BOM" for pester tests to work.
That was not an "issue" with ISE.

Computers are hard.

[2018-07-04 04:27] #1068 closed, assigned to nobody

[2018-07-04 16:33] #1072 closed

[2018-07-04 16:35] it-praktyk commented on #1055
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2018-07-04 16:35] #1055 closed

[2018-07-05 16:05] alexjordan6 commented on #1069
Hey, this is pretty similar to #247, want to give that read?

[2018-07-08 10:52] nohwnd commented on #1070
Just merged #1059 that is related to deleting the underlying folder. It throws error when the folder is not found, maybe it will help identifying what exactly is happening.

[2018-07-08 11:03] nohwnd commented on #1069
@DarkLite1 I wrote [this concept](https://github.com/nohwnd/script-tester) a while ago, maybe you can do something with it. Pretty much it just manipulates your script to have a main function so that your script is just functions, and then puts stuff back where it was. This way the script becomes testable for a moment, and then becomes shippable again.

[2018-07-08 11:06] #1066 closed

[2018-07-08 11:11] nohwnd commented on #1060
PR Merged.

[2018-07-08 11:11] #1060 closed

[2018-07-08 11:35] nohwnd commented on #1048
Sorry for the long silence, I was taking a little break from Pester. In general this is a nice idea, but this does not work in the expected way for the majority of tests out there. People love to put their code outside of the blocks controlled by Pester, and that is  just one of the reasons why we don't have Tags on inner level Describes and Its. All the Pester blocks simply execute code and then

[2018-07-08 11:50] #1039 closed

[2018-07-08 14:05] claudiospizzi commented on #1048
Hi @nohwnd
Yes, you are right, depending on the test structure, some code may be executed, even if the test itself will be suppressed. I guess, my idea is appropriate for infrastructure testing, but not so much for unit testing. Generally I see it like this:
- Infrastructure testing: The same test will be executed multiple times against multiple targets. If we have to suppress one target, the -Ski

[2018-07-09 08:15] DarkLite1 commented on #1069
Thx guys I'll give it a go 👍

[2018-07-13 16:23] mwtilton opened #1075 "Should Contain/Match Fails"
## 1. General summary

Pester tests fail when you try to see if a file contains a string. i.e
[code]

## 2. My Environment
Win 10 (1803)
Pester: 4.3.1
Powershell: 5.1.17134.165
Running in: vsCode and from the CLI

[code]
Should return:
[code]
## 3. Expected Behavior
I'm not sure if this is a bug, an issue with my code or an improvement request. This may have also been a removed feature as I know i

[2018-07-14 00:54] mwtilton commented on #1044
Tried to run some tests too see if I could replicate the behavior.

## Environment

Win 10 (1803)
Pester: 4.3.1
Powershell: 5.1.16299.547
Running in: vsCode and from the Powershell CLI

## File contents
I created these files in a working directory:
``c:\path\to\workingdirectory``

.\Get-ReadHostValue.ps1 File:
[code]

Module file:
[code]

Test File:
[code]
## CLI Entry
Ran this from the command li

[2018-07-16 08:11] mikeclayton commented on #1075
Hi @mwtilton,

It looks like the ```Should Contain``` assertion was renamed to ```Should FileContentMatch``` in Pester 4. The ```Should Contain``` assertion is now basically a wrapper around the built-in PowerShell ```-contains``` operator.

Your original test as it was written:

```"c:\file.txt" | should contain "some words"```

can be changed to this instead to check the contents of a file:

```

[2018-07-16 08:40] mikeclayton opened #1076 "Tweaks to "Pester 3 -> 4 migration" wiki page"
Hi,

I've made a couple of micro-edits to the https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4 wiki page to fix some markdown (terminate powershell script section) and change "Be" to "-Be" in the New Syntax section.

See here for changes:

https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4/_compare/afca08324277f67868c8de580e83c03e1f1b0b63...ff7181129

[2018-07-16 11:02] DarkLite1 commented on #575
Stumbled upon this question to. Trying to figure out how to Mock a job object of type `System.Management.Automation.PSRemotingJob`. That way there's no error from `Wait-Job` in case it doesn't receive a job object.

[2018-07-16 13:35] DarkLite1 commented on #575
For anyone interested I found the answer on [StackOverflow](https://stackoverflow.com/questions/51360568/how-to-mock-a-job-in-pester).

[2018-07-16 21:51] it-praktyk commented on #1076
Thank you @mikeclayton!

[2018-07-16 21:51] #1076 closed

[2018-07-17 13:39] mwtilton commented on #1075
This seems to have resolved my issue thank you so much! Thanks for the link as well as that seemed to help migrate some old version files as well.

[2018-07-17 13:39] #1075 closed

[2018-07-18 12:57] BlackAngelTiger opened #1077 "Why does the Pester file Coverage section contains one line multiple times?"
Pester version         : 3.4.3 4.1.1
PowerShell version : 5.0.10586.117
OS version              : Microsoft Windows NT 6.1.7601 Service Pack 1

Lets take this line of PowerShell Code:
```$hasFunktionName = (($command.PSObject.Properties.name -Contains "Function") -And -Not([String]::IsNullOrWhiteSpace($command.Function)))```

In the Pester file under Coverage there are the following entries (in th

[2018-07-18 22:29] ghidalgo3 commented on #574
@nohwnd you are too opinionated on stateful mocks. There is existing code out there written by people that don't have the time or expertise to design it to be easily testable. Say you inherit a large script and you're told to write unit tests for it because it keeps breaking: should Pester not support this use case?

[2018-07-19 16:20] nohwnd commented on #574
@ghidalgo3 probably, but I am trying to avoid features that are targeted only on a single use case. Especially when they can be easily implemented when needed by the consumer of the framework.

[2018-07-19 16:50] mwtilton opened #1078 "Mocking with Foreach-Object and Invoke-Restmethod"
## 1. General summary

Mocking with Foreach-Object and Invoke-Restmethod doesn't return correct result

## 2. Environment

Operating System, Pester version and PowerShell version:
[code]

## 3. Expected Behavior
[code]

## 4. Current Behavior

If I use the Foreach loop it will pass all tests.
If I use the Foreach-Object it will fail on blocks:
``It "returns $_"``
``It "Should not be empty"``

[cod

[2018-07-19 20:40] mikeclayton commented on #1078
Hi @mwtilton,

I had to make a small change to get your example working: ```$result = Restart-Device``` becomes ```$result = Invoke-RestMethod -Uri "myuri"```, but once I did that I got the same result as you.

So I think the issue is that ```$_``` refers to the "current object" in the "current pipeline" (see https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_

[2018-07-19 21:45] mwtilton commented on #1078
oh yea I forgot to post my function
[code]
If I had done that you probably wouldn't have gotten a weird initial result.

Anyways this seems to have cleaned up my issue at least for my unit testing, I'll know better once I go through some more acceptance tests. But assuming that works I should still be able to use the ``$_`` outside of the ``Context "Foreach-Object Restmethod returns $_ code"`` I'l

[2018-07-20 13:46] LaurentDardenne opened #1079 "[Question] How to distinguish a failure and an error ?"
Can I use this code for that  ?
[code]
Versions :
[code]

[2018-07-23 21:15] mwtilton commented on #1078
This is working fine. Closing.

[2018-07-23 21:15] #1078 closed

[2018-07-23 22:01] it-praktyk commented on #1079
Can you try to explain what would you like achieve?

[2018-07-24 08:59] nohwnd commented on #1079
That really depends on your definition of Error and Failure. From the code snippet I assume that you want to distinguish between failing the test in an assertion, and in some random exception. For that you can use the fully qualified error id, as long as you are using the built in assertions. You can also use the `Verify-AssertionFailed` [axiom](https://github.com/pester/Pester/blob/master/Depende

[2018-07-24 11:00] kilasuit commented on #999
this can be reopened considering the update at  https://github.com/PowerShell/PowerShellGet/issues/233

@nohwnd  if you can code sign pester that will fix the issue here and in PowerShellGet

[2018-07-24 19:58] it-praktyk commented on #212
I updated the pull request #920. Now the proposed feature (detailed code coverage) is updated to be compatible with PowerShell Core 6.x too.

Before merge tests are needed. Can you help?

[2018-07-24 21:49] ChadMcCaffery commented on #339
I'm encountering this issue with Pester 4.3.1 and ``PackageManagement\Get-PackageSource``
Here's a simple repro:
[code]

[2018-07-26 12:00] DarkLite1 commented on #1069
It would be really cool if there was something like this:

Mock Test-NumberIsFive -InScriptScope

[2018-07-26 14:01] dlwyatt commented on #1069
Not possible, I'm afraid.  If there's no break between the code that loads the function and the code that calls it, Pester doesn't have any chance to inject mocks.

[2018-07-26 20:23] denys-voronovych opened #1082 "Pester Mock issue with Nested Modules"
## 1. Provide a general summary of the issue in the Title above

While testing a function from a psm1 file in NestedModules of a big Module I cannot mock other similar functions used by it.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version     : 4.4.0 3.4.0 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.0\Pester.psd1 C:\Program Files\

[2018-07-26 21:40] it-praktyk commented on #1082
Please use [InModuleScope](https://github.com/pester/Pester/wiki/InModuleScope).

[2018-07-26 21:55] tehsuk opened #1083 "Result attribute of Test-Suite element in Nunit output should be 'Failed' instead of 'Failure' for failed tests"
## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version     :  4.4.0
PowerShell version : 5.1.14409.1012
OS version         : Microsoft Windows NT 6.1.7601 Service Pack 1

## 3. Expected Behavior
Based on https://github.com/nunit/docs/wiki/Test-Result-XML-Format , Nunit formatted  XML output should have result="Failed" for test-suite element for fa

[2018-07-26 22:10] denys-voronovych commented on #1082
Tried that too. I've updated the code in the source and here's an output:
[code]

[2018-07-27 07:21] LaurentDardenne commented on #1079
@it-praktyk
_'Can you try to explain what would you like achieve?'_
The usage context is relative to Operation-Validation-Framework.

In my tests I can have syntax errors in the code or non-existent command calls.I know that a test fails or passes and that there is no intermediate state.
If I look at the detail :
[code]

@nohwnd
_'what are you trying to do?'_
I would like to differentiate failed t

[2018-07-27 09:32] mikeclayton commented on #1082
Hi @denys-voronovych,

I think the problem might be in your code - if I import your module into a new PowerShell command prompt and call your function I get a similar error:

[code]

Looking at your repo, I think there's a typo in the "Log-Info.ps1" file - it's redefining the ```Log-Debug``` function rather than defining a new ```Log-Info``` function....

**[Log-Info.ps1](https://github.com/denys-

[2018-07-27 10:46] denys-voronovych commented on #1082
Hi Mike,
You're absolutely right, thanks for spotting it! I've changed the code and fixed function definition, my output now looks like:
[code]
All is great, however the functions did not get mocked. Which is my problem.

(Again apologies for the code errors, I was trying to recreate an example module of what we have at work and due to security reasons I could not copy-paste)

Thank you!

[2018-07-27 16:49] LaurentDardenne commented on #1079
There may be [many of us](https://sqldbawithabeard.com/2018/07/25/a-powershell-pester-check-for-parsing-sql-scripts/) who want to make Pester a [rule engine](https://github.com/NRules/NRules)  :-)

[2018-07-27 16:49] #1079 closed

[2018-07-27 21:44] mikeclayton commented on #1082
@denys-voronovych - I was able to reproduce the same behaviour using your updated repo. I also tried various combinations of ```InModuleScope``` and ```Mock -ModuleName "MyModule" / "Log-Info" -CommandName "..."``` but wasn't able get the mocks to execute either.

What I *did* get to work was renaming the *.psm1 files in the "Log", "Test" and "Utility" subfolders to *.ps1, (and the filenames in th

[2018-07-27 22:14] mikeclayton commented on #1082
Digging a bit further, it looks like the NestedModules export their commands if you use *.psm1, but *not* if you use *.ps1 files. I'm wondering if this is what is causes the difference in behaviour with nested *.psm1 files?

**NestedModules using \*.psm1 files**

[code]

**NestedModules using \*.ps1 files**

[code]

[2018-07-28 12:39] mikeclayton commented on #1082
Having re-read it-praktyk's post, you can also just do this in your "TestFunction.Tests.ps1":

```InModuleScope "MyTestFunction" {```

That's the scope you want the Mock to take effect in.

[2018-07-30 08:43] nohwnd commented on #1079
@LaurentDardenne there are few other projects that I am aware of. But you still did not tell me how do you use the "failed in assertion" and "failed outside of assertion" differentiation. :) There could be another one, "failed in framework", but they all will become red on the server, and inherently a thing that you need to take action about.

[2018-07-30 09:22] denys-voronovych commented on #1082
@mikeclayton This is great! Thank you very much! I'll use the last solution and will keep in mind reworking the module into using ps1 instead of psm1.

[2018-07-30 09:24] #1082 closed, assigned to nobody

[2018-07-31 15:46] tommymaynard opened #1084 "Using TestCases Adds Single Quotes Around Test Name"
## 1. Provide a general summary of the issue in the Title above

It blocks that use the Test parameter, and It blocks that use the TestCases parameter,  use different formatting on their test results. Tests using TestCases include single quotes around the test name, while the results that do not use the TestCases parameter, do not have single quotes around the test name. For me, I would prefer tha

[2018-07-31 20:49] it-praktyk commented on #1083
@tehsuk, thank you for the report. Please test the updated code - PR #1085.

[2018-08-01 07:54] LaurentDardenne commented on #1079
I call Pester with tests (1-n) :
[code]
Next, I analyze the result :
[code]
The original result of pester does not contain the information 'isError', what is normal considering the original use of Pester.

[2018-08-01 12:46] nohwnd commented on #1083
My problem with this is that you are referencing nunit 3.0 documentation and we are using nunit 2.5 schema. And even the linked documentation fails to be consistent with the naming (see [result and label](https://github.com/nunit/docs/wiki/Test-Result-XML-Format#test-suite)):

result  The basic result of the test. May be Passed, **Failed**, Inconclusive or Skipped.
label ... Currently, NUnit may u

[2018-08-01 12:53] nohwnd commented on #1084
As discussed on twitter, this is caused by [our formatter](https://github.com/pester/Pester/blob/055bb3e4cfe20a165300f12b882807a35e3f286a/Functions/It.ps1#L200) that adds quotes to strings to show that what we are passing is a string, and also to show empty strings/null strings in more readable way. The solution here would be to skip the formatter for strings, and only use it for other types of da

[2018-08-03 16:04] mhendric opened #1086 "Possible to combine It -TestCases and Mock When Mocking Cmdlet from Imported Module?"
#### Issue

I wanted to see if it’s currently possible to Mock a cmdlet from an imported module, and also use the -TestCases parameter for the It block? While I’m able to combine TestCases and Mock when mocking a cmdlet from the default scope, it appears that Mock does not work at all when I’m using TestCases, and the mocked cmdlet is from an imported module. When that is the case, the function th

[2018-08-05 18:56] nohwnd commented on #1086
I am getting different results, and also different results based on how many times I run the tests. I need to test this on Windows, but I only have my mac on me. :/

[2018-08-05 18:57] nohwnd commented on #1083
Maybe you can just ask in their repository, and we can keep this open till then.

[2018-08-06 15:04] mhendric commented on #1086
If you're getting failures because of a lack of the New-Guid cmdlet (which happens to me on my Windows 2012 R2 / PowerShell 4 machines), I can also reproduce this by replacing every instance of New-Guid with Get-Process (including changing New-Guid2 to Get-Process2).

[2018-08-06 15:57] johlju commented on #1086
You are calling the same cmdlet as you are mocking. If you are mocking `New-Guid` instead of `New-Guid2`, then the tests are passing.

[code]

[2018-08-06 15:59] johlju commented on #1086
Hmm.. .They are passing in VSCode, but not in the console 🤔

[code]

But in the console one is failing
[code]

[2018-08-06 16:06] mhendric commented on #1086
My intention in this repro was in fact to Mock New-Guid2 (a function not in the default scope). For my test (of which this is just a simplified example), I want to override a function that is in another module, but the function doesn't get overridden when TestCases are used.

[2018-08-06 16:09] johlju commented on #1086
Ah sorry. Removing my comments to not pollute the thread. 🙂

[2018-08-06 17:18] mhendric commented on #1086
Not sure if it's the same issue or not, but I can also reproduce pretty much the same behavior using a foreach loop instead of the It -TestCases parameter. This uses the same TestModule.psm1 from above:

### MockForeachTest.ps1
[code]

### Test Results
[code]

[2018-08-07 15:12] mhendric commented on #1086
Here's one more piece for the puzzle. It looks like I get different results based on if I execute the test script by hitting the "Run Script" button in PowerShell ISE, vs if I do Invoke-Pester scriptname, or just call the script by name directly. For 'MockTest.ps1', if I execute via "Run Script" in the ISE, one additional test passes (With Test Cases Different Module - Returning Param). For "MockF

[2018-08-07 21:56] JimMoyle commented on #1000
As the count property on objects returns non intuitive results as described above, I'd change $ActualValue.Count to ($ActualValue | Measure-Object).count  This should fix the issues above.

[2018-08-07 22:02] JimMoyle commented on #1000
Although a different solution would need to be included for PoSh 2.0 as measure-object was introduced in 3.0

[2018-08-07 22:19] mikeclayton commented on #1086
Hi @mhendric .

I was able to reproduce your issue, but I found that if you remove the ```-ModuleName "TestModule"``` from the Mocks, the tests all start working. I think adding the ```-ModuleName``` tells Pester to create the Mock so that calls to that function are mocked only when made from **inside** the specified module.

Since you're calling ```New-Guid2``` from your **MockTests.ps1** and not

[2018-08-08 08:40] rdbartram opened #1087 "NUnit 3.0 Support"
## 1. Description
I would like to bring in support for NUnit 3.0 among other reasons, I just wrote the whole thing to extend the Export-NUnitReport cmdlet to include properties and output fields. I noticed after writing that that we are currently NUnit 2.5 compliant and that means I can't include the output property

## 3. Expected Behavior
should be able to export NUnit 3.0 report

## 4.Current B

[2018-08-08 19:54] mhendric commented on #1086
Thanks @mikeclayton , that does help! I guess I should have read the manual:

"This should be a module that calls the mocked command; it doesn't necessarily have to be the same module which originally implemented the command."

[2018-08-08 20:32] mikeclayton opened #1088 "Splitting large script files in Pester source code"
Hi,

I've been looking through the inner workings of the Pester source code quite a lot recently - it obviously does a lot of complicated stuff under the covers, but one of the stumbling blocks I've had was length of some of the scripts.

It's really easy to get lost inside files like Mock.ps1 if you're not familiar with them, and something that helped me a lot was splitting the functions out into

[2018-08-10 06:09] nohwnd commented on #1087
That would be nice. The [OutputFormat](https://github.com/pester/Pester/blob/055bb3e4cfe20a165300f12b882807a35e3f286a/Pester.psm1#L789) allows the user to choose the output format, to be used, please add `NUnitXML30` and implement your changes.

[2018-08-10 07:40] rdbartram commented on #1087
Understood. I'll start working on it

[2018-08-10 10:36] felixfbecker opened #1091 "TestDrive on macOS points to symlink"
## 1. Provide a general summary of the issue in the Title above

`(Get-Item 'TestDrive:').FullName` resolves to something like `/tmp/81aefdf3-1fb6-40c6-9ec6-01939211013c` on macOS, but its realpath is `/private/tmp/81aefdf3-1fb6-40c6-9ec6-01939211013c`, because `/tmp` is a symlink. This causes assertions to fail that on paths that were `realpath`'ed under the hood.

## 2. Describe Your Environment

[2018-08-10 10:51] nohwnd commented on #1091
@felixfbecker Could you post an example of a test that fails on your mac so I can try it on mine, please?

[2018-08-10 10:56] felixfbecker commented on #1091
That's not as easy because as mentioned this is coming from a binary assembly that calls `realpath`, and there is no `realpath` in .NET or PowerShell, nor preinstalled on macOS as a command.

[2018-08-10 11:01] nohwnd commented on #1091
Okay, I can install the tool if needed, but what is the test that you are running? Are you comparing paths to see if the files exist, or what are you doing? Not sure how to fix this when I cannot replicate it and see how severe the issue is. (Can you just `realpath` the `.FullPath` as well to make the assertion pass?)

[2018-08-10 11:06] felixfbecker commented on #1091
It's asserting that a property on .NET object returned from a PowerShell function contains an expected path. But the C library under the hood `realpath`'s the path.

I could, if PowerShell / .NET had a `realpath`. I think it would be better to not require Pester users to implement their own `realpath` function to workaround that TestDrive points to a symlink

[2018-08-10 11:12] nohwnd commented on #1091
Ah okay now I get it.

So if we call `GetTempPath` on `System.IO.Path` will that solve the issue? Could you modify [the code](https://github.com/pester/Pester/blob/312b05f372ca43a35970cfa41874686e033ae387/Functions/Environment.ps1#L32) and try it out please?

[2018-08-10 11:15] felixfbecker commented on #1091
`GetTempPath()` would not solve it unfortunately, because on macOS it returns something like `/var/folders/tx/b4v8qh4n467cw8_7f18gj1tc0000gn/T/`, and `/var` is a symlink to `/private/var`

[2018-08-10 19:32] Jaykul commented on #360
I'll have to check not only the current behavior, but how the reference implementation handles it

It sort-of makes sense to me to skip the `when` if `given` fails, and even to skip the `then` if the `when` fails.

Having said that, I don't think It makes a whole lot of difference (in Gherkin syntax you should only care about the count of failed _scenarios_ not failed steps, right?)

[2018-08-10 19:34] Jaykul commented on #1071
I agree you should not need global variables ;-)

[2018-08-11 16:54] it-praktyk commented on #1088
IMHO anything that can help people to dig in to Pester development should be considered.

We can add an additional step to the build process and ship the code merged as now.

[2018-08-12 17:09] felixfbecker commented on #212
I published the script I mentioned above in a module: https://www.powershellgallery.com/packages/PSCodeCovIo/1.0.1

It exports the `$res.CodeCoverage` data to a JSON file that can be uploaded to CodeCov with the standard bash uploader.

[2018-08-12 21:15] mikeclayton commented on #1044
I can partly reproduce the reported behaviour:

**ReadTestModule.psm1**
[code]

**ReadTestModule.Tests.ps1**
[code]

**Commands**
[code]

The above *does* prompt at the call to ```Read-Host``` in ```Get-ReadHostValue```. However, changing the Mock as following (i.e. adding ```-ModuleName "ReadHostModule"``` fixes the tests:

[code]

I can't reproduce the reported difference in behaviour when just

[2018-08-14 06:40] nohwnd commented on #1088
My reasoning about this is that changing code style is a non-functional change that does not bring much benefits. For every guy that feels lost in long files, there will always be one that feels like the solution is separated into too many files. I personally also like shorter files, but I don't feel like they enable me to discover stuff easier, it's more about the tooling. Getting to understand t

[2018-08-15 17:26] tmack8080 opened #1092 "Add video link to Wiki resources"
Microsoft Channel 9 has a great video course with Adam Bertram: Testing PowerShell with Pester

https://mva.microsoft.com/en-US/training-courses/17650?l=mg8oBM9vD_8811787177

[2018-08-15 18:42] it-praktyk commented on #1092
I've added the proposed link to the wiki article [Articles and other resources](https://github.com/pester/Pester/wiki/Articles-and-other-resources).

[2018-08-15 18:42] #1092 closed

[2018-08-15 20:34] SQLDBAWithABeard opened #1093 "4.4.0 not finding Tags"
## 2. Describe Your Environment

Pester version     : 4.4.0 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.0\Pester.psm1
PowerShell version : 5.1.17134.165
OS version         : Microsoft Windows NT 10.0.17134.0

## 3. Expected Behavior

So I am the maintainer of dbachecks

https://github.com/sqlcollaborative/dbachecks

Basically it enables configurable validation for SQL Server estates and

[2018-08-15 21:51] SQLDBAWithABeard commented on #1093
Hmm, ok closing this as actually it was something else entirely - 4.3.1 will pick up tags i describe blocks that include describe blocks (This was a mistake on my part but the code was still valid) and 4.4.0 refuses to find the tags which is probably ok

[2018-08-17 19:56] it-praktyk commented on #1093
@SQLDBAWithABeard, did you read [the release notes for the v. 4.4.0](https://github.com/pester/Pester/releases/tag/4.4.0)?

I reopen the issue, IMHO a nested Describe block should be processes correctly. @dlwyatt, am I right?

[2018-08-18 05:40] dlwyatt commented on #1093
Tags only work on the outermost Describe / Context block, unless something has changed since I last looked at that part of the code.

[2018-08-19 13:55] KyleMartin901 opened #1094 "Should -Exist fails when mocking a function that is called multiple times and results in different output"
## 1. Provide a general summary of the issue in the Title above

When I use the Should -Exist feature on a function that calls a mocked function twice within the function and each time that mocked function returns a different output, the test fails.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behaviour
I am writing an API wrapp

[2018-08-19 22:28] mikeclayton commented on #1094
I think the issue is that your ```fileDownload``` function is not capturing or suppressing the return value from ```acceptLicense``` when it gets called, so it's being returned as part of the output from fileDownload.

For example, if you eliminate pester from your example and just run the following you'll see your function **is** actually returning an array of two objects:

[code]

On my (Windows

[2018-08-19 22:43] KyleMartin901 commented on #1094
Thanks Mike,

Thought it would be my mistake :(

Thanks for showing me how to fix it, it is greatly appreciated and sorry for the inconvenience.

[2018-08-19 22:43] #1094 closed

[2018-08-20 21:36] mikeclayton opened #1095 ""Describe" blocks with no Tags executed when using "Invoke-Pester -Tags @("sometags")""
## 1. Provide a general summary of the issue in the Title above

I was trying to reproduce issue #1093, and I've noticed that there's a change in behaviour between Pester 4.3.1 and Pester 4.4.0 with regard to using Invoke-Pester with the -Tags parameter.

+ In Pester 4.3.1, if Invoke-Pester -Tags is specified, Describe blocks with **no** tag are **not** executed.

+ In Pester 4.4.0, if Invoke-Pest

[2018-08-21 14:51] jrobiii commented on #246
Not a solution, but a workaround.  The way that I'm working around this issue is by gathering the results into a variable and then doing multiple Should(s).  Like so:
`
    It 'GetCsvKvp returns correct KVP array from a CsvString with correctly formatted CSV and valid KVP (key value pair)' {
        $KvpArray = GetCsvKvp -CsvString 'this=that,those=them'
        $KvpArray | Should -HaveCount 2

[2018-08-28 12:10] SamPosh opened #1096 "Is there a way to run particular block of code only if describe passed?"
## 1. Provide a general summary of the issue in the Title above

I would like to run a block of code ,if describe section succeeded without any failure. Is there any option available?

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version     : 4.0.8 4.3.1 4.0.8 C:\Users\Administrator\Documents\WindowsPowerShell\Modules\Pester\4.0.8\Pester.psd1 C

[2018-08-28 12:17] it-praktyk commented on #1096
Please run your test with the `-EnableExit` parameter and check and output.

[2018-08-28 12:45] SamPosh commented on #1096
@it-praktyk I am running with -EnableExit ,but the problem is , i am running all the scripts in my folder and getting a result for each describe is very tough

[2018-08-28 12:58] it-praktyk commented on #1096
@SamPosh,
you can run `Invoke-Pester -Path <one_file_file> -EnableExit` or use the parameter `PassThru` and parse the PowerShell object returned.

[2018-08-28 15:20] SamPosh commented on #1096
@it-praktyk  Or is there a way to add Describe inside try {} catch{} and if error occurs can we redirect it to catch block? is it possible?

[2018-08-28 16:41] johlju commented on #1096
It is possible to catch an error in the error variable for the It-block. Maybe you can rig that up on a describe or context block too? Or you could count errors on the it-blocks and then do something with it (like a “onSuccess”) ?

https://github.com/PowerShell/SqlServerDsc/blob/f72dd2c40ffb43782a5969b3a51803ccf2c027f1/Tests/Integration/MSFT_SqlSetup.Integration.Tests.ps1#L388

[2018-08-31 10:27] sodar opened #1097 "Nested AfterAll blocks are not called when test is interrupted"
## 1. Environment

Operating System, Pester version and PowerShell version:

[code]

## 2. Expected Behavior

Consider the following test:

[code]

If this test is ran and the user interrupts it while a script sleeps (by pressing Ctrl+C), it should print out the following output:

[code]

## 3.Current Behavior

Currently, when interrupted, AfterAll block with `Inner End` is called twice and AfterA

[2018-08-31 16:16] DannyArr commented on #246
I just hit this as well. I tried the below, worked for me. I created a little helper function to re-order the array if the contents matched.

[code]

Then in my pester test I convert the array. If it doesn't match it just spits out the original array and will fail the test.

`$propertiesInOrder | Should -Be $expectedProperties`

[2018-09-01 08:57] nohwnd commented on #1097
Tested this with try finally blocks, just to make sure what you request is technically possible and it seems to work correctly.
[code]
But when I use variables then the inner gets overwritten because try block is not forming a new scope.
[code]
I assume something similar is happening and could be solved by adding a new scope around the try like this:
[code]

[2018-09-01 17:07] o-o00o-o opened #1099 "Can Pester run all Arrange first, then a single "shared" Act, then run all the Asserts?"
Hi guys, we have a data warehouse/BI solution and ultimately we would like to write gherkin style tests for it.

We essentially need to be able to batch up all the GIVEN's to be run once all together (to populate the data in the database), then run our ETL and Cube process (which will take some time so we only want to run it once for all tests), then run all the asserts then for each WHEN/THEN com

[2018-09-02 04:15] #1093 closed

[2018-09-03 18:17] felixfbecker commented on #518
Shouldn't calling `.GetNewClosure()` as a user solve this?
[code]
should in theory enclose the scope, right?

[2018-09-03 23:08] felixfbecker commented on #302
I would really like to be able to add something like a `.BeforeAll.ps1` file that runs before _all_ tests.

[2018-09-04 16:00] #1095 closed

[2018-09-04 16:03] nohwnd commented on #302
@felixfbecker can't that be solved by just running the setup before invoking Pester?

[2018-09-04 16:54] nohwnd commented on #1048
Been thinking about this over the weekend again, and I think that your core idea is good, but I don't like the fact that we would add three new cmdlets just to manage a collection of suppressions somewhere in our inner state. To me a better way to do this would be to provide `-TestPath` parameter to `Invoke-Pester` that would filter out the tests that do not fit this path. This also allows us to t

[2018-09-04 18:48] claudiospizzi commented on #1048
You are right, 3 cmdlets for this feature are quite a lot. I like your idea to use a test path parameter for `Invoke-Pester`. May I suggest an optimization: Can we think about 2 parameters, as `-IncludeTestPath` and `-ExcludeTestPath`? Both parameter should be arrays, so that we can include or exclude multiple patterns the same time. My idea behind this is, that if I have hundreds of tests with va

[2018-09-04 19:37] nohwnd commented on #1048
- `-ExcludeTestPath` yes that is a good idea, we have the same thing for tags and it has the same behavior.
- Slash is fine for a simple filters that you provide by hand, as long as there are no slashes in your test names. But to make this useful also for programatically repeating the tests (e.g. on a build server, or via a plugin for VSCode) I would like to get rid of that ambiguity and use array

[2018-09-04 21:41] claudiospizzi commented on #1048
I see, slash is a bit problematic in combination with file paths. Arrays are the better solution to be precise. It's just, if we want to allow multiple test paths to include or exclude, we need a multidimensional (jagged) array as parameter, e.g. like this:

[code]

It will be a bit tricky to parse the parameters, especially, if only one path is specified, like the following example, two time the

[2018-09-04 23:33] dlwyatt commented on #1048
That syntax is ugly as sin, let's not do it that way.  :)

[2018-09-05 07:17] claudiospizzi commented on #1048
Maybe we can switch to a hash table array `[System.Collections.Hashtable[]]` for the test path parameter. The hash table could be populated with describe, context and it blocks, matching the path to the test. Maybe something like this:

[code]

[2018-09-10 09:55] Brekkjern opened #1100 "Windows: Symlinks in TestDrive creates errors on teardown"
## 1. Provide a general summary of the issue in the Title above

When you create a symlink in the TestDrive while in a Describe block, an error occurs and the test subsequently fails.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version     : 4.3.1 C:\Users\nkb.GLOBALINTS\Documents\WindowsPowerShell\Modules\Pester\Pester.psm1
PowerShell version

[2018-09-10 13:45] RussellMaycock opened #1148 "How do I create a test that requires multiple variables to be set."
Hi,
I'm trying to work out the best way to test against multiple variables.
If the test depends on two variables, one being x and the other being y. How do I create the it?
is there an -And -Or option?

Many Thanks
Russell

[2018-09-11 08:37] Brekkjern commented on #1100
I attempted to delete the symlinks myself at the end of each context block, but the errors still appear. As far as I can see the errors are similar.

[2018-09-11 08:51] mikeclayton commented on #1100
I think this is a bug / feature in PowerShell's Remove-Item command when trying to delete a folder which contains symbolic links.

A simple out-of-band repro is:

[code]

The final command on my machine (Windows 10.0.17134.112, PSVersion 5.1.17134.112) gives the following output:

[code]

This issue appears to be the underlying cause:

https://github.com/powershell/powershell/issues/621

A workaro

[2018-09-11 09:16] Brekkjern commented on #1100
I added the workaround you mentioned and it works fine for my use case. I'll add that at the end of each context block that should create a symlink as a workaround for now.
Thanks for looking into it 👍

[2018-09-11 22:28] dantraMSFT opened #1101 "Exceptions thrown in Describe/Context BeforeAll or BeforeEach are undiagnosable."
## 1. Provide a general summary of the issue in the Title above

When a BeforeAll or BeforeEach block throws an exception, Pester error output doesn't include any information about the failure. Instead, a secondary exception is thrown due to the call  to AddTestResult failing.

For example:

[-] Error occurred in Context block 3.4s
  ValidationMetadataException: The attribute cannot be added becau

[2018-09-18 09:47] DarkLite1 opened #1102 "Feature request: Summary at the end"
## 1. Summary result at the end

Would it be possible to have a summary with how many tests were successful or failed when the test file is run? I know this is shown in the powershell console but not when run in the `PowerShell ISE` or 'VS Code`.

This would really be helpful, when pressing F5 and the script is executed to see at the bottom the end result. It might be that we're not watching durin

[2018-09-18 13:43] nohwnd commented on #1102
Problem is that we don't know which describe is the last one, and hence the one that should print the summary. 😒

[2018-09-18 14:06] nohwnd commented on #1101
Thanks for reporting will have a look on this.

[2018-09-18 14:07] nohwnd commented on #1100
Can we solve it somehow for everyone?

[2018-09-20 13:56] dlwyatt commented on #1069
That’s a good point. We used to create mock functions that would be overwritten when the script ran in your example, but now we use aliases instead.

[2018-09-20 20:06] mikeclayton commented on #1100
I've added a PR - see https://github.com/pester/Pester/pull/1103. It basically adds a workaround recommended in PowerShell/PowerShell#621 to remove symbolic links before calling Remove-Item.

I've also added a test, but it might all need some cross-platform verification as I've only got access to a Windows machine.

[2018-09-24 08:28] alaeddinejebali opened #1104 "Link to "PowerShell 3 and 4 install instructions" redirects to a 404 error page"
##  Broken link (404 Error)
In this [wiki page](https://github.com/pester/Pester/wiki/Installation-and-Update), in the `PowerShell 3 and 4` section, a click on `instructions here` open the page [https://docs.microsoft.com/en-us/powershell/gallery/how-to/getting-support/health-status](https://docs.microsoft.com/en-us/powershell/gallery/how-to/getting-support/health-status) which shows a **404 - Pag

[2018-09-24 16:09] richardnagle commented on #313
+1

[2018-09-25 08:04] mikeclayton commented on #1104
The broken link points to:

https://docs.microsoft.com/en-us/powershell/gallery/psget/get_psget_module

It looks like it might have moved to here:

https://docs.microsoft.com/en-us/powershell/gallery/installing-psget#get-powershellget-module-for-powershell-versions-30-and-40

[2018-09-27 11:29] matt2005 commented on #692
I'd find this useful if you could run each test file in a separate run space. I've encountered issues when testing classes and Child classes as the parent class tests fine, but the the child class errors due the mocks not loading.
To fix it I've had to move all my tests for the parent and child classes into one file, previously I had a separate .test.ps1 file for each Child class.

[2018-09-27 13:52] richardnagle opened #1106 "Mocks of Install-PackageProvider is slow"
The following test takes around 800ms to run on my PC

[code]

Pester version     : 4.4.0 3.4.0 3.3.5 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.0\Pester.psd1 C:\Program Files\WindowsPowerShell\Modules\Pester\3.4.0\Pester.psd1 C:\Program Files\WindowsPowerShell\Modules\Pester\3.3.5\Pester.psd1
PowerShell version : 5.1.15063.1292
OS version         : Microsoft Windows NT 10.0.15063.0

[2018-09-29 09:10] nohwnd commented on #1069
@DarkLite1  @dlwyatt 😮 omg that's right... So that also means we can use it with `&` operator, as long as the aliases are not overwritten.

[code]

[2018-09-29 12:03] nohwnd commented on #1069
@DarkLite1  🎉 🍾 👍 Can you confirm it works? Tested only on PSCore on macOs.

[code]

[2018-09-30 10:30] nohwnd commented on #1106
Enumarating the parametes is extremely slow for this cmdlet for some reason. This is the hotspot:

[code]

[2018-09-30 10:47] nohwnd commented on #1104
Thanks, fixed.

[2018-09-30 10:47] #1104 closed

[2018-09-30 12:15] #1084 closed

[2018-10-01 07:19] Cedric-Diau opened #1107 "Mocks Set-Variable, works only for the first occurrence"
Hello,
I want to mock variable assignment using Set-Variable and I'm trying to do something like this

[code]
[code]

I don't know if it's a bug or I'm doing something wrong ?

Environment
Pester : 4.4.0
PSVersion : 5.1.14409.1012

[2018-10-01 07:27] DarkLite1 commented on #1069
Hi @nohwnd , when I run your example in your second last post with file `t1.ps1` and file `t1.Tests.ps1` it is successful. However, When I try your last post and put it all in file `t1.Tests.ps1` (the part with `Add-Type`) it fails:

[code]
I think I might have misunderstood how you wanted me to test...

[2018-10-01 14:34] nohwnd commented on #1069
@DarkLite1 seem that PowerShell 5 supports only older C# syntax, fixed the code.

[2018-10-02 07:34] DarkLite1 commented on #1069
Can you verify the edit you made? I only get red errors when copying the code starting with `using System.Collections.ObjectModel; ...` in the file `t1.tests.ps1`.

[2018-10-02 09:35] DarkLite1 commented on #1069
No prob, works perfectly fine now. Thank you for your help :)

[2018-10-02 10:09] nohwnd commented on #1107
Looks like this is a scoping problem with Set-Variable. Because instead of running the cmdlet directly, we first run our function (mock bootstrapper) that determines whether or not the mock should run or the cmdlet should run.
So the variable is set, but it's set in the scope of the mock bootstrapper, and not in the scope where you are observing it.

To fix this we need  to rewrite the call to mak

[2018-10-02 12:41] Cedric-Diau commented on #1107
Thanks for your reply, I'll waiting for your update.

[2018-10-03 18:35] nvarscar opened #1108 "Feature request - return TestCases property as part of TestResults"
## 1. General summary of the issue

It would be really nice if there was an option to see which objects have been tested within the It block. There is -TestCases parameter that can dynamically change the It block name, but there is no way to access dictionary items that were used during the execution, except for parsing the test name string.

## 3. Expected Behavior

Each TestResult in the pester

[2018-10-03 19:05] nohwnd commented on #1108
@nvarscar Could you clarify  this please? "Optionally, for user convenience) Allow TestCases a wider range of object types, preferably, [object[]]"

How should that work? Currently we use hashtable in TestCases because we need the keys to be able to expand the names into the test descriptions.

[2018-10-03 19:51] nvarscar commented on #1108
@nohwnd the only way I see it working is adding an alternative way of parsing the properties using psobject parameter, which opens access to all of the object's parameters:
[code]
Not elegant and more of a "one size fits all" kind of approach, also does not work with hashtables so well, which is why [IDictionary] objects should probably be still parsed as they are right now.

[2018-10-04 07:38] andikrueger commented on #402
I'm also looking for a way to test registry reads and writes. I could start to implement something similar to TestDrive, but see an issue with cross platform compatibility. Linux doesn't have something comparable. See: https://github.com/pester/Pester/blob/517f40c90f013e3d042d8845c68444c4c8728eb2/Functions/Environment.ps1#L32-L42
I pushed my current changes to this [branch](https://github.com/andi

[2018-10-04 08:28] andikrueger opened #1110 "Code Formatting - Style Guide/Settings for VSCode"
Yesterday I browsed through the pester code to understand it more deeply and help with issue #402, as it would help me to write simplified tests for a project I'm working on.
I'm working a lot with DSC Resources and am using VSCode to write my code. Many DSC projects use a vscode settings file (based on the [style guideline](https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-10-06 07:36] nohwnd commented on #402
@andikrueger looks good, I quickly read through it and don't see any obvious problems. Please make a PR from that branch. :) I'd like to test the clean-up a bit more, and see what is the impact on performance.

[2018-10-06 07:51] nohwnd commented on #1108
@nvarscar  I am still lost. The example did not help me. :/

What I understood is that you want to add the current test case to the result object. So having test cases like this:

[code]

The test result object would contain property `TestCase` with  `@{ Value = 'a';  Expected = 'A' }` in it.

---

Then I also understood that you want to pass array of objects to the `TestCases` parameter, but I do

[2018-10-06 09:28] nohwnd commented on #1102
It boils down to this kind of problem:
[code]

[2018-10-06 11:38] SeeminglyScience commented on #1102
Here's a possibly.  As is it won't catch everything and can probably be optimized a bit, but it gives the general idea.

[code]

[code]

[2018-10-06 12:59] nvarscar commented on #1108
@nohwnd you understood it perfectly fine! 😄
now, here's some real-life example of passing an object[] to the TestCases:
[code]
That would probably require defining an input object parameter instead of splatting (with pre-defined name), because now that I think about it,  I don't see how splatting would work here. So, disregard my previous comment about using .psobject.properties - splatting all po

[2018-10-06 13:02] nohwnd commented on #1108
@nvarscar is there a parameter missing in your example, because `$a` is not used for anything? Did you mean `-TestCases $a`?

[2018-10-06 13:11] nvarscar commented on #1108
@nohwnd correct, thanks for noticing! edited the code. I'm still not completely awake, apparently.

[2018-10-06 13:52] nohwnd commented on #1108
Currently you can do this:

[code]

To me it seems reasonably simple and descriptive. But making TestCases object[] and expanding first-level properties if we get object, or keys if we get IDictionary, should also by quite simple and non-confusing. What I am not sure about is doing multi level properties, it seems simple, but I am sure someone will come up with some horrible edge case as soon as i

[2018-10-08 09:30] nohwnd commented on #878
@brianbunke Thanks for the PR. I think we should solve this in a more extensible way, because there are not only our assertions, but also custom assertions that can register with should via `Add-AssertionOperator`.

Could we maybe:
- Add standard powershell help to all internal assertion functions
- if there is some common stuff every assertion needs in it's help -> we can have a token like ###com

[2018-10-09 06:03] DylanGraham opened #1113 "import-module : SafeCommands entry for uname does not hold a reference to the proper command. - macos"
## 1. General summary of the issue

After installation on mac os, importing the module fails.
`Install-Module -Name Pester -Force -SkipPublisherCheck`

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

Import succeeds.

## 4.Current Behavior
[code]

[2018-10-09 17:58] brianbunke commented on #878
More than happy to solve this closer to the source.

What exactly do you mean by:

Want to make sure I'm heading in the right direction when I get back to it. Thanks for taking a look!

[2018-10-09 18:36] nohwnd commented on #878
@brianbunke There is a scoped variable in the Pester module listing all the registered assertion operators. Externally you can view it like this `Import-Module Pester ; &(get-module pester){ $script:AssertionOperators }`, but now that I am looking at it, it does not link back to the function that implements it, it only uses the definition of the function. So that would need to change a bit.

[2018-10-09 22:00] DylanGraham commented on #1113
Hi @nohwnd
I have a 2018 and 2017 macbook pro here, but both are on High Sierra 10.13.6.
I just tried on the second laptop, which had powershell 6.0.4 and have the same error. I then upgraded to powershell 6.1.0 with no change to Pester.
Is powershell installed from `brew cask` sufficient?
Thanks

[2018-10-09 23:08] DylanGraham commented on #1113
I now updated to 10.14 Mojave and have the same issue

[2018-10-10 03:27] fourpastmidnight opened #1114 "Unable to use values that look like PowerShell ScriptBlocks in Gherkin table cells"
## General Description

I'm trying to test a PowerShell script that I wrote which accepts at least one parameter of type `[object]`. Within the script, I try to determine if the parameter value is a script block, and if so, execute the script block to retrieve the value returned by the block (if any).

Assume a trivial script such as:

[code]

In order to test that the script can properly handle a

[2018-10-10 22:10] fourpastmidnight opened #1115 "Feature Request: Support an implicit `@ignore` tag"
## 1. General summary of the issue

Adding the tag `@ignore` to a feature or scenario does not cause Pester to skip the feature or scenario.

## 2. Describe Your Environment

Pester version     : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165
OS version         : Microsoft Windows NT 10.0.17134.0

## 3. Expected Behavior

I expected any

[2018-10-11 05:51] brianbunke commented on #878
#1116 is a WIP example based on that feedback.

- Extend `Add-AssertionOperator` by adding an optional `-InternalName` parameter
- Extend `PesterBe`:
    - Add standard PowerShell help
    - Add the internal name during `Add-AssertionOperator` registration
- Add `Show-PesterAssertion`
    - Uses a dynamic `-Name` parameter to dynamically generate the ValidateSet, allowing tab completion of in-box

[2018-10-11 15:12] nohwnd commented on #878
1&2) I'd rename the `Add-AssertionOperator` to `Add-ShouldOperator`, and call your function `Get-ShouldOperator`.

Maybe the -Name parameter could mandatory in a default parameter set and throw the standard validate set exception. (for discoverability). A second non-default param set could be there with -All to be able to get the nice table.

3) I'd show the help directly. we can complicate it lat

[2018-10-12 10:19] richardnagle opened #1117 "Weird behaviour in Mocks in functions outside It"
## 1. General summary of the issue

We are trying to extract duplicated mock set-ups into external functions. But we have found that the mock cannot use parameter or variable values defined within that function. The following test better describes this issue:

[code]

## 2. Describe Your Environment

Pester version : 4.4.0 3.4.0 3.3.5 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.0\Pester.

[2018-10-12 12:36] dlwyatt commented on #1117
It'll work if you do it like this:

[code]

[2018-10-12 14:34] scorpionlion opened #1118 "Should broken in Mocks?"
## 1. General summary of the issue

"Should" assertion not working correctly inside parameter filter of Mock assertion.
I am using 4.3.1 version of Pester.

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

the test should pass

## 4.Current Behavior

the test fails, whereas below test works

[code]

## 5. Possible Solution

No idea yet

## 6. Context

my existing tests are broken

[2018-10-12 15:50] richardnagle commented on #1117
That fixed it thanks.

[2018-10-12 15:50] #1117 closed

[2018-10-12 18:04] dlwyatt commented on #1118
You shouldn't be using `Should` there.  Its purpose is to do nothing when the assertion passes, and to throw an exception when it fails (which is what the `It` command treats as its success / failure conditions).  `-ParameterFilter`, on the other hand, wants you to return `$true` or `$false`.

[2018-10-12 19:08] dlwyatt commented on #1118
I have no idea why that worked in 3.4.  It was never a supported way of doing the parameter filters, sorry.

[2018-10-12 20:18] scorpionlion commented on #1118
Seems Assertion functions did return `$true` in 3.4, they are changed now. - I looked at both version scripts.
Now I just worked around by wrapping it with an or with `$true`

like this (`$Object | Should -Be $expectedText ) -or $true`

[2018-10-13 05:01] fourpastmidnight opened #1119 "Single-Column Tables don't appear to be parsed correctly when working with Gherkin style tests"
## 1. General summary of the issue

Using a table with a step results in an `ArgumentException` when attempting to add items to the dictionary.

Here are the relevant file samples:

[code]

[code]

The exception that is thrown is:

[code]

## 2. Describe Your Environment

Pester version     : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.1

[2018-10-13 06:47] fourpastmidnight commented on #1119
Hmm, the same thing seems to be happening with table row headers containing the text `eFile`. The original table header name was `TypeFile`. I've tried many other combinations of table header names: `TypesFile`, `Ps1XmlFile`. I finally had to settle for something extremely generic, like `Document` which is unfortunate because it's not even remotely close to the domain language I want to convey. Ho

[2018-10-13 19:03] fourpastmidnight opened #1121 "Feature file parsing code returns a hashtable instead of a list/array for single-column tables"
## 1. General summary of the issue

When the Gherkin file is parsed and a step definition table is encountered which contains only a single column, the `$table` variable's Key/Value pairs are incorrectly generated.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165
OS version : Microsoft Wi

[2018-10-13 19:34] fourpastmidnight commented on #1121
I may have been using the `$table` value incorrectly, I'm unsure. So if someone who's "in the know" could let me know, that would be great. I tried one more thing and got something _close_ to what I expected:

[code]

[2018-10-14 06:27] brianbunke commented on #878
I imagine the typical user's flow will be:

`Get-ShouldOperator`

![image](https://user-images.githubusercontent.com/11823993/46913164-0d6cf800-cf3d-11e8-8d0d-0a5c72dd2a73.png)

Maybe that's what I need?
`Get-ShouldOperator -Name BeExactly`

![image](https://user-images.githubusercontent.com/11823993/46913190-4907c200-cf3d-11e8-87e6-49d6aec3ce2e.png)

Updated the PR with those changes, plus renami

[2018-10-14 19:56] fourpastmidnight commented on #1119
I have determined why this is happening, and it's because of something that can be seen in #1121. Using the same example from #1121, it is plain what's happening and that single-column tables do not appear to be parsed correctly:

### Feature File

[code]

### Step Definition

[code]

### Example Output

[code]

The reason the exception is being thrown is because the Key/Name column is not being p

[2018-10-15 22:14] fourpastmidnight opened #1123 "Using the Gherkin keywords Scenario Template in place of Scenario Outline causes scenarios to be executed twice"
## 1. General summary of the issue

Using the synonymous Gherkin keywords `Scenario Template` in place of `Scenario Outline' may cause the scenario associated with those keywords (or the scenario before it) to be executed twice.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165
OS version

[2018-10-16 02:51] fourpastmidnight opened #1124 "Pester does not print Tables or DocStrings that are part of steps"
## 1. General summary of the issue

When using DocString or tables as part of steps, this data is not printed to the console during the test run, unlike in cucumber (for Ruby) or SpecFlow for .NET.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165
OS version : Microsoft Windows NT 10.0.171

[2018-10-16 08:35] mikeclayton commented on #1119
I think the problem is in this line of Gherkin.ps1.

https://github.com/pester/Pester/blob/master/Functions/Gherkin.ps1#L833

[code]

When there's only one column in the table, ```Select-Object``` returns a ```[string]``` instead of an ```Object[]```.

By sheer dumb luck, both ```[string]``` and ```Object[]``` have a ```Length``` member and can be indexed with ```[$n]``` so the rest of the Pester

[2018-10-16 11:18] fourpastmidnight commented on #1119
@mikeclayton Thanks for taking look. After looking through _The Cucumber Book_, I saw an example that did the same thing, returned a single-column table as a list of strings. And in fact, the sample table had no header in this case, as well.

Looking at the code, and having used other tables, I also came to the conclusion I _could have_ appended an additional empty column which would have resolved

[2018-10-16 13:48] fourpastmidnight commented on #1119
I tried using the table parameter as a simple array and removed the column header so it doesn't become a list item. But, due to the identified bug, if your first "row" text contains more than one of the same character, the `InvalidOperationException` for the "duplicate key" is being thrown. So, yeah, I think you hit the nail on the head, the call to `Select-Object` needs to force the result to be

[2018-10-16 13:50] fourpastmidnight commented on #1121
Even though I closed this, please note that it's not possible to use a single-column table as an array of strings until #1119 is resolved. Until then, you will  _most likely_ be the recipient of an `InvalidOperationException` due to Pester improperly parsing the single-columned table.

[2018-10-16 14:36] nohwnd commented on #878
Yeah that looks good to me. 🙂

Ad `Add-AssertionOperator`: It should be renamed, but you should also add an alias to avoid making this a breaking change.

[2018-10-16 14:42] nohwnd commented on #1118
Yes, that is correct, there was a similar issue discussed in another thread. I cannot find it sadly.

Why do you need to use assertions in the parameter filter? a simple comparison (with `-eq` or `-like`) would work.

[2018-10-17 09:49] richardnagle opened #1128 "Allow use of parameter aliases in Mock -ParameterFilter"
## 1. General summary of the issue

Powershell parameters can be defined with aliases:

[code]

When mocking with `-ParameterFilter` you cannot currently use the alias name to filter, but must use the real parameter name.

[code]

## 2. Describe Your Environment

Pester version : 4.4.0 3.4.0 3.3.5 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.0\Pester.psd1 C:\Program Files\WindowsPowerShel

[2018-10-17 10:40] scorpionlion commented on #1118
Actually it's just a pattern of choice to test the behaviour of underlying functions.  I use this pattern to make sure that my functions are behaving and passing correct values to mocked functions. If I just use the equality check, then I don't get the failure in a very helpful way should explains - like where the values are different etc. which speeds up fixing my functions.

I use equality where

[2018-10-17 20:34] nvarscar commented on #1108
I guess, that works, as long as the proposed feature gets implemented 🏭

[2018-10-17 20:55] nvarscar commented on #1108
I just verified the example you had and it seems that there is already something like this implemented:
[code]

Somehow, Address did not make it though, but that's completely fine - I will do more testing and close this issue if it works as expected.

[2018-10-17 21:47] nvarscar commented on #1108
So yes, I can confirm that all the parameters mentioned in the Param () section are becoming a part of the .Parameters property, which makes sense.. Though I expected that the whole object would make it to the testResults, not just the part that is mentioned in the It scriptblock (and it is the reason why I thought it's not being passed at all).
I will close the issue, as this is exactly what I ne

[2018-10-19 04:01] nohwnd commented on #1113
@DylanGraham yes, this is a new feature in the module, I still cannot reproduce it. :/ @JamesWTruher did you encounter this issue?

[2018-10-19 10:56] scorpionlion commented on #1118
exactly - it makes easier to debug - in c#  unit tests I used Rhino Mocks and general Assertions  in parameter checking - then returned `true`  in the last explicitly.  I was happy to see that 3.4  `Should ` was returning the bool itself... but it did not last long!

[2018-10-22 11:57] Mobrockers commented on #212
We would like to include our pester code coverage results in our sonarqube projects. SonarQube uses their generic test data format for uploading test data. The format is XML and they provide an xsd to validate against. Information can be found here: https://docs.sonarqube.org/display/SONAR/Generic+Test+Data
We would very much like this format to be available as output.

[2018-10-22 20:26] fourpastmidnight opened #1129 "Pester Gherkin processor assumes too much when locating Step files"
## 1. General summary of the issue

When the Gherkin feature of Pester attempts to find step definitions for the scenarios in feature files, it makes a bad assumption about the possible location(s) of `*.step.ps1` files containing step definitions.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.1

[2018-10-22 20:33] fourpastmidnight commented on #1129
Hmm, a simpler option would be to use an "un-adulterated" `$Path`. In `Gherkin.ps1`, on line 284 is he following:

[code]

So, if I give `-Path` the value `C:\src\git\path-to-my-repo\MyModule\Specs\features`, then all feature files found under the `features` folder will be found, regardless of how deeply nested, the folder hierarchy is. Now, if all step definitions are also located under the `feat

[2018-10-22 21:16] fourpastmidnight commented on #1129
I just confirmed that the following changes do work, but it feels "hack-ish" to me&mdash;I still would like to be able to independently specify the paths for Feature files vs. Step Definition files:

[code]

[2018-10-24 20:40] fourpastmidnight opened #1130 "Invoke-Gherkin attempts to "re-load" Pester?"
## 1. General summary of the issue

I logged #1129 two days ago. That issue was a bit of a show-stopper for me and how I want to organize my test files for my module project. So, I created a `Dependencies` folder in my project and copied the Pester module to it and made the appropriate manual modifications (per my second comment on #1129, since that was the easiest to implement) to at least get me

[2018-10-24 20:59] dlwyatt commented on #1130
Does it work if you add -Global to your call to Import-Module in the psake script?

[2018-10-24 21:02] fourpastmidnight commented on #1130
Good call. When running in that psake task, it's a script block....ugh. That worked. Funny that it was working before--but maybe I still had the module loaded in the session somewhere and it was getting "reused". Thanks!

[2018-10-24 21:02] #1130 closed

[2018-10-24 21:49] mhendric opened #1131 "Function imported outside of InModuleScope block not found when running in AppVeyor"
## 1. General summary of the issue

To start with, I'm not sure if this is a Pester problem or AppVeyor problem, but figured I'd start here. I'm working on adding a bunch of new Unit tests to the xExchange DSC module. All of the new test files import a helper module, and use a common test function. The helper module itself is imported outside of the InModuleScope block of my Unit tests. On both my

[2018-10-25 03:19] mhendric commented on #1131
That did the trick. Thanks! I'm still curious why the -Global switch isn't required on my test machines and is through the xExchange AppVeyor build, but at least I have a workaround. This may make a good documentation update if this should be a standard practice when declaring variables or importing modules outside of InModuleScope if you intend to use them within your tests.

[2018-10-25 04:57] dlwyatt commented on #1131
Appveyor must somehow be running your test scripts inside of a module. Modules don’t share scopes other than global.

[2018-10-29 03:38] fourpastmidnight commented on #1129
So my proposal directly above _only_ works if your feature files are not in nested folders--as mine are. So my hunch was correct that a more full-featured solution is adding the ability to specify paths for both the feature files and the step files. (Again, more of another note to self.)

[2018-10-29 22:49] DamianBis opened #1132 "Pester output showing 0 tests run even when tests run"
## 1. General summary of the issue

When running my pester tests against a folder it runs the tests but the output at the end shows 0 tests run.

If i run just against the individiual functions it works.

## 2. Describe Your Environment

Operating System, Pester version, and PowerShell version:

Pester version     : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShe

[2018-10-29 23:03] dlwyatt commented on #1132
You’re importing Pester from your test script; don’t do that.

[2018-10-29 23:38] DamianBis commented on #1132
Wow. easy fix. thanks for that.

I was under the impression (i guess i just made it up) that i'd import pester as part of the test scripts to ensure it's imported. But i guess when i'm doing a -force as well i'm forcing it to reload and then it must lose it's state.

[2018-10-30 11:30] nohwnd commented on #1129
@Jaykul could you have a look pls ?:)

[2018-10-30 16:18] fourpastmidnight opened #1133 "Question: "Cannot find a variable with the name 'PSBoundParameters'." error"
## 1. General summary of the issue

I came across the utility function `Get-ParameterValues` by @Jaykul, and a slightly modified version by **elovelan**. I chose to use **elovelan's** version which doesn't declare parameters. I can confirm that, as far as I've tested at the command line, the function works as intended.

I'm incorporating the function into a private module that I'm writing as a gen

[2018-11-01 17:30] Jaykul commented on #1115
@nohwnd I agree this would be useful. Does RSpec Pester have a tag that's excluded by default?

Implementing this is just a matter of adding a default value to -ExcludeTag, I think.

[2018-11-01 17:33] Jaykul commented on #1124
I'll have to look at it, but with the new `-Show` replacing `-Quiet` it should be possible to output these as a new output type that's (on by default but) controllable, I think.

@nohwnd you could assign this one to me and tag it #Gherkin

[2018-11-01 18:31] fourpastmidnight commented on #1123
@Jaykul Sounds good. As I said in another issue, I've opened up so many in the past two weeks, it's high-time I consider trying to tackle some of these myself! I've just been trying to get a module off the ground for our DevOps processes--so I haven't had a lot of free time.

However, this project has been helping me get my powershell code under test--and it's really well done. I've really enjoyed

[2018-11-01 18:59] fourpastmidnight commented on #1129
I think I was leaning towards what you said--but I'm not sure. So, let me try and state my intention again, as I fear I may have muddied things up with showing my "quick fix" code that, frankly, doesn't work as I intended.

I agree that there's the potential to break people, so yes, we have to be careful. I'm proposing the following:

* Remove the `$Path` parameter from `Invoke-Gherkin`
* Add a `[

[2018-11-01 20:54] chadattapfin commented on #204
I ran into this issue as well. Thank you @dlwyatt for the temporary workaround. Instead of using the psd1 scope, I used the inner module scope and am off and running again.

[2018-11-01 22:02] natescherer opened #1134 "Start-Process Error Not Captured"
## 1. General summary of the issue

I recently ran into an issue where an error in a Start-Process generated an error that wasn't captured by Pester on Linux. Specifically, I was attempting to start a process with an invalid FilePath.

Here's the Pester output:

[code]

## 2. Describe Your Environment

Environment is AppVeyor with Ubuntu1804:

Pester version     : 4.4.2 /home/appveyor/.local/share

[2018-11-02 23:03] fourpastmidnight opened #1135 "AfterEach* hooks throw an exception in Gherkin.ps1"
## 1. General summary of the issue

I am trying to figure out why a function under test is not able to find the `$PSBoundParameters` dictionary when testing it under Pester (see #1133). During the course of my investigation, I began to wonder if my `AfterEachFeature` hook was running (not that that had anything to do with my failing tests). So I added some `Write-Host` statements to the hook. Sure

[2018-11-02 23:10] fourpastmidnight opened #1136 "Test report at the end of running Gherkin tests does not expand some Gherkin.Ast.* types"
## 1. General summary of the issue

When the test report is written out at the end of the test run for Gherkin-style tests, not all of the `Gherkin.Ast.*` data structures are expanded in such a way as to make that report useful.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165
OS version

[2018-11-02 23:42] rdbartram opened #1137 "Missing Dynamic Parameters"
## 1. General summary of the issue

When mocking Copy-Item the dynamic parameters ToSession and FromSession are not available

## 2. Describe Your Environment

Pester version     : 4.4.2 C:\Users\ryan.bartram\OneDrive - itnetx AG\Documents\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.228
OS version         : Microsoft Windows NT 10.0.17134.0

## 3. Expected Beh

[2018-11-02 23:46] rdbartram commented on #1137
I would just make a PR but I assume i'm doing something wrong and this isn't a real bug :D

[2018-11-03 00:01] rdbartram commented on #1136
This could be an easy fix, in the gherkin.ps1 file after line 385 override the tostring method so that it shows the feature name. You could try it locally and see if it does what you want. $Feature | Add-Member -MemberType ScriptMethod -Name ToString -Value {return $_.Name} -Force

[2018-11-03 00:33] fourpastmidnight commented on #1136
Thanks for the suggestion, but that didn't quite work:

[code]

But you were on the right track. It should be:

[code]

This takes care of the features. I need to find where to add similar code for the scenarios. Thanks for the help.

[2018-11-03 00:40] rdbartram commented on #1136
You could add the same after line 435, 438 that's where the scenario objects are returned. Perhaps better to collect them all and apply after the if examples block...try to be DRY ;)

[2018-11-03 00:50] fourpastmidnight commented on #1136
I tried that as a quick PoC, but that didn't work. And yes, I agree with the DRY point 😉

[2018-11-03 00:52] fourpastmidnight commented on #1136
I also tried after lines 389, 397, 400 & 403. None of those places are working either.

[2018-11-03 00:58] rdbartram commented on #1136
that's weird...sounds obvious but you reloaded the module after you edited it right? I can't see where else it would be getting that data from. As I said, try looping the $scenarios variable at before its returned on 444. you're trying to get it to show the failed scenario right? all that is is a scriptproperty that calls feature.scenarios….i.e that what is created on 443

[2018-11-03 01:54] fourpastmidnight commented on #1136
I tried that line, too. 😄 It's somewhere, I'll find it. lol.

[2018-11-03 01:58] fourpastmidnight commented on #1136
Got it. For whatever reason, all the lines above didn't work, but line 507 did. I have to clone the repo and then I'll submit a PR for this. Thanks for the help.

[2018-11-03 02:29] fourpastmidnight commented on #1136
Hmm, but that line only fills in Failed Scenarios, not passed ones. Weird.

[2018-11-04 16:25] kvprasoon opened #1140 "BeforeEach/All doen't execute when -ScriptBlock is used as named parameter."
## 1. General summary of the issue

BeforeEach and BeforeAll functions doesn't execute when -ScriptBlock parameter is used.

![image](https://user-images.githubusercontent.com/12897753/47966869-05f0c880-e07d-11e8-8f2b-fe65c37da958.png)

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

![image](https://user-images.githubusercontent.com/12897753/47967235-52d69e00-e081-11e8-956c-fc30

[2018-11-04 17:18] fourpastmidnight commented on #1123
@Jaykul checkout the PR I submitted to add in this support.

I also found that Gherkin implemented the `Example` keyword as a synonym for `Scenario`, but that requires v6 of Gherkin, which, if I'm reading their repo correctly, hasn't been officially released yet. (I also looked at NuGet.org, and the latest version is 5.1.0--which Pester may be at 5.0.0, but that's another matter.)

[2018-11-04 17:38] fourpastmidnight commented on #1124
So, I agree that perhaps an option parameter would be best. But now I'm wondering what the name of it should be (ah, one of the hardest problems in Computer Science: naming things). So, tables can be part of both a step definition _and_ a scenario (for Scenario Outlines). DocStrings, on the other hand, are only associated with step definitions.

I was thinking of something like `[switch] $HideScen

[2018-11-04 21:58] dlwyatt commented on #1140
Current behavior is expected. It’s not intended to be used like a cmdlet; it’s more of a fake keyword like “if” / etc.

[2018-11-05 04:14] fourpastmidnight commented on #1124
Got too close to the problem. Example tables do not need to be printed since `Scenario Outline`s result in one scenario per example row. So now naming becomes easier.

[2018-11-05 05:29] #1132 closed

[2018-11-05 05:30] #1131 closed

[2018-11-05 10:13] nohwnd commented on #1140
I still think this should be considered a bug and fixed.

[2018-11-05 15:07] KreizIT opened #1143 "Call operator not detected for code coverage"
## 1. General summary of the issue
Line where call operator is used is reported as not covered by Pester's codeCoverage capabilty.
ie : $scriptCmd = {& $wrappedCmd @PSBoundParameters }
Code coverage report :
File         Function       Line Command
----         --------       ---- -------
ProxyCmd.ps1 Write-TrueHost   29 $scriptCmd = {& $wrappedCmd @PSBoundParameters }
ProxyCmd.ps1 Write-TrueHost

[2018-11-05 15:13] KreizIT commented on #1143
Full code :
function Write-TrueHost {
	[CmdletBinding(HelpUri='http://go.microsoft.com/fwlink/?LinkID=113426', RemotingCapability='None')]
	param(
		[Parameter(Position=0, ValueFromPipeline=$true, ValueFromRemainingArguments=$true)]
		[System.Object]
		${Object},

		[switch]
		${NoNewline},

		[System.Object]
		${Separator},

		[System.ConsoleColor]
		${ForegroundColor},

		[System.ConsoleColor]

[2018-11-05 20:34] Jaykul commented on #1124
Could we just add "Details" or "Docs" to the `-Show` switch?

I mean, I guess we might be able to just always output them (I haven't tried yet, to see what it would look like. My problem is that I use those docstrings to embed code examples sometimes, and I just imagine it being very _noisy_ without even having tried it.

[2018-11-06 00:12] fourpastmidnight commented on #1124
I could. The only reason I didn’t was because this “feature” doesn’t apply to Pester at large—just for Gherkin tests. The worst that would happen is it'd be a no-op for Pester, and of course the documentation would detail that. I’m easy on this one.

Just let me know, do you definitely want me to add the additional enum value to Show? I can have that turned around in no time.

Thanks for your comm

[2018-11-06 15:15] nohwnd commented on #1115
@Jaykul Nope, there is no tag that is excluded by default.

[2018-11-06 15:16] nohwnd commented on #1121
@Jaykul could you have a look please?

[2018-11-06 15:46] nohwnd commented on #1134
@natescherer I am trying to replicate this but I can't. I get:
[code]
Running on current `microsoft/powershell` docker image:
[code]

To me it looks like the only difference here is that I am running on 6.1 and you on 6.1-rc. could you maybe update and see if that helps?

[2018-11-06 15:47] nohwnd commented on #1135
@Jaykul pls :)

[2018-11-06 16:39] Jaykul commented on #1135
Oops!

They work if you don't tag them -- obviously I don't have any tests cases where I'm tagging them.

I will try to fix this. In the meantime, don't tag them (can we change the title to say "Tagged hooks throw ...")

[2018-11-06 16:41] Jaykul commented on #1115
I don't think we want a feature like this to only affect one runner...

[2018-11-06 16:47] nohwnd commented on #1115
Why not? To me it's just another feature specific thing. Like being able to parse specifications. RSpec Pester also cannot do that.

[2018-11-06 17:20] Jaykul commented on #1121
The original problem here was a minor bug, which will be fixed by @mikeclayton in #1127 -- at that point, this will be working **as designed**.

The edited post is asking for a new feature:

# Invoke-Gherkin should be able to convert Gherkin hashtables to other collection types

If you actually needed to write conversion loops the way you did in the example, I would agree we should do that within

[2018-11-06 23:05] fourpastmidnight commented on #1121
Ah, yes, when I was originally writing my tests, I was just getting back into PS. I’m traditionally a C# dev and need to constantly remind myself to think differently when coding PS.

Anyway, I agree, that’s really simple and doesn’t require any additional (complex) coding (magic) in Pester.

Sent from my Windows 10 phone

From: Joel Bennett
Sent: Tuesday, November 6, 2018 12:20
To: pester/Pester

[2018-11-06 23:16] #1121 closed

[2018-11-07 04:10] fourpastmidnight commented on #1115
It seems in RSpec, there's an implicit `skip` tag (either `:skip => true` or `@skip => true`). Just like with cucumber's `@ignore`, when invoking `rspec`, there's no need to specify `--tags ~skip` to have tests tagged with `:skip` be ignored.

I decided I wanted to see what the output from cucumber looked like when using `@ignore`. But lo and behold, there is no such default tag in Cucumber proper

[2018-11-07 17:16] Jaykul commented on #1115
Three reasons, @nohwnd :

First, it just makes sense to me. The core implementation of tags and which to run/skip is shared in the PesterState ...

Second, the idea of a tag that's ignored by default is not a feature of the _syntax_, it's a feature of the test framework. As @fourpastmidnight discovered, different gherkin runners do different things: have you seen the `--wip` feature and `@wip` tag

[2018-11-08 08:15] nohwnd commented on #1115
@Jaykul Those features of the test framework are already there, the `-Skip` is the `@ingore` tag, and `-Pending` is the `@wip` tag. Unlike these magical tags the parameters are discoverable and explicit. So to me this was about making the Gherkin part consistent with what you can do in other test runners, but I don't think adding this to the RSpec part makes sense.

There are also tons of features

[2018-11-08 15:28] Jaykul commented on #1115
Oh, I momentarily forgot about `-Skip` -- we even use that 😆

Obviously a `@skip` or `@ignore` tag is the gherkin equivalent, so that's fine, and I'll look at doing it.

I **have** been thinking about how to extend modules in modules. I think what we want is a lot like event handlers, where other modules can register a handler, and there's a way for _users_ to wire up handlers and clear them out t

[2018-11-08 17:51] deadlydog opened #1145 "How to verify that mocked object's function was called"
This is a question, not an issue. I'm mocking out a windows `Process` using:
[code]
I am able to verify that the mocked process properties get set correctly with:
[code]
But how can I test that the $mockProcess.Start() function was actually called? I've looked over the documentation, but haven't found anything relating to this. The closes I've found is `Assert-MockCalled`, but that seems to be jus

[2018-11-08 23:39] mikeclayton commented on #1145
Hi @deadlydog,

You can't mock methods of CLR objects - there's no way for Pester to intercept the call to the real method and substitute it with a mock. What you can do instead is wrap the method call in a PowerShell function and then mock the PowerShell function instead.

There was a similar issue raised here a while ago that might help:

#1068 - Mocking Functions of an object

Cheers,

Mike

[2018-11-09 08:33] nohwnd commented on #1115
There is also another aspect, how to deploy it in the end. On one hand we want to keep it compact, so people can get the whole thing via a single `Install-Module` call. And on the other we want to publish some additional functionality (most likely as functions) so they can author their own extensions while reusing our code, but _without_ polluting the api for the poeple who just want to use Pester

[2018-11-09 11:02] nohwnd commented on #1145
You might be able to leverage the extended type system to shadow the actual method like this:

[code]
It of course depends heavily on what you are doing :) You did not share any code so I am just guessing. If you are passing the process to a .NET method it won't be fooled by powershells ETS and this won't work :)

[2018-11-10 19:39] fourpastmidnight commented on #1124
@nohwnd , @Jaykul  Question for you: I see in the code that _a lot_ of common PowerShell cmdlets are placed into the `$SafeCommands` array, and I understand conceptually why that is. But, I do see inconsistencies&mdash;where the "naked" cmdlet is used. Is there any rhyme or reason for when `$SafeCommands` should be used over the "naked" cmdlet, or is this simply an "oversight" and contributors sho

[2018-11-11 05:53] Jaykul commented on #1124
Well, there are a few places where you don't have to use SafeCommands -- but in general, most Pester code is running in tests and with so many things mocked that it gets crazy 🤨

[2018-11-14 16:28] Gale52 opened #1147 "Pester will not install - Not signed in PSGallery"
PS C:\> install-module pester -Force
PackageManagement\Install-Package : The version '4.4.2' of the module
'Pester' being installed is not catalog signed. Ensure that the version
'4.4.2' of the module 'Pester' has the catalog file 'Pester.cat' and signed
with the same publisher 'CN=Microsoft Root Certificate Authority 2010,
O=Microsoft Corporation, L=Redmond, S=Washington, C=US' as the
previously-

[2018-11-14 17:19] nohwnd commented on #1147
@Gale52 Moved your issue here from the repository of our empty website :) Please see the [Installation](https://github.com/pester/Pester#installation) section of our readme.

[2018-11-14 17:35] Gale52 commented on #1147
Thank You,  Several hundred of us attended classes at PASS Summit last week and were introduced to Pester and I am sure you will see a lot of traffic from those classes now that we are back at work.

Gale

From: Jakub Jareš <notifications@github.com>
Sent: Wednesday, November 14, 2018 10:20 AM
To: pester/Pester <Pester@noreply.github.com>
Cc: Gale Mecham <glm26@byu.edu>; Mention <mention@noreply.g

[2018-11-15 04:10] fourpastmidnight commented on #1124
Ok, so I spun up a Win2k8 R2 SP1 VM on Azure. I ran the tests against my PR for this issue, and sure enough, they fail in the same way as on the TC build server for PS v2. So, that's good, it's consistent. However, the commit referenced above also passes the tests on this VM, even though the test code is identical (from a behavior point of view), so, I'm no closer to an answer other than 1) I know

[2018-11-15 04:37] fourpastmidnight commented on #1124
Ok, finally found it. I know where it's broken, but not how--yet. I should have this fixed by the end of the weekend at the latest. Yay.

[2018-11-15 04:53] fourpastmidnight commented on #1124
And, yeah, it got me. PowerShell 2 doesn't always return an array when you think it should. Ugh. Wow, that took long enough.

[2018-11-15 06:03] Gale52 commented on #1147
Jakub,

  To give you a better picture.  At PASS Summit Rob Sewell taught a full day class on Power Shell and talked up Pester.  During the actual conference he taught 3 additional 70 minute classes.  One was on DBAChecks.  He taught us how to load it so we could just load the dbachecks module and since pester is a dependent with in dba checks they will all be loaded at that time.  There were well

[2018-11-15 12:45] nohwnd commented on #1147
@Gale52 Thanks for the info, I am currently waiting for Digicert to approve my certificate request, after that I should be able to publish a signed beta package, and if that works fine I can publish a signed stable version.

[2018-11-15 15:43] Gale52 commented on #1147
Thanks
Gale

From: Jakub Jareš <notifications@github.com>
Sent: Thursday, November 15, 2018 5:46 AM
To: pester/Pester <Pester@noreply.github.com>
Cc: Gale Mecham <glm26@byu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [pester/Pester] Pester will not install - Not signed in PSGallery (#1147)

@Gale52<https://github.com/Gale52> Thanks for the info, I am currently waiting for Digicert to a

[2018-11-18 18:38] fourpastmidnight commented on #1124
@Jaykul, @nohwnd I resolved the build issue with the PR associated with this issue. But I want to return to the question of whether or not I should have added another parameter to `Invoke-Gherkin` versus adding an enum value to the `OutputTypes` enumeration which is used for both `Invoke-Gherkin` and `Invoke-Pester`, as has been suggested by @Jaykul.

The reason for my original choice of implement

[2018-11-19 06:10] fourpastmidnight commented on #1115
So, I just pushed up the branch [skip-rest-of-scenario-steps-after-first-non-passing-step](https://github.com/fourpastmidnight/Pester/tree/skip-rest-of-scenario-steps-after-first-non-passing-step) on my fork of Pester. There were several things I did in this branch, which are tangentially related to this conversation, which is why I'm commenting on it. (BTW, this branch sits on top of the work don

[2018-11-20 10:56] DarkLite1 commented on #1148
When looking at your code I'm wondering what you are trying to achieve. Are you testing if the CmdLet `Get-AzureRmNetworkSecurityGroup` functions as designed? If that is the case, I would rely on Microsoft to test their own code.

If however, you want to generate a report of Azure security groups that meet specific conditions,, there really is no need to use `Pester`. In that case you can simply c

[2018-11-20 21:10] fourpastmidnight opened #1149 "Import-GherkinSteps does not correctly report the number of step files found"
## 1. General summary of the issue

When setting `$VerbosePreference` to `Continue`, when displaying the number of steps loaded from the number of step definition files in `Import-GherkinSteps`, the `$StepFiles` variable was "inlined" in the `foreach` loop and now the number of step files found is incorrect.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShel

[2018-11-20 21:45] whiggs commented on #386
@dlwyatt I don't know if everybody else will neccessarily agree with me, but I wouldn't mind having to re-write my pester test scripts if pester was to be updated so that the "BeofType" function was consistent.  I am not a big fan of the idea of, for all intents and purposes, force converting essentially forcibly converting the object to the object that it needs to be read as, as you could potenti

[2018-11-26 11:49] majkinetor commented on #442
I am currently writing tests upward and put the `exit` after it, but that also isn't enough. You want to be able to quickly run ONLY desired test. How about special parameter on It and Context which essentially ignores _everything else_.

Lets say we have parameter `Debug` that when present, forces tests to run and ignores everything else.
If `Debug` is present on any element, only elements marked

[2018-11-27 18:26] davinci26 opened #1151 "Redirecting output to user specified function"
Hey everyone,

Many thanks for your project!

I have the following question:

_Is it possible to modify the  `SafeCommands` variable from another module?_

For context what I want to do is to redirect the output from  `Write-Host` (etc.)  to another function that will pre-process the output prior to printing it.

I was thinking, that if there was no way to achieve that with the current implementat

[2018-11-27 18:59] nohwnd commented on #1151
@davinci26 hi, are you talking about `SafeCommands`?  What you is your goal? Do you want to have custom output from the tests? :)

[2018-11-27 19:10] davinci26 commented on #1151
Thank you for your answer :)

Yes I am talking about `SafeCommands` (Ill edit my initial issue for clarity).
My goal is to edit this variable to redirect the output to a custom `Write-*` function.

[2018-11-27 19:30] nohwnd commented on #1151
@davinci26 okay, but why? :)

You can peek into any module by `&(Get-Module 'ModuleName'){ <code to run inside of the module> }`. So here you could replace the `Write-Host` by doing
[code]

[2018-11-27 23:57] davinci26 commented on #1151
@nohwnd This did the trick.
Thanks a lot for your help! I am adding one more comment to you answer for future readers
[code]

[2018-11-28 06:39] LawrenceHwang opened #1152 "Assert-MockCalled return false when using -ParameterFilter"
## 1. General summary of the issue
When I was using `Assert-MockCalled` with `-ParameterFilter` to test whether a function wrapped inside a custom function is called with specific a parameter value, I got failed test result when I expected it to pass.

I searched existing issues and found the [issue 1008](https://github.com/pester/Pester/issues/1008) to be similar but the workaround, move function

[2018-11-28 08:00] #1151 closed, assigned to nobody

[2018-11-28 08:13] nohwnd commented on #1152
@LawrenceHwang Debugging this is relatively easy. `Write-Host` is a great tool for debugging mock filters.

[code]
Shows in output as:
[code]
Okay so the $name is not defined within the mock. Mocking defines parameters for the script block based on the parameters of the mocked function, and your function does not define a `$Name` parameter. Your function also does not have `[CmdletBinding()]` so a

[2018-11-28 08:54] LawrenceHwang commented on #1152
@nohwnd  Thanks so much for the tip for debugging the pointing me to the right direction. I updated the function definition before mock and the tests are looking good and green.

[code]

[code]

Sorry that was probably caused by my late night without coffee. When hitting this gap, I was writing tests for one of the pre-written custom functions in a .ps1 file. The .ps1 file is currently used throug

[2018-11-28 09:11] #1152 closed

[2018-11-28 16:07] fourpastmidnight opened #1153 "Incomplete Gherkin feature files cause an exception during the test run"
## 1. General summary of the issue

If you have a Feature file which is incomplete, even if the Feature is tagged with `@ignore` and the `-ExcludeTags` parameter is passed to `Invoke-Gherkin`, an exception is thrown and aborts the test run.

## 2. Describe Your Environment

Pester version : 4.4.2 C:\Program Files\WindowsPowerShell\Modules\Pester\4.4.2\Pester.psd1
PowerShell version : 5.1.17134.165

[2018-12-06 14:36] #1123 closed

[2018-12-06 19:12] fourpastmidnight commented on #1119
Since #1127 has been merged, this issue is now closed. Thank you @mikeclayton for the contribution to fix this rather painful issue! Thanks @nohwnd for merging this. Hope you all have wonderful holidays.

[2018-12-06 19:12] #1119 closed

[2018-12-06 19:18] TheMacStack commented on #1113
I hit something similar with 4.4.2 on a Linux centos docker image, downgrading Pester to 4.4.1 solved it

dockerfile I was using if you want to try and recreate it:
[code]

error I was getting when running in the above image in some ci/cd:
[code]

[2018-12-07 03:48] vexx32 opened #1154 "Should -Be gives confusing error message comparing arrays that are not enumerated."
## 1. General summary of the issue

In writing tests to ensure the accurate fixing of the issue resolved by [this PR](https://github.com/PowerShell/PowerShell/pull/8407), I discovered that `Should` _can and will_ differentiate between a complete array passed over the pipeline and an enumerated array, and it seems to expect the latter.

Simple repro:

[code]

## 2. Describe Your Environment

Operat

[2018-12-07 08:18] nohwnd commented on #1154
Agreed, this needs to get better. At the very least the error should show that there is a wrapping array as:

[code]
Or better:
[code]
Problem is finding the right balance where this kind output stays readable even for bigger objects. Probably the best approach here is to list the info that stays short on the top and progress to expanding the objects on the bottom.

[code]

I will start with the s

[2018-12-07 08:19] nohwnd commented on #1113
@TheMacStack thanks will try, hopefully this is easy to reproduce this way.

[2018-12-07 10:59] nohwnd commented on #1113
Okay this was fixed by #1126 the problem here is that there are multiple instances of `id` and `uname` command and so the sanity check fails. Will release as part of 4.4.3 during weekend.

[code]

[2018-12-07 10:59] #1113 closed

[2018-12-10 14:01] natescherer commented on #1134
Sorry for the delay on this, I was waiting for Appveyor to update their images to use 6.1 final and lost track of this. I tested and this doesn't appear to be an issue on 6.1, so I'm closing. Sorry for the trouble.