[2018-12-10 14:01] #1134 closed

[2018-12-10 14:06] nohwnd commented on #1134
@natescherer no problem 🙂

[2018-12-12 08:49] nohwnd opened #1157 "Document array comparing capabilities of Should"
As mentioned in #804 there is no documentation about Should and how it compares arrays. Add it or wait for Should refactoring to add it.

[2018-12-12 10:18] vexx32 opened #1158 "Allow Parameters to be Passed in to InModuleScope blocks"
/cc @nohwnd

## 1. General summary of the issue

If a test file depends on a helper file for some static data that is used during testing, it can be very difficult to use with InModuleScope because often such files are located at some fixed location _relative to the test script_; frequently alongside it or in a subfolder.

## 3. Expected Behavior

InModuleScope should expose some parameters to all

[2018-12-12 15:33] #1022 closed

[2018-12-12 17:35] fourpastmidnight opened #1160 "Mocks don't return useful information when failing parameter filter tests"
## 1. General summary of the issue

When using a mock, you can specify a `ParameterFilter`. When the mock is being evaluated for whether or not it should be executed, a test is performed via `Test-ParameterFilter`. Unfortunately, this test just returns `$true` or `$false` which instructs Pester to not execute the mock and call the real function/cmdlet instead. However, there's no feedback as to wh

[2018-12-12 17:41] SteveL-MSFT opened #1161 "Feature: Add switch to Invoke-Pester to automatically re-run failed tests"
## 1. General summary of the issue

To help identify flaky tests (tests that fail sometimes inconsistently rather than failing consistently), it would help to have Pester have opt-in ability to rerun failed tests (as it's being executed).  Need a way to indicate the test failed or passed on the rerun so that the test gets fixed to be predictable and consistent.

## 2. Describe Your Environment

Pe

[2018-12-12 17:58] bergmeister commented on #1101
@nohwnd I see these errors now as well after the last update of AppVeyor's `Ubuntu` image where it clearly shows it is a Pester issue because I do nothing in the `Describe` block. For some reason this happens only in the `Ubuntu` image of AppVeyor (not Windows) and I cannot repro this issue locally using Ubuntu 18 in WSL. Let me know if you need more details (like build/code links)
![image](https:

[2018-12-12 21:39] #1107 closed

[2018-12-12 21:55] nohwnd commented on #1158
For the paths you can use `$PSScriptRoot` or `$PSCommandPath` to get the test file path, and `$script:PSScriptRoot` or `$script:PSCommandPath` to get the module path. But I mention this mostly for completeness if someone reads this later.

Do you have some more concrete practical examples, so it's easier to think about?

[2018-12-12 21:59] vexx32 commented on #1158
Not in `InModuleScope` you can't, at least for my experimentation. It returns the same path as `(Get-Module ModuleName).ModuleBase` for the module you're in the scope of. Not sure about `PSCommandPath` but I suspect that will turn out to be similar.

[2018-12-12 22:10] nohwnd commented on #1160
I was thinking about this few times. What I currently do is that I use Write-Host to write what are the incoming values or how the conditions are evaluated e.g.: `Write-Host $Url; Write-Host ([Uri]::EscapeUriString($UrlSubstring)); $Url -eq [Uri]::EscapeUriString($UrlSubstring)`. This is simpler than debugging.

I don't think that filter failure should report any error, you can have multiple mocks

[2018-12-12 22:17] nohwnd commented on #1158
Then you might be doing something wrong, I tried this in multiple places (and just now on pwsh 6 on MacOS) and it outputs path to where my test script is, and path to where PSReadLine is.

[code]

[2018-12-12 22:47] bergmeister commented on #1161
@SteveL-MSFT  The `VsTestV2` task in Azure DevOps already provides that logic, therefore it might be better to rather try to integrate Pester with `vstest.console.exe` using a so called test adapter (this is what e.g. `NUnit` does to make their test framework usable from VisualStudio/vstest.console.exe . WDYT?

[2018-12-12 22:48] bergmeister commented on #1147
@nohwnd I guess we can close this now after the recent release?

[2018-12-12 23:30] fourpastmidnight commented on #1160
Hmm, that’s a good suggestion.

I didn’t mean to imply that `Test-ParameterFilter` should return an error, rather, it should return information that could be used when displaying information for mocks which were not called when verifying them. However, I was creating several mocks with varying parameter filters, and so your comment about “things getting messy” is at the forefront of my mind with r

[2018-12-13 07:17] nohwnd commented on #1101
@bergmeister all our linux an macos builds run fine on Travis, and I am running pester locally in docker just fine as well. Could you share your `appveyor.yml` so I can try it myself? I would actually find it useful to setup Linux build for Assert, two birds one scone :)

[2018-12-13 07:19] nohwnd commented on #1147
Version 4.4.3 is the first signed version, now I just need to keep them signed in the future as well.

[2018-12-13 07:19] #1147 closed

[2018-12-13 07:19] nohwnd commented on #999
Version 4.4.3 is the first signed version, now I just need to keep them signed in the future as well.

[2018-12-13 07:19] #999 closed

[2018-12-13 07:49] nohwnd commented on #1124
@fourpastmidnight I don't pay attention to all issues here, but we could get in touch on twitter or some other place where you can DM me when you have problems so you don't have to struggle by yourself 😊 I don't know much about Gherkin, but at least I can learn and help you work on it.

As for the output I plan to reorganize things in the code into core, above which rspec and gherkin style Pester

[2018-12-13 16:49] Gale52 commented on #1147
Thanks

Gale

From: Jakub Jareš <notifications@github.com>
Sent: Thursday, December 13, 2018 12:19 AM
To: pester/Pester <Pester@noreply.github.com>
Cc: Gale Mecham <glm26@byu.edu>; Mention <mention@noreply.github.com>
Subject: Re: [pester/Pester] Pester will not install - Not signed in PSGallery (#1147)

Version 4.4.3 is the first signed version, now I just need to keep them signed in the future a

[2018-12-13 22:50] fourpastmidnight opened #1162 "Question: Is it possible to "parameterize" the ParameterFilter for Mocks?"
## 1. General summary of the issue

OK, so I know on face value, the answer to this question is No. But hear me out. I'm using Gherkin style tests and I have several parameter variations for a call to a function within my module. So in my Given step, I have a table which has the parameter values for each call, and in my Then step I have another table that has the resulting parameter values I expec

[2018-12-13 22:50] bergmeister commented on #1101
@nohwnd Ok, I opened a few PRs for your Assert module including Linux in AppVeyor. Today, I could reproduce the CI failure locally. I will point you to a simplified repro branch tomorrow. So far I can only say that it only happens on Linux after the update to 6.1 and if the code in question is executed outside of Pester, it is fine, so I suspect a subtle integration bug between PowerShell and Pest

[2018-12-14 07:47] bergmeister commented on #1101
@nohwnd Ok, I opened a few PRs for your Assert module including Linux in AppVeyor.
Today, I could reproduce the CI failure locally the first time, it happens only in Ubuntu 18 but not Ubuntu 16 when using WSL for example. I have a simplified repro branch [here](https://github.com/bergmeister/PSScriptAnalyzer/tree/reproPesterBug) where the [appveyor.yml](https://github.com/bergmeister/PSScriptAnaly

[2018-12-14 14:09] #402 closed

[2018-12-14 14:26] nohwnd opened #1163 "Improve Get-ShouldOperator"
`Get-ShouldOperator` shows:
[code]
on the top, and does not show aliases. It would be nice to replace the name section with this:

[code]

(the two last aliases don't actually exist on Be)

Related to #878

[2018-12-14 15:17] #1149 closed

[2018-12-14 16:20] Stephanevg commented on #1163
still available? if so, i'll be happy to check this one

[2018-12-14 16:33] nohwnd commented on #1162
@fourpastmidnight I don't understand what you are after. Coould you simplify you example to show me only the relevant stuff in a simple code? Here is a simple example of what I think you want, but I cannot break it. Once we can replicated it in simple example I can find out what is possible.

[code]

[2018-12-14 16:33] nohwnd commented on #1163
@Stephanevg  yup. Looks like you are the first one.

[2018-12-14 16:39] fourpastmidnight opened #1164 "Cannot set the scope for Assert-MockCalled when using Gherkin style tests"
## 1. General summary of the issue

I'm still trying to figure out why PowerShell closures aren't working with the ParameterFilter for Mocks. I noticed that you can set the scope for the `Assert-MockCalled` function. The `-Scope` parameter requires either a number, or one of `Describe`, `Context`, or `It`. I remember while looking through `Gherkin.ps1` that when `Invoke-GherkinFeature` is called,

[2018-12-14 16:40] nohwnd commented on #212
#920 was merged, Pester outputs JaCoCo, other formats are possible to be added if the PSCodeCovlo above is not enough.

[2018-12-14 16:40] #212 closed

[2018-12-14 16:55] nohwnd commented on #287
This needs a solution proposal that is compatible with NUnit xml format (currently we are on v2.5 of nUnit xml, but I am open to upgrading as long as the resulting xml still works on build servers). Ideally the total run time would be still accurate, most likely we should measure the time spent in Pester code and user code separately, report how long each test took and make the total time the real

[2018-12-14 17:03] nohwnd commented on #301
There is Output element in NUnit 3. In the schema of 2.5 that we use I don't see output. So to be able to do this we probably need to migrate to NUnit 3.  https://github.com/nunit/docs/wiki/Test-Result-XML-Format#output

[2018-12-14 17:06] nohwnd commented on #1087
@rdbartram Are you still interested in doing this?

[2018-12-14 17:07] nohwnd commented on #1087
Related #301

[2018-12-14 17:19] nohwnd commented on #308
This works because we are adding alias with the unqualified and fully qualified name.

[2018-12-14 17:19] #308 closed

[2018-12-14 17:30] #331 closed

[2018-12-14 17:33] nohwnd commented on #334
The operator syntax is already there provided by the aliases. Better assertions with better collection support are planned.

[2018-12-14 17:33] #334 closed

[2018-12-14 17:50] fourpastmidnight commented on #1162
@nohwnd Simplistically, that is what I want, but with a Gherkin test.

I just filed a bug with respect to Gherkin tests and setting the scope when calling `Assert-MockCalled` (#1164). I fixed the immediate issue on my own local copy of Pester, and so now I can use something like `-Scope Scenario`. I mention this because, after fixing #1164 locally, it just looks like the scope for the parameter fi

[2018-12-14 17:57] fourpastmidnight commented on #1162
Sorry a bit of a follow-on:

Now, because the scopes did not seem to be set properly (at the beginning, I wasn't really sure what's going on), I started asking myself whether I needed to use closures to effectively capture the "Local" variable for the parameter filter, which lead to some of the crazy code up there. I was hoping that by using a closure, it would force the local variable to be "in s

[2018-12-14 18:08] fourpastmidnight commented on #1162
@nohwnd OK, so the above is not an MVCE (minimally viable and complete example). Let me see if I can come up with one which will demonstrate the problem. That should've been my first go-to in "Triaging" this problem anyway... 😉

[2018-12-14 18:19] omiossec commented on #1163
I will be happy too

[2018-12-14 18:40] nohwnd commented on #1162
Does `Invoke-vRARestMethod` have only one parameter? Maybe by adding the paramblock yourself you are not getting the parameters correctly?

[2018-12-14 19:07] fourpastmidnight commented on #1162
@nohwnd No, it has many parameters, but all but one are optional. And the test above is only attempting to test 3 of the optional parameters. Stepping through the code in the debugger, when we get to the dynamically generated script block being executed by `Test-ParameterFilter`, the correct parameters are present.

This whole issue is around the fact that:

1. Using a "local" variable within the

[2018-12-14 19:09] fourpastmidnight commented on #1164
As an FYI, I have "fixed" this in my local copy of Pester. I'll be submitting a PR for this at some point soon. However, I'm fairly certain I won't post a PR until sometime after Saturday, 15 December, as I'm booked solid until then. But I _will_ post a PR with my local fix sometime after that date.

[2018-12-14 19:35] nohwnd commented on #339
Here is even simpler repro. The Mock is not called.

[code]

[code]

[2018-12-14 22:34] fourpastmidnight commented on #1162
One more note: there's a file in the repo called `vRASession.Steps.ps1` which has a step definition in it where I was forced to put a variable in the Global scope because when using the `-MockWith` parameter, that script block also did not have access to a variable defined in the step definition script block. So this (in my opinion) reinforces my hypothesis that perhaps something is not quite righ

[2018-12-15 00:55] SteveL-MSFT commented on #1161
@bergmeister We've been in discussions with AzDevOps team about this topic which is where this came up actually.  They just need some ability to re-run tests (preferably without re-running the whole thing) and AzDevOps will handle all the reporting aspects.  Currently, they already have reporting on test case pass/fail history so they can identify potentially unreliable tests, but this is over a p

[2018-12-15 10:59] Stephanevg commented on #1163
@nohwnd I think you meant: ```Get-ShouldOperator -Name be``` Shows:

[code]

right?

Cause I have this when I use ```Get-ShouldOperator```:

[code]

[2018-12-15 16:40] Stephanevg commented on #1163
I am sorry to ask, but either I didn't fully understand what problem we need to fix here, or I am missing something.

I originally thought that this issue would be as easy as editing the 'comment Based Help' of the BE operator, but It seems there is a bit more to it.

Perhaps you can give me a hint of where I should look? ;)

Let me explain my rationale:

for example, any other 'ShouldOperator' re

[2018-12-15 19:33] cgnuechtel opened #1165 "Support all natural languages which Gherkin provides"
## 1. General summary of the issue

Pester should also execute all non-English feature files.

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

If Pester executes an non-English feature file, it should just work

## 4.Current Behavior

If Pester executes a German feature file for example, the following output occurs:

[code]

And more following errors ...

## 5. Possible Solution

[2018-12-15 19:50] cgnuechtel opened #1167 "Gherkin: Create scenario for every example"
## 1. General summary of the issue

Every single example should form a new scenario, even inside an example set

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

Expected example output:

[code]

## 4.Current Behavior

Current example output:

[code]

## 5. Possible Solution

Pull Request will be provided very soon.

[2018-12-15 23:37] nohwnd commented on #1163
@Stephanevg

1) Yes I meant the call with -Name parameter.

2) Sorry, I thought we are returning string from it not the help object... 😔 I see that you can fool the template by setting `$o.details.name`. But the aliases don't work, there is some type magic going on, and when I assing `$o.aliases = $foreach.aliases` then the type of object on `$o` and `$foreach` is different. Some adaption and proj

[2018-12-16 11:14] nohwnd commented on #394
We are filtering the messages in Output.ps1 to reduce the amount of clutter that you see when assertion fails, this is applied to the Describe failures as well so when there is internal failure the output is shortened and throws away useful info. Ideally we would distinguish between assertion failure, user-code failure and framework failure.

[2018-12-16 11:18] nohwnd commented on #398
I don't think we should automock, it would bring a lot of issues and generating stubs is quite easy (and it's better than mocking against parameterless functions).  What we should do is add the ability to relax the types that are emitted on the mock, becasue often (in unit tests) they are not needed and only bring problems.

[2018-12-16 11:20] nohwnd commented on #407
I never got back to this, if anyone wants to pick it up they are free to do so, but I likely won't implement it myself.

[2018-12-16 11:47] nohwnd commented on #496
How about we simply look at the value of `$Name` as if it is more than 1 line and `$ScriptBlock` is missing we fail with message that suggests that user might have forgotten to provide `-Name`? Like this:

[code]
![image](https://user-images.githubusercontent.com/5735905/50053176-8f8dbe80-0130-11e9-9e4b-05d0578d2813.png)

[2018-12-16 11:57] nohwnd commented on #524
I am going to close this, if we decide to do it in the future then we can open a new issue, but at the moment I don't see that this would happen, and I don't want to support the added complexity in the code. So this issue would just hang around as it did till now.

I don't see enough benefits in moving to any other language to warrant the complexity it would add. There are just a few error message

[2018-12-16 11:57] #524 closed

[2018-12-16 12:05] nohwnd commented on #532
I think this should be relatively simple to add to the code that prints `Should -Be` output of strings. There is arrow that points to the difference, so the output needs to be shortened around that. We should either detect how wide the window is, or (probably better) set some maximum length for the output.

@vors  Do I understand it correctly that this:
[code]

Would become this:
[code]

[2018-12-16 12:07] nohwnd commented on #557
This was fixed by #1047

[2018-12-16 12:07] #557 closed

[2018-12-16 12:09] nohwnd commented on #571
Been using the current NUnitXml output with AppVeyor without any problems, I think this can be safely closed.

[2018-12-16 12:09] #571 closed

[2018-12-16 12:34] nohwnd commented on #574
This is admittedly opionionated, and has been shown how to overcome this limitation. If we add parameters to mock parameter filters then you can push your desired state in the mock easily and don't need any special support for this. Same thing could be done with reference object I think.

[2018-12-16 12:34] #574 closed

[2018-12-16 13:01] nohwnd commented on #598
@SphenicPaul Thanks for reporting back, if you still experiencing this issue please feel free to re-open it and we can come up with a simple repro together. I also recently merged #1169 that allows you to print in which scope which block executes because Pester jump between scopes a lot and so it is hard to see what variables  should and should not be available to the test code.

[2018-12-16 13:01] #598 closed

[2018-12-16 13:17] nohwnd commented on #601
Will mark this as Help wanted:
- Implementer should go for Option 2.
- The `-SafeParameter` name could be improved, please propose one. `-UntypeParameter`?
- I think the parameter should take `-like` wildcards so '*' is possible for making all parameters untyped.
- I think there will be similar functionality `-SkipParameter` (`-UndefineParameter`?) that will allow you to skip parameters that other

[2018-12-16 13:33] nohwnd commented on #608
This feature seems nice, but I think the naming is not very obvious and I don't like the parameter boom required for Any, All, Some, EveryThird. I would add `-TagFilter` that takes scriptblock, and is  provided `$tags` automatic variable for every taggable item. Thinking about it it could even be `-BlockFilter` and `-TestFilter` (with better names) that would get It and Describe/Context objects to

[2018-12-16 13:53] nohwnd commented on #636
The pull request template would be also nice, the contribution guide seems comprehensive enough as is.

[2018-12-16 13:55] nohwnd commented on #640
I originally re-opened this so I can track the conversation better, but there was nothing more to discuss. I am closing it again.

[2018-12-16 13:55] #640 closed

[2018-12-16 14:03] nohwnd commented on #653
This does not seem practical anymore. Most Mocking I do I do by defining a single mock, and asserting on it with filter, so the amount of duplicated info is minimal. Closing.

[2018-12-16 14:03] #653 closed

[2018-12-16 14:14] nohwnd commented on #663
This can be worked around, and since then we are adding more xml tags above the test-suite I think. Closing this because OP needs no fix .

[2018-12-16 14:14] #663 closed

[2018-12-16 14:19] nohwnd commented on #679
This was recently merge in #972 and #1159. You can provide `-Script` parameter to `Invoke-Pester` to run without files. I will probably rename the parameter before release to something less confusing, because now it looks like `-Script` is what you provide the test files. Probably `-ScriptBlock` or `-Text` or something like that. See release notes of the next release. :)

[2018-12-16 14:19] #679 closed

[2018-12-16 14:30] nohwnd commented on #694
This needs a better proposal, working out the details and understanding the practicality and limitations. If you are interested in pursuing this further please comment below and we can re-open this.

[2018-12-16 14:30] #694 closed

[2018-12-16 14:38] nohwnd commented on #706
@SeeminglyScience I totally missed that :/ Have you since been using it? Did it prove useful? Any new known limitations?

Also I talked with SteveL and they are open to enabling Pester to mock better, but of course we need to work out the details, write a proposal and have it approved. Imho there will be a lot of concerns of security, because we need to pretty much hook pester before any keyword o

[2018-12-16 14:40] nohwnd commented on #720
Anyone interested in implementing this or should we keep it as is and close it?

[2018-12-16 14:43] nohwnd commented on #727
@Thilas after #1120 and #1920 was merged do you think this is still an issue? Could you test it maybe? :)  (The changes are part of master, but are not released yet.)

[2018-12-16 14:44] nohwnd commented on #731
@Thilas Any insight on this? Just trying since you've done great work on the jacoco output.

[2018-12-16 14:58] nohwnd commented on #734
I think it is reasonable to allow the validation to be skipped, similarly to supressing the type in #601 it has similar advantages and disadvantages. I will mark this as Help wanted, the implementer should add a parameter to skip validation on a given parameter, ideally using `-like` wildcards.

[2018-12-16 15:01] nohwnd commented on #398
Relaxing the parameter type of mock is covered by #601 stubbing methods can be done externally, as well as generating a function without any signature, closing this because I won't be adding automocking and the other concerns are hopefully covered in the other issues. Thanks for the discussion and sharing your experience.

[2018-12-16 15:01] #398 closed

[2018-12-16 15:31] nohwnd commented on #754
There is no branching model and there is none needed at the moment. Most patches come from PRs and should be provided as PRs from topic branches. The process of contributing is described in the contributing page and we don't support two versions at the same time so single master is okay. If the need arises I know who to get in touch with. :)

[2018-12-16 15:31] #754 closed

[2018-12-16 15:32] nohwnd commented on #754
@Jaykul Oneflow looks good, I reviewed it but I don't commit to any branching model at the moment :)

[2018-12-16 15:33] nohwnd commented on #761
@splatteredbits Please re-open if this is still an issue for you.

[2018-12-16 15:33] #761 closed

[2018-12-16 15:37] nohwnd commented on #826
This is working as inteded, I still think the current default is how it should behave.

[2018-12-16 15:37] #826 closed

[2018-12-16 15:39] nohwnd commented on #851
This needs some good and simple examples, and would make nice article for someones blog article.

[2018-12-16 15:41] nohwnd commented on #854
There is nothing Pester should do to solve this, because this is external to it and removing `-TestCases` is not an option.

[2018-12-16 15:41] #854 closed

[2018-12-16 15:44] nohwnd commented on #855
Note to self, which test results should be available? And how is Pending different from Inconclusive? Should both be kept?

[2018-12-16 15:57] nohwnd commented on #862
This might be complimentary #1158 and #1162 where we could explicitly provide context to the scriptblock . This would possibly simplify testing among scopes, and would not require the user to understand in which scope the scriptblock is invoking, because then we would simply invoke it in the most logical scope, and not in the most practical scope (eg. `Assert-MockCalled -ModuleName A -ParameterFil

[2018-12-16 16:05] nohwnd commented on #888
@it-praktyk will release the version 3 one last time if I figure out how to pack it and release it and then I close this.

[2018-12-16 16:14] nohwnd commented on #894
@brantb I am trying to figure out a way to process the predicate in a way that returns more info without the user having to do anything special either by rewriting the ast or doing some replacements via regex. Will continue the discussion in #376 join there please if you want to follow up :)

[2018-12-16 16:14] #894 closed

[2018-12-16 16:32] nohwnd commented on #930
I don't think we should assume anything about the names, duplicate names are possibly valid in some use cases, instead we should record the position of the test in the file and the full path and that would make the test uniquely identified.

[2018-12-16 16:34] nohwnd commented on #960
This functionality will be published as `Get-ShouldOperator`.

[2018-12-16 16:34] #960 closed

[2018-12-16 16:38] nohwnd commented on #967
The output is validated against the 2.5 schema that is included in the repo. There are tasks that propose the update to NUnit 3.0 e.g. #1087 that can be implemented as a new formatter. I don't see any action that needs to be taken here.

[2018-12-16 16:38] #967 closed

[2018-12-16 16:41] nohwnd commented on #977
@heaths are you still interested in implementing this?  If so please re-open this. At the moment it seems others are happy with NUnit and JaCoCo outputs but more formatters will be welcome.

[2018-12-16 16:41] #977 closed

[2018-12-16 16:43] nohwnd commented on #979
Note to self: I am considering making the blocks a parameter on the respective keywords. That way we don't have to parse it (even if we could) and you can still place them before and after your block/test body, or both before it.

[2018-12-16 16:45] nohwnd commented on #980
This should be easy to solve when #601 is implemented.

[2018-12-16 16:59] mklement0 commented on #930
@nohwnd: What use cases require support for duplicate names? (There may be legitimate ones, I just can't think of any).

[2018-12-16 17:43] nohwnd commented on #983
@SteveL-MSFT if you have any proposals  how to implement this please let me know and we can re-open this. I don't know about a way that would allow me to run code and pre-emptively cancel it without moving it into a runspace/job. Runinng it in the same thread does not work because it runs synchronously as shown in the previous post. Maybe I am missing something?

[2018-12-16 17:43] #983 closed

[2018-12-16 17:44] nohwnd commented on #989
@Thilas sorry for bumping you again, but is this by any chance done in the recent changes to CC?

[2018-12-16 17:50] nohwnd commented on #1003
Marked this as Help wanted. Implementers please revert back to use `-cnotlike` to accomodate the requeste and avoid breaking change.

[2018-12-16 17:51] nohwnd commented on #1004
I think the post should cover most of what you want. If there are more questions either ping me on twitter/slack or re-open this issue. 😊

[2018-12-16 17:51] #1004 closed

[2018-12-16 17:53] nohwnd commented on #1007
This is related to #601 where we want to relax the types. This would remove (rename?) the parameters to avoid conflicts.

[2018-12-16 18:03] nohwnd commented on #1008
@fschumann1211 Frank if this is stull issue please reopen this.

[2018-12-16 18:03] #1008 closed

[2018-12-16 18:05] nohwnd commented on #1014
I like it as well. I think skipping *.tests.ps1 files is a good default. Marking this as help wanted, possible implementer should check that tests can be included if needed.

[2018-12-16 18:10] vors commented on #532
The problem is better illustrated by this example. Notice how the wrapping is hard to follow

[code]

![image](https://user-images.githubusercontent.com/816680/50057105-9f020d00-011a-11e9-9b28-54171743b44c.png)

In xUnit it's done very good: it always uses same length for the ellipses and only deletes the same context, so the final result is representative (I think it also includes the offsets aft

[2018-12-16 18:30] nohwnd commented on #1028
Marked this as help wanted. Code coverage works by putting breakpoint on a "line" automaticaly and checking if it was hit. It's possible that breakpoint cannot be set in that place or is not set at all.

[2018-12-16 18:32] nohwnd commented on #1043
Marked this as Help wanted. The above description is accurate. We just need to define more aliases for the mock. This is potentially breaking change, but hopefully not.

[2018-12-16 18:39] nohwnd commented on #1047
This issue is not limited to only Mocks and non-existing command, there are also environment variables that are defined on one system and not the other, paths, case sensitivity issues etc. Testing code cross-platform is complex and this complexity should not hide in Mock. This proposal covers only one aspect in a way that does not align with Mocks behavior that does not permit mocking someting tha

[2018-12-16 18:39] #1047 closed

[2018-12-16 18:43] nohwnd commented on #1050
This was merged.

[2018-12-16 18:43] #1050 closed

[2018-12-16 18:45] nohwnd commented on #1053
Marked this as Help Wanted, the problem should be solved by adding appropite regex to Output.ps1 where the ErrorLines are filtered.

[2018-12-16 18:56] nohwnd commented on #1064
It does.

[2018-12-16 18:56] #1064 closed

[2018-12-16 18:56] #1069 closed

[2018-12-16 19:02] nohwnd commented on #1070
Threre was also a weird bug where `Test-Path` on `(Get-PSDrive -name TestDrive).Root`  would return $false for the path, but `Get-PSDrive` on line above and below the `Test-Path` would return the drive... Can we still reproduce this?  We could test the drive by checking it exists, but that check is 2 times slower, so that's at least +10ms per block.

[2018-12-16 19:04] it-praktyk commented on #720
I'll try to do that.

The related issue
https://github.com/PowerShell/platyPS/issues/371

Wojciech Sciesinski

________________________________
From: Jakub Jareš <notifications@github.com>
Sent: Sunday, December 16, 2018 2:40:26 PM
To: pester/Pester
Cc: Wojciech Sciesinski; Comment
Subject: Re: [pester/Pester] Move help to PlatyPS and generate pages of wiki based on it too (#720)

Anyone intereste

[2018-12-16 19:05] nohwnd commented on #1071
I saw that gherkin is 1) making it's own module for every scenario to give it clean scope, and also it is invoking scripts in "weird" scopes, #1162 I also wrote some instrumenation to debug scope (session state) related issues, it's described in the linked issue. Hopefully it will help you debug it.

[2018-12-16 19:07] michalporeba commented on #1004
I have done a lot since then and somehow forgot about this ticket. The post didn't solve the problem but I found other ways to work about that limitation. I'm good with closing this ticket. I plan to review some of the other open tickets when I'm off work for the last two weeks of the year.

[2018-12-16 19:11] nohwnd commented on #1087
This migration should also address the problem raised in #1083 , should the fail be reported with `Failed` or `Failure`?

[2018-12-16 19:11] nohwnd commented on #1083
Should be solved in related issue. Closing this. Thanks for the anlysis.

[2018-12-16 19:11] #1083 closed

[2018-12-16 19:13] nohwnd commented on #1086
Yes this is how it works. Thanks for solving this @mikeclayton

[2018-12-16 19:13] #1086 closed

[2018-12-16 19:13] michalporeba commented on #1025
Hello, so what I ended using the 4 custom assertions from the comment above a lot.
Of course there is the workaround but I find it much easier when I'm writing tests for my environmental checks to be able to do
`| Should -Pass`
`| Should -Skip`
`| Should -Fail`
`| Should -BeInconclusive`

I don't know if there is any appetite (or need) for it but I'd be happy to contribute those if anybody else co

[2018-12-16 19:13] nohwnd commented on #1091
Seems that there is nothing I can do about this. If there is please re-open this. Thank you.

[2018-12-16 19:13] #1091 closed

[2018-12-16 19:15] nohwnd commented on #1096
@SamPosh if you need more help please re-open this issue.

[2018-12-16 19:15] #1096 closed

[2018-12-16 19:16] nohwnd commented on #1099
@fourpastmidnight Could you have a look please?

[2018-12-16 19:20] nohwnd commented on #1101
The errors are most likely filtered out by https://github.com/pester/Pester/blob/master/Functions/Output.ps1#L475 if you get rid of the pipeline it won't limit the output and will print the internals of Pester as well. Could you try that first to see if it gives relevant info please?

[2018-12-16 19:30] nohwnd commented on #1118
Related to #1160 , we most likely won't support running Should in the filters. Let's continue the discussion in  a single issue #1160

[2018-12-16 19:30] #1118 closed

[2018-12-16 19:30] bergmeister commented on #1101
@nohwnd  OK, thanks, this is what I get now as an output:
[code]

[2018-12-16 19:33] nohwnd commented on #1128
Mock is generating param block for the parameter filter, so it should also resolve which aliases are there and define them as well to solve this.

[2018-12-16 19:40] nohwnd commented on #1137
Dynamic params were always a bit problematic, if you have a PR ready then PR away :)

[2018-12-16 19:41] nohwnd commented on #1145
The workaround should be enough, if you need more assistance please reopen this issue of file a new one.

[2018-12-16 19:41] #1145 closed

[2018-12-16 19:42] nohwnd commented on #1148
@RussellMaycock If you still need assistance, please re-open this issue and help us understand what you are doing.

[2018-12-16 19:42] #1148 closed

[2018-12-16 19:43] nohwnd commented on #1154
This problem should lie in the Format.psm1 module where the formatting is defined.

[2018-12-16 19:51] nohwnd commented on #1160
Another possibility would be ASTing the script and rewriting the ast to log the evaluation, or replacing the operators with functions automatically and respecting the operator precedence.

nohwnd [1:39 PM]
Theoretically we could parse it and rewrite it to add output to it withotu changing the result, but that would be difficult and I don't want to figure out all the edge cases, nor unbind the scri

[2018-12-16 19:55] nohwnd commented on #1101
ok, that did not help at all 🤣

[2018-12-16 19:59] nohwnd commented on #930
@mklement0 hard to say, environment tests most likely. :) I don't want to assume there are none and add restrictions that I don't know will hold. The uniqueness problem could be solved with the path and location in file, or we can look for a different solution. :)

[2018-12-16 20:31] fourpastmidnight commented on #1071
@nohwnd Note that this issue is exactly the reason why I use `$Script:Context` in all of my step definition script blocks--so that the variables I declare are definitely available in future blocks, because I ran across instances where they were not (though, I don't remember the particulars since I have found this method to "work"). I do like the mention of using a `BeforeEachScenario` when I came

[2018-12-16 20:41] fourpastmidnight commented on #1124
@nohwnd I agree, which is why I added a new parameter to `Invoke-Gherkin` to control this. However, I think (actually, I'm pretty sure) my attempt to provide "pretty-printed" DocStrings and tables in the console broke the VS Code problem matcher--so I'll need to find a way to fix that--and failing that, perhaps this will just be one of those unfortunate things where the two options are mutually ex

[2018-12-16 22:21] Thilas commented on #731
@DWSR, I guess your are talking about [PowerShell classes](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_classes), right?

@nohwnd, if so, from what I saw, it would be fairly easy to add the class name of a given command. Then we just have to determine how to render those in the JaCoCo output since we are already using the "class" level of JaCoCo format t

[2018-12-16 22:49] Thilas commented on #989
@Contramatter, there is an easy way to do such recursve code coverage. Here is how I'm doing it:

[code]

[2018-12-16 23:43] Bradmiller72 commented on #1017
@nohwnd I actually figured out this problem a while back and forgot to respond. The issue was caused by our function importing local modules that were attempting to be mocked. Removing that fixed all the issues that I had. Thanks.

[2018-12-17 00:05] fourpastmidnight commented on #1165
I really like the changes in this PR. Adding in the languages file, in addition to getting us support for feature files in different languages, also gets us the ability to use the "Business Need" and "Ability" feature keyword synonyms and the "Example" scenario keyword synonym (which I myself was going to add!).

There are only two things which I would like to potentially see changed:

1. The loca

[2018-12-17 00:12] fourpastmidnight commented on #1165
P.S. No matter what we decide on my proposed changes above, I would merge this before #1168.

[2018-12-17 00:14] fourpastmidnight commented on #1165
I deleted my comments here, because they belonged on the Pull Request. Sorry, but I had a browser tab mix up.

[2018-12-17 05:05] fourpastmidnight commented on #1099
What you're attempting to do using the Gherkin language is not in the spirit of Behavioral Driven Design, and is therefore not possible. But please read on before giving up.

The Gherkin language is a Domain Specific Language which aims to provide an idiomatic way of expressing the given state of a system, an action taken against the system, and the behavior of the system in response to the action

[2018-12-17 09:10] nohwnd commented on #727
@Thilas Thanks.
Marked this as help wanted. The goal here would be to test this to see if we can get all the lines to turn green somehow.

[2018-12-17 09:30] #1164 closed

[2018-12-17 09:37] nohwnd commented on #731
@Thilas  I think covering class methods, static methods and constructors should be good for now if that can be achieved. The properties don't allow custom getters and setters so there is nothing to test on them. Could you have a look on it please? I think the changes with the files being put on the class level come in your recent changes, and those haven't been released so changes to acoomodate po

[2018-12-17 09:40] nohwnd commented on #1017
@Bradmiller72 Thanks for the info.

[2018-12-17 09:55] nohwnd commented on #989
@Contramatter  Okay that should solve it, if not please reopen :)

[2018-12-17 09:55] #989 closed

[2018-12-17 14:04] Thilas commented on #731
@nohwnd, I wasn't clear about this but classes' coverage is already supported. To my understanding, it's just that Pester does not provide the related class name of hit/missed commands with the coverage info in order to compute coverage per class.

So the only thing to do here would be to add this optional "Class" information similarly to the "Function" property already provided. And to add those

[2018-12-17 15:44] cdhunt commented on #603
I no longer work on the project where this was used. It was useful for the two specific examples, but I don't think I would build any PowerShell code today that would require similar mocking.

[2018-12-17 16:36] Jaykul commented on #1124
It makes sense to me that `-IncludeVSCodeMarker` would be sensitive to the extra output. Of course, if you're making it so that you output the details by default, and the switch is to hide it, then you could just have `-IncludeVSCodeMarker` _also_ hide it ...

[2018-12-17 18:14] ChrisLynchHPE commented on #1070
I have not seen this happen in quite a long time.  I am using 4.0.4 on my Windows 10 worker VM.  I think this issue can be closed.

[2018-12-17 21:36] nohwnd commented on #1070
Ok.

[2018-12-17 21:36] #1070 closed

[2018-12-17 21:38] nohwnd commented on #977
I totally understand. Keeping the drive is a difficult thing to do :)

[2018-12-18 07:21] nohwnd commented on #731
@Thilas okay, sounds like a plan. Would you be interested in doing that, or should I mark this as help wanted?

[2018-12-18 08:48] Thilas commented on #731
I'd suggest to mark it as help wanted for now. I'll see if I find time to
work on it.

Le mar. 18 déc. 2018 à 08:21, Jakub Jareš <notifications@github.com> a
écrit :

[2018-12-18 09:35] rdbartram commented on #1087
I had this as part of my TestCase Output PR but then removed it for separation of concern. As soon as I get the other PR in and I know that I can get a PR into pester, I'll create the next one. The code is still on my machine working internally

[2018-12-18 12:27] cgnuechtel opened #1173 "Gherkin: Steps which should be skipped are failing"
## 1. General summary of the issue

Commit [c0982f0](https://github.com/pester/Pester/commit/c0982f0d0ae74774df2429d9d04b02fa0c1ca25f#diff-85932edb5ac6c1185e384ef28e443ec8L1) removed the function `New-InconclusiveErrorRecord` which is required by `Gherkin.ps1`

## 2. Describe Your Environment

Pester version     : 4.4.3 D:\Documents\WindowsPowerShell\Modules\Pester\Pester.psm1
PowerShell version :

[2018-12-18 12:35] cgnuechtel commented on #1173
@michalporeba and @nohwnd
Please look at the code again

[2018-12-18 12:37] cgnuechtel commented on #1173
The function `New-InconclusiveErrorRecord`is invoked [here](https://github.com/pester/Pester/blob/master/Functions/Gherkin.ps1#L699)

[2018-12-18 17:15] cgnuechtel commented on #360
@Xoph, @nohwnd and @Jaykul

For Gherkin I suggest the implementation above (commit [a45c887](https://github.com/cgnuechtel/Pester/commit/a45c887bb1c14c2ff3e7b5ceec7bb1171a2db354)) which also includes a [fix](https://github.com/cgnuechtel/Pester/commit/bf330e35b103b3e519320d793523df0d70b0e279) for #1173 (pull request #1174).

Shall I create a pull request for commit a45c887 too?

[2018-12-20 11:55] ffeldhaus commented on #1101
I also see this issues showing up in AppVeyor Pester tests after the PowerShell 6.1 update in the recent Ubuntu image update.

[2018-12-20 12:29] nohwnd opened #1177 "Build on PowerShell 4"
@bergmeister When you are done with Assert, please setup the AppVeyor build to use WMF 4 here as well. 😊 I would otherwise just copy your code anyway. All other versions should already be covered.

[2018-12-20 13:01] nohwnd commented on #1162
@fourpastmidnight I'll try to explain this in more detail. There are session states and scopes, I might be using the words interchanably in the above description of the problem, so here is a more precise definition.

Session state is like a silo in which all variables, functions and other "resources" reside, and that is attached to one place such as module.  -> An example of having two session sta

[2018-12-20 13:58] fourpastmidnight commented on #1162
@nohwnd: Oh wow! I could see the session states being bound/unbound/added/removed and knew they had something to do with PowerShell scopes, but I hadn't had time to look into it further with the upcoming holiday here in the States. But your explanation was clear, so thank you!

I missed the fact that Gherkin was creating so many separate session states, but my investigation was leading me there. W

[2018-12-20 16:55] bergmeister commented on #1101
The error comes from [here](https://github.com/PowerShell/PowerShell/blob/master/src/System.Management.Automation/engine/VariableAttributeCollection.cs#L142) in PowerShell in case that helps as it could be an integration bug with PowerShell as well.

[2018-12-20 19:25] cgnuechtel opened #1179 "Gherkin: bloated NUnit test report"
## 1. General summary of the issue

The created NUnit-Test report after `Invoke-Gherkin` has unnecessary nested elements.
Additionally the order is wrong when steps are used repeatedly.

The reason is the following code in `Gherkin.ps1`:

[code]

`$Source` is used as `ParameterizedSuiteName` to group the test results.

This is problematic for two reasons:

- It introduces a new nested `test-suite/

[2018-12-21 11:41] #1177 closed

[2018-12-21 14:59] bergmeister opened #1181 "Is Pester thread safe? Or bug in 4.5.0-beta1?"
I was running a long `Pester` run in the background and decided to run another suite (in another PowerShell session) a few times (to see if/why one test suite sporadically fails). I sometimes got this error and was wondering if Pester is supposed to be thread safe? My test suite was not using anything like BeforeEach, BeforeAll, AfterEach, AfterAll,mocking, etc.
I am using PowerShell 5.1 and Peste

[2018-12-21 16:32] ChrisLGardner commented on #1014
I'll try to pick this up in the next few days, sounds like a fun challenge.

[2018-12-22 15:18] nohwnd commented on #1181
The drive is set to Global and always was, so it should be process isolated but not thread safe. This is a new feature so I might make some error when I fixed the implementation in the pull request.

[2018-12-23 07:10] nvarscar opened #1182 "Ubuntu Linux: Exception calling "AddTestResult" with "8" argument(s)"
T## 1. General summary of the issue
**It** block throws an error after successful completion on Linux Ubuntu environment in Appveyor:
[code]
It runs perfectly fine on Windows.

## 2. Describe Your Environment
Operating System, Pester version, and PowerShell version:
Ubuntu 18.04 LTS
PowerShell Core 6.1.1
Latest Pester installed from PSGallery

The error occurs during Appveyor CI build, that's the

[2018-12-23 11:43] nohwnd commented on #1182
Thanks for reporting this seems to affect only Ubuntu on AppVeyor, all my builds in docker and on Travis run just fine. We are already trying to figure out the error in #1101

[2018-12-23 20:31] nvarscar commented on #1182
Okay, got it. I'm digging through the logs now, there are actually proper test results in the `$error` array after all. Tests are indeed failing, but the error thrown is not the one that is expected.
Thanks for looking into it.

[2018-12-24 00:06] it-praktyk commented on #636
The pull request template is currently on place - https://raw.githubusercontent.com/pester/Pester/master/.github/PULL_REQUEST_TEMPLATE.md

[2018-12-24 07:57] #636 closed

[2018-12-24 07:57] nohwnd commented on #636
Ok, closing :)

[2018-12-28 20:16] Thilas commented on #731
@nohwnd, I finally found some time to work on this. Could you please review #1187?

[2018-12-29 08:04] Caoxuyang opened #1188 "Can I use mock to overwrite Context, in order to implement a BeforeEach for every context?"
Hi I would like a BeforeEach for every context in my test script.
So I wonder Can I do something like:
Mock Context{
 //preserving all the context codes

 //then add my additional codes
}

Can I do this in this way?

[2018-12-29 13:49] ffeldhaus commented on #1101
I was able to reproduce it while running Appveyor with SSH access using a the following very simple test:
[code]

[code]

This is the PSVersionTable of the AppVeyor image
[code]

Without the catch block, it does not throw an error. I also confirmed that running the same code on Mac OS X with the same PowerShell version does not result in the issue and instead shows the exception thrown inside the

[2018-12-29 14:54] cgnuechtel commented on #360
I would like to suggest the following:

After pull request #1174 is merged into the master, I will start another pull request with the code in [a45c887](https://github.com/cgnuechtel/Pester/commit/a45c887bb1c14c2ff3e7b5ceec7bb1171a2db354#diff-b2a14c8f06c9efae3165831476567b08).

[2018-12-29 15:06] cgnuechtel commented on #1129
@fourpastmidnight You already working on [that](https://github.com/fourpastmidnight/Pester/commits/skip-rest-of-scenario-steps-after-first-non-passing-step), correctly?
Will there be any pull request soon?

(Maybe you are able to look at my very simple code above? That simple stuff is working in practice ;-))

[2018-12-29 15:54] Thilas commented on #727
@nohwnd, working on other PR, I figured out it was not that complex to do this so here is a new PR: #1190.

[2018-12-29 17:00] fourpastmidnight commented on #1129
Actually, I reread The Cucumber Book with regards to this, and I’m not sure that I was correct in my assertions in this issue. I’ve been silently mulling over this issue trying to decide if anything needs to be done.

My current thinking is that the should definitely be an option to specify the location(s) (paths) to search for step definition files. I have done a naïve implementation, but it need

[2018-12-29 19:53] ffeldhaus commented on #1101
I tracked down the issue to Hashtable properties being case sensitive in the Appveyor Ubuntu (16.04) and Ubuntu1804 (18.04) images. I couldn't recreate the issue with the official Ubuntu docker images and the official steps from Microsoft to install PowerShell.

The following highlights the issue in the Appveyor images:
[code]

Pester defines the [`result` as lowercase property in a Hashtable](htt

[2018-12-29 20:02] FeodorFitsner commented on #1101
I'm not sure the problem is AppVeyor-specific though. These are the results of the same test on my local WSL with Ubuntu 18.04 and PS 6.1.1:

![image](https://user-images.githubusercontent.com/5041459/50541774-8f92b300-0b61-11e9-845c-6cf2dad49256.png)

[2018-12-29 20:03] ffeldhaus commented on #1101
The issue is very likely caused by https://github.com/PowerShell/PowerShell/issues/7761

[2018-12-29 20:04] FeodorFitsner commented on #1101
...and HashTable experiment on the same WSL:

![image](https://user-images.githubusercontent.com/5041459/50541786-cd8fd700-0b61-11e9-9eb5-68b1144e7feb.png)

Looks like a regression (or new behavior) in PS Core?

[2018-12-29 20:38] bergmeister commented on #1181
Ok, thanks for the info

[2018-12-29 21:36] fireflycons commented on #632
Late comer to the party here, but it seems that the time reported for the first test in any context includes all the time required to set up the describe, context, anything else that is initialised prior to the first 'It'

[2018-12-31 10:32] bergmeister commented on #1101
Today I tried setting the environment variable LANG in AppVeyor to en-us.UTF-8, which did not help, this means that either the environment variable in the yaml gets set too late before pwsh starts or that there is another underlying issue...

[2018-12-31 18:01] Stephanevg opened #1192 "PR Discussion: Get-PesterTests"
Hi,

I would like to discuss a potential adition to the Pester framework, which could result in a PR, soon.
I have opened this issue to see if this would be a good idea to add it in the Pester module.

Indeed, for my module PSClassUtils I have written the a cmdlet named [Write-CUPesterTests](https://github.com/Stephanevg/PSClassUtils/blob/Feature_ConvertToPesterTests/PSClassUtils/Functions/Public/

[2019-01-01 21:37] bergmeister commented on #1101
I can confirm that changing the Pester hashtable access in the functions that @ffeldhaus points, it fixes the problem, I opened a PR in Pester since a publishing an updated Version of Pester might be quicker until the proper fix gets deployed in PowerShell 6.2

[2019-01-01 23:59] fflaten commented on #1128
Looks like problem is in `Test-ParameterFilter` which tests ever Mock to verify if the filter matches. The parameter `$ScriptBlock`, each Mock's parameterfilter, is unmodified and using the alias, while `$BoundParameters`, the parameters from the Mock call, has had the `Last`-alias resolved to the correct parameter name. This makes the filter-test fail because you get the following scenario:

[cod

[2019-01-02 19:33] davinci26 opened #1194 "Feature: Allow users to specify custom output format"
Hey everyone,

Many thanks for your amazing product! I would like to propose a new feature to Pester

### 1. General summary of the issue
Allow users to specify a custom `$OutputFormat` function when invoking Pester. The invocation will look something like:
[code]
### 2. Possible Solution

This feature will allow the user to specify a custom output format. This can be achieved with the following c

[2019-01-02 20:21] dlwyatt commented on #1194
I suspect you can already accomplish this by using the -PassThru parameter, and then sending that object on to your function. That would be more resilient to changes in Pester’s internals as well.

[2019-01-03 17:18] sassdawe commented on #411
How can one reopen an issue?

My use case would be to include the information of the execution environment when the script generates it's own logs. Without any extra parameter.
`if ( $isPester ) { Write-Log "this is a test" }`

I hope this makes sense.

[2019-01-03 17:31] fflaten commented on #1014
@ChrisLGardner Are you still working on this? Had some spare time during my vacation and played with this while getting to know the Pester-module. I won't submit anything if you're already working on it. :)

[2019-01-03 17:44] webguynj commented on #999
Seems that even with this release that Pester is complaining about the signed certificate this way:
`S C:\Windows\system32> Install-Module -Name Pester -Force -RequiredVersion 4.4.3
PackageManagement\Install-Package : A Microsoft-signed module named 'Pester' with version '3.4.0' that was previously
installed conflicts with the new module 'Pester' from publisher 'CN=DigiCert Assured ID Root CA, OU=

[2019-01-03 18:01] bergmeister commented on #999
Hmm, yes, but this is just PowerShellGet being a jerk as usual  if you run `Install-Module PowerShellGet -Force` to update to a newer version of it, then it should be better

[2019-01-03 18:53] nohwnd commented on #411
@sassdawe you can reopen it if you are the author of that issue. Please start a new issue and link to this one :)

[2019-01-03 18:54] FeodorFitsner commented on #1101
Yep, the language should be set "higher" in the process hierarchy. We are working on build agent update. Thanks for your patience guys.

[2019-01-03 19:09] nohwnd commented on #1101
I just published the referenced PR as 4.4.4 (merged into master and cherrypicked to branch based on 4.4.3). 4.4.4 is the last stable version so AppVeyor users should be getting it unless they specified a version explicitly. Great work guys!

Could someone test it out please ?  @bergmeister ?

[2019-01-03 21:15] fourpastmidnight commented on #1167
I'm actually working on this already. Instead of printing out new scenarios for each example, when running Gherkin-style tests, the examples table should be output to the console. See PR #1142. The problem currently is that when displaying the tables to the console, it breaks the VS Code problem matcher. It's not a _huge_ deal only because I provided a switch that must be specified to "turn on" pr

[2019-01-03 21:53] ChrisLGardner commented on #1014
I got distracted by other things and haven't had a chance to look at it. Feel free to submit a PR if you've something working.
________________________________
From: Frode Flaten <notifications@github.com>
Sent: Thursday, January 3, 2019 5:31:15 PM
To: pester/Pester
Cc: Chris Gardner; Mention
Subject: Re: [pester/Pester] Let CodeCoverage exclude Pester Tests by default (#1014)

@ChrisLGardner<http

[2019-01-03 22:16] cgnuechtel commented on #1167
@fourpastmidnight I am not sure, if we are talking about the same issue. The issue described here is not of output primary. Instead it is _execution_ problem.

Every single example should form a new scenario, but currently an example-set forms one big scenario.

For example: If you have a scenario outline with two steps, one example-set and three examples, the current implementation creates one sc

[2019-01-03 23:41] fourpastmidnight commented on #1167
I think we are talking about the same thing. The thing is, the way it’s output to the console is not correct. It is one scenario with multiple “test cases”. Even in the original Cucumber, what happened is each line in the table becomes parameters for an invocation of a step. All steps must pass for the scenario to pass. To better show this, it would be better for Pester to print the actual scenari

[2019-01-04 03:21] kilasuit commented on #999
you might actually need both `-SkipPublisherCheck` and `-Force` due to the way that the Publisher Check works

Or if you have Admin on your machine (or can get an admin to do this) then deleting the Pester 3.4.0 version completely from your system will get rid of that error completely ( though might need to take control from Trusted Installer account to do so IIRC)

[2019-01-04 08:48] nohwnd commented on #731
Merged the PR. Thanks!

[2019-01-04 08:48] #731 closed

[2019-01-04 08:54] nohwnd commented on #1188
You can do that, but it would be easier just to wrap the Context/Describe block in a function and implement the setup and teardown there:

[code]
[code]

[2019-01-04 10:22] nohwnd commented on #1192
Thanks for the proposal, but I have to reject it, sorry. I think you'd be wasting your time implementing this to completion. Parsing a Pester file is more complicated than that. The whole framework is based on the different blocks being functions nested in each other. So one can easily take an It/Describe/Context block and wrap it into a function, or even put it in a separate script and invoke tha

[2019-01-04 10:22] #1192 closed

[2019-01-04 10:37] nohwnd commented on #1194
@davinci26 yes, what @dlwyatt says is true. You can get the result object from Pester by specifying the `-PassThru` parameter to `Invoke-Pester`. This object is also used internally to produce the Nunit output. [Here](https://github.com/pester/Pester/blob/2dfb8a810a9bc8fdc02be2ec6ac9a6ec12705c2a/Pester.psm1#L1190) you can see that the $pester object is passed into a function and transformed to the

[2019-01-04 10:39] nohwnd commented on #1101
@bergmeister that sucks. Good luck solving it!

[2019-01-04 10:39] #1101 closed

[2019-01-04 10:44] #1179 closed

[2019-01-04 10:54] nohwnd commented on #1182
This is due to bug PowerShell 6.1 that makes Hashtables case sensitive on Linux, see #1101, and fixed by PR and released as 4.4.4 .

[2019-01-04 10:54] #1182 closed

[2019-01-04 10:59] #1140 closed

[2019-01-04 11:06] Thilas commented on #727
@nohwnd, I guess this issue can be closed now.

[2019-01-04 11:39] bergmeister commented on #1101
Thanks, I could solve it in the end. I re-ran Pester's test suite on that environment and it only showed me 3 test failures after my PR (before it was 10) and the gist seems to that Pester's mocking feature is not working in those environments (I guess again due to hashtable key casing mismatches either in Pester or PowerShell itself) but I am not using this feature so it is not a problem for me b

[2019-01-04 12:12] Stephanevg commented on #1192
Ok, I see. I thought I had something interesting for the framework here.
The global idea was just to parse simple pester tests indeed.

You answer made me curious:
@nohwnd you mentionned that it would be easier by executing it twice:
- Discover
- Execution

How would you actually run a pester test once, without really executing the code in it?
I am interested in the process, would you have an exam

[2019-01-04 13:07] cgnuechtel commented on #1167
@fourpastmidnight By the way: you have posted another [comment](https://github.com/pester/Pester/pull/1168#issuecomment-447690057) on #1168.

But the main point is, that I still thinking our changes are complementary 😉

Do I understand you correctly: you are talking about the output of tables in the context of a scenario?
I am talking about the execution of examples in the context of scenario outl

[2019-01-04 14:14] nohwnd commented on #999
Since `1.6.3` version of PowerShellGet There is exclusion for Pester and PSReadline (described in the referenced issue), so the `-SkipPublisherCheck` should not be needed. Unless you install Pester is not signed (before `4.4.3`) or you are using PowerShellGet that is older than `1.6.3`. In both cases I can only recommed updating.

To remove the previous built-in version of Pester from your system

[2019-01-04 14:16] nohwnd commented on #727
Should be fixed by #1190

[2019-01-04 14:16] #727 closed

[2019-01-04 14:43] nohwnd commented on #1192
@Stephanevg I do have a simple example. You simply run the code twice and take different paths when in discovery mode and when not in discovery mode.

[code]
In this code I run all the Describe blocks first and when I run It, it saves info about the test but does not invoke the associated scriptblock. On the second pass I invoke everything.

In here collecting the test data is kinda pointless, but

[2019-01-04 16:14] nohwnd commented on #1182
@nvarscar Chris @bergmeister and the others that participated are the ones you should thank. I just published it :)

[2019-01-04 17:30] fourpastmidnight commented on #1167
Actually, I stand corrected. You are right, there should be one scenario per example.

On pg 23 of _The Cucumber Book_, the following can be found:

Using (a slightly modified version of) the example found on pg. 22:

[code]

This is how Cucumber would display this in the console, modified to look as it _should_ be displayed by Pester in the console (I'm working on the status output, e.g. passed v

[2019-01-04 18:05] #1173 closed

[2019-01-04 18:50] Stephanevg commented on #1192
Hi @nohwnd Thanks for sharing your example and the underlying use case, this is pretty interesting :)

I imagine you are using this primarly for internal mechanisms, right? Are you planning to make this public in the module? Like, would a user be able to access the list of the pester tests via a global variable or a function or so?

Because my intent, was to offer that possiblity to the end user.

[2019-01-04 19:22] nohwnd commented on #1192
Once I get it to work I will initially keep it internal, to avoid publishing something that needs to be changed ofter. But if the model proves to be useful and stable I was thinking about giving the user access to the internal state (ideally as a readonly object, but I guess that there would be a lot of overhead to do that, so probably it will be a live object). I am not sure if you saw that, but

[2019-01-05 13:10] #1165 closed

[2019-01-05 15:09] nohwnd commented on #1188
@Caoxuyang please give it a try and re-open this issue if you need more help.

[2019-01-05 15:09] #1188 closed

[2019-01-05 15:10] nohwnd commented on #1163
@Stephanevg Still interested in implementing this?

[2019-01-05 16:11] nohwnd commented on #1181
Okay think I found it. First a simple repro:

[code]
Run this from two powershell sessions at the same time and wait. If you get no errors then try stopping and starting one of them, to trigger this issue the timing must be offset by some non-determined margin. Usually it does not take long to get failures.

The errors that you reported are a by-product of the logic, which imho all boils down to a

[2019-01-05 16:46] #1181 closed

[2019-01-05 17:21] nohwnd commented on #784
I want to revisit this, based on the usage of the command it should be possible to either pass the command  object as a parameter to a scriptblock invoked in user scope. e.g.:

[code]

Or if the code is called from a generated function, like Invoke-Mock we should be able to lookup Pester module and invoke the internal function via the `&($pesterModule) {}`.

I also experimented with dynamically pu

[2019-01-05 17:40] nohwnd commented on #578
If someone stumbles upon this a simpler (and safer) way is to put the variable directly into the Mock body:

[code]
Also make sure you specify the `-CommandType` correctly. Otherwise it will return the alias that Mock defined and will get into infinite loop.

[2019-01-05 18:00] nohwnd commented on #360
Fixed by #1198

[2019-01-05 18:48] bergmeister commented on #1181
Thanks for looking into it and also fixing it

[2019-01-05 22:52] cgnuechtel commented on #1129
In my opinion the feature files should be completely separated from the step implementations. Since step definitions are technical stuff which should not distract people while working on feature files.

So I would prefer the following structure:

[code]

In the company I am currently working we are using such a structure with an customized version of Pester. We are also using feature files for two

[2019-01-05 23:03] nohwnd commented on #1192
I think it would require traversing the object and making a copy of every value. Not very efficient.

[2019-01-05 23:35] fourpastmidnight commented on #1129
So, as much as possible, anything I do for Pester with respect to Gherkin style tests, I try to accomplish in the most “cucumber way” possible since, if you’ve used cucumber before, you won’t be surprised. As I previously started, when I went back and re-read _The Cucumber Book_, I think my original assertions in this issue were incorrect based on my reading into something that wasn’t there. Havin

[2019-01-06 12:59] fflaten commented on #487
For me, this would only add complexity to the code while being more confusing then helpful for multiple reasons:

- CodeCoverage doesn't search subfolders (unless you write ex. `*\*.ps1`), so your example would only search in the first folder. Combine that with using mulitple Script-paths as @dlwyatt mentioned and the confusion is complete.
- A lot of modules split tests and code in src and tests

[2019-01-06 13:40] nohwnd commented on #487
@fflaten good point. Removing this from help wanted, I think it's better to keep as is, but will revisit in future.

[2019-01-06 20:37] saladproblems commented on #1102
Does using PassThru not effectively do this already?

[2019-01-06 22:52] nohwnd commented on #1102
@saladproblems `-PassThru` is a parameter of `Invoke-Pester` when you run in what we call interactive mode (simply pressing F5 in a file, or running the code directly in console), you are not running via `Invoke-Pester` and so you cannot specify this parameter. But the parameter is not a problem. Knowing which describe is the last, so it should print the describe, is the problem.

[2019-01-07 07:58] #1014 closed

[2019-01-07 18:39] vexx32 opened #1200 "`Should -Be` doesn't enumerate some collections?"
## 1. General summary of the issue

Easiest shown by demonstration:

[code]

Note that `$a.Keys` is of type `[System.Collections.Hashtable+KeyCollection]`
When done with an `[ordered]` hashtable, the keys property is of type `[System.Collections.Specialized.OrderedDictionary+OrderedDictionaryKeyValueCollection]` but the same issue is reflected.

## 2. Describe Your Environment

## 3. Expected Beha

[2019-01-07 20:19] SeeminglyScience commented on #1160
@nohwnd Here's the demo I posted the other day

![](https://media.discordapp.net/attachments/447583684942364675/526423331076046848/unknown.png?width=862&height=469)

Still some things to iron out yet, but it's coming along.

[2019-01-07 20:54] fflaten commented on #1003
@nohwnd Shouldn't this be considered a breaking change if it's done without a new `-Wildcard` switch? Or did you agree on the switch? :)

 `Contains()` and `-cnotlike` do not behave the same. `Contains()` would accept `test` as a pattern, while `-*like` requires wildcards. The change was done 6 years ago, so there might be a lot of users who expect the current behaviour.

[code]

[2019-01-07 21:35] fflaten commented on #1154
`Format-Collection` works as expected, returning `@(@(1,2,3))`. However these lines are unrolling the outer array.

[code]

Demo:

[code]

Removing the subexpression-wrapper fixes it, but looking at the comment this is by design.

[2019-01-07 22:34] nohwnd commented on #1003
@fflaten kk, one more thing to do in Pester v5.

[2019-01-07 22:55] nohwnd commented on #1154
The problem here is that when you pass an array through the pipeline it enumerates it, but when you wrap the array into an extra array (by using `,`) then the pipeline will eat the wrapper array and pass the original array through the pipeline as single item. Inside Should we then check if we got a collection of we got a single item. Non-enumerated array is a single item, so it is not equal to the

[2019-01-07 23:22] fflaten commented on #1200
The behaviour is expected, but the error message is unfortunate.

`$a.Keys` is a `KeyCollection` with `System.Object` as basetype, not an array. `$b` however is converted into an array when it is enumerated as part of the pipeline to `Should`. When the expected value (`$a.Keys`) is sent to the assertion-function `ArraysAreEqual`, the param is expected as type `[object[]]`, which turns your KeyColl

[2019-01-08 00:53] RobDesideri opened #1201 "Updating Pester on Windows 10 1809 throw an exception"
## 1. General summary of the issue

Updating Pester by command described in the README document (`Install-Module -Name Pester -Force`), throw a `PublishersMismatch` exception:

`A Microsoft-signed module named 'Pester' with version '3.4.0' that was previously installed conflicts with the new module 'Pester' from publisher 'CN=DigiCert Assured ID Root CA, OU=www.digicert.com, O=DigiCert Inc, C=US'

[2019-01-08 06:43] Stephanevg commented on #1163
Hi @nohwnd
I still am, but this week is going to be busy one for me.
Also, I think I bumped into an issue, as 'simply' setting the name, actually didn't worked (If i remember correctly) - and that's why there is no PR yet ;)

I'll look into it later this week if ok. If this is urgent, somebody else could potentially do it then.

[2019-01-08 07:12] nohwnd commented on #1163
Not urgent :)

[2019-01-08 07:21] nohwnd commented on #1201
@RobDesideri Thanks for reporting this. This is a whole new level of awfulness. Could you tell me what versions of PowerShell get you have please?

[code]

[2019-01-08 12:21] ffeldhaus commented on #442
A big problem with the current limitation to skip only `It` blocks is, that `BeforeAll`, `BeforeEach` and `AfterAll`, `AfterEach` Blocks are still executed, even if no tests will be executed. Especially for complet test setup / finalization, this can cause a large test overhead.

What needs to be done to implement this?

[2019-01-08 12:43] nohwnd commented on #442
@ffeldhaus  a lot of stuff 🙂 I am implementing it [here](https://github.com/nohwnd/Pester/tree/new-runtime).

[2019-01-08 15:02] RobDesideri commented on #1201
Hi @nohwnd,

`1.0.0.1`

[2019-01-08 18:16] fflaten commented on #1201
I can reproduce it with both PowerShellGet 1.0.0.1 (built-in) and latest 2.0.3 on PowerShell 5.1 (latest Win10 insider). When you only have the built-in 3.4.0 version of Pester installed, the exception is thrown. If you already have 4.4.3 and try to install 4.4.4, then it installs fine with just `-Force`.

[2019-01-08 18:36] fflaten commented on #1110
Really agree. I've added my own locally to try an avoid errors as trailing whitespace. There are tests for it in `Pester.Tests.ps1`, so making it automatic would just help everyone pass it.

[2019-01-08 19:00] TravisEz13 commented on #442
@nohwnd 	does you change try to address this issue?  I've been thinking about it since and I think an object that I can read test results would solve a lot of by problems.

But what I really want to be able to say is don't run test B if test A fails (yes, implying that test B depends on test A.)

[2019-01-08 22:30] davinci26 commented on #301
Is there actively working on this issue? @nohwnd @rdbartram

[2019-01-09 09:06] nohwnd commented on #1201
I cannot replicate this, with the newer PowerShellGet. @fflaten are you sure you have the correct PowerShellGet version loaded?

![image](https://user-images.githubusercontent.com/5735905/50888499-16fbe400-13f6-11e9-84ee-7572cb5a1125.png)

Using the built-in 1.6.0 version of PoweShellGet module I get the error you see because there is no exclusion for Pester, and so `-SkipPublisherCheck` has to be

[2019-01-09 10:10] nohwnd commented on #442
@TravisEz13 Depends on which problem you mean.

### Running setups for everything even if no test will run - yes.
 I execute all the files twice, which sounds scary but if your tests have all code in pester controlled blocks I can run all Describes and Its (but not the scripblock associated with the It), so I get the structure of the tests even if you put them in different files, or wrap them in f

[2019-01-09 10:55] nohwnd commented on #1087
@rdbartram it's still unclear to me how to do the testcases properly, that's why it's still not merged. If you already have the code for this issue, could you PR that? /cc @davinci26

[2019-01-09 11:10] nohwnd commented on #301
@davinci26 marked you in the other issue that adds NUnit 3. Even if that is done this still needs more work because we are imho not capturing the output.

To capture the `Write-Host` output we could potentially add a "mock" of `Write-Host` that would capture the output and then called through into the real cmdlet. Internally we are holding onto the real Write-Host so the Pester output and the user

[2019-01-09 11:19] majkinetor commented on #442
This can be considered anti pattern.

BTW, nobody had any comment on my proposal [here](https://github.com/pester/Pester/issues/442#issuecomment-441612536). Is there any other way to achieve skipping irrelevant tests why debugging single test ?

[2019-01-09 11:54] nohwnd commented on #1110
@andikrueger interesting that they don't enable new-line after opening brace even though it is in their styleguide.

[code]
 then becomes
[code]

In Pester I would remove the PSScriptAnalyzer setting, add tab size 4 and enable format on save. What do you think?

[2019-01-09 12:08] nohwnd commented on #1110
Should probably just use the preset. Now the question is Stroustrup or Allman? I'd vote for Stroustrup because that is how I normally write my code, and it makes for shorter files.

[code]

[2019-01-09 12:12] andikrueger commented on #1110
@nohwnd  maybe we should change the following setting  from this:
[code]
to this:
[code]
This would fix the issue you mentioned.

[2019-01-09 12:19] nohwnd commented on #1110
@andikrueger  I did, see my comments above. I think I edited if after you read it. I will probably go with the preset anyway. Which one do you vote for?

[2019-01-09 12:41] nohwnd commented on #442
@majkinetor yes, I am aware of that, but it's usefulf for environment testing where you don't want to spend doing 40 more requests to server when you detected that it is offline.

Forcing only a single test to run is not possible right now, but I'd like to achieve the same functionality in the new runtime, it's pretty much a very strict implicit filter, but you set it based on the test, and not wh

[2019-01-09 16:42] fourpastmidnight commented on #1162
@nohwnd I'm not sure what the state of this is. I saw that you put some code into Master pursuant to the above. So, I grabbed the latest 4.5.0-beta2 code, but my tests are still failing. So I set `$DisableScopeHints` to `$False` and tried to debug this some more, but, I'm not really sure why I'm getting the error I'm now getting.

Here's the error I'm getting (I've included a bit of the Scope hint

[2019-01-09 16:52] davinci26 commented on #301
So if I understand correctly @rdbartram is working on adding the NUnit 3 without working on capturing the output and then further work is required to capture the output?

@nohwnd so the idea is to mock `Write-Host` function and store the `$message` that the user is sending before forwarding to `PS-Write-Host`( The user probably would want to see the `$message` printed on the screen if the Pester i

[2019-01-09 17:04] fourpastmidnight commented on #1162
OK, so I was wrong about the cause--it's not because `$ArgumentList` is an empty array.

I quickly changed the code in `Test-ParameterFilter` to:

[code]

But the code still failed with the exact same error: `Cannot index into a null array.` When executing this line of code in the debugger, I'm using 'Step Into', hoping to step into the parameter filter script block--but the code throws this error

[2019-01-09 17:07] fourpastmidnight commented on #1162
AH! I know what the issue is. Here's my parameter filter:

[code]

The "null array" is `$Table`. So this implies that the scope for the parameter filter script block is still not being set appropriately.

[2019-01-09 17:19] fourpastmidnight commented on #1162
I quickly re-read your explanation above, and on my first reading, I apparently glossed over some salient points. It appears that, while you implemented some hints and what not, the way mocks work (for Gherkin) has not really changed a great deal--which explains my current error--it's really the same error I was getting originally before I went the route of trying to explicitly create closures. So

[2019-01-09 17:56] fourpastmidnight commented on #1162
@nohwnd: Well, for the particular test in question, realizing what the issue _really_ is (and better understanding it), and also realizing that I'm just trying to perform a string comparison for the parameter filter of the mock, I was able to modify my code:

[code]

This creates a string containing the expanded `$Table[$n]` value to create a `System.Uri` which is compared with the incoming parame

[2019-01-09 18:41] fflaten commented on #1110
Since I've already commented on this, I'll add a vote for my favorite, Stroustrup, which Jakub already has open PR for :)

[2019-01-09 20:49] TravisEz13 commented on #442
I agree that dependencies among tests should not be encouraged, but it's not always best to eliminate them.  In my tests, first I'm testing that the docker image actually got created.  If the docker image isn't there, there is no reason to run all the tests for that image.  The tests are identical for all images.  So, tags are not a good way of managing this.  I also don't want to just remove the

[2019-01-09 21:08] fourpastmidnight commented on #1162
Ignore my last comment--user error... 🙁

[2019-01-09 22:21] #1110 closed

[2019-01-09 22:50] nohwnd commented on #301
Yes.

Yes. There is global state where you know in which place you are.

The last idea I don't like, the problem is that he user chose to Mock Write-Host, so I think it's okay we just don't capture his output from the mocked command.

---

I would not stress much about capturing Write-Host, let's start from capturing standard output.

[2019-01-09 22:58] davinci26 commented on #301
I will be more than happy to work on this feature if noone else is working on it!

[2019-01-10 23:18] BernieWhite opened #1204 "Continue in begin block causes Pester to skip remaining assertions"
## 1. General summary of the issue

`continue` language keyword in PowerShell can be used from the `begin` function block to stop pipeline processing (so that the `process` block does not run) without generating a terminating error.

Using `continue` outside a loop causes an unintended issue in Pester, and the remaining assertions are skipped in an `it` block.

## 2. Describe Your Environment

Ope

[2019-01-11 08:36] nohwnd commented on #1204
@BernieWhite Okay think I got it. Both of those tests pass even though they should not.

[code]

[2019-01-11 08:40] nohwnd commented on #1204
@BernieWhite There is not much Pester can do about this, this is happening in your code and this is how powershell works. If you call continue it escapes the parent block. So the only thing you can do is add another block that will counter-act this. This is used internally in Pester as well and would be as simple as adding a loop that iterates just once:

[code]

[code]
With this in place both of

[2019-01-11 13:57] nohwnd opened #1205 "v5: Should run phase overwrite test data?"
In v5 test data are first captured during discovery, and then re-used for Run. This makes the data slightly stale when they reach Run because some time passed (based on how long test discovery took) between when the data were captured and run. On the other hand the data are available in the `Find-Test` result which does not run the `Run` phase.

So to make the data more up-to-date we can rewrite t

[2019-01-11 15:18] nohwnd opened #1206 "v5: Interpolating strings in test names break test during Run"
When interpolated string is used for test name and a variable in it changes between Discovery and Run, e. g. by putting it in `BeforeAll` block and having more than 1 `It` (`BeforeAll` runs after the first test name is evaluated) then the test cannot be found anymore, because name is used to find a test (among other things). Solutions?

Maybe scriptblock position can be used, there should be no ch

[2019-01-11 15:19] nohwnd commented on #1206
repro, 1st test passed 2nd test fails without printing error
[code]

[2019-01-11 19:56] nohwnd opened #1207 "v5: Discovery Performance"
Quickly tested the alpha, 9000 tests in 1 file, 354 files with 26 tests each, on both PowerShell 5 and 6, on both it takes roughly 30s. Running on Windows 10 and quite fast SSD, but running it in a scriptblock seems not very different, so disk speed is likely not a huge factor here.

Simply running 9000 scriptblocks in one scriptblock yields 14s on both PowerShell 5 & 6. So there is room for optim

[2019-01-11 20:03] vexx32 commented on #1207
Woah, not bad at all!! Shiny... ✨

[2019-01-11 22:38] nohwnd commented on #1206
Fixed by using the start position start line of the scriptblock. let's hope people don't put the scriptblocks on the same line then I would need to use the SB and the content.

[2019-01-11 22:38] #1206 closed

[2019-01-11 23:14] davinci26 commented on #1194
Hey again,

Hopefully I am not becoming annoying :) with my Issues.

I am running on the following issue when using the object generated by `PassThru`. The reason for that is that on failing cases I would prefer having the information that is used to create the `StackTrace` string in addition to the `StackTrace`.
More specifically I would love to have the following information on Pester `Output`:

[2019-01-12 14:54] #287 closed

[2019-01-12 16:03] michalporeba commented on #832
I have been thinking about something similar for quite some time, and this issue is very interesting to me. I wrap a lot of contexts in a loop, which works, but makes the test code look ugly.

What I don't like in this proposed solution is the use of `-TestCases` parameter, the same as on `It`. Wouldn't this lead to confusion? `It` is the test. Context is not.

How about changing the name to be mo

[2019-01-12 19:05] nohwnd commented on #784
Okay looked into this a bit deeper, and found what seems to be a great solution. When creating the function we have it's session state. So that sesionstate gives me the function info, on that info I attach an object. This object points to command object of Invoke-Mock, and also to safe Get-Variable. In the function body I then use $MyInvocation.MyCommand to reach this object and Pester and invoke

[2019-01-12 21:04] michalporeba commented on #1205
Can you point me to the code where this data is captured and run? Are you referring to the data describing test? It sounds very interesting

[2019-01-12 21:14] michalporeba commented on #1161
That ability to rerun a specific test, (and get perhaps some metadata / associated code of a failed test) should be very helpful to all sorts of extensions and 'wrappers' around Pester.

[2019-01-12 21:45] michalporeba commented on #1108
passing object[] and expanding the first level properties would work very well in my use-cases of environmental checks. Frequently I'm getting some sort of object, which then I have to translate to a hashtable before I can execute them as test cases. It's awkward and, for example in dbachecks project instead of doing these variables are set outside of It and read inside it (typically in a loop) in

[2019-01-12 21:50] michalporeba commented on #832
in #1108 using objects[] instead of a hashtable has been discussed. I think if that is implemented adding string[] should be trivial. I can see the problem with choosing the variable name, but I was thinking it could be something like `$psitem`. It would serve exactly the same purpose.

I like the option without params in the script block.

[2019-01-13 06:04] davinci26 commented on #1194
I tried your solution and it seemed correct but there were some issues there. Something feels with the `ErrorRecord` value in the `TestResult`

I have the following modified version of Examples/Calculator/Add-Numbers.Tests.ps1:

[code]
And I execute the following commands to invoke the test
[code]

Shouldnt `$PesterOutput.TestResult[0].ErrorRecord` contain the file of the test that failed similar

[2019-01-13 08:44] nohwnd commented on #1205
@michalporeba  In this case `Data` = `TestCases` (or your `-ForEach` in #832). Here is [where the overwriting happens](https://github.com/pester/Pester/blob/4748eaabd2d035c403f54e0e9267fa024139575e/new-runtimepoc/Pester.Runtime.psm1#L347) and for completeness [here is where](https://github.com/pester/Pester/blob/4748eaabd2d035c403f54e0e9267fa024139575e/new-runtimepoc/Pester.Runtime.psm1#L1517) one

[2019-01-13 09:02] nohwnd commented on #1161
v5-alpha1 actually can already do it (in a bit crude way).  You can see me testing [re-running failed tests here](https://github.com/pester/Pester/blob/4748eaabd2d035c403f54e0e9267fa024139575e/new-runtimepoc/Pester.Runtime.Tests.ps1#L430). I agree that it opens up a lot of possibilities 🙂

At the moment those published functions do not take the result object + paths (to keep the api smaller and si

[2019-01-13 10:02] nohwnd commented on #721
I will try to sum up the plans here:

This is a style that is already possible in v4, and will continue to be possible in v5, but the code in Describe should be placed in `BeforeAll` block, to enable test discovery to work. Putting your setup code is encouraged ever since `Before*` blocks were introduced, but till v5 there is no strong reason to actually use them.

I think this style of writing te

[2019-01-13 10:14] nohwnd commented on #1108
Reviewing this, my concern is that objects potentially have a ton of properties and all of them will get expanded in the upper scope (in v5) so you don't have to add `param` block. This might be slow, and shadow your variables, so a way to skip some variables would be needed. I could for example add `Get-TestCase` cmdlet that you give an object to, and properties to include/skip), and then detect

[2019-01-13 10:17] nohwnd commented on #832
As I said I am not very keen on that. The implementation would be simple, but the rest is problematic, and does not seem extremely useful. So I would rather not do it.

[2019-01-13 11:58] nohwnd opened #1211 "v5: Rename Assert-MockCalled to Should -InvokeMock"
`Assert-MockCalled` and `Assert-VerifiableMock` are the only assertions that are not implemented in `Should` and use different keyword. I'd like to rename them for v5 to make this consistent (and make them disoverable by Get-ShouldOperator). Let's talk about the naming.

To me `Invoke` and `Call` both seem like good keywords, with `Invoke` being more familiar to powershellists, and also being a re

[2019-01-13 17:18] michalporeba commented on #832
That's what I wanted to clear, because this ticket suggested that you are still considering adding `ojbect[]`. It could potentially be very expensive, some objects have a lot of properties, even on the first level. So the latest for v5 is that there will be `-ForEach` that will take a hashtable? It's easy enough to create functions for a specific project that take an object and create a specific h

[2019-01-13 18:21] johlju commented on #1211
Maybe `Should -HaveCalled Get-Help -Exactly -Times 1`.

Got inspiration from Jest [expect](https://jest-bot.github.io/jest/docs/expect.html).

[2019-01-14 07:21] nohwnd commented on #1161
Yes, that is what my comment says I believe.

[2019-01-14 11:12] markwragg opened #1212 "Document Set-ItResult in wiki"
## 1. General summary of the issue

Pester 4.5.0 added a new Set-ItResult cmdlet. This needs to be documented in the wiki.

[2019-01-14 11:12] markwragg commented on #1212
Documented here: https://github.com/pester/Pester/wiki/Set%E2%80%90ItResult

[2019-01-14 11:12] #1212 closed

[2019-01-14 12:13] nohwnd commented on #1212
Perfect :)

[2019-01-14 12:35] nohwnd commented on #1211
@johlju I think that mock is used is a valid assumption. This looks better, and would throw if mock for that command was not defined, so the user can easily figure out that this is a Mock assertion.

[code]

[2019-01-14 15:43] fourpastmidnight commented on #1162
In version 4.4.3 of Pester, in `Gherkin.ps1` we do set the step definition's session state to that of the enclosing scenario, so, hmm.

[2019-01-14 20:02] nohwnd commented on #1162
Getting the scopes right is difficult, but I try to do right in v5 🙂
[code]
Invoking this in v4:
[code]

Invoking this in v5:
[code]
and that is just the order. The scoping is different story. But I hope I am getting this right, so it will also work correctly for Gherkin when it's implemented on top of the new core.

[2019-01-14 21:15] fourpastmidnight commented on #1162
We should talk re: New core. I was going down the track of redoing a large part of Gherkin side due to test execution concerns and console output, which are fairly different from how RSpec style tests handle these concerns. As I study the Gherkin code more and more, it just looks like long term, the Gherkin code will be very unmaintainable going forward (at least, from the perspective of current v

[2019-01-15 12:07] nohwnd commented on #720
halbarad (discord) APP [1:04 PM]
@PrzemyslawKlys @nohwnd, this is how I add it in:

[code]

There's another way using an attribute on the function but I always forget what it is.
This is how I generate that xml from the md files.

[code]

[2019-01-15 12:14] PrzemyslawKlys commented on #720
I actually generate Docs folder for all my projects:

[code]

I've not played with XML yet as I don't really know how to host XML online for a module and how to pinpoint it to the module.

@nohwnd  what you mentioned on twitter would be cool because right now it seems PlatyPS can take markdown help written inside a function (but not everything at least to my testing) and move it to docs folder, bu

[2019-01-15 12:21] nohwnd commented on #720
The problem I am trying to solve is how to keep the documentation up to date, trackable and easy to update. These days I am working on Pester v5 and I am removing and renaming a lot of stuff. Migrating from v4 to v5  will take some until we can safely retire v4, so having two versions of wiki is definitely needed. And the other thing is that scrolling past inline help is extremely annoying, especi

[2019-01-15 12:23] Splaxi commented on #720
Would it be enough to have the format of the documentation based on the CBH and from that generate either External-Help and Wiki pages?

[2019-01-15 12:48] PrzemyslawKlys commented on #720
There are already markings `.Example` marking is start, next `.EXAMPLE` is another marking

[2019-01-15 15:22] nohwnd opened #1213 "v5: add option to provide TestCases that evaluate only on Run"
The code runs twice and TestCases are a hashtable so it evaluates twice. We need the count of test cases for the Discovery but nothing else. So add an option to provide a ScriptBlock of collection of hashtables (yes sounds terrible, see example). That will be ASTed on Discovery, and evaluated on Run.

This is not urgent, see [this poll](https://twitter.com/nohwnd/status/1082655994348474368)

[code

[2019-01-15 21:15] nohwnd commented on #360
1. not at the moment, unless you do `break` in your code.
2. you got me a bit scared. I tried with Pester 4.5.0 and `-Be` works fine, not sure what you did. Does it still fail?

[2019-01-15 22:32] it-praktyk commented on #720
Not so far, I just generated files using PlatyPS - you can find the branch https://github.com/it-praktyk/Pester/tree/PlatyPS_Help.

[2019-01-15 22:40] it-praktyk commented on #720
How do I see a process of migration to a markdown-based help?

1. Create the branch PlatyPS_help in the repository Pester/Pester - to make work visible

2. Update CI pipeline to trigger Update-MarkdownHelpModule (please be aware of the issue PowerShell/platyPS#371 - as long as the step 5 will not be completed it's not the case but later ...

3. Verify/clean the content of markdown files.

4. Gener

[2019-01-15 23:20] edouard-lopez opened #1214 "Travis build pass despite failed tests"
Despite having [tests that fail, my travis build](https://travis-ci.com/edouard-lopez/lesspass-powershell/builds/97464358) is considered valid.

### .travis.yml
[code]

### Tests Output

[code]

### Question

How can I run test on all my tests file (`*.test.ps1`) and have the correct exit status?

[2019-01-15 23:40] edouard-lopez commented on #1214
Fixed by using [`-EnableExit`](https://github.com/pester/Pester/blob/b7904b0aa6c0a1444c904b4b1ec5bdbf9a425545/Functions/Gherkin.ps1#L79) with `Invoke-Pester ` command (see my [.travis.yml](https://github.com/edouard-lopez/lesspass-powershell/blob/44859a74202b82e22e14ef579ce3a7f57dd5b90f/.travis.yml#L17)):

    pwsh -Command 'Get-childItem -Recurse *.test.ps1 | foreach { Invoke-Pester -EnableExit $

[2019-01-15 23:40] #1214 closed

[2019-01-17 10:15] Jeffrey-zhao commented on #969
@nohwnd  I try it out with your case, it works, Now I have an issue. the scenario: for an example:
mytest.ps1
`
function A($p1,$p2)
{
   #some logic handling with paramters p1 and p2
   # i give an easy logic,but it is complext in fact,just make it easy.
   $p33=$p1+1;
   $p44=$p2+1;

   return B -P3 $p33 -P4 $P44
};
function B($p3,$p4)
{
 return $p3 +$p4
}
`
mytest.tests.ps1:
`
Describe "Tesing A

[2019-01-17 10:23] Jeffrey-zhao opened #1215 "How to understand Parameters in mock scriptblock?"
I try it out with your case, it works, Now I have an issue. the scenario: for an example:

[code]
when it executes in the line 1111

[code]
or 1123
[code]
in mock.ps1, debugging get different parameters values
it mainly points at $BoundParameters and $BoundParameters
so how can I know these above two arguments' differences?
very glad to get all of you help.
I test 'Its' all passed

_edit (nohwnd):

[2019-01-17 14:56] nohwnd commented on #1215
@Jeffrey-zhao Hello, I reformatted your code but I am still not sure what you question is, or which case (in the first sentence) you are talking about.

What is the problem? Are you asking what the line 1111 means?

Also on the first Mock of `B` you are specifying -FilterParameter which is probably a typo. The name of the parameter is `-ParameterFilter`.

[2019-01-17 20:29] splatteredbits opened #1216 "TestRegistry causes test failures when running Pester test fixtures in parallel"
## 1. General summary of the issue
We have a very large, long-running Pester test suite. We've optimized it by running it in several background processes that run in parallel. With Pester 4.5, we're now getting intermittent test failures associated with the new TestRegistry drive.

[code]

## 2. Describe Your Environment

[code]

## 3. Expected Behavior
I expect that when Pester is tearing things

[2019-01-18 02:54] renehernandez commented on #885
@nohwnd I am checking this as possible first issue to contribute to, but is this still relevant since in the [docs](https://github.com/pester/Pester/wiki/Set%E2%80%90TestInconclusive) `Set-TestInconclusive` is already deprecated in favor of `Set-ItResult`.

Or should the resolution for this should cover both `Set-TestInconclusive` and `Set-ItResult`? (in case that `Set-ItResult` has the same issue

[2019-01-18 03:31] Jeffrey-zhao commented on #1215
or `$___BoundParameters___ =@{}` and `$___ArgumentList___=@('-P3',1,'-P4',1)`

[2019-01-18 09:44] nohwnd commented on #1215
How the parameters are passed depends on what the scriptblock defines and what the function defines. But the bottom line is that there is currently no parameter to Mock that allows you to pass parameters from the test to the insides of the mockWith scriptblock. You can get variables there only by defining them in the upper scope. There is also a difference between where the parameter filter script

[2019-01-18 09:48] nohwnd commented on #1216
@splatteredbits Thanks for reporting, there was a similar problem that I was solving in #1181 and there was also a weird bug when the path existed, the drive existed, but get-psdrive did not see it (or something like that). I'll try running few more test runs in parallel to see if I can trigger this issue.

[2019-01-18 09:55] nohwnd commented on #885
@renehernandez Yes this is still valid. The underlying mechanism of setting the test result is (I hope :)) the same for both `Set-ItResult` and `Set-TestInconclusive`. The former was deprecated because it does just a single thing and uses `Test` instead of `It` in the name. When this issue is solved the test in which we set a result, should be marked as failed in the result when running with the `

[2019-01-18 15:11] fourpastmidnight commented on #1162
Hmm, I just found something interesting I'd glossed over before in `Mock.ps1`. There's the following line:

[code]

At this line, `$pester` is nowhere to be found in any scope (local, script, or global). So this evaluates to False and `$scope` is never set to the current test group, which in turn (if I'm understanding things correctly) is then not setting the expected scope on the Mock's `MockWith

[2019-01-18 15:20] fourpastmidnight commented on #1162
And to elaborate on the above, here's my call stack:

[code]

What I found is that when I looked into the `<ScriptBlock>` stack frame, `$Pester` was defined (as expected, since that's the step definition being executed by Pester. But once inside `Invoke-Mock`, `$pester` was no longer in any local, script or global scope.

This may not be earth-shattering to anyone who's looked in-depth at this iss

[2019-01-18 15:43] fourpastmidnight commented on #1162
Oh, wait, that `$pester` is the `$PesterState` associated with the Mock itself after calling `Find-Mock`. Hmm, for v5 we want to use better and consistent naming. 😉

[2019-01-18 16:02] fourpastmidnight commented on #1162
Ok, one more observation/question, so if the parameter `$Mock`to `ExecuteBlock` contains the current pester state, why are we trying to use `$Pester` directly instead of `$Mock.PesterState`? While this _may_ resolve the issue with `$pester` not being defined in the current execution scope in `ExecuteBlock` (outside of the value captured `$Mock` that is), peeking into `$Mock.PesterState` I see that

[2019-01-18 16:12] nohwnd commented on #1162
@fourpastmidnight  That `$pester` variable is set inside of `Invoke-Pester` or `Describe` fuctions. You should be able to see it when you are inside of Pester module scope (e.g. when you call `Invoke-Mock`). As you figured out, I think it problem with the tools not with how Pester works.

[2019-01-18 17:49] fourpastmidnight commented on #720
I was totally going to attempt this myself. I didn't want two sources of truth for help in my own modules, and so early on, I decided to not use comment-based help in my functions, but instead write the markdown documents and use platyPS to generate the help file for my module. I was hoping to do the same for Pester--but my time is limited and I see that there are already ppl working on/interested

[2019-01-18 17:56] fourpastmidnight commented on #355
We could take the approach that _cucumber_ takes, which is provide an option to output a rerun file. Then, on the next run, you could do something like `Invoke-Pester [other options] -Rerun rerun.txt`.

[2019-01-18 18:32] Splaxi commented on #720
@fourpastmidnight If you could share what you have already, it would make it easier for us to skip in making it happen.

[2019-01-18 19:32] renehernandez commented on #885
@nohwnd Sounds good, I am go to start working on it this weekend

[2019-01-18 22:40] nohwnd commented on #885
Good, ping me if you need help:) twitter will get you faster response :)

[2019-01-18 22:41] nohwnd commented on #355
Planned ( and almost implemented for v5)

[2019-01-19 11:15] nohwnd opened #1218 "v5: Discussion"
# 🙋‍♀️

I am raising a few questions in [v5 readme](https://github.com/pester/Pester/tree/v5.0#pester-v5---alpha2) and this is the place to start discussion so you don't have to go through all the respective issues and ask there.

[2019-01-19 18:05] nvarscar opened #1219 "v5: BeforeEach/AfterEach -Context?"
## 1. General summary of the issue

I tend to write a chain of different `It` tests that expect a certain resource to be available during the whole execution of the `Context` in persistent state and then get removed once the tests in this particular context are over. Right now, I'm using `BeforeAll` and `AfterAll` for each `Context` to create/remove such resources. It would be much easier to have

[2019-01-20 07:50] nohwnd commented on #1219
Thanks for the suggestion 👍  I think this is similar to #335 and I plan to support this, I actually already do internally, I just need to figure out what should every of those setups do and how they should scope in relation to each other.

[2019-01-20 19:02] bergmeister opened #1221 "5.0.0-alpha2: Internal function 'v' causes conflict with locally defined alias 'v'"
## 1. General summary of the issue

I zip installed `5.0.0-alpha2` to test-drive it but I cannot use it locally because I have an alias `v` defined in my local profile that is aliasing `vim` and this alias is conflicting with a locally defined function `v` [here](https://github.com/pester/Pester/blob/v5.0-alpha2/new-runtimepoc/Pester.Runtime.psm1#L69). Unfortunately aliases override everything (ev

[2019-01-20 19:20] bergmeister opened #1222 "5.0.0-alpha2: Feedback when running it on PSSA"
I ran `5.0.0-alpha2` against PSSA's `development` branch [here](https://github.com/powershell/PSScriptAnalyzer) on PSCore 6.1.2, which one can do by just running `.\build.ps1; .\build.ps1 -Test`
The output log is attached at the end. The first failures might be hard to debug as they're probably quite test specific but common errors are around the `-skip` parameter that does not seem to be availabl

[2019-01-21 19:22] nohwnd commented on #1221
Fixed

[2019-01-21 19:43] #1216 closed

[2019-01-22 13:00] nohwnd commented on #720
So here is a https://github.com/pester/Pester/tree/move-help-to-platyps if more people want to work on this. The help should be in Markdown, and the comment based help would be generated from it. I would start with moving the help into it's own files, and then we can start talking about possibly making the wiki and the help using the same sources, or integrating in some way. Any takers?

[2019-01-22 13:01] it-praktyk commented on #720
I'll make an initial work just now :-)

[2019-01-22 13:06] it-praktyk commented on #720
Done, PR #1226.

[2019-01-22 13:19] nohwnd commented on #720
@it-praktyk k merged, only scrolled through the changes, and the first file looked broken, some extra type escaping there and incorrect code regions, but I will review properly when this is ready to merge to master.

[2019-01-22 16:02] it-praktyk commented on #720
I work now to clean 'RELATED LINKS' sections and doubled empty lines.

[2019-01-22 21:03] nohwnd opened #1227 "v5: is it possible to save scope and restore?"
I figure if someone would know it would be you @alx9r :)

Do you know if there is a way to save a scope, pop it, run some code, then push it back in and run some more code?

I made some assumptions in Pester v5 that don't seem to hold. I was trying to make the `It` blocks isolated from describes, but did not realize the putting describes in between `It` blocks would inherit the state. This coupled

[2019-01-22 22:03] #885 closed

[2019-01-23 02:16] Jeffrey-zhao commented on #1215
@nohwnd  thanks, it sounds very useful,now i am trying to add `param` for all `scriptblock` parts

[2019-01-23 02:16] #1215 closed

[2019-01-23 11:40] renehernandez commented on #1007
@nohwnd I am going to take a look at this. Per your last comment, the pull request should bring the necessary fixes for both this issue and #601?

[2019-01-23 13:50] SeeminglyScience commented on #1227
It's very unlikely.  If it *is* possible, it would require mountains of reflection and would be incredibly fragile.

That said, you may be able to get a similar effect through other methods.

## Closures

The only way I can think of to get the *exact* flow you're going for here is using dynamic module closures.  Not sure how useful that's going to be here as it's definitely not side effect free.

[2019-01-23 17:25] nohwnd commented on #1227
@SeeminglyScience thanks a lot :) Running the blocks out of order is a possibility that I considered, but I think it makes the behavior too surprising. In v5 you are not supposed to put code in between the Pester controlled blocks, but you are still able to share state via reference or via side effects in external resources. Running out of order would make this harder to understand, while I don't

[2019-01-23 20:48] nohwnd commented on #1222
@bergmeister I added the skip and pending params to It, and transformed the analyzer tests to put all code in Pester controlled blocks (I kept some strings out of it, but those are harmless). Now it can discover tests in almost all files, but not run them yet. The only offender is ` ModuleHelp.____Tests.ps1` that I renamed. I did not look too deep why it fails. I also had to change one place in th

[2019-01-23 20:49] nohwnd commented on #1222
Changes to Pester v5.0 are pushed, and my changes to pssa [are here](https://github.com/nohwnd/PSScriptAnalyzer/tree/pester-v5-compatibility).

[2019-01-24 06:47] nohwnd commented on #1227
@alx9r thanks, for looking into this, but no. it is an interesting concept, and I would love to see it work, but but I am afraid it would be too hard to debug (and explain) to put it into Pester.

—-

As for the test isolation, I haven’t done much measuring but I would expect that running new runspace per It would be too granular, and would prevent you from sharing one guard Mock per describe or a

[2019-01-24 07:31] nohwnd commented on #1222
I don’t think you need to do that for a while, I first need to make the setups work similarly to how they work in v4 (so they setup before the first It or Describe), and make them recursive, and also make mocks recursive.  And then I can start attempting to run your tests. So merging upstream is not critical :)

[2019-01-24 07:49] nohwnd commented on #1007
@renehernandez the related issue is way more involved than this one. I’d keep them separate, once you tackle this, you can have a look on the other one as well, but this one is imho a much better starting point for getting familiar with Mock internals :)

[2019-01-24 08:46] nohwnd commented on #1007
@renehernandez

Okay this was a bad idea, removing the parameter would prevent the production code from ever using it, because providing non-existing parameter to a function with `[CmdletBinding()]` makes it fail. So let's rename it and alias it instead, because that works fine.

[code]

[2019-01-24 09:51] it-praktyk commented on #720
Please be aware of the issue with ```Update-MarkdownHelp``` - https://github.com/PowerShell/platyPS/issues/433.

[2019-01-24 10:02] it-praktyk commented on #720
@nohwnd,
I'm thinking about reverting your change  regarding the structure of MD files - I'm thinking about undoing your change regarding the structure of MD files.

Some (all?) of changes will be reverted under the next update made by using Update-MarkdownHelp - please read the thread https://github.com/PowerShell/platyPS/issues/345.

[2019-01-24 11:21] nohwnd commented on #720
@it-praktyk I am probably getting this wrong, but I thought that new-markdown help generates the markdown files from the existing files **once**. And then we use something different to convert the existing markdown files back to the powershell help.  So formatting the markdown properly should not be a problem, because we will be using the markdown as the source of the help for the cmdlets, and not

[2019-01-24 12:16] it-praktyk commented on #720
IMHO, Update-MarkdownHelp workflow is like below.
1. read the existing markdown help file
2. parse markdown to PSObject
3. get information about parameters from the code
4. merge 2 + 3
5. write the file

@vors, Am I right?

The related issue: https://github.com/PowerShell/platyPS/issues/393

[2019-01-24 12:21] PrzemyslawKlys commented on #720
You need to continue using Update-MarkdownHelp if you want to have all the benefits of it. Otherwise everytime you will change order, add parameters you will have to update docs manually. It's best to keep to the specs that platyPS proposes.

[2019-01-24 12:22] nohwnd commented on #720
Okay gotcha, I confused New-MarkdownHelp with Update-MarkdownHelp

[2019-01-24 12:22] PrzemyslawKlys commented on #720
We can always help and bring new features to PlatyPS 👍 I'm sure @vors  will be happy!

[2019-01-24 13:30] fourpastmidnight commented on #720
@nohwnd so yes, that implies you can generate the help once and then use the markdown as the primary source from which to generate help for the middle on build. When I get into the office in about one hour, I'll quick dig up the psake task I'm using to do just that.

[2019-01-24 13:33] PrzemyslawKlys commented on #720
Here is generated content by New / Update

https://github.com/EvotecIT/PSEventViewer/blob/master/Docs/Get-EventsInformation.md

As you can see there are several examples. It actually converted the content from https://github.com/EvotecIT/PSEventViewer/blob/master/Public/Get-EventsInformation.ps1 including comments under examples. Seems good enough right?

[2019-01-24 14:00] SeeminglyScience commented on #1227
One more idea.

You could manually capture and restore state.  There's no real way to capture *everything* using only public API's though.  Here's how you could get all the internal dictionaries attached to `SessionStateScope` (including defined PowerShell classes)

[code]

(You could do it without creating a delegate but it would be pretty slow)

[2019-01-24 14:37] fourpastmidnight commented on #720
@PrzemyslawKlys Hmm, I recalled having difficulty with that--but glad to see it seems to be working. Though, the example you linked to didn't have code + text. I think it's that interplay between code/non-code text that _may_ trip up platyPS? I don't really remember.

Here's my psake task for generating help, which probably already looks very much like what you're already doing:

[code]

I'm also

[2019-01-24 14:39] SeeminglyScience commented on #1227
Also forgot to mention, to *import* you would:

1. Export the current state
1. Use a previously exported state to modify the dictionaries exported in step 1

The dictionaries here are the same ones used by the engine internally.  They are *not* copies.  So editing them *should* essentially be altering state directly.

[2019-01-24 14:40] PrzemyslawKlys commented on #720
I believe it takes everything under .Example as code you can see that in my example

[2019-01-24 14:43] nohwnd commented on #1227
I need to play with that at home, it looks really cool. Very unsupported though :/ (but the whole framework lies on unsupported api, and it never changed so far :D )

[2019-01-24 15:53] PrzemyslawKlys commented on #720
And actually, if you modify the output .md file as I did now it doesn't change it back. https://github.com/EvotecIT/PSEventViewer/blob/master/Docs/Get-EventsInformation.md

So I would say as long as you conform to some rules you should be fine.

[2019-01-24 16:55] Outlivier opened #1228 "Pester version on NuGet gallery is not up-to-date"
Hi,

The last Pester version available on [NuGet Gallery](https://www.nuget.org/packages/Pester) is 4.4.1 (and not 4.6.0).

Is the distribution via the NuGet Gallery is abandoned or is it an anomaly ?

[2019-01-24 21:35] FGS-BMarkham commented on #1158
I think I'm running into the same limitation. I think the scenario could be described as mixing white-box and black-box testing at the same time.

For example, I'm writing tests around a module named `PNPStuff` and I want to test its exports and then move inward to test its insides. To facilitate such, I've written two helper functions:
[code]

Aside from me not being able to DRY them (I'm running

[2019-01-24 22:10] nohwnd commented on #1228
Anomaly, I forgot to publish there when I changed build process. Sorry. Will fix over the weekend hopefuly.

[2019-01-25 07:00] nohwnd commented on #720
As you say. Help in markdown only.

[2019-01-26 02:18] renehernandez commented on #1007
@nohwnd A couple of questions while I work on this:

* Should this apply as well to dynamic parameters? Or is it only applicable to regular parameters?
* What if we apply this alias to every parameter instead of a select few? Wouldn't that cover against future additions of read-only/constant variables?

[2019-01-27 08:01] nohwnd commented on #1007
I don't recally any issues regarding this in dynamic parameters, right now it should apply only to a list of parameters. I am sure there are others but I don't recally their names. Once the capability is there it will be as simple as adding the problematic parameters to the list.

It would, but at the cost of braking every parameter filter that is out there. So please don't do it. 🙂

[2019-01-27 22:39] it-praktyk commented on #720
I need help to find why some tests fail in the branch `move-help-to-platyps`

[code]

I've reverted, locally, the commit e8f5722ad289d3895762ab00025ca3f016433d89 but it still fails.

I propose to exclude the tag `Help` under Invoke-Pester.

[2019-01-28 02:43] renehernandez commented on #1007
I would have expected that I could use a parameter alias in the definition of `ParameterFilter` blocks and it would resolve to right parameter. But it seems that that is not currently the case, as per the follow example:

[code]
If we use the real parameter name, then the test passes successfully.

So with that in mind, after doing the suggested aliasing of parameters such as *PSEdition*, we would

[2019-01-28 10:55] it-praktyk commented on #720
It's a part of the standard Pester tests. Under changing help (and the code reformatting, in some cases).

I broke something during my actions :-/

[2019-01-28 19:09] nohwnd commented on #720
Keep it failing I can have a look on it later. :)

[2019-01-31 02:11] jd-porter commented on #496
Hello, first-time contributor, long-time fan. I'm interested in fixing this issue.

Based on the discussion so far, maybe we should keep errors text brief but informative (in line with current error wording). I like @nohwnd's approach to determining if a name looks like a script block, too.  Tried using some ValidationScripts on parameters, but they don't seem to be the right approach in this situ

[2019-01-31 11:32] nohwnd commented on #496
Hello @jd-porter thanks, I am glad you like Pester. 🙂

I think that validate script is not the place to do this, instead you need to place an `if` like [this one](https://github.com/pester/Pester/blob/master/Functions/It.ps1#L154-L156), that checks if we got a value to the `-Test` parameter, and if not it looks at `-Name` and when that has multiple lines, then user most likely forgot to provide th

[2019-01-31 16:43] renehernandez commented on #1007
@nohwnd I got it working for the provided example for `Get-Module` cmdlet. Currently, I am modifying the `$MetaData` object, by replacing the `ParameterMetadata` that matches with *PSEdition*.

While doing more testing on the changes, I ran into a failure when the mock doesn't get hit, since it will resort to the original command implementation there and there is no *$_PSEdition* parameter in the

[2019-01-31 16:55] nohwnd commented on #1007
@renehernandez hmm that's a good find.

 I am not sure the call-through would work when the parameters are rewritten in the original command. Is that even possible to do? In never tried.

I would approach this by adding the original and new name to the [mock info](https://github.com/pester/Pester/blob/d7bb364a56877832c8bf783683f568974dfef930/Functions/Mock.ps1#L323-L335), and when it is calling th

[2019-02-01 09:08] #496 closed

[2019-02-02 14:28] johlju opened #1234 "Problem using HaveCount on [hashtable]"
## 1. General summary of the issue

When using `HaveCount` on a hashtable, the count is always 1. The following snippet shows the problem (both in Windows PowerShell and PowerShell Core).

[code]

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

`HaveCount` should report the correct number of properties in the hashtable.

## 4.Current Behavior

Fails with an error even though ther

[2019-02-04 21:48] renehernandez opened #1236 "TestRegistry documentation is missing"
The *TestRegistry* drive is released since version 4.5.0, but there is no documentation of it in the wiki.

Could the documentation be similar to [TestDrive](https://github.com/pester/Pester/wiki/TestDrive) or even integrated in that wiki page?

Or would the differences  require a completely separated wiki page?

[2019-02-04 22:24] atratus7 opened #1237 "Pester 4.6.0 test failing when testing for psm1 file in psd1 file"
## 1. General summary of the issue
An It test looking for a PowerShell module (psm1) file in a PowerShell manifest (psd1) file is failing.

## 2. Describe Your Environment
(Details obtained manually)
Pester 4.6.0
PowerShell 5.1.17763.134 Desktop Edition
Windows 10 Enterprise version 1809.

(Details obtained using $bugReport script)
Pester version     : 4.6.0 C:\Program Files\WindowsPowerShell\Modu

[2019-02-05 06:01] nohwnd commented on #1236
I think new page with the basics, and possibly linking back to testDrive for the moree advanced parts would be easy to write and discoverable.

[2019-02-05 06:09] nohwnd commented on #1237
I see in the stack that legacy assertions (the ones like Should Be where Be is a positional parameter and not -Be a named parameter) are used. Using the new syntax with dashes, might help. Otherwise I will need to debug this later :)

[2019-02-05 20:31] nohwnd commented on #1128
@renehernandez ok. This should not be complicated but there is a lot of potential for breaking changes and conflicts with read-only variables, as seen in the issue you are mentioning.

[2019-02-05 20:38] renehernandez commented on #1128
@nohwnd  I think it would be possible to avoid the conflicts by rewriting the alias in the `ParameterFilter` block to correct parameter name in the mock definition

[2019-02-05 20:47] nohwnd commented on #1128
@renehernandez can you give me an example?

[2019-02-05 20:57] renehernandez commented on #1128
@nohwnd  I may be off here, but I would expect that the AST of `ParameterFilter` scriptblock could be iterated and whenever we find an alias, then replace it with the real parameter name from the mock definition.

For conflicting parameter names, after the work in #1007, the parameter name in the mock is prefixed with "_" (e.g. _PSEdition_), thus it shouldn't introduce any conflicts

[2019-02-06 07:45] nohwnd commented on #1128
Okay that is how you meant it. That might work. I was asking because earlier I was talking about setting a variable not only for that param name but also for the aliases, and that would not work. I did not know that by rewriting your mean rewriting AST. The only thing is that AST is not avaiable in powershell v2.

[2019-02-06 15:05] renehernandez commented on #1128
@nohwnd, I always forgot checking for powershell 2 because I never use it. The closest option there would be to work with `System.Management.Automation.PSParser`, but unfortunately it is less capable than an AST so will see how it goes.

[2019-02-06 15:07] renehernandez commented on #1128
As a side note, since the powershell 2 deprecation has been announced already, [see here](https://blogs.msdn.microsoft.com/powershell/2017/08/24/windows-powershell-2-0-deprecation/), do we have a roadmap to drop Pester support for powershell 2)? I believe it would help refactor the code to leverage newer language features

[2019-02-06 17:13] nohwnd commented on #1128
@renehernandez Pester v5 will be PowerShell v3+, I think you can safely implement this as v3+ only as well :)

[2019-02-06 21:50] renehernandez opened #1239 "String concatenation using the += operator fails"
## 1. General summary of the issue

When doing string concatenation, I cannot append a string into a the `$var` variable defined in the BeforeEach block.

[code]

## 2. Describe Your Environment

Pester version     : 4.6.0 C:\Users\renehernandez\Documents\WindowsPowerShell\Modules\Pester\4.6.0\Pester.psm1
PowerShell version : 5.1.14393.2636
OS version         : Microsoft Windows NT 10.0.14393.0

#

[2019-02-07 11:36] nohwnd commented on #1239
That is because `BeforeEach` runs in a scope above the `It` in Pester v4. So you are pretty much doing this:

[code]
This is a nice edge case where you might expect the `$var = $var + " world"` to be equivalent to `$var += " world"` but it is not. The diference here is in implicit scopes, so while the first one is equivalent to `$local:var = $var + " world"`, the latter is equivalent to `$local:va

[2019-02-07 14:36] renehernandez commented on #1239
For reading the docs, I misunderstood that this was already the behavior :). I am ok with closing this issue then. Looking forward to version 5

[2019-02-07 15:13] nohwnd commented on #1239
Re-opening this so I can validate that it actually works like this in v5.

[2019-02-07 15:20] fourpastmidnight commented on #1162
I've been working more with Mocks recently and I finally got a PowerShell closure to work! I thought I was going mad and just didn't understand PowerShell closures even though I quite understand them in other languages. Anyway, long story short, I got it to work with the `-MockWith` parameter with `Mock` and `Assert-MockWasCalled`.

Since I got closures to work for that parameter (meaning, I could

[2019-02-08 12:09] renehernandez opened #1241 "Mocks in the same context gets duplicated blocks"
## 1. General summary of the issue

While debugging the mock code for the #1128 implementation with the tests examples below, I found out that multiple mock command definitions with the same mocking block generate blocks duplication in the mock `hashtable` object. This seems to be happening at https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L36

[code]

## 2. Describe Your Environm

[2019-02-09 11:06] nohwnd commented on #1241
@renehernandez The example that you shown has two different mock blocks, is it supposed to show the problem? :)

Is there a problem to solve? Adding the same mock twice (or twenty times) will put it multiple times in the table, but only the first one that passes the mock filter will run (no `-ParameterFilter` means filter `{ $true }` that always passes). So it's just (very slightly) inefficient, b

[2019-02-09 11:13] nohwnd commented on #1162
@fourpastmidnight Your observations are correct. When MockWith is a closure then it is [kept as is](https://github.com/pester/Pester/blob/d19297450b61a7ca3579910651521810cd9e85e8/Functions/Mock.ps1#L180-L183), on the other hand the ParameterFilter is not. Instead the body of the parameter filter is concatenated with a `param` block, created as a new scriptblock and then bound back to caller scope,

[2019-02-09 19:04] renehernandez commented on #1241
@nohwnd It works fine, it just that I was surprised by the fact that the mock object can have multiple copies of the same filter **at the same scope**. But I guess I didn't account for all use cases you have mentioned above. Feel free to close it :)

[2019-02-10 07:12] nohwnd commented on #1241
@renehernandez Great, I just wanted to clarify :) Closing this.

[2019-02-10 07:12] #1241 closed

[2019-02-11 23:07] toddbrownmcis opened #1242 "Code Coverage report counters are incorrect when there are multiple packages in the report."
## 1. General summary of the issue

Code Coverage report counters are incorrect when there are multiple packages in the report.

## 2. Describe Your Environment

Pester version     : 4.6.0 C:\Program Files\WindowsPowerShell\Modules\Pester\4.6.0\Pester.psd1
PowerShell version : 5.1.14409.1018
OS version         : Microsoft Windows NT 6.1.7601 Service Pack 1

## 3. Expected Behavior

Expecting Code

[2019-02-13 15:31] #1128 closed

[2019-02-14 15:37] LethiferousMoose opened #1243 "Potential Issue with Classes"
## 1. General summary of the issue
So I'm not 100% sure what's going on here, it only seems to happen in pester tests so I'm going to log it here in case anyone has any ideas. I have a pester test for a module, it has a configuration class that loads up a JSON file. I have the class instance saved off in a script level variable in the module. What I was attempting to do was replace the original co

[2019-02-15 08:48] nohwnd commented on #1243
The error says `SampeClass` (without `l`) but your code says `SampleClass`. Have you copied or wrote the message? I am trying to find out if this is just a typo, or some session related problem.

Are you able to replicate this successfully in a new PowerShell process?

[2019-02-15 15:04] LethiferousMoose commented on #1243
Yes that was a typo, I was using code I had written and I swapped in different class names.

[2019-02-15 15:37] LethiferousMoose commented on #1243
Updated description. Some relevant details:
- The module needs to be "using" a second module
- Test must  remove and re-import the module into the testing session

For the second bullet point. I've been doing this in all my tests in order to refresh the session with module changes since they normally only get loaded once per session.
[code]
Is there a better way to accomplish this?

[2019-02-15 18:56] renehernandez commented on #1043
@nohwnd I am going to start taking a look at this, since it is inline with previous work in aliasing that I have done in Pester

[2019-02-16 13:13] nohwnd commented on #1043
@renehernandez great! :)

[2019-02-16 16:45] fourpastmidnight opened #1245 "v5: RFC: Potential Gherkin changes"
There are a few changes I would like to see with the Gherkin side of the Pester test framework.

As I understand the v4 codebase, Gherkin borrows heavily from the rest of the Pester framework. This had the benefit that it was quick to add support for these style of tests. However, this has had a couple of negative consequences:

* For each feature, the steps are "re-imported" and re-evaluated

[2019-02-16 17:38] jd-porter commented on #532
I think I can take this one -- looking at xUnit, the final output should be something like:

[code]

[2019-02-19 04:30] fourpastmidnight opened #1249 "v5: Problem with Pester TestDrive in v5-alpha2?"
## 1. General summary of the issue

When using the Pester TestDrive, I'm getting an error after running my tests. The error doesn't cause the test to fail, but it is unsightly 😉:

[code]

## 2. Describe Your Environment
Pester Version: 5.0.0-alpha2
PowerShell Version: 5.1
Windows: Windows 10, October 2018 Update

## 3. Current Behavior

Here's the test I'm trying to run. I'm thinking I'm using the

[2019-02-19 05:49] fourpastmidnight opened #1250 "v5-alpha2: Can't use `In` inside `Describe` or `Context`"
## 1. General summary of the issue

You can't use the `In` function immediately inside of a `Describe` or `Context` block.

## 2. Describe Your Environment

Pester Version: 5.0.0-alpha2
PowerShell Version: 5.1
Windows 10, October 2018 Update

## 3. Expected Behavior

I expected that I could use an `In` block right inside of a `Describe` and/or `Context` block as in Pester v4.x.

## 4.Current Behav

[2019-02-19 06:00] fourpastmidnight commented on #1250
I was able to use an `In` block inside of a `BeforeAll` block, however. And perhaps, in v5, this is the correct way to do this&mdash;use it inside one of the `Before*` blocks. The only downside I see to this is that if you want to execute some part of an `It` block inside of the Test Drive, then you'll either need to navigate there yourself or use another `In` block in the `It` block, or use a `Be

[2019-02-19 06:38] fourpastmidnight opened #1251 "v5-alpha2: TestDrive is "disposed" after Context block ends"
## 1. General summary of the issue

I think the title sums it up. Of course, I'll elaborate below. 😉

## 2. Describe Your Environment

Pester Version: v5.0.0-alpha2
PowerShell Version: 5.1
Windows 10, October 2018 Update

## 3. Expected Behavior

I setup some files and folders in the Test drive inside of a `BeforeAll` block in my `Describe`. I expected that all contexts would have the same TestDri

[2019-02-19 06:51] nohwnd commented on #1251
The v4 behavior is that the drive is common for all blocks in Describe, this should work the same way, by setting TestDriveCreated (or something like that) boolean in the plugin data, and when it is present then it should remove the test drive. When leaving other describes/contexts it should only remove the files created in that describe/context. I probably did something wrong somewhere, the TestD

[2019-02-19 06:54] nohwnd commented on #1250
That's weird, I don't remember ever using `In`, but it should be just a `using` for paths. Probably just some small error on my side.

[2019-02-19 15:17] renehernandez commented on #1043
@nohwnd Based on the implementation and the tests that I am adding in #1252, it doesn't seem to be a breaking change

[2019-02-19 17:04] nohwnd commented on #1043
@renehernandez do you think that because our tests don't fail? :)

[2019-02-19 17:19] renehernandez commented on #1043
@nohwnd Part due to that :), because with enough test coverage, any changes that do not break your tests nor require you to change the tests, aren't breaking the public contract of the code. Although, I guess it depends on the definition of breaking changes and how much code coverage the code has :)

And also because I added tests that verified that external commands can be properly mocked in diff

[2019-02-20 21:58] moelmasri commented on #706
I've been able to mock class methods using the following as an example:
`$testObj = New-MockObject System.DirectoryServices.AccountManagement.PrincipalContext`
`$testobj = $testObj | Add-Member -MemberType ScriptMethod -Name ValidateCredentials -Value { $true } -Force -PassThru`

`$testObj.ValidateCredentials()`

I'm essentially overwriting the the ValidateCredentials method with my own implementa

[2019-02-22 10:51] #1043 closed

[2019-02-22 13:23] renehernandez commented on #952
@nohwnd I am going to take a look at this over the weekend

[2019-02-23 06:51] nohwnd commented on #952
@renehernandez Great! That error is gonna be a slightly different because the mock functions are named `Pester___<guid>` now. There is also a function that removes all mocks before we start testing because we had problems mocking when the tests were aborted and no cleanup was run. In that case aliases stuck around pointing to mocks that we did not know about.

[2019-02-23 17:41] vors commented on #532
@jd-porter nice, thank you for working on it!

[2019-02-24 18:44] renehernandez commented on #952
@nohwnd This bug is baffling :)!! I have spent quite sometime debugging it but I haven't found out the root cause yet as to why it happens.

A quick workaround, which I am submitting in the pull request is to check at https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L751 if the Function exists in the Provider before removing it.

For what I could gather while tackling this issue, th

[2019-02-25 06:58] nohwnd commented on #952
@renehernandez that is quite possible. I will test it when I get to it 🙂

[2019-02-25 11:56] DhruvM7 commented on #1242
My team is facing the same problem as well, in Azure DevOps. Glad to see there's a PR for this already. Is there any ETA for when this fix will become available?

[2019-02-26 13:41] toddbrownmcis commented on #1242
@DhruvM7 the PR is complete, just waiting for the repository owner to merge it into the master and build for release. I have no idea when that will happen.

As a workaround, I added a powershell task to my build after the Pester tests run and before the test results are published to update the counters in the Code Coverage report.

[code]

[2019-02-26 13:51] #1242 closed

[2019-02-26 13:52] nohwnd commented on #1242
I just merged it, I will release another beta today (or worst tomorrow) in the evening. :) Thanks for your contribution!

[2019-03-04 10:44] renehernandez commented on #952
@nohwnd Any updates on this? Is it OK as is or do you have any feedback?

[2019-03-04 10:58] renehernandez commented on #734
@nohwnd I am thinking about working on this vs #601. Would you like me to prioritize one vs the other? Does it matter at all or does #601 could serve as basis for the resolution of this issue?

[2019-03-04 11:59] nohwnd commented on #734
@renehernandez One or the other, in both cases you will be modifying the signature of the bootstrap function.

[2019-03-04 11:59] nohwnd commented on #952
@renehernandez nothing yet sorry. I was glad that I got to release the new version this weekend but did not get to anything else.

[2019-03-04 12:30] nohwnd commented on #734
@renehernandez btw do you have twitter?

[2019-03-04 14:10] renehernandez commented on #734
@nohwnd Yes I do, @renehr9102, but I haven't used in a like forever :)

[2019-03-05 18:12] splatteredbits opened #1256 "Last character in parameter filter script blocks getting stripped"
[code]
fails with this error:

[code]

I've tried changing the last characer to a double-quote, enclosing the string in parenthesis, etc. I get the same error.

## 2. Describe Your Environment

[code]

[2019-03-05 18:48] renehernandez commented on #1256
@splatteredbits Nice catch! I found out the reason for the issue:

At [line 1636](https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L1636), we are removing the top-level brackets from the text representation of the block AST.

The problem with that is that I wrongly assumed that will be getting a regular parameterfilter block, i.e:

`Mock -CommandName 'Test-Path' -ParameterFilter { $

[2019-03-05 18:49] renehernandez commented on #1256
@nohwnd I will open a pull request with a fix for this soon

[2019-03-05 20:03] renehernandez commented on #1256
@nohwnd The way I look at this there are two ways of approaching ths:

* Instead of getting the full text of the scriptblock, which we currently do at [line 1619](https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L1619), we could get the text from the EndBlock section (using `$ast.EndBlock.Extent.Text`) and we would avoid completely the check for the most external brackets. The downs

[2019-03-06 08:31] nohwnd commented on #1256
Begin process or params are not expected.

[2019-03-06 12:44] renehernandez commented on #1256
@nohwnd Ok, then I am going to go with the first option :)

[2019-03-06 14:26] StefanSchoof opened #1257 "null check in pester 4.7 fails"
## 1. General summary of the issue
I have a parameterFilter with an null check

[code]
With 4.6 this was working, with 4.7 I got an error:

[code]
## 2. Describe Your Environment

Pester version     : 4.7.1 C:\Program Files\WindowsPowerShell\Modules\Pester\4.7.1\Pester.psd1
PowerShell version : 5.1.17763.316
OS version         : Microsoft Windows NT 10.0.17763.0

## 3. Expected Behavior
The given

[2019-03-06 18:30] renehernandez commented on #1257
@StefanSchoof Thanks for raising the issue.

The problem wasn't with the `$null` check per-se, it was due instead to errors in the calculations as part of the AST rewriting in parameter filter blocks to allow usage of aliases.

Since this wasn't available on version 4.6.0, how were you able to use `$Id` in the `ParameterFilter` block? since `$Id` is an alias for the `$ResourceId` param. You should

[2019-03-06 18:36] StefanSchoof commented on #1257
Thanks for the response. I downgraded my pester to test the sample in 4.6.0 and it is running successful.

[2019-03-06 18:59] renehernandez commented on #1257
@StefanSchoof This would be another test that can surface the symptoms using `New-Item`:

[code]

[2019-03-08 07:14] #1256 closed

[2019-03-08 07:14] #1257 closed

[2019-03-08 07:53] StefanSchoof commented on #1257
Thanks for the amazing fast fix.

[2019-03-08 11:38] renehernandez commented on #1257
@StefanSchoof glad to be able to solve it. Hope it works fine for you now

[2019-03-12 08:09] zlatin commented on #1201
I think Wiki should mention updating PowerShellGet if this error occurs. Not everyone will look at closed issue to resolve the problem.

[2019-03-12 08:57] nohwnd commented on #1201
@zlatin agree :) wiki is free to edit, feel free to add the info. If you don't I will add it over the weekend

[2019-03-12 15:41] johlju opened #1261 "The Should operator BeGreaterThan/BeGreaterOrEqual fails on comparing [Version]"
## 1. General summary of the issue

When comparing `[Version]` the Should operator fails with an error.

Code to reproduce:

[code]

## 2. Describe Your Environment

[code]
## 3. Expected Behavior

Two variables of type `[Version]` should be able to be compared.

## 4.Current Behavior

Fails with the errors below.

[code]

## 5. Possible Solution

None. *I have no looked at the code.*

## 6. Conte

[2019-03-12 16:30] dlwyatt commented on #1261
Looks like you’re just missing parentheses around ([version]’whatever’) on your command lines.

[2019-03-12 17:15] johlju commented on #1261
@dlwyatt Thanks! I like easy solutions. 😄 This works perfectly `[Version] '10.0.0.0' | Should -BeGreaterOrEqual ([Version] '9.0.0.0')`. Didn't even thought about it since I didn't need to write it like that when using `-ge`, but guess it tries to use both statements as parameters. 🙂

[2019-03-12 17:15] #1261 closed

[2019-03-13 09:35] DarkLite1 commented on #856
I was looking to open a new issue for this, but luckily I'm not the first one requesting this new feature. It would be really nice if we can use `-Skip` on a `Describe` or `Context` clause.

Currently, we're developing code in `VS Code` or in the `PowerShell ISE` and simply press `F5` to run it. A small demo piece of code:

[code]

The `$Skip` variable is very important as it allows us to test a s

[2019-03-13 11:55] nohwnd commented on #856
@DarkLite1 In v5 there is a feature that is better suited for this, the `-Focus` paremeter. Putting `-Focus` on a test (or block) will run just it. There is no interactive mode (pressing F5), yet. But it works across multiple files. :)

[2019-03-13 12:10] DarkLite1 commented on #856
So it means that in the future you just add the switch `-Focus` to a `Context`, `Describe` or `It` clause and it will just run that piece of code? That sounds promising!

Related question perhaps, in `VS Code` there is also an option to run a specific piece of code. However, for me it seems like it doesn't do anything when I press `Run tests`:
![image](https://user-images.githubusercontent.com/108

[2019-03-13 12:14] nohwnd commented on #856
Yup. That is how it works. :) In the VS code the plugin (code lens it's called imho) will need to add support for v5, because right now they are just running the whole file with "test name" filter.

[2019-03-13 12:31] DarkLite1 commented on #856
Made a comment [here](https://github.com/PowerShell/vscode-powershell/issues/1500) because I think something is not ok in `VS Code` for running isolated tests.

[2019-03-13 12:57] DarkLite1 commented on #856
I like the idea of `V5` (Pester managed code) so I'm now wrapping my independent code in a `BeforeAll` clause that is managed by Pester. So we're fully compatible with the newer release when it comes. Thank you for the [examples and explanation](https://github.com/pester/Pester/tree/v5.0) you posted, it clarifies some best practices for the future.

So crossing my fingers that:
- Running interacti

[2019-03-13 16:12] nohwnd commented on #856
@DarkLite1 you are welcome :)

[2019-03-16 10:01] #532 closed

[2019-03-20 10:55] renehernandez commented on #601
@nohwnd As part of this issue, are the following two items required?:
- Change parameter type to `object` or `object[]`
- Remove validation attributes?

Do you have any new idea for the name of the new Parameter to add to the Mock function? If the two requirements above are correct, then `UntypeParameter` is missing part of the objective. What about `RelaxParameter`?

[2019-03-20 15:18] nohwnd commented on #601
@renehernandez  Yeah I think it should do those two things. I am not sure if they should be tied together though. How about `-RemoveParameterType` and `-RemoveParameterValidation` that would do each of the actions?

I am also not sure if the type should be explictly provided as `[object]`/`[object[]]` or simply omitted from the parameter definition. Personally I would remove it, let the implemente

[2019-03-20 20:16] jborean93 opened #1262 "Code Coverage outside of Pester"
## 1. General summary of the issue
This isn't an issue but really a question/feature request. I'm working on adding coverage support for Windows module in Ansible and one of the approaches I'm taking is to use Pester to do the coverage work when the module is executed. It seems like I need to run `Invoke-Pester` with `-CodeCoverage` for this to work but I was hoping I could just execute the script

[2019-03-21 10:34] nohwnd commented on #1262
@jborean93 incidentally I worked on this last weekend, and was wondering if there was a place where code coverage would be useful without Pester and could not find any :)

In Pester v5 (that is unreleased, and in alpha right now), the code coverage is no longer dependent on the Pester internals, so what you want is imho easily possible, although untested. Also I did not touch 99% of the coverage c

[2019-03-21 11:11] jborean93 commented on #1262
Thanks for the info I will give it a shot and see how I go. I’m still in preliminary work right now and may not get into more details for a while but this is really great info to know.

[2019-03-22 11:38] renehernandez commented on #601
@nohwnd  How are these changes going to apply to nested `Mock` statements? The following example may illustrate better my question:

[code]

Is each Mock instance override the changes?

[2019-03-23 05:54] nohwnd commented on #601
@renehernandez to keep it simple, they won't. The Mock bootstrap function is defined just once for the first mock, and so are the parameters to that function. Which means that the change to Bar would not apply, nor would the last mock have strongly typed `Foo`.

To make the rules apply we would need to aggregate the rules and apply de-apply them based on the scope. It's not a rocket science, but i

[2019-03-23 12:55] nohwnd opened #1263 "String comparison marker points into emptiness after shortening the output"
The `--------^` arrow is no longer needed after the output of string comparison was changed, but it is still present in string comparison, and it points to empty space.

[code]

Please remove the arrow.

[2019-03-23 14:24] t-mangoe commented on #1263
Hello!
I tried this issue and edited files.
I want to push files I edited, but I don't have permission to push.
If you like, please give me permission.

[2019-03-23 15:15] nohwnd commented on #1263
You have to fork this repository, create a topic branch on your fork (git checkout -b “fix-arrow”), push it to your repository (git push) and then make a Pull Request. If you need more help, let me know :)

[2019-03-23 20:28] renehernandez commented on #601
Yup, that was where I was coming from, because currently we cache the `Metadata` object associated with the Mock; therefore this type of changes applies to all nested `Context`/`Describe`.  I think I have what I need to start working :)

[2019-03-24 06:57] t-mangoe commented on #1263
Thank you,  nohwnd!!
I forked this repository and push my edited file. Then, I made Pull Request.

[2019-03-24 08:15] nohwnd commented on #1263
Fixed by #1264

@t-mangoe if you put the `Fixes #number` as a code block in the PullRequest it does not work. I did not know either, but it seems logical :)

[2019-03-24 08:15] #1263 closed

[2019-03-24 09:22] nohwnd opened #1265 "RFC: Better API for `Invoke-Pester`"
I am trying to simplify the interfaces on Invoke-Pester, to create a pit of success, where the usual stuff is simple easy to discover, and advanced stuff is less simple and less easy to discover. The way Pester v4 does that (to some extent) is by hiding hashtables behind parameters, this gives you a lot of freedom, but hardly a clean strongly typed interface. What I would like is a simple interfac

[2019-03-24 09:54] nohwnd commented on #1251
I was able to replicate it in alpha2 with this simple script:
[code]
In alpha3 it works as expected, there was a typo that deleted the TestDrive after every block, not just in block that created it. All TestDrive tests now also run on the build server so the overall it should behave very close to v4.

[2019-03-24 09:54] #1251 closed

[2019-03-24 10:02] nohwnd commented on #1249
I can't replicate this in alpha2 nor alpha3. To me it looks like you have something using the resource, exactly as the error says. This is what I am using to reproduce the error:

[code]

[2019-03-24 10:03] nohwnd commented on #1239
Confirmed, this is behaving correctly in v5.

[2019-03-24 10:03] #1239 closed

[2019-03-24 10:19] nohwnd commented on #1219
Coming back to this. I think the best way to implement this is indeed adding switches to `BeforeEach`. We are already distinguishing between `Context` and `Describe` in `Mocks` and so we need to be consistent and distinuish between them here as well. The switches make this easy to do and are easy to discover to the user.

[code]

[2019-03-24 10:20] nohwnd commented on #784
They are not anymore, the state is passed on the MyInvocation object as described above.

[2019-03-24 10:20] #784 closed

[2019-03-24 10:30] nohwnd commented on #1108
[code]

Works in v5, the whole hashtable the testcase got is persisted in the result object, no matter which values are used in the test.

I won't add the implicit expansion of properties on object, because in combination with automatic parameter blocks it would lead to the problems described above, and it is easy to make your own hashtable from an object.

[2019-03-24 10:30] #1108 closed

[2019-03-24 10:38] nohwnd commented on #283
In v5 the result is hierarchical, and one result object is produced per file. The functions that process the results to xml / codecoverage / on-screen output will be published from the module so then adding multiple runs together is as simple as adding arrays toghether. v5 will also have built in -Parallel mode so this is done automatically for the basic cases.

Closing this because it is now part

[2019-03-24 10:38] #283 closed

[2019-03-24 10:43] nohwnd commented on #318
This is generally possible in the new runtime, and there are first steps towards this. The internal structure is built around this.

It will be no problem to expose the current test / current block or even the whole internal state to the test / block. I just don't want to do it in v5, I want to allow some time for the internals to dogfood this, and for the structure to stabilize.

[2019-03-24 11:06] nohwnd commented on #292
I touched on this in #1265 and I am not sure if `\` or `.` is the separator to choose. To me it would  avoid confusion between tests file path (*.Tests.ps1) and a "test" path (`Get-Path\uses current directory as the default path`), and would be similar to .net types and their fully qualified names. But I can also see how it is useful to always delimit by just one thing, and in that case `\` is pro

[2019-03-24 11:15] nohwnd commented on #352
Passing tags and filtering on them works in v5.

[code]

[2019-03-24 11:15] #352 closed

[2019-03-24 11:42] nohwnd opened #1266 "Add `-Skip` to Describe, Context and It"
Tracking part of #442 to add Skip on Describe, Context and It.

[2019-03-24 11:52] nohwnd commented on #442
Summmary for myself:

Multiple issues mentioned here:
- Dependencies among tests. I plan to add failing after first failed test, is tracked here #360 and will probably need more research with people who actually write env valiadation tests
- Running just one test and only it's setups - that already works, and one test / block can be selected by `-Focus` ✔

- if there is -Skip on block it will allo

[2019-03-24 11:53] nohwnd commented on #1266
Look for and into usages of `-Skip` to see if there are some that are not workarounds around the issues of v4.

[2019-03-24 11:55] nohwnd commented on #447
This is related to #318, I won't add it to the intial release of v5 to let the internals stabilize.

[2019-03-24 11:58] nohwnd commented on #461
I am closing this because it is partially duplicate of #721 and it's part of v5 design.

[2019-03-24 11:58] #461 closed

[2019-03-24 12:01] nohwnd opened #1267 "Tags on Blocks do not make them run"
in v3-alpha filtering on tag that is on describe does not run it's child tests. It's probably because having $true filter pass on the parent is not inherited to the children when they are maybed ($null) but not rejected ($false).

[code]

[2019-03-24 12:09] nohwnd commented on #739
The path is there in v5 because the block container is attached. The container can be scriptblock, or a file (or something else in the future as well, like a binary blob of encoded pester tests coming from the cloud :D ) and is accessible by either looking at the root block, or the link to root block that every block has.
[code]
The object describes what type of block container we got so we can ch

[2019-03-24 12:09] #739 closed

[2019-03-24 12:17] nohwnd opened #1268 "Allow test scripts to be run interactively"
- Allow running tests by F5
- Allow running tests directly in console

[2019-03-24 12:19] nohwnd commented on #554
Test groups can be nested now, and the result object is hierarchical. Making tests run outside of Describe, and still be able to do all the "infrastructure" setup, and handle teardowns and setups is difficult. Similarly placing After* blocks outiside of describe is problematic in interactive mode, because you don't know which describe is the last on and you cannot rely on AfterAll to be placed at

[2019-03-24 12:19] #554 closed

[2019-03-24 12:32] nohwnd commented on #518
I tried to fix this in v5, and it would kinda be possible, but it would require the BeforeAll to be run inside of the current Describe right before the first It or Describe in the current Describe starts. Unfortunately that brings a lot of headaches to the scopes, and you need to think about what fails where and it's a real nightmare.

In v5 no code should be placed outside of the BeforeAll block

[2019-03-24 12:32] #518 closed

[2019-03-24 12:51] nohwnd commented on #1048
Moving this to 5.x, this is generally possible now, the internal paths are now distinct strings, joining them with `\` should make them good enough for filtering by the user, filtering by a tool can use file paths and locations to make it clear what it means.

[2019-03-24 12:55] nohwnd commented on #335
This is partially duplicate of #1219 where I will be implementing the BeforeEach BeforeAll. Recursive block setups are either already working or easy to add.

Clearing mock history is imho not needed if you place the mock in the correct place, if it turns out to be needed, we can open another issue or re-open thins one.

[2019-03-24 12:55] #335 closed

[2019-03-24 12:57] nohwnd opened #1269 "Timing is wrong"
The times shows in the summary and possibly on the tests are too long when compared to the result of Measure-Command, I am probably aggregating something incorrectly somewhere.

[2019-03-24 13:00] nohwnd commented on #930
I worked hard to keep this possible, the blocks are now uniquely identified by their container and position within it (where the opening curly brace is placed). There is also external Id that can be provided by test generator in case the sequence I am using internally would not be enough.

Preventing duplicate blocks would fail especially in evironment tests.

Closing, because I won't fix this.

[2019-03-24 13:00] #930 closed

[2019-03-24 13:03] nohwnd commented on #979
This is not a problem anymore, the blocks are collected during the Discovery phase and are run in the same way that other blocks are run (a function takes the provided scriptblock and shoves it into the interal tree of blocks and tests). During run the scriptblock is taken from that tree and Before* After* blocks do nothing. No AST.

[2019-03-24 13:03] #979 closed

[2019-03-24 13:07] nohwnd commented on #355
Closing this because it duplicate of #1161 and the basic ideas are already in the code.

[2019-03-24 13:07] #355 closed

[2019-03-24 13:16] nohwnd commented on #657
Implemented in v5.

[2019-03-24 13:16] #657 closed

[2019-03-24 13:30] nohwnd commented on #721
The changes are implemented. Mocking and scoping is very similar to what it was before, just slightly better. Mocks scope to It by default, and BeforeAll is scoped inside it's containing describe not outside of it.

The tests are collected during run phase, and blocks that allow running code during just run and not during Discover are provided. That way the user code can be kept very similar to wh

[2019-03-24 13:30] #721 closed

[2019-03-24 13:33] nohwnd opened #1270 "Add -Parallel switch"
Add the ability to run tests in parallel by providing the number of concurrent runners, and making sure the output is written in blocks and not one over other.

[2019-03-24 13:36] nohwnd commented on #313
In v5 Mock scopes to It by default

[2019-03-24 13:36] #313 closed

[2019-03-24 13:36] fourpastmidnight commented on #1251
Good catch! I missed that myself when looking through the code. Glad to see this is working now.

[2019-03-24 13:47] mklement0 commented on #930
Just to satisfy my curiosity: what do you mean by _environment tests_?

Do you mean blocks that test the same thing but target different platforms, via distinct `-Skip` criteria?

If so, then the duplicate detection could be limited to identically named blocks that all have _no_ `-Skip` argument or the _same_ one (a literal comparison would be good enough, methinks).

[2019-03-24 16:03] nohwnd commented on #930
Environment tests are tests that validate environment, eg. you have a server and you want to make sure everything on it is correctly setup, like DSC but without fixing the errors. Those tests are often generated from config files that are fed into foreach loops.

But generally I don't want to prevent anyone from generating few blocks with the same names if I don't have to. To two blocks with the s

[2019-03-24 16:27] mklement0 commented on #930
Thanks, @nohwnd - I know this isn't a big deal either way in the grand scheme of things, but I'm still struggling to see the _upside_ of allowing this - an automated way of generating tests _should_ use sequence numbers, for the authors' own benefit.

Given that there is no requirement for the _user_ to identify blocks with anything other than a name (even though Pester may assign IDs behind the s

[2019-03-24 19:48] Stephanevg commented on #1243
Hi @LethiferousMoose

I have been writing quite a few modules with classes. And one thing that I learned trhough time, is that the 'using module' statement is really just a source of problems; So I try to avoid it at all costs.
I might ahve a solution for you, but It would imply you re structure your modules code a bit.

If I need to have access to the instance of class that is located in a module

[2019-03-24 19:51] nvarscar commented on #1219
Nice! thanks @nohwnd, looking forward to v5

[2019-03-24 20:14] Stephanevg commented on #1163
Hey @nohwnd sorry It took me ages to come back to this one.

I just looked at it again. Launching a short test, I see this:

![image](https://user-images.githubusercontent.com/6302961/54885073-b454a900-4e78-11e9-9fb7-db50a779bd60.png)

I asume that this is now fixed, right?

[2019-03-24 20:40] nohwnd commented on #1163
I don’t think it is. The issue is about the detail of the operator, not the overview (in your screenshot).

[2019-03-24 21:19] Stephanevg opened #1271 "Pester v5: invoke-Pester -Path doesn't execute pester scripts without .Tests.ps1 in their name."
## 1. General summary of the issue

This is concerning pester v5. I was just playing around with it a bit, so, if this is already a know issue, please forgive me for opening another issue.

Example:

`C:\MyTestfile.ps1`

Containing a simple test:

[code]

When I do:

[code]

this is the output:

![image](https://user-images.githubusercontent.com/6302961/54885759-182ea000-4e80-11e9-955f-c1c172e50c2

[2019-03-24 23:27] Stephanevg commented on #1163
Ok, I have got something working here, but I am not really a big fan of the output, and that is something I think we ned to discuss.

I did a PR (https://github.com/pester/Pester/pull/1272) so we can maybe discuss directly in the code there.
Otherwise, here is fine too :)

[2019-03-25 05:02] nohwnd commented on #1271
Thanks for reporting, I’ll fix it :)

[2019-03-25 05:03] nohwnd commented on #1271
And yes, it’s a problem of the code you pointed out.

[2019-03-25 10:49] renehernandez opened #1274 "Mock fails to process dynamic parameter called PSEdition"
## 1. General summary of the issue

`PSEdition`, which is a conflicting parameter name, is not being properly handled while mocking if it is used for a dynamic parameter

The following function and test highlight the issue:

[code]

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

It should pass

# 4.Current Behavior

It fails

## 5. Possible Solution

Add corresponding implementa

[2019-03-25 10:54] renehernandez opened #1275 "Aliases for dynamic parameters cannot be used in ParameterFilter blocks"
## 1. General summary of the issue

Parameter Aliases are not properly handled for dynamic parameters in `Mock`

The following function and test highlight the issue:

[code]

## 2. Describe Your Environment

[code]
## 3. Expected Behavior

It should pass

# 4.Current Behavior

It fails

## 5. Possible Solution

Add corresponding implementation for dynamic parameter for what was done for regular pa

[2019-03-25 16:54] Jaykul commented on #320
Are you saying you're going to **require** moving mocks that are in `Describe` blocks now into `BeforeAll` blocks? That would require us to rewrite just about every use of mocks that we have (which might very well mean every test file we own).

[2019-03-25 16:56] Jaykul commented on #1270
At what scope are we talking about parallelizing?  I mean, what "things" would become parallel?

Fixtures? Describe? It?

[2019-03-25 17:42] nohwnd commented on #1270
It is whole files (for now?). They usually have common setup on the top of the file and one or more Describes.

[2019-03-25 20:26] Jaykul commented on #1265
I like the idea of simplifying the core Pester command, even if it means we need a "Filter" or "Options" command.

I wonder if a _config file_, rather than (just) a live object would be ideal for helping contributors run tests the way I expect them to be run against my projects. Maybe the Filter command should be called `New-PesterConfig` and can return an object you can pass to a `-Config` parame

[2019-03-27 02:08] lingyf opened #1277 "Assert-MockCalled failed on the Key parameter of the ConvertTo-SecureString"
## 1. General summary of the issue

I'm writing a PowerShell function that imports System.Security.SecureString from the pre-exported `Encrypted Standard String` and `Encryption Key`, and I ran into an issue when I was writing Pester test for it. Here is the simplified example:

[code]

## 2. Describe Your Environment

Pester version     : 4.7.3 C:\Program Files\WindowsPowerShell\Modules\Pester\4.

[2019-03-27 04:19] dlwyatt commented on #1277
You're probably running into the `-eq` operator's behavior when the left-hand operand is a collection.  `$Key -eq $encryptionKey` doesn't do quite what you are intending it to do here.  Quick and easy fix would be to convert each operand to a string:  `[string]$Key -eq [string]$encryptionKey`

[2019-03-27 06:17] #1277 closed

[2019-03-27 06:42] lingyf commented on #1277
@dlwyatt Thanks for the concise solution!

[2019-03-27 07:32] nohwnd commented on #1265
Formatted.

Yes that would be a nice addition, and something I am playing with, but I don't want to force anyone to fiddle with config files just to be able to run some tests. So the configuration has to be an addition to an already working solution.

Here I was simply putting Exclude to every 'Include' that I saw as useful. I agree that excluding things might be more advanced, but it seems like a

[2019-03-27 14:36] #952 closed

[2019-03-28 02:23] davinci26 commented on #301
Hey again,

I have made a quick implementation that looks like this:

[code]

And this `Mock` will be put in the describe.ps1 in the `DescribeImpl`. What do you think about it? Is this what you had in mind?

[2019-03-28 05:21] fourpastmidnight commented on #1267
In Gherkin, you had a Convert-Tags function that propagated all the tags from Features down to Scenarios. Could you use a similar mechanism here?

[2019-03-28 07:37] nohwnd commented on #301
@davinci26 In pester v5 I am capturing the standard output of the command and saving it into the test result object, so it can be used for the NUnit output. I am not doing anything special regarding Write-Host, Write-Warning, Write-Debug or Write-Verbose yet, but if we figure out a way how to capture the output in a transparent way then it can be done in a single place, because in v5 all the user

[2019-03-28 20:47] davinci26 commented on #301
@nohwnd I checked the v5 branch at it looks a huge improvement :) I am seriously impressed!

- The current implementation is really helpful,
- I want to give a go and see how the approach above would work in v5.x  Capturing the rest of the streams can be useful for better logging experience.

Independently of this, I observed that Pester v5 has breaking changes in terms of the `PassThru` object re

[2019-03-29 17:09] nohwnd commented on #301
@davinci26 the eta is in next few months, depending on how much time I have over weekends :) The passthru object can by transformed to the old one, so current integrations keep working. I started with that (iirc I called it `Get-LegacyResult`)so if you want to continue with that then that would be a nice addition.

[2019-03-31 08:02] #601 closed

[2019-03-31 08:02] #980 closed

[2019-03-31 11:32] #1269 closed

[2019-03-31 11:33] nohwnd commented on #1270
Moving this up to 5.x, it should be technically possible but needs more research to make the api simple and useful at the same time.

[2019-03-31 11:35] nohwnd commented on #607
Moving this to 5.x, as mentioned [here](https://github.com/pester/Pester/issues/1265#issuecomment-476363495 ) it is not as practical as it might seem so I'd like to do a bit more testing and thinking.

[2019-03-31 11:36] nohwnd commented on #1249
Please re-open if you get more info. I haven't seen this issue a single time I am working on v5 :)

[2019-03-31 11:36] #1249 closed

[2019-03-31 11:42] nohwnd commented on #632
In v5 the time spent running user code and the time spent running framework code is counted separately, in the output object you find Duration (time in user code in this and child blocks), FrameworkDuration (time in framework code in this and child blocks), DiscoveryDuration (time spent discovering this block), and it would also be possible to calculate time spent running just this block but not t

[2019-03-31 11:42] #632 closed

[2019-03-31 11:47] nohwnd commented on #1097
In v5 this works correctly because the teardowns are captured independently and there is a scope boundary between them.

[2019-03-31 11:47] #1097 closed

[2019-03-31 11:50] nohwnd commented on #559
Won't fix this for v4, but in v5 the filters have OR relationship, with excludes taking the precedence. :) This should be good enough for most cases, for others I might add a scriptblock predicate where the caller can do whatever they way.

[2019-03-31 11:50] #559 closed

[2019-03-31 11:52] nohwnd commented on #302
Not sure what would be the best approach here, it seems connected to Parallel switch (because one time setup for every file is probably needed there), and also to the BeforeEach -Describe, BeforeEach -Context story.

[2019-03-31 12:23] nohwnd commented on #898
@DarkLite1 After reviewing this I am not sure what the actual request is. Do you want to be able to BeforeEach before each Describe but not it? Or do you want to be able to run BeforeEach inside of a `In` block?

[2019-03-31 12:27] nohwnd commented on #898
Right now I've did this for `In` so it can be used around blocks even in places where TestDrive does not exist (during Discovery).

[code]

[2019-03-31 12:29] nohwnd commented on #898
If your request is to give the `In` a contextual meaning so that the setups would run only inside of it, but not in other places, then that is technically possible, but you should see how complicated it is to manage the scopes to be correct without adding arbitraty scopes like this one, so I won't implement that, it can be easily replaced by a Describe/Context block. In 5.x milestone there is `Bef

[2019-03-31 12:32] nohwnd commented on #320
Ignoring mocks during Discovery, and binding them to their parent block when not in a setup block should not change much, they cannot be filtered to Before* blocks. So if it is not a lot of effort and will make moving from v4 to v5 easier I will do it.

[2019-03-31 12:41] nohwnd commented on #981
The blocks are no longer handled via AST in v5 so both cases work fine, with one small change, instead of using the `$TestDrive` variable, you need to use `-TestDrive` switch on `In` because `$TestDrive` is no longer set globally to avoid polluting the global scope, and keeping it consistent with `TestRegistry`.

Path to the `TestDrive` is still available via `(Get-PsDrive TestDrive).Root` in case

[2019-03-31 12:41] #981 closed

[2019-03-31 13:38] nohwnd commented on #1158
nohwnd [3:17 PM]
I am now facing a dillema. When adding a mock with -ModuleName parameter there are multiple places where a mock can run. It can run inside of the module, but then it loses access to the variables defined in the test. It can run in the test scope, but then it loses access to variables in the module scope. How this is done in v4, the mock uses a mix of both, the parameter filter run

[2019-03-31 13:50] nohwnd commented on #734
Fixed in #1278

[2019-03-31 13:50] #734 closed

[2019-03-31 16:10] fourpastmidnight commented on #1158
Well, I've since gotten around this issue in several ways. First, I was finding that `InModuleScope` didn't work well at all for Gherkin style tests, especially when some steps are reused and sometimes need to be called in the module scope, while other times it does not. You cant' have both. So, I've gotten around this:

I have the following structure for my test suite:

[code]

So, Pester Gherkin

[2019-03-31 16:17] nohwnd commented on #1158
@fourpastmidnight  thanks, I just don't think I can use any of that :)

[2019-03-31 16:23] fourpastmidnight commented on #1158
@nohwnd Agreed. I don't think this would become part of Pester proper in any way. But I think for Gherkin-style tests, it will always be challenging to have things scoped "correctly". So, I posted this mainly so that if anyone else is looking for ways to "have their cake and eat it, too", this is how I'm able to do that.

IOW, maybe we don't need to worry about the "scoping issues" so much for Ghe

[2019-03-31 16:27] nohwnd commented on #1158
@fourpastmidnight yes. I already do that in v5, and here is an isolated example of how to do that: https://gist.github.com/nohwnd/3ca1c5f2240ee187303867ddb7422665

[2019-03-31 16:36] fourpastmidnight commented on #1158
I'm still a bit weak on scoping and sessions in PowerShell (but getting better!)--so I still don't grok that example _completely_, but I'm realy glad to see this has been worked on. I'm looking forward to Pester v5! 😄

[2019-03-31 19:50] nohwnd commented on #204
Fixed in #1281 bodies and parameter filters now run in the test scope.

[2019-03-31 19:50] #204 closed

[2019-03-31 19:50] nohwnd commented on #1158
Fixed in #1281 bodies and parameter filters now run in the test scope.

[2019-03-31 19:50] #1158 closed

[2019-03-31 19:56] nohwnd commented on #320
The scoping is set to `It` by default. The Mock is ignored during discovery, so you can keep them outside of BeforeAll, if that helps making the migration easier.

[2019-03-31 19:56] #320 closed

[2019-03-31 20:06] nohwnd opened #1282 "Show that interactive mode is not supported"
When running the file it shows that it cannot run the test, this should show that the interactive mode is not supported.

[2019-03-31 20:07] nohwnd opened #1283 "Use BeforeAll instead of Add-Dependency"

[2019-04-01 11:10] DarkLite1 commented on #898
The goals was to avoid duplicating code and the workaround suggested is fine by me. Awesome, thank you @nohwnd .

[2019-04-01 13:50] nohwnd commented on #898
Great :) closing

[2019-04-01 13:50] #898 closed

[2019-04-02 11:13] renehernandez commented on #1275
@nohwnd Can you add this issue to the *Better Mock* milestone?

[2019-04-02 11:14] renehernandez commented on #1274
@nohwnd Can you add this issue to the Better Mock milestone?

[2019-04-02 16:02] Stephanevg opened #1284 "[Question] how Distinguish Describe from Context block in NunitXML"
The question is in the title actually.

This is my script

[code]

Which generates the following XML

[code]

How can I distinguish the context from the describe test-suite? Both of them are 'Test-Suites' and are both of type 'TestFixture'.

Parsing this XML strucutre is pretty difficult, because I cannot find a trustfull way to identify what I am dealing with (Or perhaps I am missing something?)

[2019-04-02 22:52] fourpastmidnight commented on #1284
Well, as you can see from the XML structure, the Context shows up as a nested, child `test-suite` element of the `test-suite` element representing the Describe block. I recently was looking for a nice NUnit to HTML formmatter. I found a few that "fit the bill". 2 of them showed the following test names as parsed from the XML:

* My Describe block.My Context block.My It block 1
* My Describe block.

[2019-04-03 05:22] Stephanevg commented on #1284
I think you missed the point @fourpastmidnight
Figuring it out visually is one thing. I was trying to do it programatically.

I cannot trust your saing of

because how the pester DSL is currently built, I could have hundereds of describes and contextes one in each other.

See this example

[code]

[code]

Imagine my blocks were not so obviously named, and try to get only the context blocks using x

[2019-04-03 06:38] nohwnd commented on #1284
@Stephanevg The XML format we use is NUnit (2.5). That format has no idea about contexts or describes. For Pester those blocks are also virtually the same, the only place where they are distinguished is `Mock -Scope`, and in v5 there will be `BeforeEach -Describe / BeforeEach -Context` to keep it aligned with `Mock -Scope`.

That said it could be added into the metadata, there was work going on to

[2019-04-03 09:19] Stephanevg commented on #1284
@nohwnd  The original need I have is that I wanted to persist the results from a Pester run to have a historical view of the runs (at what date did test X stopped beeing successfull for example).
The data I want to parse could be old output, which would be persisted in a DB.

I just used the NunitXML format as it seemed to me that that the official output was for persistance scenarios.  I also had

[2019-04-03 11:23] fourpastmidnight commented on #1284
There are several tools online, which I already mentioned, which parse this format. Such as NunitHtmlReportGenerator, and ReportUnit. They are both on Github and perhaps you could use those as the basis for what you’re trying to do.

I think a Json output would be a nice addition, too, it’s a bit easier to work with, especially for manipulating with JS to create nice HTML-based reports. I’m sure R

[2019-04-03 16:01] Stephanevg commented on #1284
Yeah, ReportUnit 1.5 has a bug, and it is pretty difficult to find the .exe of 1.3. Also, the tool only works if you have an internet connection, and it works only Windows.

For these reasons I was looking to build another parser. Indeed, I could go and reverse engineer reportUnit, but I saw a more straightforward by adding that information into the XML

[2019-04-03 16:24] fourpastmidnight commented on #1284
@Stephanevg I managed to get both versions of ReportUnit by downlading the NuGet package and extracting it from there. Simply change the downloaded file name from `ReportUnit*.nupkg` to `ReportUnit*.zip` and unzip it. ReportUnit executable should be in the `tools` folder.

I have been able to run both ReportUnit 1.2.1 and 1.5.0-beta1 without issues. Although, the output fromat (for Gherkin, anyway

[2019-04-03 16:34] fourpastmidnight commented on #1284
Ultimately, what I would really love to do (but would need buy-in from @nohwnd because we've discussed not implementing further output formats at one point) is (again, for Gherkin anyway) provide an option to output Cucumber Json format (again, for Gherkin--not sure if RSpec has an equivalent Json format) so that I could use a tool such as [DonutReports](http://donutreport.github.io/donut/) ([GitH

[2019-04-03 20:28] fourpastmidnight opened #1285 "NunitXml does not reflect proper status of non-passing scenarios"
## 1. General summary of the issue

As I continue to work on PR #1276, I discovered that the NUnitXml emitted for Gherkin-style tests does not emit it in such a way that scenarios with failing steps appear as failed `test-suite`s. And this would also go for Pending and Undefined scenarios (which would probably both be Inconclusive for Nunit??).

This is more of a "note to self" to fix this on the

[2019-04-03 20:29] fourpastmidnight commented on #1285
@nohwnd Is it possible for you to assign this to me?

[2019-04-03 20:43] fourpastmidnight commented on #1285
You know, it would be more helpful if I actually attached a report showing the current behavior. Sorry about that. Find it attached. Just rip off the `.txt` extension.

[TestResults-temp.html.txt](https://github.com/pester/Pester/files/3040655/TestResults-temp.html.txt)

[2019-04-04 07:12] nohwnd commented on #1285
@fourpastmidnight it's all yours.

[2019-04-04 09:02] mrboring opened #1286 "Code coverage says untested tests are covered"
## 1. General summary of the issue

If a function is called by another function, which has been unit tested, `-CodeCoverage` thinks it has been tested.

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

Example code:

**TestFunctions.psm1**

[code]

**TestFunctions.Tests.ps1**

[code]

I would expect that running `invoke-pester -CodeCoverage .\TestFunctions.psm1` should result in:

[2019-04-04 09:48] renehernandez commented on #1286
@mrboring Code coverage usually refers at the percentage of code (counting every possible execution branch) that is covered by automated tests. In this scenario `TestFunction1` is covered by the call to `TestFunction2` and that is the expected behavior of a code coverage functionality.

[2019-04-04 11:56] mrboring commented on #1286
I've been using it to identify missing tests. Maybe I've been misusing it.

[2019-04-04 12:23] dlwyatt commented on #1286
There is no way for us to know if your tests actually cover all of your logic / branches properly. All the code coverage metrics tell you is that you executed those lines of code during your tests. If lines are not hit during the run, then you definitely did not test those.

[2019-04-04 13:18] mrboring commented on #1286
I've just created a workaround for identifying missing tests. It works for the way I structure my projects.

[code]

I have each function in a separate file, and it's associateted tests in a separate file. I've written a small script that looks for all function files. It then iterates over them and looks for an associated test file. If one is found it runs `Invoke-Pester -Script function.Tests.ps1

[2019-04-04 14:10] #1286 closed

[2019-04-05 14:08] nohwnd commented on #1003
fixed by #1287

[2019-04-05 14:08] #1003 closed

[2019-04-05 14:33] jtmoree-kahalamgmt-com commented on #360
I am trying to use the fail fast code posted here in comment above (https://github.com/pester/Pester/issues/360#issuecomment-269493448).   It is not stopping the run of the tests.   Instead it runs them all and marks them failed.  seems to be the same issue mentioned in  #issuecomment-454449612.  In replies to that comment it is suggested to put a break in the code.

Where would a break help?  I p

[2019-04-07 07:11] nohwnd commented on #1227
Thanks for the info here, I ended up doing it in a way that does not need this kind of magic, to keep it easy to debug. :)

[2019-04-07 07:11] #1227 closed

[2019-04-09 09:18] luckerby opened #1288 "Deserialized Type Cannot Be Mocked"
[code]
I've used Pester successfully to mock functions from the Active Directory module. All working as expected.

Now I'm trying to use Pester against functions from a remote Powershell session, but I'm having trouble doing so. Case in point: trying to mock the Get-Mailbox cmdlet from within Exchange Online.

Trying to create an object of the type Get-Mailbox returns - which is `Microsoft.Exchang

[2019-04-09 11:02] nohwnd commented on #1288
@luckerby hard to guess what you are doing in the test :) Can you show me a simple test code that would replicate the issue so I can get some idea? To me it seems that you simply don't have that type that you are creating.

If you have the `Get-Mailbox` cmdlet locally then you should be able to look at the types it uses as output types quite easily. `Get-Command Get-Mailbox` will show you the c# t

[2019-04-09 13:01] luckerby commented on #1288
@nohwnd: Indeed, I didn't give out much info :) My mistake. Let us address this: based on the model shown [here](https://devblogs.microsoft.com/scripting/testing-script-modules-with-pester/), and my own successful experimenting with the ActiveDirectory module, I've built 2 files:

First, the function that I'm using (mimicking some complex filtered parsing that one would expect in production):
[cod

[2019-04-10 01:36] fmichaleczek commented on #1243
@Stephanevg
I publish on Gist a sample implementation where the module "ModuleTypePOC" adds your module classes to the global scope via private Reflection.

[Module Type Gist](https://gist.github.com/fmichaleczek/e91e8965a0f18ff793b027a30ec4fab3)

It's maybe bad, but I don't have enhanced classes with async/runspace/parallel features, it works enough for me, for coding, testing or building a new P

[2019-04-10 06:55] rdbartram commented on #1288
I've had similar issues when testing stuff with either SQL or AD types. You either need to replicate the class locally (as much as needed) or you need to make sure the dll is available. You could copy it out of the exchange server (probably isn't 100% legal) or you could make sure that the exchange management tools are installed on the machine where you run your tests. We haven't seen too much of

[2019-04-10 07:03] rdbartram commented on #1218
I like the idea of Add-Dependency to simplify importing scripts, but what about modules? I had some test classes I created for pester testing vmware PowerCLi but I had to mark them as .ps1 and use add-dependency in the beforeall in order that they worked. Previously, i had them as using module statements at the top of the .test.ps1 but that doesn't work anymore.

Could we do something with Add-Dep

[2019-04-10 07:06] luckerby commented on #1288
@rdbartram The code I'm using is rather straighforward and it's in my latest reply (my mistake for not placing this in the original post). I can't really get the .dlls used - or at least I think I can't - since we're talking about Exchange Online, not the on-premises version of Exchange, where one has access to the management tools. All I get back through the remote PS session is Desearialized.XXX

[2019-04-10 07:23] nohwnd commented on #1288
Can't try it right now, but I think this is enough info for me to replicate it. I will try it in the evening or in couple of days. :)

[2019-04-10 07:25] rdbartram commented on #1288
As you say, all you're getting is a PSCustomObject back called Deserialized.XXX. Creating you're own PSCustomObject is really you're only option. I don't see too much of an issue with the readability and cleanliness of the code since you already have a SpawnTestMailbox function. If you really want to have all the properties available but don't want to see them all in the tests.ps1, you could write

[2019-04-10 07:29] nohwnd commented on #1218
@rdbartram when I wrote `Add-Dependency` I made it do the same thing as `.`, but then I realized that I am not using it as such. Instead I am using the `Add-Dependency` in the same manner as `BeforeAll`, so the goal of the issue is to use the same syntax so there is one less cmdlet to think about.

I don't know if I am able to do anything about `using module`, so that is still something I need to

[2019-04-10 07:48] rdbartram commented on #1218
ok. so i'll stick to dot sourcing in the beforeall as in v4. Is a cool idea though, to simplify the dependencies. Could even make it something like frontmatter at the start of the tests.ps1

[2019-04-17 10:36] raisin-loaf opened #1289 "Can No Longer Mock ConvertFrom-Json"
Hi all,

Since upgrading to PowerShell 6.2.0 any attempt to mock `ConvertFrom-Json` results in the following error:

[code]

Test script is as follows:

[code]

I've tested on Linux and Windows with PowerShell 6.2.0 and Pester 4.7.3. If I roll back to PowerShell 6.1.2 the problem disappears.

I'm not sure where to begin with this, I'm no .NET developer but I do know that `Object reference not set

[2019-04-18 10:07] dennisl68-castra commented on #1072
The same goes for swedish characters.
Make sure VS Code is using **utf8bom** as encoding in File settings.

[2019-04-19 20:03] FISHMANPET opened #1290 "Ability to specify conflicting parameter names?"
## 1. General summary of the issue

I believe this is related to #1007.  I see in the fix for that, the variable $script:ConflictingParameterNames was hardcoded which currently just contains PSEdition.  I happen to be mocking a function that contains a parameter called host, and I'm getting the same error that was originally reported in that bug.  As far as I can tell there's no way to specify con

[2019-04-20 00:55] renehernandez commented on #1290
@FISHMANPET Thanks for bringing this up to our attention.

While working on #1007, we discussed the possibility of having the default `$script:ConflictingParameterName` to account for multiple variables, but we agreed that it could have ramifications that we were not able to account for at the time.

There are several things we could here:

1- Just add *Host* as a new entry into the `$script:Confl

[2019-04-22 12:09] nohwnd commented on #1290
@renehernandez  All of those are valid options, if I had to choose I'd go with `1)`, just adding the common read-only/constant automatic variables in the list, the list is short and does not grow that much.

@FISHMANPET  Is it possible that you fix it on your side, the same way we do it? (you give the parameter a non-conflicting name, and alias it to `host`).

[2019-04-22 14:17] sobjornstad opened #1291 "Cannot use ${function:}s for ParameterFilters anymore"
## 1. General summary of the issue

Sometimes I need to use a mock input in multiple places, so I will define it as a function. PowerShell allows you to refer to a function using the syntax `${function:MyFunctionName}` where the ScriptBlock would be expected. This worked great in previous versions of Pester.

As of pull request #1240, introduced 2 months ago, I can no longer specify a parameter fi

[2019-04-22 14:50] nohwnd commented on #1291
@renehernandez ideas?:)

[2019-04-22 23:56] clcaldwell commented on #1291
This should be relatively easy to fix.

    $( {Get-Service} ).Ast
is type [System.Management.Automation.Language.ScriptBlockAst]

While:

    function getsvc { get-service }
    $( ${function:getsvc} ).Ast

is type [System.Management.Automation.Language.FunctionDefinitionAst]

It might be as simple as adding this this line:

    if ($Block.Ast -is [System.Management.Automation.Language.FunctionDe

[2019-04-23 08:52] mikeclayton commented on #1289
I can reproduce this  locally with Pester, and I've extracted a minimal repro below, which is bare-bones PowerShell. On the surface of it, this looks like a breaking change in PowerShell itself...

[code]

Results are:

**PowerShell 6.1.2**
[code]

**PowerShell 6.2.0**
[code]

[2019-04-23 11:10] renehernandez commented on #1289
There is already a similar issue raised in the PowerShell repo (https://github.com/PowerShell/PowerShell/issues/9058)

[2019-04-24 11:30] mrboring opened #1295 "Problem mocking Test-Connection"
## 1. General summary of the issue

Mocking Test-Connection results in an error referring to `GetParamBlock`.

### Sample code

[code]

## 2. Describe Your Environment

[code]

## 3. Expected Behavior

I expected the test to pass.

## 4.Current Behavior

### Output of running `Invoke-Pester .\Untitled.tests.ps1`

[code]

[2019-04-24 13:08] renehernandez commented on #1295
@mrboring This is already a known issue with the PowerShell Core 6.2.0 release (https://github.com/PowerShell/PowerShell/issues/9058)

[2019-04-24 13:11] mrboring commented on #1295
@renehernandez Thanks for the prompt, and helpful, reply!

[2019-04-26 18:48] edouard-lopez opened #1296 "How to test parameter is prompt when missing?"
I want to write a test in order to ensure a feature I'm adding will be preserved by future refactor.

The feature is to [prompt the user](https://github.com/edouard-lopez/lesspass-powershell/issues/20) for the value of the required parameter. Implementation is quite easy:

    [string][Parameter(Mandatory=$true)]$master_password,

But I don't know how to test this as my tests got stuck to the prom

[2019-04-26 18:56] edouard-lopez commented on #1296
This might help https://www.powershellgallery.com/packages/Await/

[2019-04-26 19:05] ChrisLGardner commented on #1296
The method I use is to check the parameter attributes to ensure Mandatory is still set:

`(Get-Command Blah).Parameteres['ParameterName'].Attributes.Mandatory | Should -Be $true`

Works very well for my needs.

[2019-04-26 19:11] edouard-lopez commented on #1296
Fixed thanks to @halbarad from Slack:

    It 'Prompt for MasterPassword when missing' {
        (Get-Command Get-LessPass).Parameters['master_password'].Attributes.Mandatory | Should -Be $true
    }

[2019-04-26 19:11] #1296 closed

[2019-04-27 22:01] renehernandez commented on #1275
I have done some preliminary work on this and there are some nuances that we need to account for.

* Since dynamic parameters are defined at runtime, and may change between invocation, we cannot perform the detection of aliases during the mock generation phase.
* Based on this, we may have to check for aliases right before proceeding to test if a particular filter block matches, both for mock invo

[2019-04-29 08:47] mikeclayton commented on #1295
Just to leave an audit trail, this is the same underlying issue as reported in https://github.com/pester/Pester/issues/1289 for ConvertFrom-Json:

[2019-04-29 12:02] rchaganti commented on #742
You may want to check out PSRemotely by @dexterPosh https://github.com/DexterPOSH/PSRemotely

[2019-04-29 15:23] ykuijs opened #1297 "Add possibility to use debugging and breakpoints in mocks"
## 1. General summary of the issue

When creating Pester tests, you can use debugging and breakpoints in Pester file. However, it is not possible to set breakpoints or step through mocks. It would be very helpful to add the possibility to do this to Pester, especially when you have complex mocks which you are trying to troubleshoot.

## 2. Describe Your Environment

Windows 10  and Windows Server

[2019-04-30 06:39] nohwnd commented on #1297
Hi, thanks for the report, I will look into this in v5.

Note to self:

In v4 the block for mock (unless it is a closure) are manipulated as a text to add param block and de-attach them from the test scope. In v5 the mock body should run in the test scope and the params should be added to a wrapper script block so we keep executing the same scriptblock and breakpoints still work.

[2019-05-01 06:40] #1291 closed

[2019-05-01 11:22] deejaygraham commented on #1236
I'd like to volunteer for this one.

[2019-05-01 12:10] nohwnd commented on #1236
@deejaygraham it's all yours :)

[2019-05-01 14:48] #1211 closed

[2019-05-01 15:04] nohwnd commented on #1297
To achieve debugging here we would have to either:
1) stop re-writing the parameter filter to remove parameter aliases from it - and instead parse the scriptblock and define appropriate variables above (which will be problematic if variables of those names are constants)
2) copy breakpoints and put them in the same place in the re-written block
3) do not copy breakpoint but trigger the original on

[2019-05-01 15:24] nohwnd commented on #1297
Discussion on slack:

seeminglyscience [5:10 PM]
Nah it's stored in `FunctionContext`
Well at runtime, any other time it's just sitting in the debugger

nohwnd [5:12 PM]
pretty much we need to rewrite the sb provided to parameterfilter to allow using aliases of parameters eg $Last when you actually mean $Tail parameter, we do that by asting the scriptblock and then [scriptblock]::create to create

[2019-05-01 15:26] nohwnd commented on #1297
This should not be a breaking change, the mock an param filter both run in test scope now, so it should be compatible change, moving up to 5.x because I don't have to do it now.

[2019-05-01 18:37] #1283 closed

[2019-05-02 19:04] #1282 closed

[2019-05-02 20:19] clcaldwell commented on #1228
Both the version on Nuget and the PSGallery are 4.8.0 . This issue should be closed.

[2019-05-02 20:42] #1228 closed

[2019-05-02 20:43] clcaldwell opened #1302 "Old Powershell version support"
## 1. Roadmap for supporting older version of Powershell

Just opening this to have a discussion on what the plan is for future development of Pester, specifically on maintaining or dropping compatibility for older version of Powershell.

Do we have any plans to drop support for older versions of Powershell? It appears we support all the way back to Powershell 2.

Also for discussion - what are we

[2019-05-02 20:58] clcaldwell commented on #1302
To start this off, Windows Server 2008 SP2, which as far as I can find is the oldest, still currently supported OS available from Microsoft, allows for installation of Powershell 3. If we target Powershell 4 or 5, Pester could still be run on Windows Server 2008 R2 or Windows 7 SP1 .

Since Pester, as a Unit Test framework used by developers, is most likely to be run from either a relatively new b

[2019-05-02 21:02] nohwnd commented on #1271
Fixed

[2019-05-02 21:02] #1271 closed

[2019-05-02 21:11] nohwnd commented on #1302
Pester currently supports PowerShell 2+ and in version 5 will support PowerShell 3+.

The important thing is that we can run tests the same way over the whole range of officially supported PowerShell versions. That way modules that run on any powershell can be tested via a single version of Pester.

[2019-05-02 21:14] nohwnd opened #1303 "Broken build on master for v2"
There is a hole in my release process where I take the latest code and fix it locally, then when it passes all tests I make a new version and push it to package registries. Then I push it to repo. This time it did not go perfect and v2 build is broken for some reason. Revisit and publish 4.8.1

[2019-05-03 14:27] deejaygraham commented on #1236
done.

[2019-05-03 14:36] #1236 closed

[2019-05-03 15:16] FISHMANPET commented on #1302
Server 2008 and 2008 R2 will leave extended support in January of 2020.  To my knowledge, there are currently no supported Microsoft operating systems that will only support up to Powershell 2.  In January 2020 there will be no supported operating systems that only support Powershell 3.  So I'm wondering what the rationale is for currently supporting Powershell 2 (other than Powershell 2 was suppo

[2019-05-03 16:22] nohwnd commented on #1302
@FISHMANPET what you described is a powershell v3 feature.

I thought about it and I've already decided to support powershell v3 in pester v5, moving it on to powershell v4 does not bring anything in terms of functionality that would be critical for pester, but it  stops people from testing with it when they need to support all oficially supported versions of powershell.

[2019-05-03 17:10] clcaldwell commented on #1302
Targeting 5.X to PoSH 3 sounds reasonable to me.

Looking over [this page](https://docs.microsoft.com/en-us/powershell/scripting/whats-new/what-s-new-in-windows-powershell-50?view=powershell-6) , I don't really see much that would make a difference to Pester between 3 & 4 - most of the changes / improvements to 4 deal with DSC / Remoting.

PoSH 5.1 would probably add value ( Classes, improved runs

[2019-05-04 07:12] nohwnd commented on #1302
Good, I am glad you agree. :)

[2019-05-04 07:12] #1302 closed

[2019-05-04 07:41] nohwnd commented on #1250
[code]

[code]

LGTM, I probably fixed it somewhere along the way and forgot to close this.

[2019-05-04 07:41] #1250 closed

[2019-05-04 16:08] f0rt opened #1304 "Request: Add more options to Invoke-Pester -Show"
Team,

Please add more options to Invoke-Pester -Show parameter to be able to hide:
- Executing all tests in 'my.Tests.ps1' with Tags mytag
- Executing script mytest.ps1

This will make reports easier to read in some cases. For example when I re-run the same script file with different parameters like 100 times these strings add only noise to the output.

Thanks,
Nedko

[2019-05-04 20:36] f0rt opened #1305 "-BeIn exception only shows the first 10 elements of the expected set"
`101 | Should -BeIn (1..100)`

prints the following error message:

This is misleading since the expected set doesn't contain only 10 elements.

[2019-05-05 01:11] fgimian commented on #366
Thanks so much for these tips, very helpful.

Just one little note.  The first solution will still display the error on the screen which may be rather distracting while running Pester.  You may simply add `-ErrorAction SilentlyContinue` to avoid this happening.

Cheers
Fotis

[2019-05-05 10:25] nohwnd commented on #1305
There was elipsis originally, I am not sure why I commented it out. Is it better like this?

[code]

[2019-05-05 10:28] nohwnd commented on #1304
Hi thanks for the suggestion, I don't thinks this will happen in v4, and it won't happen soon in v5 (not-released yet), there I changed the -Show to be Normal, Short and None, hopefully in the future there will be configuration where you can define what exactly you want.

[2019-05-05 20:41] f0rt commented on #1305
Looks good. Actually you can reverse the message because "101" is the object under test (not the collection):

[2019-05-06 02:20] renehernandez opened #1308 "Cannot execute mock for Get-PackageSource cmdlet"
## 1. General summary of the issue

Executing a mock of `Get-PackageSource` fails with *ParameterBindingException: Parameter set cannot be resolved using the specified named parameters.*

Example tests cases:

[code]

The issue stems from the detection of the dynamic parameters for cmdlets when invoking the mock function, which is performed in `Get-DynamicParametersForCmdlet` function. Particularl

[2019-05-06 07:39] nohwnd commented on #1305
I won't change the order, the messages should have the same order in all assertions, and there is also `-Because` that gets inserted into the message when user specifies it. :)

[2019-05-07 11:10] renehernandez commented on #1308
Actually, my first idea for solution does not seem likely to work. I could not find how to ask the `CmldetInfo` object int [Get-DynamicParametersForCmdlet ](https://github.com/pester/Pester/blob/master/Functions/Mock.ps1#L1409) whether there was already selected a specific *ParameterSet*. All I can do at that point is to find if there is a *DefaultParameterSetName* or iterate over existing *Parame

[2019-05-07 11:51] nohwnd commented on #1308
@renehernandez sadly no, I have no idea how dynamic parameters work. :/

[2019-05-09 22:31] renehernandez commented on #1303
@nohwnd Any update on this?

[2019-05-10 22:24] FISHMANPET opened #1309 "HTML Code Coverage reports"
Pester outputs JaCoCo XML which can be uploaded into Azure Pipelines to get code coverage statistics (though how to do it needs to be added to the readme per #872, I guess since I've done it I can look at that...).  However when you upload Code Coverage reports, a Code Coverage tab is created, with the message "Code coverage report cannot be rendered as report HTML was not found. Please verify tha

[2019-05-10 22:35] FISHMANPET commented on #1309
actually @nohwnd I see you've got a screnshot of what looks like some kind of code coverage report in the readme, it sounds like that came from VSTS, right now in Devops Pipelines this is all I can get when uploading the JaCoCo report
![image](https://user-images.githubusercontent.com/7810151/57560005-0c247200-734a-11e9-8187-3b34aebfbf02.png)

[2019-05-11 02:39] renehernandez commented on #1309
@FISHMANPET you got the assignement :)

[2019-05-11 13:19] #1303 closed

[2019-05-11 13:33] nohwnd commented on #1303
Fixed

[2019-05-13 21:12] DannyMeister commented on #1297
I have found a workaround which can allow you to break and step through mocks, albeit not by using a normal breakpoint in the IDE.  It uses a variable breakpoint.

[code]

Idea taken from https://stackoverflow.com/a/20913596/1359579

[2019-05-14 22:08] FISHMANPET commented on #1309
Wow fell down a rabbit hole on this one...

So the Publish Code Coverage task in Azure Pipelines is in flux, but as soon as the next version of that tasks gets pushed to production (no idea how that works, 1.152.0 is in master but 1.151.2 is what's currently used in a pipeline...) it will include the ability to auto generate reports, using a tool helpfully called [ReportGenerator](https://github.c

[2019-05-14 23:21] FISHMANPET commented on #1309
There's currently a marketplace extension for Report Generator so even without the autogen included in that pipelines task you can still generate reports, here's an example for one of my org's horribly untested modules: https://dev.azure.com/umn-microsoft/UMN-Google/_build/results?buildId=23&view=codecoverage-tab

[2019-05-15 06:00] felixfbecker commented on #1265
Regarding `PassThru`, why is it not the default?

[2019-05-15 10:01] DevOpos commented on #1309
I was struggling with that issue too. The solution I chosen was to dynamically download report generator and use in azure-pipelines.yml. I had to set `HtmlInline_AzurePipelines` in `-reporttypes` parameter. :) Otherwise there was still an error "Code coverage report cannot be rendered as report HTML was not found".

Here you can see a code sample:
[code]