[2017-08-03 00:31] #810 closed

[2017-08-03 08:27] nohwnd commented on #809
@DarwinJS  Hmm the conversion from pester object to test result xml is lossy, how about you convert the whole object to JSON and parse that in the lambda?

[2017-08-03 08:46] nohwnd commented on #811
Yeah you are right, and it's planned to sum up the changes to release notes. Putting the notes directly to the release instead of putting it to wiki is a good idea.

[2017-08-03 12:55] Stephanevg commented on #733
Hi guys,

I am not sure I understood this thread correctly. Will this be added in the V4 version?

[2017-08-03 12:56] DarwinJS commented on #809
@nohwnd - I found a way to read enough detail from the nunit xml with the below code.

I can get a failure count and a list of failed tests.

[code]

[2017-08-03 17:26] nohwnd commented on #809
@DarwinJS thanks for the info, I am glad you found a solution. Feel free to reopen if you need more asistance.

[2017-08-03 17:26] #809 closed

[2017-08-03 17:55] alx9r opened #812 "Summary of scope-related differences for mocks between Pester 3 and 4"
I've encountered a few scope-related edge cases for mocks that behave differently between Pester 3 and 4.  Here are suites of mock-scoping tests for [Pester 3](https://github.com/alx9r/ToolFoundations/blob/a7ad54074594a9cdf519fc253e8193675b170f4e/EnvironmentTests/pester3InModuleScopeTests.ps1) and [Pester 4](https://github.com/alx9r/ToolFoundations/blob/a7ad54074594a9cdf519fc253e8193675b170f4e/Env

[2017-08-03 18:04] alx9r commented on #785
I think this could be adequately mitigated by implementing a recursion limit that, when reached, throws an understandable error.  That would cause a fast failure instead of pinning one CPU until a call depth overflow occurs.  The call depth overflow can take minutes to occur, so a fast failure would be a significant improvement.

[2017-08-03 18:11] alx9r commented on #612
I just tested this under Pester 4:

![image](https://user-images.githubusercontent.com/11237922/28936370-62b870cc-783c-11e7-862c-d29c47289a46.png)

This seems to be fixed.

[2017-08-03 18:11] #612 closed

[2017-08-03 18:14] alx9r commented on #775
I just tested this under Pester 4:

![image](https://user-images.githubusercontent.com/11237922/28936490-c28cf4d2-783c-11e7-948c-d2b8db8dbcf9.png)

This is fixed.

[2017-08-03 18:14] #775 closed

[2017-08-08 15:32] Jaykul commented on #585
@nohwnd @dlwyatt This really shouldn't be closed until the `README` is updated with install instructions that include `-Force -SkipPublisherCheck`  **and** specifically _document_ that you should _not_ install Pester in the `-Scope User` -- because having the module installed in two distinct paths breaks the about_* help topics.

[2017-08-09 10:52] LawrenceHwang opened #813 "Possibility for validating the It block's -skip param when splatting?"
Hello,
Consider following example:

When splatting the -skip param with hash table. In the example, the @{Skip = $treu} has a typo:
- the switch parameter -skip to have $false value and,
- not skipping the test.

It appears to me test writers should pass proper value ($true, $false, 0, or 1)  to the -skip switch parameter. But, is it possible for Pester to validate splatted param in this case? If

[2017-08-09 11:23] nohwnd commented on #813
Hello,
splatting a param to switch follows the standard rules of casting to boolean. Anything that is falsy will become false and anything else will become true. In your case if $treu is $null it will become false, because $null is falsy.

If we wanted to validate the value passed to the Skip parameter (to see that it is a real false, and not a value cast to false) we would have to change the para

[2017-08-09 16:20] LawrenceHwang commented on #813
Thanks a lot for explaining the logic behind. It now seems to me that changing the validation model indeed doesn't provide much value in this case.

[2017-08-09 22:12] it-praktyk commented on #585
A related blog post: [PowerShell PackageManagement and PowerShellGet Module Changes in Windows 10 Version 1511, 1607, and 1703](http://mikefrobbins.com/2017/08/03/powershell-packagemanagement-and-powershellget-module-changes-in-windows-10-version-1511-1607-and-1703/) by @mikefrobbins

[2017-08-10 20:02] sdecker commented on #736
I'm not sure what version it was at the time butI can no longer reproduce and am marking this closed. Sorry for the delay in responding.

[2017-08-10 20:02] #736 closed

[2017-08-11 01:26] #813 closed

[2017-08-11 22:23] samuelbritt opened #814 "Mock: Can't mock function with a parameter named "metadata""
I believe there is an issue mocking parameters named "Metadata"? Pester seems to attempt to convert the parameter to type `System.Management.Automation.CommandMetadata`. When passing a string, it is actually looking for a file of that name. Could it be some sort of name clash?

I ran into this because the AWS Powershell API function [Write-S3Object](http://docs.aws.amazon.com/powershell/latest/ref

[2017-08-11 22:48] it-praktyk commented on #814
I tested your code with

[code]
and I've received the result

[code]

Based on your version I assume that you use Pester version delivered with OS. Please update it - related issue #585.

[2017-08-11 23:29] samuelbritt commented on #814
Thanks! I actually did try to update to 3.4.6, but ran into the publisher check problem in the referenced issue and didn't get any further. Updating the version fixed the problem; this can be closed.

[2017-08-11 23:29] #814 closed

[2017-08-12 14:42] alx9r opened #815 "Pester 4.0 undoes PR #426"
Pester 4.0 undoes PR #426.  Invoking [@nohwnd's test](https://github.com/pester/Pester/pull/426#issuecomment-162291254) outputs only one line of the stack trace:

![image](https://user-images.githubusercontent.com/11237922/29241569-50f2abe0-7f31-11e7-9dec-283151636197.png)

[This diff shows](https://github.com/pester/Pester/compare/3.4.3...master#diff-e5946304f985e30d847577bbe188a9b9L185) that som

[2017-08-12 15:08] nohwnd commented on #815
gotta have a closer look, there was quite a few changes when forward merging 3 to 4, so possibly your changes got lost. Sorry about that.

[2017-08-12 15:30] #699 closed

[2017-08-12 15:30] #710 closed

[2017-08-12 16:26] it-praktyk commented on #768
I see that I previously missed fulfilling of description.

[Occurrences of Get-WmiObject](https://github.com/pester/Pester/search?utf8=%E2%9C%93&q=Get-WmiObject&type=) in the Pester code.

I analyzed it again and assume that the issue can be closed.

[2017-08-12 16:26] #768 closed

[2017-08-12 16:27] it-praktyk commented on #712
Thank you @nohwnd.

[2017-08-12 17:32] nohwnd commented on #712
@it-praktyk no need to close this manually before the PR is merged. :)

[2017-08-12 17:32] #712 closed

[2017-08-12 17:58] nohwnd commented on #785
@alx9r Been looking at this to see if there is a simple way of seeing what PowerShell wraps in `@()` but if I get the login of the compiler correctly, it does a [lot](https://github.com/PowerShell/PowerShell/blob/069c7a4b6f45f68afbb5875a7db7dbfea1430d6c/src/System.Management.Automation/engine/runtime/Binding/Binders.cs#L523) of [work](https://github.com/PowerShell/PowerShell/blob/069c7a4b6f45f68af

[2017-08-12 18:08] nohwnd commented on #785
One thing that I also tried was simply checking the result of `@()` to see if the value remained the same, but   `Object.ReferenceEquals` does not work in this case.

[2017-08-12 19:59] nohwnd commented on #770
@Rmpanga Just tried it and your description is not accurate. All the `*.tests.ps1 ` are fact exectuted, but each top-level describe inspects the tags and runs only if the tags match. See the implementation [here](https://github.com/pester/Pester/blob/master/Functions/Describe.ps1#L122).

Here some example code to highlight how it works:
[code]

[code]

Closing this issue, because it works as speci

[2017-08-12 19:59] #770 closed

[2017-08-12 20:14] nohwnd commented on #733
@Stephanevg  Running this command I get xml output that seems to have every block there is in the code. So everything seems to be working just fine. Are you using the same type of output?

[code]
[code]

[2017-08-12 20:14] nohwnd commented on #714
@Jaykul could you have a look pls?

[2017-08-12 20:18] nohwnd commented on #734
@it-praktyk let's put this in 4.1, otherwise the new version won't ever be released.

[2017-08-12 21:04] nohwnd commented on #815
So I put the code back in, it was omitted when there was confusion about what output to use. There are some errors, still, but the above tests looks exactly as in the #426 thread, so I am on a good path.

[2017-08-12 22:15] #815 closed

[2017-08-13 15:37] dlwyatt commented on #585
Updated the README with Install-Module command.

[2017-08-13 15:37] #585 closed

[2017-08-13 15:45] dlwyatt commented on #714
```The changes to how Describe and Context are handled in Pester 4 broke the output for Gherkin by flipping the values of "Context" and "Describe" in the $Pester.TestResult ...```

Wait, what?  Did they used to be backwards?  Looks correct now:

[code]

[2017-08-13 21:03] it-praktyk commented on #734
Thx for asking. Fine for me.

[2017-08-13 21:51] dlwyatt commented on #794
I patched the build agents today; it's running 5.1 now.

[2017-08-13 21:51] #794 closed

[2017-08-13 22:08] it-praktyk commented on #712
I didn't realize that it wasn't merged yet. Next time I'll try don't do things in my nap time ;-)

[2017-08-15 03:48] Jaykul commented on #714
I'm pretty sure this is fixed. There's a test in [Gherkin.Tests.ps1](https://github.com/pester/Pester/blob/master/Functions/Gherkin.Tests.ps1#L57) to ensure it stays that way.  Need repro otherwise @ronaldborman

[2017-08-15 03:48] #714 closed

[2017-08-15 18:03] ChrisLynchHPE opened #822 "Invoking remote PSSession to run Pester test causes "The script failed due to call depth overflow""
I'm not sure where to turn for this particular issue.  I have a Windows 10 VM that I'd like to use as a worker PC for when I want to run manual Pester tests as a PowerShell job.  I have a script that essentially does the following:

[code]
When I execute the above, the first 37 It tests within the first 9 Contexts (a single Describe block), I get the following error:

[code]
If I initiate a remote

[2017-08-15 18:26] it-praktyk commented on #822
@ChrisLynchHPE, could you try use Pester downloaded directly from the GitHub repository?

My first idea is that your issue can be resolve by the pull request #818.

[2017-08-15 19:05] ChrisLynchHPE commented on #822
I can and will report back.  Do know that none of my unit tests are validating for IEnumerable objects.

[2017-08-15 19:31] NOAHSARKNET commented on #822
I'm not sure that pull request #818 is going to resolve your issue. Let us know.

[2017-08-15 19:33] it-praktyk commented on #822
Me too ;-)

[2017-08-15 20:05] ChrisLynchHPE commented on #822
It did not.

[2017-08-15 21:57] adbertram opened #823 "Mock is always loading module in $env:PSModulePath"
Summary: I have a copy of a script module not in $env:PSModulePath AND I have an older copy of that module in $env:PSModulePath. I want to test the changes I make to the one NOT in a folder in $env:PSModulePath. However, when a mock is created, it's always loading the old copy in $env:PSModulePath when it should be looking at the other one.

Here's the repo: https://gist.github.com/adbertram/45cff

[2017-08-15 23:37] alx9r commented on #823
I just tried to reproduce this on 3.4.3 and 4.0.5.  I get

[code]

on 4.0.5 and something similar on 3.4.3.

I traced from

[code]

all the way to the throw in `Validate-Command`.  I called `Get-Module MyModule` as I went.  `Get-Module MyModule` output

[code]

the whole way.  Note that `ExportedCommands` is empty.  Can you do the same trace and find where `ExportedCommands` gets populated?  Assum

[2017-08-16 01:27] alx9r commented on #785
@nohwnd I don't think the cause of the infinite recursion involves whether a collection is considered enumerable.  Given the current algorithm's dependence on indexing into the collection, I think the most appropriate test would be for the `IList` interface.  That's the framework interface customarily used to access items by index.

Here's a test of a bunch of collections I've encountered using Po

[2017-08-16 01:38] alx9r commented on #822
I'm pretty sure the message

[code]

is the message produced by `Should not throw` by design when the thing inside `{}` throws.  Based on that, I _think_ the call depth overflow is occurring inside `New-Backup`.

[2017-08-16 03:44] ChrisLynchHPE commented on #822
@alx9r Yes, I'm aware of that `Should Not Throw` condition in the unit test. The call shouldn't generate an error message.  When I execute `New-Backup` outside of this, or not within a PowerShell job, I never see this error.  Only when I attempt to execute the pester test within a remote PowerShell job does this happen.  I have no idea on how to troubleshoot this further, and since it happens with

[2017-08-16 06:22] nohwnd commented on #822
You can measure the call depth simply by calling a function recursively till it fails, and write a counter on each call.

[code]
[code]
On my computer the normal execution reaches ~5100 in job it reaches ~239.

If I debugged this I would, first validate that the call depth is roughly the same as the values posted. Then I would work hard to get the whole exception from the code, because that will l

[2017-08-16 06:33] nohwnd commented on #733
@Stephanevg Closing this. We have it as blocker to v4 release, the output seems just fine. Feel free to reopen this issue if you need more assistance or clarification. 😄

[2017-08-16 06:33] #733 closed

[2017-08-16 06:34] nohwnd commented on #793
@Jaykul "and I really want the mocking scope changes!" Did not see anything related to this in the listed issues, what exactly are you referring to? :)

[2017-08-16 12:08] adbertram commented on #823
I checked for ExportedCommands inside of the test script before the describe block, in the describe block before and after the mock. The only time the function showed up was after the mock was created.

Odd.

[2017-08-16 14:41] nohwnd commented on #785
@alx9r Revisited the problem and I think my implementation is correct, pls review :)

It does matter, because when there is mismatch between what *we* consider a collection and what powershell considers a collection, then on the recursive call we wrap the object in an array, then we unwrap it, incorrectly mark it as an array and call `ArraysAreEqual`, it wraps it in array, then unwraps it again, c

[2017-08-16 15:56] alx9r commented on #785
@nohwnd I think your analysis is correct.  I misunderstood how that algorithm was expected to work.  This leaves me with two remaining concerns: Naming and cyclic object graphs.

Shouldn't `IsCollection` really be named `IsArray`?  Termination of `ArraysAreEqual` seems to depend very much on testing for precisely whatever conversion to `[object[]]` creates.  It seems like that should be reflected

[2017-08-16 15:58] BenMcElroyUK commented on #728
This is still an issue on Windows 10 running version: 5.1.14393.1480

Simplified code to show the issue:

`Import-Module Pester
function Test-Something
{
    [System.Security.SecureString]$ADpasswd = ConvertTo-SecureString "password" -AsPlainText -Force
    [System.Management.Automation.PSCredential]$Cred = New-Object System.Management.Automation.PSCredential ("user", $ADpasswd)
    New-PSDrive 'B

[2017-08-16 16:09] nohwnd commented on #785
Don't worry, took me quite a few looks before I understood why precisely it breaks :)

Yes, IsArray is a better name, and I think we should put a short explanation and link to this issue there as well. The self imposed recursion limit is a good idea, I did not like it at first, but I didn't realize how simple it is to create cyclic arrays :) ( the limit seems to be over 5000 calls on my computer,

[2017-08-16 16:34] alx9r commented on #785
Those all look like good recommendations.  Thank you.

[2017-08-16 17:19] Jaykul commented on #793
@nohwnd That's the stuff that Dave did with regard to making mocks be scoped to Describe (and Context). Not something that needs to be done, just one of the main things I want to start using, that are in 4.0 😀

[2017-08-17 00:56] it-praktyk commented on #785
@nohwnd, @alx9r I've followed your discussion and I'm little confused if the https://github.com/pester/Pester/pull/824/commits/631ef02bb7264c9bab48c04c6ba01b7846ca3235 addresses

or should be added/changed something more.

[2017-08-17 01:10] alx9r commented on #785
@it-praktyk That suggestion prompted [this change](https://github.com/pester/Pester/pull/824/commits/5fe131852b0214207a185739fcf38b95ad71ecc6#diff-bfc98852894d9547880a4d9348432c54R189), but I'm not sure exactly what @nohwnd had in mind.

[2017-08-17 01:35] alx9r commented on #811
It seems like (the same) release notes should appear in (at least) the following places:

* [PowerShell Gallery](https://www.powershellgallery.com/packages/Pester)
* `Get-Module Pester -ListAvailable | % ReleaseNotes`
* [GitHub Releases](https://github.com/pester/Pester/releases)

If there's a PowerShellGet way for users to access release notes for a module without having to install it first, rele

[2017-08-17 06:17] nohwnd commented on #811
@alx9r I understand your concerns, but at least for the gallery users it should not be that abrupt, because we are pushing Pester there as stable version for a while, and it has tons of downloads.

Adding release notes to the module manifest is already reported, but not done becasue no-one took time to figure out which formats are needed for each publish (github release, module manifest, nuget, ch

[2017-08-17 06:24] #785 closed

[2017-08-17 06:25] nohwnd commented on #785
@it-praktyk The error seems fine now, the small suggestion of what probably have happened is what I was looking for 👍
@alx9r You forgot to propagate the recursion limit to the subsequent calls so it would always stay 100 after the first call. I fixed that, then some casing and spacing and merged. Thanks :)

[2017-08-17 07:01] nohwnd commented on #687
The current readme feels very overwhelming. I suggest to simplify it _a lot_, to follow structure a many other readmes use, and that I consider to be very approachable:

- very short explanation of what the project is
- simple code example
- installation
- short description of the main features
- maybe faq, but probably rather link to next steps

All of the info on the readme page should be aimed

[2017-08-17 10:10] alx9r commented on #785
@nohwd Oh right.  Nice spot.  Thanks for the merge. :)

[2017-08-17 14:21] alx9r commented on #811
@nohwnd I see no problem with that.  The only thing I feel strongly about is that, beginning with 4.0, there be at least one way to discover release notes that is both obvious and low-cost for users.  I think your proposal to publish to the github releases page and link to it from README.md achieves that.

I'd be a bit concerned about the additional maintenance involved with manually publishing th

[2017-08-17 14:49] alx9r commented on #687
@nohwnd

I think that the word "mock" ought to be front-and-center in the description of Pester.  "Test framework" alone leaves experienced readers with the question "what about mocking?"  I don't think Pester's mocking capability is self-evident as it seems that some (most?) "test frameworks" don't mock at all.  Both [Catch](https://github.com/philsquared/Catch) and [googletest](https://github.co

[2017-08-17 15:35] nohwnd commented on #811
@alx9r if you are referring to "put it on wiki" then what I meant is that we will put some longer-than-usual info about what has changed between v3 and v4 on wiki, [similar to this](https://github.com/pester/Pester/wiki/What's-New-in-Pester-3.0). And keep that there with note that subsequent releases will have their release notes on the releases page. I don't expect to be writing two pages of text

[2017-08-17 16:14] nohwnd commented on #793
So only readme and release notes are missing from this milestone, I am building 4.0.6-rc so people can try it and report back before we finish the documentation, and finally release :)

[2017-08-17 16:18] dlwyatt commented on #687
@nohwnd Sure, sounds good to me!  :)

[2017-08-17 16:33] nohwnd commented on #687
@alx9r used anotated tag for [the current release](https://github.com/pester/Pester/releases/tag/4.0.6-rc) and copied notes from changelog there. I need to put just the version on the first line but apart from that it looks like it should work just fine. and writing script that will take everything between the first `##` and second `##` from changelog is trivial, especially if we can write tests f

[2017-08-17 17:17] alx9r commented on #687
@nohwnd That's a huge improvement. :)

This might be a philosophical or semantic difference, but I don't consider release notes to simply be a changelog from the last version.  Changelogs and release notes are certainly related, but I consider them to have different focuses.  Here are the (rough) guidelines I am currently using for my projects:

* Changelog: Audience is mainly developers of the pr

[2017-08-17 20:16] it-praktyk commented on #788
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-17 20:16] #788 closed

[2017-08-17 20:30] it-praktyk commented on #790
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-17 20:30] #790 closed

[2017-08-17 20:40] it-praktyk commented on #728
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-17 20:40] #728 closed

[2017-08-17 20:46] it-praktyk commented on #792
@hrboyceiii is it your question answered?

[2017-08-17 21:00] it-praktyk commented on #811
[Using GithubReleaseManager to automate GitHub releases](https://www.helloitscraig.co.uk/2017/03/github_release_api_powershell.html)

[2017-08-17 21:03] it-praktyk commented on #787
@rebro-msft, is it your question answered?

[2017-08-17 21:08] it-praktyk commented on #822
@ChrisLynchHPE, any new information?

[2017-08-17 21:12] it-praktyk commented on #204
@dlwyatt, can it be closed now?

[2017-08-17 21:17] rebro-msft commented on #787
Thanks for pointing to the open issues on this topic.  It sounds like this will be coming in v4.0 (if I read it all correctly), which is awesome.  I will close this issue.

[2017-08-17 21:17] #787 closed

[2017-08-17 21:19] it-praktyk commented on #803
@Midacts, is it your question answered?

[2017-08-17 21:26] it-praktyk commented on #682
@adbertram, is it your question answered?

[2017-08-17 21:29] it-praktyk commented on #700
Due to specific of Pester (especially mocking) usage of PSScriptAnalyzer is not a good idea. Some cleaning was done already.

[2017-08-17 21:29] #700 closed

[2017-08-17 21:33] it-praktyk commented on #57
The related issue #783

[2017-08-17 21:38] it-praktyk commented on #57
Is it currently the oldest one issue still opened for Pester. Can we do something with that? In my opinion, we can close it now. Any concerns?

[2017-08-17 21:48] it-praktyk commented on #774
@adbertram, based on @alx9r's answers I assume that it's not related to Pester itself. Can you confirm and close the issue?

[2017-08-17 21:54] it-praktyk commented on #411
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-17 21:54] #411 closed

[2017-08-17 23:26] Dargmuesli opened #825 "Custom Error Message On Should-Fail"
# Question
What is the suggested way to display additional error information about a test failure if available?

Think of a check for every element in a list. When there is an error, how do you know on which element it occurred?

# Description
My Pester test currently looks like this:

[code]

Is there a way to make it do something along the (fewer!) lines of this?

[code]

Or am I doing something

[2017-08-18 00:08] Midacts commented on #803
Yes. I must not have closed the issue

On Aug 17, 2017 5:19 PM, "Wojciech Sciesinski" <notifications@github.com>
wrote:

@Midacts <https://github.com/midacts>, is it your question answered?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/pester/Pester/issues/803#issuecomment-323197452>, or mute
the thread
<https://github.co

[2017-08-18 03:27] johlju commented on #825
Try changing to having the It-block inside the foreach-block. So for every value the it-block and the `Should` is run. And then you can change the It-block description dynamically so it says something like 'Shoukd contain the correct value for variable X'.

[2017-08-18 06:21] #803 closed

[2017-08-18 06:23] it-praktyk commented on #761
@splatteredbits, do you still need help in this case? If not please close the issue. Thank you.

[2017-08-18 06:32] it-praktyk commented on #742
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-18 06:32] #742 closed

[2017-08-18 06:34] #622 closed

[2017-08-18 06:43] it-praktyk commented on #688
The related issue: https://github.com/gollum/gollum/issues/764.

[2017-08-18 06:49] #660 closed

[2017-08-18 06:54] nohwnd commented on #825
I don't think creating dynamic list of tests for this is the best choice, because:
1) foreach does nothing when there are no items in the list, and test that does nothing passes.
2) you will end up with potentially huge list of tests simply because you gave it a long list.
3) generating tests dynamically makes it difficult to easily compare what fails between two test runs. Ideally you want to sta

[2017-08-18 06:58] it-praktyk commented on #825
To handle it Set-TestInconclusive can be used.

[2017-08-18 07:04] it-praktyk commented on #673
@iSazonov, we are close not to release Pester v.4. Can you test the newest version?

[2017-08-18 07:09] it-praktyk commented on #671
@danielboth, sorry for a lack of the previous reaction. Can you confirm that issue still exists in the newest version of Pester?

[2017-08-18 07:11] Dargmuesli commented on #825
Thank you so much for your detailed answers!

Later, I will try to understand and implement everything  in detail and report back to you about it. Until then you are free to go on with suggestions ;)

[2017-08-18 07:14] it-praktyk commented on #639
@nohwnd, @dlwyatt  is something that can be added for Pester v4.1?

I've recently added Linux compatibility to https://github.com/it-praktyk/new-outputobject so I can try play with Pester in this area too.

[2017-08-18 07:16] it-praktyk commented on #236
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-18 07:16] #236 closed

[2017-08-18 07:21] it-praktyk commented on #613
The related issue #663.

[2017-08-18 07:23] it-praktyk commented on #613
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-18 07:23] #613 closed

[2017-08-18 08:53] it-praktyk commented on #639
@Jaykul, did you check an option to add support for Gherkin on PSCore?

[2017-08-18 09:33] it-praktyk commented on #569
I assume that can be closed now.

[2017-08-18 09:33] #569 closed

[2017-08-18 12:07] #682 closed

[2017-08-18 12:08] #774 closed

[2017-08-18 12:09] adbertram commented on #688
There are a lot of links in the Pester Book. I can fix them if you need to change the scheme. I should probably just pass those through a URL shortener anyway.

[2017-08-18 12:50] it-praktyk commented on #208
@dlwyatt, I expect that can be closed now. Am I right?

[2017-08-18 13:20] it-praktyk commented on #391
@theficus, based on @dlwyatt's answer I assume that it can be closed. Please reopen if needed.

[2017-08-18 13:20] #391 closed

[2017-08-18 13:23] it-praktyk commented on #227
It's implemented at least in Pester v4

[code]

[2017-08-18 13:23] #227 closed

[2017-08-18 13:28] it-praktyk commented on #317
I assume that the issue can be closed now. I've labeled it 'Documentation' too - maybe in the future, someone moves parts of information from the thread/issue to the Pester wiki.

@adbertram, something for your book is here?

[2017-08-18 13:28] #317 closed

[2017-08-18 13:38] it-praktyk commented on #560
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-18 13:38] #560 closed

[2017-08-18 15:32] dlwyatt commented on #208
It's not done, but we probably don't need to leave an issue open either.  I've put it on my own to-do list.

[2017-08-18 15:32] #208 closed

[2017-08-18 15:34] dlwyatt commented on #204
I'll double check later today and open a PR if needed.

[2017-08-18 15:54] dlwyatt commented on #204
Nevermind.  If I change this, it breaks several other things.  There are workarounds if anyone actually runs into this situation:

- Just use `InModuleScope` for this sort of thing.
- Call `GetNewClosure()` on the script block that's being passed to `-MockWith`
- Use global variables (blech).

[2017-08-18 16:21] Remco-74 opened #826 "Parameterized tests get executed when no testdata is present."
When using parameterized tests, the tests get executed (with missing parameter data) when the testcases are empty or $null

    Describe 'Defect: Empty Test Set results in executing tests.' {

        BeforeAll {
            $testCases = @{}
        }

        It 'should ignore a parameterized test when no test data is given' -TestCases $testCases {
            param($testCase)

            $testC

[2017-08-18 16:41] it-praktyk commented on #639
I've checked if Gherkin tests can be used on Linux. Unfortunately currently not due to lack of System.Web.Extensions (errors attached below).

I assume that the PowerShell Core 6.0.0 beta 5 uses .Net Core 1.1 Missed System.Web.* maybe will be available in .Net Core 2.0 - [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.web?view=netcore-2.0) is incomplete yet.

[code]

[2017-08-18 16:50] it-praktyk commented on #639
Draft of documentation

# Known limitation of Pester on Linux
- Pester unit tests for test a code coverage of DSC resources can't be executed - DSC is not supported on MacOSX, support on Linux [requires additional software to be installed](https://docs.microsoft.com/en-us/powershell/dsc/lnxgettingstarted)
- Support of Gherkin tests is disabled on Linux and MacOSX

[2017-08-18 17:13] ChrisLynchHPE commented on #822
@nohwnd The `New-Backup` Cmdlet uses the very same core Cmdlet all of my other Cmdlets use to interact with the API endpoint.  The unit tests I mentioned early on do not fail.

There are multiple `Try{} Catch{}` blocks within the call stack when the unit test invokes `New-Backup`.  What is interesting behavior I noticed in my tests yesterday is that when I pass `-Verbose` to the Cmdlet in question

[2017-08-18 17:14] it-praktyk commented on #205
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-18 17:14] #205 closed

[2017-08-18 17:35] nohwnd commented on #822
@ChrisLynchHPE Thanks for the info. So did you manage to get the whole exception? Did you try to bi-sect it? Does it still fail if you don't call new backup? It's really difficult for me to give you any good advice without being able to debug it myself. :/

[2017-08-18 17:57] nohwnd commented on #826
@Remco-74 That is how it is, `TestCases` are optional so you can run test without them when you don't need them. Luckily Pester is just scripts so you can specialize It however you want :)

[code]

[code]

[2017-08-18 18:02] johlju commented on #797
Closing this as this problem was not Pester.

[2017-08-18 18:02] #797 closed

[2017-08-18 18:26] nohwnd commented on #793
@dlwyatt I think #826 has a good point, `It` should fail when no test cases are provided, and this is probably the best time to change the behavior. Do you agree to put it in v4?

[2017-08-18 18:36] nohwnd commented on #826
@dlwyatt the skip and pending have their own parameter sets, but to do this TestCases should have also it's own parameter set. But then Skip could not be used with TestCases, and when I put TestCases in all three sets, then it cannot resolve the parameter set. Am I just doing it wrong? if not then putting skip and pending in the default set should not be a big problem, and I think skip should win

[2017-08-18 18:50] #173 closed

[2017-08-18 18:53] nohwnd commented on #687
@alx9r I have no philosophy about it, what you say sounds very reasonable, now we just need to find someone to write it for every release :)

[2017-08-18 19:00] nohwnd commented on #57
@it-praktyk a while ago I tweeted a [poll about this](https://twitter.com/PSPester/status/845024534436741121) and `New-Fixture` is not that popular only 6 % of 72 people use it, and 63 % marked it as never used it. So yeah let's close this, because updating it would be contraproductive.

[2017-08-18 19:00] #57 closed

[2017-08-18 19:04] nohwnd commented on #754
@trondhindenes too late for that now. Let's hope they will support it when we start working on 5.0
@it-praktyk Re-open if you think it should be open. :)

[2017-08-18 19:06] it-praktyk commented on #783
@TofuBug, please read @nohwnd's decision in #57.

[2017-08-18 19:11] it-praktyk commented on #754
I think that further development/releasing model should be discussed. The release of the 4th version of Pester can be a good moment.

[2017-08-18 19:15] nohwnd commented on #780
@dbroeglin I think I missed the point of what your proposal does, I don't get what `$Arg` is supposed to be. :) Are you saying that we should allow the test code to parse the description of the test to extract the values for the test?

What is the code that we are required to type now, and what do you propose to change?

[2017-08-18 19:20] nohwnd commented on #783
@TofuBug I re-read you code but I always got lost in the middle. If you want to propose a change then please send Pull Request, it will show the changes in code and that I can understand. :) I think your are solving a non-issue. From what I saw, people mostly put `. $PSScriptRoot\MyCode.ps1` on top of their test script, unless they need PSv2 compatibility, and that's it.

[2017-08-18 19:27] it-praktyk commented on #204
GetNewClosure() is undocumented - I've reopened issue than to remember about this.

[2017-08-18 20:10] TofuBug commented on #783
I tried to do a pull request back when I first submitted it and for some reason it would not let me.

My whole thing (and this may JUST be me) is I don't like to have to retype things especially things like a manual setup to be sure my pathing is correct for the tests to run correctly I believe that kind of scaffolding should be built into the testing system itself. You shouldn't need to put extra

[2017-08-18 20:38] nohwnd commented on #783
@TofuBug I am still not convinced, sorry.

I never had problems with importing functions to my tests, either they are in a file right next to my test file, or I need to load them from module, and that I do in a single place anyway.

I don't recall ever importing more that one code file to my tests, so having to navigate through an object that lists every possible file type seems like an overkill.

[2017-08-18 20:51] it-praktyk commented on #783
I think that you tried to push your changes directly to Pester\Pester repository. The first you need fork Pester\Pester repository to yours GitHub namespace.

Please let me know if do you need detailed how to. If you have implemented changes on your computer please don't revoke them or so. Everything can be reused in an almost easy way - git is super.

[2017-08-18 21:55] TofuBug commented on #783
@nohwnd I'm sorry but i'm confused about two points in your retort

First you keep mentioning 2.1 compatibility

I made this modification to help me out writing test on a system with Pester 4.0.3 which STILL has the need to manually type out pathing scaffolding at the begining of your test file

Second you seem to be confused about that this is doing.

This is **NOT** importing whole files into th

[2017-08-18 22:12] dlwyatt commented on #826
I don't think you want to make this mandatory, based on reading the OP.  They just want us to ignore the call to `It` if `-TestCases` was specified on the command line but happens to be empty.  Right now the code just checks to see if it contains something:

[code]

We could change that to this:

[code]

That way if someone explicitly says (for example) `-TestCases $null` or `-TestCases @()`, the

[2017-08-18 22:13] dlwyatt commented on #826
Seems reasonable to me.  Right now it behaves as though you didn't use `-TestCases` at all, if it happens to be null or empty.  That's kind of odd.

[2017-08-19 04:58] nohwnd commented on #826
@dlwyatt re-read OP and I think you are corect that they do want to skip the `It` when the test cases are empty.

Personally I don't think that's the correct default for Pester. In unit testing scenario: Once you provided the TestCases parameter, you shown intent to provide test cases, so `It` should start failing when TestCases is null or empty collection. It seems much better to warn the users t

[2017-08-19 06:57] vors opened #827 "Tests running in clean runspace - take ages to run on macos or Linux"
I just tried to run pester tests for pester on macos and everything before  `Tests running in clean runspace` is relatively snappy, but here it stops to craw

[code]

[code]

[2017-08-19 07:30] it-praktyk commented on #827
I've similar observation but I'm aware that I've run tests in a non-standard environment -
                                                                                                                                                                   Pester version     : 4.0.6 <FOLDER_PAHT>/Pester/Pester.psm1
PowerShell version : 6.0.0-beta.5
OS version         : Unix 4.11.12.200

Tested on the

[2017-08-19 07:33] it-praktyk commented on #827
@vors, can you add information about your run environment.

[2017-08-19 08:20] vors commented on #827
Sure, updated the issue with it

[2017-08-19 08:24] it-praktyk commented on #827
Pester version     : 4.0.6 <FOLDER_PATH>\Pester\Pester.psm1
PowerShell version : 5.1.15063.502
OS version         : Microsoft Windows NT 10.0.15063.0

[code]

Pester version     : 4.0.6 <FOLDER_PATH>\Pester\Pester.psm1
PowerShell version : 6.0.0-beta
OS version         : Microsoft Windows NT 6.2.9200.0

[code]

[2017-08-19 15:40] Remco-74 commented on #826
I would expect the 'It' block to not run when -Testcases was specified but it's value is empty. 'It' should run for every testcase provided. So when no testcase is given, 'It' does not need to run.

The way is it now, you will need to test the parameters for $null values inside every test, wich gets old fast. Also, how would one determine that a test record has actual $null values, instead of an e

[2017-08-20 02:42] Dargmuesli commented on #825
Ok, I tried your suggestion now @nohwnd. The problem is, that I have varying input content that is to be checked. That means a varying `$actual` in your example. I cannot mock it, because I need to check every element of that list.

I will definitly use your assert library for all other cases, but for this one it seems that I must follow @johlju's advice. It's the same as putting the list as testc

[2017-08-20 04:15] Jaykul commented on #639
I had to backport gherkin.dll to target .NET 3.5 in order to support PowerShell 2 because that's what Pester was prioritizing -- so no, it doesn't work in .NET Core.

[2017-08-20 05:22] nohwnd commented on #825
@Dargmuesli I understand, and I would like to know what is your scenario, because the code example that you gave was obviously too simplistic. 🙂Are you validating environment or doing unit tests?  Who provides the varList? Could you maybe come up with an example that is closer to the real thing, but still simple enough for me to understand. Because then I can comment on it a bit more, and post it

[2017-08-20 07:11] vors commented on #639
Since 2.0 is going to be [deprecated in the fall](https://support.microsoft.com/en-us/help/4034825/features-that-are-removed-or-deprecated-in-windows-10-fall-creators-up), should .net-core compatibility be a higher priority than 3.5 compatibility?

[2017-08-20 09:06] nohwnd commented on #639
@vors I think we can just ship two assemblies and check which .NET powershell is using and select the correct assembly to load.

[2017-08-20 11:12] iSazonov commented on #673
@vors is already opened https://github.com/PowerShell/PowerShell/pull/4618 and we see some problems.

[2017-08-20 19:48] it-praktyk opened #828 "An incorrect usage of foreground for Inconclusive tests in Output.ps1"
A small mistake in [the line 334](https://github.com/pester/Pester/blob/047be006bcfd514562d2e99c26fb2ffa11d746e1/Functions/Output.ps1#L334) of the Output.ps1

Is
[code]

Should be
[code]
I just prepare a pull request to resolve it.

[2017-08-20 20:11] it-praktyk commented on #827
Additional observation. In a freshly run PowerShell on Linux times of TestsRunningInCleanRunspace.Tests.ps1 are acceptable.

I switched to the branch with tests errors and tests are still reasonably fast.

It's not - IMHO - related to hardware or OS of Linux host - it's reasonably powerful.

[code]

[2017-08-20 22:38] Dargmuesli commented on #825
Just similar to the article linked above, I want to validate the correct alphabetical order of functions in my modules and a correct .LINK (comment based help) attribute. You can see the changes I've chosen to apply in my [latest commit @ Dargmuesli/powershell-lib](https://github.com/Dargmuesli/powershell-lib/commit/bc138ecd1dfe699223a24359281c1953ea266757). Or have a look at this code snippet for

[2017-08-21 02:44] Jaykul commented on #639
And complain, **YET AGAIN** to the PowerShell team that we have to write a bunch of really dumb code that nobody should have to write.

[2017-08-21 06:24] nohwnd commented on #826
I understand, but I don't think it is the correct default, because it is a dangerous default. Test cases are a convenience thing that allows you to move from multiple separate tests, that only differ by data, to one test with multiple test cases. You move from 1 test, to 1 test with 1 testcase, you move from 2 tests to 1 test with 2 test cases etc., but you don't move from 0 tests to 1 test with 0

[2017-08-21 06:27] nohwnd commented on #639
@Jaykul You can write an angry email and have it ignored, or spend the time to add the decision and both assemblies in the repo, and post a PR :D (Or both!)

[2017-08-21 08:08] #828 closed

[2017-08-21 08:19] nohwnd commented on #827
Tried it on MacOS with the 4.0.6 and the whole test run did not take more than a minute. I don't see the exact values in the output, my terminal for some reason fails to show the output sequentially.

[code]

[2017-08-21 08:53] nohwnd commented on #825
You cannot provide custom error messages to Should, but my assertions [allow you to do that](https://github.com/nohwnd/Assert/blob/master/src/Boolean/Assert-True.ps1#L5). I just don't have Match assertion yet, but it should be simple to add :)

If you want to do foreach then put it around `It`, otherwise it will fail on first error. In the future you might be able to  use [combined assertions](htt

[2017-08-21 08:53] #825 closed

[2017-08-21 18:55] it-praktyk opened #830 "Functions from Environment.ps1 are not exported"
I just found that functions
- GetPesterPsVersion
- GetPesterOs
- Get-TempDirectory
from the Functions\Environment.ps1 file are not exported by Pester module
- [in the manifest file](https://github.com/pester/Pester/blob/23eaf10c354eb4fbebc9d44f960bec89b24b5976/Pester.psd1#L28-L53)
- [in the block of exported module members](https://github.com/pester/Pester/blob/23eaf10c354eb4fbebc9d44f960bec89b24b

[2017-08-21 19:31] nohwnd commented on #830
Why should they be exported?

Jakub Jareš

.NET, Pester, PowerShell
t 00420603800578<tel:00420603800578>
e me@jakubjares.com<mailto:me@jakubjares.com>
t @nohwnd

21. 8. 2017 v 20:55, Wojciech Sciesinski <notifications@github.com<mailto:notifications@github.com>>:

I just found that functions

  *   GetPesterPsVersion
  *   GetPesterOs
  *   Get-TempDirectory
from the Functions\Environment.ps1 file

[2017-08-21 19:38] it-praktyk commented on #830
Because without that they can't be used to check what an environment is.

Generally, in my first iteration, I tried using $IsLinux directly but it wasn't a good idea so I switched back to existing functions. I couldn't use them without exporting.

[2017-08-21 22:04] it-praktyk commented on #639
## Status update

Pester v4.0.6-RC (+ PR #831)  updated in the way that all Pester tests pass on
- Linux - PSCore 6.0.0-beta.5
- Windows - PowerShell 5.1.15063.502

On Linux some tests need to be reverified - they are on the TO DO list below.

On Windows - PSCore 6.0.0-beta.5 - 2 tests fail - they are on TO DO list below.

Gherkin enabled only for the non-PSCore version of PowerShell.

The updated

[2017-08-21 22:04] it-praktyk commented on #639
@vors, can you test on MacOS?

[2017-08-21 22:06] it-praktyk commented on #830
Is it any other option to use those functions inside Pester tests except exporting?

[2017-08-21 23:30] vors commented on #827
@nohwnd alpha.17 is pretty old build. New beta builds are using dotnet core 2.0 which can account for a lot of differences.

[2017-08-21 23:35] vors commented on #639
@Jaykul well, have you seen this?

[code]

[2017-08-22 00:50] dlwyatt commented on #830
There are many internal functions.  I don't think the benefit of exporting these is worth increasing our API / support surface.

[2017-08-22 05:44] nohwnd commented on #830
Agree with Dave. Imho we should not publish those functions as they are. If we need to provide information about os, we should think about the use cases and about the best way to publish the information.

[2017-08-22 06:12] nohwnd commented on #639
@it-praktyk I updated my powershell on MacOS to the latest version, and pulled your changes over the latest master. There is one test that fails. The test is pretty new, I merged it in last week imho, check if you are in sync with the latest master :)

The test should reach recursion limit of 100 and fail, related issue #785, and pr #824. Should I have a look on this or do you want to dig into it

[2017-08-22 19:47] vors commented on #639
Corresponding PR in PowerShell repo https://github.com/PowerShell/PowerShell/pull/4618

PowerShell test suite is a pretty big one and I noticed few new problems, compare to the psl-pester 3.x.x fork.

1. AppVeyor (windows) always (3 out of 3) times out. It likely indicates a hang. I.e. https://ci.appveyor.com/project/PowerShell/powershell/build/6.0.0-beta.5-4775
To be fair, there is https://github

[2017-08-23 19:32] #256 closed

[2017-08-23 20:15] #225 closed

[2017-08-23 20:15] #226 closed

[2017-08-23 20:21] it-praktyk commented on #780
@dbroeglin, can you extend a description of your request?

[2017-08-23 20:22] it-praktyk commented on #780
Is https://github.com/pester/Pester/issues/447 partially related?

[2017-08-23 20:28] it-praktyk commented on #493
Due to that in v4 Describe and Context have tags and is not possible to filter by It (a discussion e.g. #721) I propose to close the current issue.

[2017-08-23 20:31] it-praktyk commented on #496
Sorry, what is it a conclusion?
Should we close it now or assign to be triaged once again?

[2017-08-23 20:38] it-praktyk commented on #581
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 20:38] #581 closed

[2017-08-23 20:47] it-praktyk commented on #584
What I see in Pester 4.0.6-RC

[code]

[2017-08-23 20:52] it-praktyk commented on #586
I assume that the issue can be closed soon (7 days). Please let me know if you want to leave the issue open.

[2017-08-23 20:54] it-praktyk commented on #574
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 20:55] it-praktyk commented on #517
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 20:55] #517 closed

[2017-08-23 20:57] it-praktyk commented on #554
@dlwyatt, can you provide an update? Yeah, I didn't read the code for this.

[2017-08-23 21:03] it-praktyk commented on #675
I assume that the issue can be closed now. Feel free to reopen if you think your request has not been properly treated.

[2017-08-23 21:03] #675 closed

[2017-08-23 21:15] it-praktyk commented on #662
What I see in Pester 4.0.6-RC

[code]

[2017-08-23 21:20] it-praktyk commented on #720
The related issue #555

[2017-08-23 21:24] it-praktyk commented on #555
I propose to continue discussion in #720.

[2017-08-23 21:24] #555 closed

[2017-08-23 21:27] it-praktyk commented on #740
@LaurentDardenne, work to support Pester on PSCore in progress - can be tracked #639.

[2017-08-23 21:29] it-praktyk commented on #543
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 21:29] #543 closed

[2017-08-23 21:30] it-praktyk commented on #549
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 21:30] #549 closed

[2017-08-23 21:32] it-praktyk commented on #483
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 21:32] #483 closed

[2017-08-23 21:41] it-praktyk commented on #455
@splatteredbits, I assume that the final request should be: "Add support for plugins to Pester". Am I right?

If yes please create the new issue with justification e.g. usage cases, etc.

For now, I'm closing the current issue as 'Feature - refused'.

Please reopen if you would like something more/new to your initial request. Thank you.

[2017-08-23 21:41] #455 closed

[2017-08-23 21:51] it-praktyk commented on #594
Is it related: https://powershell.org/forums/topic/vscode-snippets-for-pester/ ?

Can you update the current issue based on the newest version of Pester v4?

Can you change the issue title to something more descriptive?

[2017-08-23 21:55] it-praktyk commented on #407
It looks great.

Improvement in process of generating help and wiki is planned for Pester v4.1.

Are you still interested in participating in that work?

[2017-08-23 21:56] it-praktyk commented on #720
The related issue: [Would you like to include API documentation to your build?]( https://github.com/pester/Pester/issues/407).

[2017-08-23 22:00] ChaseFlorell commented on #407
Yeah I'd be interested. Also, now that Github allows for your pages to be generated directly out of a `/docs` folder on the master branch, it would be super easy to drop the output there.

[2017-08-23 22:03] it-praktyk commented on #400
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 22:03] #400 closed

[2017-08-23 22:06] it-praktyk commented on #360
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 22:09] it-praktyk commented on #394
Sorry for a delay in a reaction. Can verify if the current version of Pester (4.0.6-RC) fulfills your request?

Thank you.

[2017-08-23 22:13] it-praktyk commented on #553
Is it resolved?

[2017-08-23 22:15] it-praktyk commented on #404
I assume - based on @dlwyatt's answer - that initial request was refused so I'm closing the issue now.

[2017-08-23 22:15] #404 closed

[2017-08-23 22:27] it-praktyk commented on #550
What is a conclusion?
Is it related to #447?

[2017-08-23 22:40] it-praktyk commented on #444
Due to lack of discussion and votes of your request http://bit.ly/pst1ext I assume that we can close the current issue. Feel free to reopen if you can add something new. Thank you for your understanding.

[2017-08-23 22:40] #444 closed

[2017-08-23 22:47] it-praktyk commented on #369
It looks trivial but still is not implemented. Can I grab it?

[2017-08-23 22:50] it-praktyk commented on #538
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 22:50] #538 closed

[2017-08-23 22:56] it-praktyk commented on #452
The related project by @nohwnd -> https://github.com/nohwnd/Assert

@dlwyatt, should we close the current issue as 'Feature - refused'?

[2017-08-23 23:01] it-praktyk commented on #544
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-23 23:01] #544 closed

[2017-08-24 14:55] RemcoKapinga opened #832 "Feature request: Parameterized Context blocks"
I would like to be able to repeat groups of tests (context blocks) against multiple items (systems, endpoints, etc..), so that my test results are grouped by item.

for example:

    Describe 'Parameterized Context Example' {

        $endpoints = @(
            @{ HostName = 'server-1' }
            @{ HostName = 'server-2' }
        )

        Context 'Network verification for <HostName>' -TestC

[2017-08-24 18:34] it-praktyk commented on #403
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-24 18:34] #403 closed

[2017-08-24 18:50] it-praktyk commented on #661
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-24 18:50] #661 closed

[2017-08-24 18:57] it-praktyk commented on #523
Based on a lack of responses (the one pull request did by myself - https://github.com/pester/Test-library/pull/3) to Pester/Test-library I declare that the idea is dead and close the current issue.

@nohwnd, can you consider removing the Pester/Test-library?

[2017-08-24 18:57] #523 closed

[2017-08-24 19:39] bgshacklett commented on #403
Can we get some clarification on the final answer? Is wrapping the native executable and testing against the wrapper the recommended method at this point?

[2017-08-24 19:53] it-praktyk commented on #403
Yes, wrapping native commands to functions and mocking functions is recommended way.

[2017-08-24 19:58] it-praktyk commented on #396
`tag` is available on `Context` in Pester v4 - the final version will be released soon.

`tag` - or any other method to run a single test - is a subject of discussion in the issue #721 so I close the current issue now. If do you feel that issue still should be opened please feel free to reopen it but please put some justification for this, please. Thank you.

[2017-08-24 19:58] #396 closed

[2017-08-25 08:38] Remco-74 opened #833 "Parameterized Tests don't get marked as Inconclusive when empty"
When using an empty parameterized test, the test does not get marked as 'Inconclusive'. It does get marked as 'Passed'.

    Describe 'Defect: Parameterized Tests do not get marked as Inconclusive when empty.' {

        BeforeAll {
            $testCases = @{ Name = 'a' }
        }

        It 'will mark an empty test method as Inconclusive' {

        }

        It 'will mark an empty parameteri

[2017-08-25 08:58] it-praktyk commented on #833
@Remco-74, IMHO, it's strictly related to #826. I think that a one of these should not be processed.

@nohwnd, are you agree?

[2017-08-25 09:02] nohwnd commented on #833
We should keep both.
- #826 describes what should happen when no test cases are provided.
- This describes what happens if you provide test cases but keep the _body_ of the test "empty" (just having the parameter block and nothing else).

[2017-08-25 09:09] it-praktyk commented on #833
OK, thx for a clarification.

[2017-08-25 09:25] Remco-74 commented on #833
Correct, these are two diffrent issues.

I could not locate the code that marks testcases inconclusive when empty, otherwise i could try to submit a pr. Can anyone point me in the right direction?

[2017-08-25 09:44] nohwnd commented on #833
@Remco-74 Sure [here it is](https://github.com/pester/Pester/blob/23eaf10c354eb4fbebc9d44f960bec89b24b5976/Functions/It.ps1#L161).

[2017-08-25 11:14] Remco-74 commented on #833
I've changed the test to:

    #mark empty Its as Pending
    #[String]::IsNullOrWhitespace is not available in .NET version used with PowerShell 2
    **$scriptIsEmpty = (($null -EQ $script.Ast.BeginBlock) -and ($null -EQ $script.Ast.ProcessBlock) -and ($null -EQ $script.Ast.EndBlock))
    if ($PSCmdlet.ParameterSetName -eq 'Normal' -and $scriptIsEmpty)**
    {
        $Pending = $true
    }

res

[2017-08-25 11:32] Remco-74 commented on #833
I've changed the detetion of an empty test to the following (using the Ast of the scriptblock):

    #mark empty Its as Pending
    #[String]::IsNullOrWhitespace is not available in .NET version used with PowerShell 2
    $testIsEmpty =
        [String]::IsNullOrEmpty($test.Ast.BeginBlock.Statements) -and
        [String]::IsNullOrEmpty($test.Ast.ProcessBlock.Statements) -and
        [String]::IsN

[2017-08-25 12:17] nohwnd commented on #833
Hmm, could you post a PR or it really does not permit you to do that?

[2017-08-25 13:05] Remco-74 commented on #833
I created a PR (is my first), I hope this works!

[2017-08-25 16:33] it-praktyk commented on #673
Due to lack of additional information, the issue is closed now. Please feel free to open when you feel that your question or request was not handled correctly.

[2017-08-25 16:33] #673 closed

[2017-08-25 16:34] it-praktyk commented on #792
Due to lack of additional information, the issue is closed now. Please feel free to open when you feel that your question or request was not handled correctly.

[2017-08-25 16:34] #792 closed

[2017-08-25 16:35] it-praktyk commented on #671
Due to lack of additional information, the issue is closed now. Please feel free to open when you feel that your question or request was not handled correctly.

[2017-08-25 16:35] #671 closed

[2017-08-25 19:00] it-praktyk commented on #522
It's not a bug it's a feature! ;-)

[2017-08-25 19:00] #522 closed

[2017-08-25 19:15] alx9r commented on #811
@nohwnd This is a follow-up from [your comment on #687](https://github.com/pester/Pester/issues/687#issuecomment-323433834).  If you want I could draft a set of release notes for 4.0.x according to the [philosophy I mentioned](https://github.com/pester/Pester/issues/687#issuecomment-323137637).

[2017-08-26 04:47] nohwnd commented on #811
@alx9r That would be great. There should not be any more things added to the v4 milestone unless they are critical.

[2017-08-26 04:52] it-praktyk commented on #830
It's not a bug, it's a feature.

[2017-08-26 06:28] nohwnd commented on #594
@it-praktyk I am using Pester in VSCode regularly, and since this was reported they started using the standard terminal for output, which shows colors. Closing.

[2017-08-26 06:28] #594 closed

[2017-08-26 08:34] nohwnd commented on #407
@ChaseFlorell thanks for the info (again :))) about GitHub, I am putting this in 4.1 milestone

[2017-08-26 08:54] nohwnd commented on #553
Yes, my approach was removed, and instead Jaykul's approach was used. Some pieces of making the error output better were removed, but that is fixed as well.

[2017-08-26 08:54] #553 closed

[2017-08-26 09:01] nohwnd commented on #550
@it-praktyk Let's keep this open. I am planning to change the internals to allow extensions, and this could be one of them.

[2017-08-26 09:07] nohwnd commented on #369
@it-praktyk sure. It would be nice if you figured a way to test this so we don't run in the same bug again.

[2017-08-26 10:10] nohwnd commented on #523
@it-praktyk yeah, that kinda sparked up and died (and I am to blame, at least a bit). Hopefully we can re-visit the idea somewhere in the future. I'll remove the repo.

[2017-08-27 12:03] nohwnd commented on #584
The problem here is not beforeAll, it is after all. After all was run 'unprotected' so when it failed, instead of simply logging the error as context failure and continuing, context teardown, the code terminated the teardown and context scope was not left, and the context that followed also failed. The solution is to move the whole scope in try catch, and do the code execution and code teardown in

[2017-08-27 13:58] #584 closed

[2017-08-27 13:58] #662 closed

[2017-08-27 18:35] nohwnd commented on #369
Probably to just use `-replace` which is still case-insensitive.

[2017-08-27 18:37] it-praktyk commented on #369
I need to check impact for Linux and Mac OS support too.

[2017-08-27 19:36] nohwnd commented on #687
Added simpler readme #837, some of the links are still missing content, and the install guide is not done yet, and we should link to the latest release from the top when it is done. But I am pretty happy about how it looks :)

[2017-08-27 21:08] it-praktyk commented on #830
I tried use mentioned functions before the module Pester was imported - e.g. in the first line file Gherkin.Tests.ps1 to block executing Gherkin tests on non-Windows systems.

When I've added them to exported they well imported automatically by PowerShell itself.

In my last iteration, I've added code like below

[code]

I'm not sure if is it correct/safe way. What do you think?

[2017-08-27 21:34] it-praktyk commented on #528
I think that was explained under #803 recently.

I propose to close the current issue also. @tparker00, what do you think about?

[2017-08-27 21:37] it-praktyk commented on #526
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-27 21:37] #526 closed

[2017-08-27 21:41] it-praktyk commented on #529
The output for Pester v4.0.6-RC on Linux

[code]

[2017-08-28 06:58] nohwnd commented on #830
@it-praktyk
1) do you need this to do something related to v4.0? It is still part of that milestone. Or you need it for the Linux compatibility work? (if so please move it to Linux milestone).

2) I guess the approach you took is fine for now. Later I would like to encapsulate the functions into something like `Run-On -Linux -Windows -ScriptBlock {  ...test code to be run... } which allows us to e

[2017-08-28 07:45] it-praktyk commented on #830
1. I don't need for v4.0 - I just removed it from it.

2.-3. - I'm just curious about $SafeCommands in Pester code - I don't understand this but I didn't try to find answer myself yet. Any approach is/will be good for me - as long as will be work, technically correct and accepted by you.

4. I realized that better be perform check for $PSVersionTabale.PSEdition - as long as we don't support Gherki

[2017-08-28 07:45] #830 closed

[2017-08-28 13:26] it-praktyk opened #838 "PSCore - escaping lines and other special chars can cause compatibility issue (?)"
After of series of improvements for compatibility with PSCore I stack.

On Windows 10, PowerShell v6.0.0-beta.6 I've failed test

[code]

The code responsible for creating lines about errors tries split message using [System.Environment]::NewLine] - https://github.com/it-praktyk/Pester/blob/dcd862c1476e12fa16ffa800bc9fd31ff9f6abc2/Functions/Output.ps1#L397 but in some other places are used special

[2017-08-28 14:24] nohwnd commented on #838
@it-praktyk  Well who could have forseen that there will be Powershell on Linux 😃 Imho the way to handle this is to use the `[System.Environment]::NewLine` in all the places where we produce messages that include  new lines. And then also in places where we validate those messages.

The Expand-SpecialCharacters is fine, it just replaces incoming invisible characters with their printable verisons a

[2017-08-29 08:37] majkinetor commented on #683
Still no Gherkin examples ?

[2017-08-29 09:15] it-praktyk commented on #683
The basic example is in the folder https://github.com/pester/Pester/tree/master/Examples/Gherkin.

We are welcome any pull request, especially for a documentation.

[2017-08-29 13:38] it-praktyk opened #840 "Pester v4 - the function Describe - parameter CommandUsed - question"
I work to update missed help description for parameters e.g. the `CommandUsed` for the Describe function.

I analyzed the code and tested the function Describe behavior. Based on that I assume that the parameter `CommandUsed` is needed because the function Context calls the Describe with the parameter `CommandUsed` set to "Context" and based on that values output header and indentation is made e.g

[2017-08-29 13:43] it-praktyk commented on #838
@nohwnd, thank you for confirming what I expected. I'll try to do it under resolving the PSCore compatibility issue.

I think that we should start writing something like Pester development guide. It could you be a part of contribution guide - the related issue #636.

What do you think?

[2017-08-29 13:56] dlwyatt commented on #840
That's my bad, -CommandUsed shouldn't exist on a public-facing function.  Context should probably call `DescribeImpl` directly.  Describe and Context would become identical functions with the exception of the value passed to `DescribeImpl`'s `-CommandUsed` parameter.

I wouldn't limit the options for that parameter, though; my intent was for Gherkin and any other future extensions to be able to pa

[2017-08-29 13:58] dlwyatt commented on #840
Rather than duplicating this bit of code in multiple places:

[code]

We could put it into a function, _but_, that function would have to be dot-sourced when we call it (so the assignment to the `$Pester` variable would happen in the caller's scope).  That code only matters when someone executes a test script directly instead of running Invoke-Pester.

[2017-08-29 14:03] it-praktyk commented on #840
Is it the last chance to update before releasing Pester v.4?

[2017-08-29 14:13] dlwyatt commented on #840
We control when v4 gets released.  I'd say let's update it beforehand.

[2017-08-30 08:19] DarkLite1 opened #843 "Execute mock even when parameters don't match"
I'm very new to Pester so please be patient with me. The function below is used in a lot of our scripts.

[code]

In the `Describe` clause we have the following lines of code:
[code]

Now every time the `ParameterFilter` matches Chuck Norris, the mail is not send. This is the desired behavior. However, when other users are defined in the `To` parameter of the function, the mail is sent nonetheless

[2017-08-30 09:14] nohwnd commented on #843
Hi, you can define catch-all Mock by not specifying the Parameter filter. You can have multiple mocks at the same time.

[2017-08-30 10:05] DarkLite1 commented on #843
I tried your suggestion but it's not working.  If I understand you correctly, you suggest this:
[code]
or this:
[code]
In both cases no mail is sent, which is expected, but there's also no check performed if it is indeed Chuck@Norris.com. Am I missing something?

[2017-08-30 10:26] nohwnd commented on #843
The micks with parameter filters should go first (the framework handles that), I'll have to try it to see where the problem is.

[2017-08-30 11:13] nohwnd commented on #843
First of all you should import ( dot-source ) your functions at the top of the test script and after that you should define you mocks. With that I don't see why it should not fail.

[code]

[2017-08-30 12:07] DarkLite1 commented on #843
Thank you very much @nohwnd. Thanks to your example I found my problem. It wasn't really needed to add the function with an empty clause at the top of the test script. What did the trick was addressing the correct function with the `-ParameterFilter` included.

`Assert-MockCalled Send-Mail -Exactly 1 -Scope it -ParameterFilter {$To -eq 'Chuck@Norris.com'}`

I still believe it would be great to hav

[2017-08-30 12:52] dlwyatt commented on #843
You don't need to have two separate mocks here;  `Mock Send-Mail` is sufficient.  You can still use the `ParameterFilter` on `Assert-MockCalled`

[2017-08-30 12:57] DarkLite1 commented on #843
OMG... This is one of these moments where I feel the most stupid IT'er on the planet. Thank you @dlwyatt  for the help. Figured it out now.

[2017-08-30 13:06] nohwnd commented on #843
Don't worry I've been doing it with two mocks the whole time :D

[2017-08-30 13:10] DarkLite1 commented on #843
Pfiew... :P Feeling better now. Thanks guys, appreciate the help and tips. I'll close this issue.

[2017-08-30 13:10] #843 closed

[2017-08-30 13:56] DarkLite1 opened #844 "Feature clean TestDrive"
It would be great to have an extra parameter on `it` or `in` that allows for the `TestDrive` to be cleaned for each test.

An example:
[code]

It would allow boilerplate code like `Remove-Item -Path .\* -Force` to be removed.

Something like this:
[code]

Or this would be great:
[code]

I know it can be done with different `Describe` clauses, but sometimes things are grouped because they make bett

[2017-08-30 15:20] dlwyatt commented on #844
You could accomplish that using `BeforeEach { Remove-Item -Path .\* -Force }`

Not sure if it's worth adding new switches for this specific case when it's easily covered by another feature.

[2017-08-30 15:49] alx9r commented on #687
@nohwnd The new text is [what I see here](https://github.com/nohwnd/Pester/tree/ac253365d3bca4033a715a372fcbcfcb74e6d978), right?  That's a big improvement.  👍

I'm amused that that's the first time I've seen a `-TestCases` example that is compelling. :)

[2017-08-30 15:54] nohwnd commented on #687
@alx9r yes, that, there might be minor changes in the readme branch.

[2017-08-30 16:22] crmckenzie opened #845 "Assert-MockCalled breaks when tests are run using FileSystemWatcher."
I've created a repo to demo the problem [here](https://github.com/crmckenzie/pester-tests).
**From the README**

The purpose of this repo is to demonstrate a problem I'm having with Pester in versions 4.0.5 and 4.0.6.

When setting up an auto-watch, calls to `Assert-MockCalled` fail with this error:

at Get-ScriptModule, C:\Program Files\WindowsPowerShell\Modules\Pester\4.0.6\Functions\InModuleSco

[2017-08-30 19:37] it-praktyk commented on #687
I just added content to the page [Articles and other resources](https://github.com/pester/Pester/wiki/Articles-and-other-resources) - it was initially part of my blog.

[2017-08-30 20:15] it-praktyk commented on #844
Based on @dlwyatt's answer I assume that a feature request was refused and I can close the issue now. If you still think that something needs to be discussed please feel free to reopen it.

[2017-08-30 20:18] it-praktyk commented on #280
I assume that your feature request was refused so the issue can be closed now. If you still think that something needs to be discussed please feel free to reopen it.

[2017-08-30 20:18] #280 closed

[2017-08-30 20:22] it-praktyk commented on #212
The pull request #782 introduced support for JaCoCo XML code coverage reports - thank you @scriptkiddie123.

Maybe this can be reused for other formats too?

[2017-08-30 20:28] it-praktyk commented on #606
@dlwyatt, can you confirm that it was implemented and the issue can be closed now?

@nohwnd, can you add this to the changelog? - based on @dlwyatt's answer

[2017-08-30 20:37] it-praktyk commented on #356
Based on the lack of answer I assume that issue can be closed soon (7 days). Please update about requested data or the issue will be closed.

[2017-08-30 20:43] it-praktyk commented on #279
@dfch, can you add information about your module to the newly created wiki article [Articles and other resources](https://github.com/pester/Pester/wiki/Articles-and-other-resources).

@nohwnd, is it addressed in your [Assert project](https://github.com/nohwnd/Assert)? If yes I don't think so that issue still should be opened.

@nohwnd, please add the Assert project to the list too. Thank you.

[2017-08-30 20:48] it-praktyk commented on #780
@dbroeglin, due to lack of additional information your request is marked now as 'Feature - refused' and closed. Feel free to reopen it if you can provide more data as requested. Thank you for understanding.

[2017-08-30 20:48] #780 closed

[2017-08-30 20:48] #493 closed

[2017-08-30 20:49] #586 closed

[2017-08-30 20:53] it-praktyk commented on #352
In Pester v4 Describe and Context have tags and is not possible to filter by It (a discussion e.g. #721).

[2017-08-30 20:55] it-praktyk commented on #741
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-30 20:55] #741 closed

[2017-08-30 20:59] it-praktyk commented on #393
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-30 20:59] #393 closed

[2017-08-30 21:05] it-praktyk commented on #397
What about changing it in Pester v.4?

Means to achieve backward compatibility add functions with current (plural nouns) names with deprecation warnings and rename the real functions?

[2017-08-30 21:08] it-praktyk commented on #392
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-08-30 21:08] #392 closed

[2017-08-30 21:12] it-praktyk commented on #494
@agross, can you confirm that you were able to resolve an issue? If yes please provide an answer in the current issue too. Thank you.

This issue will be closed soon (7 days).

[2017-08-30 21:16] agross commented on #494
@it-praktyk As I said, I used the workaround using a global variable. Which feels dirty.

[2017-08-30 21:16] it-praktyk commented on #334
The related issue #397 (?)

[2017-08-31 03:58] Jaykul commented on #397
That's what [Alias(...)] is for 😉

[2017-08-31 06:49] DarkLite1 commented on #844
Thx @dlwyatt for the info. I was looking actually at `Get-Help Describe` but couldn't find it in the parameter list as I was expecting something like `-BeforeEach` or `-AfterEach`.  This is the standard way of using CmdLets in PowerShell I believe.

Question, would it be possible to add `-BeforeEach` and `-AfterEach` parameters to `Describe` and `Context`? I think this would help a lot of people f

[2017-08-31 07:56] it-praktyk commented on #844
Please read `Get-Help about_BeforeEach_AfterEach` - the files are available in the subfolder en-US

[2017-08-31 07:58] DarkLite1 commented on #844
Yes I know, thank you. But I'm trying to suggest the following new feature:

[code]

[2017-08-31 08:43] it-praktyk commented on #397
Yes, but with alias displaying of a deprecation warning is not possible (?).

[2017-08-31 13:21] Remco-74 commented on #832
A nice addition to this feature is that you can save some state per context, like follows:

    Describe 'Parameterized Context Example' {

        $endpoints = @(
            @{ HostName = 'server-1' }
            @{ HostName = 'server-2' }
        )

        Context 'Network verification for <HostName>' -TestCases $endPoints {
            param($HostName)

            BeforeAll { $session = New-

[2017-08-31 14:59] Remco-74 opened #846 "Calls to Write-Progress add significant performance overhead"
Write-Progress is called twice for every 'It' (before and after execution). The calls to Write-Progress add significant performance overhead to every testcase.

**Results with Write-Progress as default (executed 4 times):**

    Tests completed in 76.82s
    Tests Passed: 871, Failed: 0, Skipped: 0, Pending: 15, Inconclusive: 0
    ....
    Tests completed in 64.22s
    Tests Passed: 871, Failed:

[2017-08-31 23:42] it-praktyk opened #848 "An implementation of the CodeCoverageOutputFile parameter in the Pester.psm1 will be a pain in the future"
I just realized that implementation of the CodeCoverageOutputFile will limit options (or make them more problematic -due to not implementing breaking changes) when a next output format for a code coverage reports will be added in the future.

Now the CodeCoverageOutputFile parameter is strictly assigned to the JaCoCo file format. In my opinion, it should be implemented in a similar way like parame

[2017-09-01 06:48] it-praktyk commented on #808
@Jaykul, could you mark which [Gherkin-related functions exported by Pester](https://github.com/pester/Pester/blob/047be006bcfd514562d2e99c26fb2ffa11d746e1/Pester.psd1#L55-L63) module shouldn't be directly invoked?

- Invoke-Gherkin
- Invoke-GherkinStep
- Find-GherkinStep
- GherkinStep
- BeforeEachFeature
- AfterEachFeature
- BeforeEachScenario
- AfterEachScenario

Thank you.

[2017-09-01 07:07] DarkLite1 commented on #844
So guys, it might have gotten lost, but the last post suggested am improved parameter feature. Is this now also refused? @dlwyatt  @it-praktyk

[2017-09-01 07:09] DarkLite1 opened #849 "Unrecognized escape sequence \F."
The following code generates an error from within `Pester` v. 4.0.6:

[code]

I believe the fix can be found on [StackOverlflow](https://stackoverflow.com/questions/25186067/how-to-escape-characters-inside-of-a-parameter-in-powershell):

`[RegEx]::Escape($members)`
That will ensure that characters in strings get interpreted as literals and not as part of the RegEx.

It took me ages to figure out w

[2017-09-01 08:00] it-praktyk commented on #844
@dlwyatt?

[2017-09-01 08:03] it-praktyk commented on #846
I agree with you. IMHO Write-Progress is not needed and should be removed.

[2017-09-01 08:12] it-praktyk commented on #845
Please provide output of the command

[code]
Thank you.

[2017-09-01 08:47] it-praktyk commented on #849
Sorry, the "bug" is not related to Pester itself.

`PS >'Param' -match 'am'
True
PS >'Param' -match 'S:\Folder'
parsing "S:\Folder" - Unrecognized escape sequence \F.
At line:1 char:1
+ 'Param' -match 'S:\Folder'
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : OperationStopped: (:) [], ArgumentException
    + FullyQualifiedErrorId : System.ArgumentException
`

Please read [about_escape_

[2017-09-01 08:51] DarkLite1 commented on #849
Yes, you are correct. I've been looking at this too long... Thanks for pointing that out.

[2017-09-01 08:58] #849 closed

[2017-09-01 12:20] nohwnd commented on #846
I remember we added it because it was a request for long running tasks, I don't think there is a simple way of telling the progress bar to start appearing only after the task takes 1 second to run.

[2017-09-02 07:32] nohwnd commented on #793
I set the v4 milestone to be due this Friday. I will be on work trip the whole week, which usually means a lot of time for coding during the travel and evenings. I hope I will merge all the PRs, write all the help and fix all issues.

[2017-09-02 07:39] it-praktyk commented on #846
Can we extend usage of the Show parameter for Invoke-Pester?

[2017-09-02 07:39] #848 closed

[2017-09-02 07:44] nohwnd commented on #687
@it-praktyk awesome!

[2017-09-02 07:46] it-praktyk commented on #687
@nohwnd, please [retweet](https://twitter.com/ITpraktyk/status/902978966780346368) - let's make this page live.

[2017-09-02 08:11] nohwnd commented on #846
I was thinking about that as well, the default is `All` and the whole enum is about stuff printed on the screen. So the progress does not seem to belong there. But I guess we could rename `All` to `Default`, and add `Progress`, and then you would call `Invoke-Pester -Show All, Progress` if you wanted progress. Problem is that you won't get progress anymore if you run it directly from editor. (Whic

[2017-09-02 08:17] it-praktyk commented on #793
Please review issues labeled as [need to be triaged](https://github.com/pester/Pester/issues?q=is%3Aissue+is%3Aopen+label%3A%22Need+to+be+triaged%22) too. Thank you.

[2017-09-02 08:25] it-praktyk commented on #846
What about environmental variables what will be checked (for existence) under Pester start and can the next trigger e.g. set $ProgressPreference to SilentlyContinue for a time when Invoke-Pester is run?

Environmental variables users could set permanently in $Profile.

My rough calculation is that with displayed progress overall time of tests is longer about 20% - I think that it's worth of "I mis

[2017-09-02 15:23] it-praktyk commented on #720
The related series of blog posts [Automated Documentation in a CI/CD Pipeline for PowerShell Modules with PlatyPS, psake, AppVeyor, GitHub and ReadTheDocs](https://get-powershellblog.blogspot.com/2017/03/write-faq-n-manual-part1.html) by @markekraus

[2017-09-03 06:10] nohwnd opened #851 "Consider adding Gherkin to readme"
As suggested in #837 Invoke-Gherkin should be added to the readme file. I am not 100 % sure it won't be confusing the users who see the repo for the first time, because we don't show Invoke-Pester anywhere. Maybe we could list it as "Pester supports two dialects", and show both ways of writing the same test.

[2017-09-03 08:04] it-praktyk commented on #687
README updated by #837.

@nohwnd, what is a source for a graphic what illustrates a code coverage?

I assume that it from TFS/VSTS. IMHO, it should be mentioned that a graphic was generated using an external tool and a native for Pester output for a code coverage should be added to examples too.

[2017-09-03 08:35] nohwnd commented on #687
It is VSTS. I would add that to the wiki article so we don't complicate the readme.

[2017-09-03 22:24] alx9r commented on #811
@nohwnd

I think such a long-form document is probably the right idea.  Does that exist yet?

[2017-09-03 23:00] alx9r opened #852 "Are nested Describe and Context still experimental?"
The changelog for 4.0.0-rc1 includes "(experimental) Add nested Describe and Context".  That capability still seems to be present in 4.0.6-rc but there is no subsequent mention of nesting in the changelog.  Are nested Describe and Context still experimental?

[2017-09-03 23:55] alx9r opened #853 "Proposed Release Notes for first 4.x RTM Version"
Pursuant to [discussion in #811](https://github.com/pester/Pester/issues/811#issuecomment-325012458) here is a draft of release notes for whatever the first 4.x RTM version will be (`$first4xRTM`).  These would be the first dedicated release notes for Pester.  This will also be the first RTM version that includes the major changes that occurred between versions 3 and 4.  Accordingly, the release n

[2017-09-03 23:57] alx9r commented on #811
It seems like we've reach consensus that there should be dedicated release notes.  Discussion of what and where should continue in #853.

[2017-09-03 23:57] #811 closed

[2017-09-04 05:26] nohwnd commented on #852
I remember saying it is experimental because I needed to keep it in the release, but noone was really sure how it will behave with all the crazy things people will throw at it. Especially mocks. And we did not have any spec of our own to describe how it should behave. So far it looks to work just fine if you just use it to group tests, but I haven't tested with mocks and all the other stuff that h

[2017-09-04 05:43] nohwnd commented on #853
Imho the code coverage output to jacoco is worth mentioning. The packages Pester ships in should also be smaller because all unnecessary files are deleted from them, how much smaller I did not check :) There will very likely be two more breaking changes that are not in the codebase yet: Contains* to FileContentMatch*, and the Progress reporting will get disabled by default as it has big performanc

[2017-09-04 08:25] it-praktyk commented on #851
In my opinion, we need directly mention a Gherking-style tests notation as the new feature of Pester v4.

Unfortunately still is lack of
- fulfilled help - I did small progress but without support @Jaykul it's not easy - #808
- about_Gherkin

The related issue [V4: Nice to have: Merge Invoke-Pester and Invoke-Gherkin to a single command #552](https://github.com/pester/Pester/issues/552).

[2017-09-04 08:28] it-praktyk commented on #552
What is a conclusion of this issue? Does should it be still open? IMHO not.

[2017-09-04 08:30] #528 closed

[2017-09-04 11:43] Remco-74 opened #854 "Suggestion: Alternative technique for working with parameterized testcases"
I would like to propose an alternative method of making testcases parameterizes (or: 'data driven'):

A test script written as follows:

    foreach($describe in (1..2)) {

        Describe "Dynamic Describe $($describe)" {

            foreach($context in (3..4)) {

            Context "Dynamic context $($describe).$($context)" {

                    foreach($test in (5..6)) {

[2017-09-04 11:54] Remco-74 commented on #854
For example, a test for environment validation using a dynamic list of servers, can be written as follows:

    Describe "Server validation" {

        BeforeAll {
            # collect list of servers to validate, read from AD or file or ..
            $servers = ('server-1', 'server-2')
        }

        foreach($server in $servers) {
            Describe "Validate server '$($server)'" {

[2017-09-04 11:55] it-praktyk commented on #840
I tried to implement direct call from `Context` to `DescribeImpl` but it causes that tests based on `Assert-MockCalled` fail.

[2017-09-04 13:28] RemcoKapinga opened #855 "Detection of empty tests fails when specifying -Skip:$false or -Pending:$false"
Skipping of tests is done using the switch parameter -Skip.

When a test should be skipped based on some expression, a variable containing a boolean value can be specified for the switch parameter.

When a test is not skipped, but empty, Pester marks the test incorrectly as succeeded.

    Describe 'NotSkippedButEmpty' {
        $skip = $false
        It 'should be executed, but be marked inconclu

[2017-09-04 13:44] RemcoKapinga opened #856 "Feature Request: Support -Skip and -Pending on Context and Describe"
It would be nice if we can use -Skip or -Pending on groups of tests, without having to specify -Skip for every individual test.

We now have to specify -Skip for every 'It':

    Describe 'SkipEveryIt' {

        BeforeAll {
            $session = Try { New-PsSession -ComputerName $server -ErrorAction SilentlyContinue } Catch { $null }
            $skip = ($null -EQ $session)
        }
        Aft

[2017-09-04 13:58] Remco-74 commented on #855
Same defect occurs when using -Pending:$false

    Describe 'NotPendingButEmpty' {
        $pending = $false
        It 'should be executed, but be marked inconclusive' -Pending:$pending { }
    }

results in:

    PS> Invoke-Pester -Script .\PendingEmpty.tests.ps1
    Executing all tests in '.\PendingEmpty.tests.ps1'

    Executing script .\PendingEmpty.tests.ps1

      Describing NotPendingButEm

[2017-09-04 15:30] alx9r commented on #853
I omitted this by mistake.  I have added it.

Cool.  I did not know about this.  I have added this.

I will add those to the proposed release notes once they are completed.

[2017-09-04 15:32] alx9r commented on #852
I have updated #853 per @nohwnd's comment.

[2017-09-04 15:32] #852 closed

[2017-09-04 15:50] alx9r opened #857 "Pester 3 to 4 Migration Guide"
There are a variety of breaking changes between Pester 3 and 4.  I propose that those changes and their implications be documented and published somewhere.  I also propose that that information be entitled "Pester 3 to 4 Migration Guide" or similar.

There is [a related document from the Pester 3 release](https://github.com/pester/Pester/wiki/What's-New-in-Pester-3.0) in the wiki.  That seems like

[2017-09-04 18:01] nohwnd commented on #854
I think people are already doing stuff like this. As you mention there is nothing extra needed from Pester. Personally I don't like this pattern because it is often used when lack of data should fail the test (there is more elaborate description of my thinking somewhere in the recent issues, but I can't find it). But if not running the tests does not cause you any problems I would say go for it :)

[2017-09-04 18:03] nohwnd commented on #857
Would wiki be a good place to put it?

[2017-09-04 18:04] nohwnd commented on #856
I think that is doable, but the setups will still be run, because we don't know how many context/describes are in the current block. Is that fine? To me that would be unexpected.

[2017-09-04 18:07] nohwnd commented on #855
Thanks for the report. Will have a look in the next minor version.

[2017-09-04 18:13] nohwnd commented on #838
Maybe, the development team is limited to handful of devs at a time. Me and Dave are the ones merging PRs, and we usually catch those "errors" if they are discovered already, or sever breaking of the "rules". The functional problems will be caught by failing build. And the rest can always be fixed later. We all have limited amount of developer time, so I would rather spend it on developing stuff a

[2017-09-04 18:15] nohwnd commented on #334
At least we have a new form of Assertions for Pester 6 :D

[2017-09-04 18:35] nohwnd commented on #840
Not sure what is happening, the CommandUsed does not seem to bind correctly when you pass it through PSBoundParameters, maybe there is a typo I don't see. Calling it directly works though. PR on it's way.

[2017-09-04 18:51] #840 closed

[2017-09-04 18:58] Remco-74 commented on #856
If I could use -Skip on a Context, i would expect the following effects:
- No code in the block would be executed (so no before/after all, not tests etc..).
- All tests in the block will be marked as skipped).
- And this would work recursively (for nested blocks).

[2017-09-04 19:01] nohwnd commented on #397
There already are breaking changes regarding contains, so let's just make it a breaking change as well. It is just a simple replace that can be done over whole test base in seconds.

[2017-09-04 19:47] it-praktyk commented on #854
Parameterized test cases are not described in the wiki. It could be nice have them there. @Remco-74 can ask you about it?

[2017-09-04 19:48] it-praktyk commented on #857
Sounds good.

[2017-09-04 19:56] alx9r commented on #857
Ok.  I'll do a first draft when I have a chance.

[2017-09-04 20:27] it-praktyk commented on #838
I've created the new section in the wiki - Contributing to Pester - and I've started to write [Developement rules - technical](https://github.com/pester/Pester/wiki/Developement-rules---technical).

For other articles in the section, I'll divide existing Contributing to Pester to be more readable and to allow a direct reference to them e.g. in [an issue template](https://help.github.com/articles/c

[2017-09-05 01:07] Jaykul commented on #851
Pretty much everything they say about [cucumber](https://cucumber.io/) applies to Pester's implementation of Gherkin, and their [reference documentation](https://cucumber.io/docs/reference#gherkin) is the starting point for the docs -- we're using their parser, but Pester doesn't do as many output formats as Cucumber does, and doesn't currently have a good way to re-test failures (does it?).

[2017-09-05 04:05] nohwnd commented on #851
It does not.

[2017-09-05 04:18] nohwnd commented on #856
If all code was in dome kind of block Pester controls we could do this easily, but that is not how people currently write the code, and we cannot force it on them. We could make it possible if you follow rules, but there will be a big warning sign on it. See #721 for discussion about running single test (which would make implementing your proposal easy).

[2017-09-05 06:30] it-praktyk commented on #334
So maybe should we change the label from 'Feature to ' 'Futurology'?

[2017-09-05 06:42] Remco-74 commented on #854
@it-praktyk considering i'm proposing sunsetting (fasing out) the parameterized testcases as they are now, I don't think it is in the best interest to start documenting them :-)

[2017-09-05 06:57] Remco-74 commented on #854
In case anyone is interested, here's another sample of using structured data for testing. In this case we prepare 'environments' containing 'servers' and iterate on this data structure with our tests;

    Describe 'Environment validation' {

        BeforeAll {
            # a structured piece of data we can iterate - environments contain servers
            # typically you would collect this or

[2017-09-05 07:14] it-praktyk commented on #854
@Remco-74, I proposed you documenting this part of Pester because:
- I see that you analyzed that area
- good documentation of the current state allows understanding all that something needs to be done better.

No, I'm no joking.

[2017-09-05 07:16] Remco-74 commented on #854
Is there some .. documentation .. about writing documentation? where and how do i do that?

[2017-09-05 07:18] it-praktyk commented on #854
No, just can edit the Pester wiki. Probably parameterized tests should have a separate article linked to `it`.

[2017-09-05 07:38] it-praktyk commented on #840
Just stupid copy-paste mistake. Below comparison with your pull request. Thx.

![2017-09-05 09_30_25-describe ps1 pester visual studio code](https://user-images.githubusercontent.com/4910261/30050203-da96e178-921d-11e7-8d8f-ec2fc8081108.jpg)

[2017-09-05 09:25] DarkLite1 opened #862 "Splatting parameters in ParameterFilter of Assert-MockCalled"
I was wondering if it's possible to use a hashtable within the `ParameterFilter` of `Assert-MockCalled`? An example might clear things up:

[code]

It would really be great to be able to use `        Assert-MockCalled DoStuff -Exactly 1 -Scope it -ParameterFilter {@DoStuffParams}`, because the hashtable `$DoStuffParams` is filled in the production script with data/parameters.

Thank you for your h

[2017-09-05 09:29] it-praktyk commented on #862
The related issue #796, #88.

@davebrannan, what about your results?

[2017-09-06 05:18] Jaykul opened #864 "Pester 4 RC, PowerShell Core regression: $PSVersionTable.PSVersion change"
When I `Invoke-Pester` on Pester 4.0.6rc on PowerShell v6.0.0-beta.5 **Core** (on Windows 10) a lot of tests are failing because of version comparisons. In PowerShell Core, `$PSVersionTable.PSVersion` is a `System.Management.Automation.SemanticVersion` and so these tests all threw an error in the Describe block because they can't compare versions:

* `Describing Analyzing coverage of a DSC configu

[2017-09-06 05:43] Jaykul commented on #838
For what it's worth, it's not necessarily the right thing to just replace everything with Environment.Newline, because _other module authors_ aren't going to do that.

Authors don't need to change their line endings for scripts to run across platforms, so you're still going to have to deal with source code (and presumably, therefore, trace messages) that have a mix. Especially since <code>&#96;n</

[2017-09-06 07:16] it-praktyk commented on #864
@Jaykul, thank you for your report.

Could you test the code what you can find in the branch https://github.com/it-praktyk/Pester/tree/DevV4-1_Linux_compatibility_2?

Most of the issues are currently resolved.

[2017-09-06 07:18] it-praktyk commented on #864
BTW, you didn't provide what version of PSCore and OS was used for your test.

[2017-09-06 11:26] DarkLite1 commented on #246
Stumbled upon this too and tried to use the suggested solution with `PesterMatchArray`, but it doesn't test the content [deeply enough](https://github.com/stuartleeks/PesterMatchArray/issues/5) . So in the end I reverted to [this post](https://dscottraynsford.wordpress.com/2015/08/23/comparing-objects-using-json-in-powershell-for-pester-tests/) and used the following test:

[code]

[2017-09-06 11:31] nohwnd commented on #246
Maybe this could help you: https://github.com/nohwnd/Assert#comparing-whole-objects

[2017-09-06 11:40] DarkLite1 commented on #246
Perfect! Even better! Thank you very much for the helpful module. Love it already!

[2017-09-06 14:12] it-praktyk commented on #246
I assume that the issue can be closed soon (7 days). Feel free to send any additional information that can be helpful to answer your question/issue.

[2017-09-06 22:04] Remco-74 commented on #846
The progress you see is not really "progress" as there is no progress bar / percentage increase.

[2017-09-07 03:52] Jaykul commented on #864
Updated OP. It was beta 5 (I thought I was on b6, but wasn't) on Windows

[2017-09-07 08:03] Remco-74 commented on #846
Adding 'Progress' to the -Show options (while not enabled by default) seems to be a logical choice. It is backwards compatible and allows users that want to see the progress bar to still do that.

[2017-09-07 14:07] it-praktyk opened #867 "A dynamically created and imported module is not removed after a test execution"
After performing tests on Pester code the module created under the test scenario [Functions\Mock.Tests.ps1\$args handling](https://github.com/pester/Pester/blob/f28880bb1eb54eccc6aeee79b57aa4e907064df4/Functions/Mock.Tests.ps1#L1537-L1581) is not removed from a memory.

The result is

[code]

[2017-09-07 20:14] it-praktyk commented on #639
Status update,
after update of libraries done by @Jaykul (Thanks!) Gherkin style tests are supported on PowerShell Core on Windows.

On Linux unfortunately not yet - all tests fail.

[code]

On macOS not tested yet.

[The ToDo](https://github.com/pester/Pester/issues/639#issuecomment-323865003) list is updated.

The current branch (that includes the newest Gherkin libraries) is https://github.com/

[2017-09-07 20:49] it-praktyk commented on #867
[code]

[2017-09-07 21:24] it-praktyk commented on #862
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-09-08 06:21] DarkLite1 commented on #862
I would like to have it reopened as there isn't a valid workaround to use a `HashTable` within the `-ParameterFiler`.

[2017-09-09 04:10] TraGicCode opened #868 "Assert parameter not passed to mock?"
How do i perform an assertion that indicates a cmdlet called `New-Cluster` was called and it was not passed a parameter of `-IgnoreNetwork`?

[code]

[2017-09-09 19:16] it-praktyk commented on #639
@jpsnover, @TravisEz13, @dantraMSFT

We are almost done with porting Pester to PowerShell Core but we need help with handling DSC. If someone from Microsoft can help us?

Thank you in advance.

CC: @vors, @KarolKaczmarek

[2017-09-10 00:33] vors commented on #639
@it-praktyk jfyi @vors @KarolKaczmarek are no longer with MSFT.
cc @SteveL-MSFT

[2017-09-10 01:03] SteveL-MSFT commented on #639
@TravisEz13 can help after he's freed up from his current priorities

[2017-09-10 03:23] Jaykul commented on #639
Can I just ask why @it-praktyk is having to do all the cross-platform stuff in his own repo and ask people to go help him do the work there?

[2017-09-10 06:20] it-praktyk commented on #639
@Jaykul good questions.

My answers

Because
- I can
- I have fun with it

Now, when almost (as I hope) it's done, I created a separate branch in Pester repo https://github.com/pester/Pester/tree/Dev4-1_PSCore_compatibility

IMHO it's power of open source projects that I can ask for help :-)  DSC stuff it's too difficult for me or I'm just too tired (I'm going to go on holidays in October?).

[2017-09-10 06:23] it-praktyk commented on #639
@vors

We are open for your contributions too :-P

[2017-09-10 06:26] it-praktyk commented on #639
@SteveL-MSFT

Thank you in advance.

What?! Pester is not his priority?! ;-)

[2017-09-10 10:16] nohwnd commented on #811
more breaking changes #859 #860

[2017-09-10 12:19] #397 closed

[2017-09-10 12:32] nohwnd commented on #853
I am drafting the release notes in [our releases](https://github.com/pester/Pester/releases).
- Added the new Should syntax
- Deprecated Should without dashes (without warning message for the moment)
- Changed all assertion examples to use the new form of shoulds with dashes

- Added breaking changes

- The 3.4.6 package is not smaller compared to the 4.0.6 package, but I kept the wording anyway.

[2017-09-10 12:42] alx9r commented on #853
@nohwnd I don't see 4.0.7 at that URL.

[2017-09-10 13:03] it-praktyk commented on #853
I can see v. 4.0.7

I don't see - it should probably be in part about a nested `Describe{}` - information that in that case `Tag` can be used only once. I remember discussions with @dlwyatt that only "more external tag usage is handled".

[2017-09-10 13:35] it-praktyk opened #870 "Some tests fail when Set-StrictMode is set to Latest"
Some tests fail when Set-StrictMode fail when Set-StrictMode is set to Latest.

[code]

Most of the errors are related to Gherkin-style tests under PowerShell 2.0 - especially under execution by [Travis-based continues integration](https://build.powershell.org/viewLog.html?buildId=12116&tab=buildResultsDiv&buildTypeId=Pester_TestPesterOnPowerShellV2).

To reproduce you can add Set-StrictMode at th

[2017-09-10 13:45] alx9r commented on #853
@nohwnd Per [github documentation](https://help.github.com/articles/creating-releases/):

I'm pretty sure I don't have write access.  I assume @it-praktyk does.

[2017-09-10 13:56] it-praktyk commented on #639
Please be aware that currently some DSC-related changes are not merged to the branch Dev4-1_PSCore_compatibility - the awaiting pull request #869, due to bug - the issue #870.

I'll try to resolve it soon.

[2017-09-10 14:04] nohwnd commented on #683
Closing this as it will be covered in the release notes of the new release.

[2017-09-10 14:04] #683 closed

[2017-09-10 14:06] nohwnd opened #872 "Update documenation for Code coverage"
Update documentation for code coverage to include jacoco and describe how to set it up for VSTS

[2017-09-10 14:07] nohwnd commented on #687
#872 Moving the task for the CC here. Rest is done, or has it own issue.

[2017-09-10 14:07] #687 closed

[2017-09-10 14:09] #802 closed

[2017-09-10 15:04] nohwnd commented on #812
Linked to this in migration guide, closing so we can close the milestone.

[2017-09-10 15:04] #812 closed

[2017-09-10 15:06] nohwnd commented on #857
Basic [guide is in place](https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4). Closing.

[2017-09-10 15:06] #857 closed

[2017-09-10 15:09] nohwnd commented on #853
@alx9r you are now part of our team :) well deserved. Please still use PR to sending changes, not committing directly.

[2017-09-10 15:11] nohwnd commented on #853
@it-praktyk added that to the release notes.

[2017-09-10 15:27] alx9r opened #873 "Summary of array-related breaking changes between Pester 3 and 4"
The following test passes in Pester 3 but fails in Pester 4:

[code]

The expression `$a.p` outputs `'a','a'` to the pipeline.  In Pester 3, each `'a'` invokes `Should` and the straightforward string assertion is applied on each of the two invokations.  In Pester 4, `Should` is only invoked once and compares the whole `'a','a'` array with `'a'` so the assertion fails.

[2017-09-10 15:49] alx9r commented on #873
Linked to this in the migration guide.

[2017-09-10 15:49] #873 closed

[2017-09-10 16:37] vors commented on #639
@it-praktyk sure :D I was just replying to

[2017-09-10 19:00] alx9r opened #874 "Complete the "Installation and Update" Article"
[The Installation and Update article](https://github.com/pester/Pester/wiki/Installation-and-Update) is unfinished and leaves an impression uncharacteristic of the rest of the Pester project.  I propose the following:

* In the short-term, omit the installation methods that are mentioned but not described.
* For all pre-PowerShell 5 installation, recommend that the .zip from the latest release's p

[2017-09-10 19:00] alx9r commented on #853
@nohwnd The release notes look good to me. 👍

[2017-09-11 08:51] it-praktyk commented on #853
We need review [about_Should](https://github.com/pester/Pester/blob/master/en-US/about_Should.help.txt) and probably the wiki too.

[2017-09-11 08:55] it-praktyk opened #875 "Review of examples for Should need to be done due to changed syntax"
The quote from incoming Pester v. 4.0.7 RTM

A documentation of project needs to be reviewed and aligned to address that preferred syntax.

[2017-09-12 19:29] it-praktyk commented on #639
The new - at least for me - information about Desired State Configuration Core (DSC Core) - the blog post at the PowerShell Team Blog, [DSC Future Direction Update](https://blogs.msdn.microsoft.com/powershell/2017/09/12/dsc-future-direction-update/).

[2017-09-13 17:06] nohwnd commented on #853
@it-praktyk please review in separate issue.

[2017-09-13 17:06] #853 closed

[2017-09-13 17:06] nohwnd commented on #793
Nothing anymore 🍾 🎈 🍰

[2017-09-13 17:06] #793 closed

[2017-09-13 18:40] TravisEz13 commented on #639
@it-praktyk There are several known issues with DSC and PowerShell Core.  What kind of help are you needing with DSC?

[2017-09-13 21:28] it-praktyk commented on #853
The related issue #876

[2017-09-13 22:49] splatteredbits opened #877 "RuntimeException: 'Contain' is not a valid Should operator"
Just upgraded to Pester 4.0.7 (from 4.0.6) and it looks like the `Contain` operator is gone:

[code]
results in this failure:
[code]

[2017-09-13 22:58] alx9r commented on #877
@Splatteredbits You are right.  That change is noted in [the release notes](https://github.com/pester/Pester/releases) under "Breaking Changes".

[2017-09-13 23:21] alx9r commented on #877
[The Pester 3 to 4 migration guide](https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4) recommends the following:

I haven't had to do that myself, but there's even a script in that guide to help automate that process.

[2017-09-14 07:17] it-praktyk commented on #639
@TravisEz13, thank you for contact.

Generally, after when I read the blog post [DSC Future Direction Update](https://blogs.msdn.microsoft.com/powershell/2017/09/12/dsc-future-direction-update/) I assumed that it's too early to try fully support DSC on PSCore by Pester.

I hope that in the future - when DSC on PSCore will be more mature - you will try to improve support for it in Pester too.

For

[2017-09-14 15:37] alx9r opened #878 "How do I discover Should operators?"
As I understand it, using Pester 4 the better practice is to use named parameters with `Should` to compose assert statements.  The following is an example of such use:

[code]

I believe it has been stated that this is preferable to composition using arguments to should like the following:

[code]

Because of the move toward operators as parameters, I expected there to be a way to discover the ope

[2017-09-14 16:20] nohwnd commented on #874
@alx9r I knew I forgot about something! Do you happen to know if people still use PSGet to install modules on powershell that does not support `Install-Module`?

[2017-09-14 16:34] it-praktyk commented on #878
My ideas

1. Read [about_Should](./en-US/about_Should)?
2. Some kind of auto-completion?

The related issue  #875

[2017-09-14 16:58] alx9r commented on #878
It looks like intellisense suggests the operators as parameters but without any explanation of what they do.  It seems like if that is working, there ought to be a way to make `Get-Help -Parameter *` output help for each of those parameters as well.

If that's not possible, perhaps it's worthwhile to implement something like `Get-AssertionOperatorHelp` which outputs the same types of objects as `G

[2017-09-15 00:18] alx9r commented on #874
@nohwnd I do not know.  In general I'm reluctant to recommend or support any deployment method for Pester for which there aren't automated tests that are part of CI.

[2017-09-15 05:07] nohwnd commented on #878
This is one of the things I don't like about the current approach. It is a step forward from 'Should Not Be' that is not discoverable at all, but it's still not ideal. I would love all the assertions to take form of Should-Be Should-NotBe, that would make them discoverable by the normal means of command discovery which is Get-Command.

In fact I would rather use Assert-*, but for that we need a ne

[2017-09-15 13:18] it-praktyk opened #880 "PowerShell 3.4.6 is loaded when a renamed function is called under Pester 4.0.7"
The breaking changes introduced by #860 in Pester 4.0.7, means renaming of functions
* Assert-VerifiableMocks to Assert-VerifiableMock
* Get-MockDynamicParameters to Get-MockDynamicParameter,
in a situation, when Pester v. 3.4.6 is available in the system too, the older version of Pester is loaded and in the result, other tests fail too with ambiguous error messages.

I propose to add additional f

[2017-09-15 17:42] nohwnd commented on #880
Like this? (are the Get and Set really necessary? Dave removed them from the migration guide because they are "internal". And I also don't know why would anyone ever use them in their tests, but on the other hand it is public api.

[code]

[2017-09-15 17:54] Blackbaud-ShaydeNofziger commented on #880
Currently seeing a similar issue wherein the first call to `Assert-VerifiableMocks` gives

`RuntimeException: The Assert-VerifiableMocks command may only be used from a Pester test script.`

However all subsequent calls to `Assert-VerifiableMocks` in the same manner succeed. Does this sound related or should I open a new issue?

[2017-09-15 17:56] nohwnd commented on #880
@Blackbaud-ShaydeNofziger Which version of Pester are you using?

[2017-09-15 17:57] Blackbaud-ShaydeNofziger commented on #880
@nohwnd 4.0.7, but it seems it falls back to 4.0.6, presumably because the plural command no longer exists.

[2017-09-15 18:00] it-praktyk commented on #880
Please
- reopen PowerShell
- check `Get-Module` before and after running your tests.

I expected that after you will have loaded two versions of Pester.

[2017-09-15 18:02] Blackbaud-ShaydeNofziger commented on #880
@it-praktyk D'oh! Thank you....

[2017-09-15 18:07] nohwnd commented on #880
Yup, same problem.
@it-praktyk see the [hot news](https://github.com/pester/Pester/blob/master/README.md#pester) :D

[2017-09-15 18:08] it-praktyk commented on #880
@nohwnd, I like it!

[2017-09-15 18:29] #880 closed

[2017-09-15 22:04] splatteredbits commented on #877
My problem isn't that this changed, but that it changed between `4.0.6` and `4.0.7`.

[2017-09-15 22:19] alx9r commented on #877
As I understand it, 4.0.6 was marked with "-rc" which means it is pre-release per [semver](http://semver.org/) clause 9.  That clause includes the following text:

[2017-09-16 06:09] nohwnd commented on #877
@splatteredbits It is our fault, partially. We cannot push pre-releases to PSGalllery, because it does not support it. We always talked about `4.0.0-rc` - `4.0.6-rc` as being release candidate, even though for PSGallery it was a released version. I also took time to share that `4.0.7` will have breaking changes on every major powershel channel to give people time to prepare their servers before th

[2017-09-16 07:41] nohwnd commented on #874
@alx9r done. PSGet seems to be problem free ( I used it a lot and never had any problems with it), so I put it in as a convenient way of installing from psgallery on posh2. I don't think we have any tests for any deployment in our CI, but we can safely say that it's proven to work by usage.

[2017-09-16 07:41] #874 closed

[2017-09-16 09:44] it-praktyk commented on #857
I've added the link to issues labeled as 'Pester migration 3 -> 4' to the migration guide.

[2017-09-16 09:59] nohwnd commented on #868
You cannot do that in a very idiomatic way, but you can do it. You need to assert that the mock was called one time (or at least one time) and the parameter that you want to exclude remained empty. Or alternatively you can assert that the mock was called one time (or at least one time), and then assert that that it was called zero times with the excluded parameter populated to some value.

[code]

[2017-09-16 10:07] nohwnd commented on #827
@vors probably glitch in your matrix, [running on Trusty at Travis](https://travis-ci.org/pester/Pester/builds/276206985#L1814) takes about 7s. Are you still seeing this in your builds? Or can we close this for now?

[2017-09-16 10:20] nohwnd commented on #713
@it-praktyk I tried this, and I am not sure how to progress. `Be` should work the same way as `-eq` including some of it's glitches. If you need different behavior there should imho be [special string assertion](https://github.com/nohwnd/Assert/blob/master/src/String/Assert-StringEqual.ps1) that adresses it explicitly via some parameter, `Be` is already overloaded enough.

Do you know how the PR i

[2017-09-16 11:32] nohwnd commented on #845
@crmckenzie Looked at your repro and the problem is that the FileWatcher seems to be putting your callback into a dynamic module. Pester then [picks this up](https://github.com/pester/Pester/blob/0d4f1d3e76d40f541e64eb4f7b318b02754278d1/Pester.psm1#L786) and uses it in Mock, and mock can only do with script modules, hence the error. You can observe the behavior yourself simply by adding `Write-Hos

[2017-09-16 12:11] nohwnd opened #885 "Set-TestInconclusive does not fail the test when running in -Strict mode"
Setting test to inconclusive marks the test as inconclusive even when running in Strict mode, we are probably making the check first, and then running the test.

Related #529

[2017-09-16 12:17] nohwnd commented on #529
This should fail the describe or make note that there was a framework error and throw at the end of the test run, but let's stick with fixing the bug for the moment.

[2017-09-16 14:06] nohwnd commented on #783
@TofuBug

If we put this into the framework we need to keep it Powershell 2 compatible. If you are just sharing your thoughts, then this is a good place to discuss, but not a good place to publish, the issue will be closed sooner or later, and then it will be very unlikely to be discovered by anyone. Write a blog post, and tweet to @pspester, I will happily retweet.

There are a lot of assumptions

[2017-09-16 14:06] #783 closed

[2017-09-16 14:12] nohwnd commented on #663
@davidwallis3101 any idea how we could solve this? If there are no matching tests to run, there won't be anything reasonable in the file. Is TFS collecting the .XML files automatically? Maybe you could filter the files before it takes it and delete the empty ones?

[2017-09-16 14:20] nohwnd commented on #823
@adbertram Are you able to reproduce the issue? The code in Pester selects the module from the currently loaded modules, and fails if there is more than one with the given name. If you load the module from your ModulePath and run the tests without force importing the other module it will use the module that was already loaded. So maybe that happened?

I don't see any other way this could break, bu

[2017-09-16 15:04] adbertram commented on #823
I cannot reproduce it now. I'm not sure what state it was in.

On Sat, Sep 16, 2017 at 9:20 AM, Jakub Jareš <notifications@github.com>
wrote:

[2017-09-16 15:08] #823 closed

[2017-09-16 17:12] alx9r commented on #874
@Nohwnd Looks good.

[2017-09-16 17:26] alx9r commented on #877
@Nohwnd @splatteredbits It looks like there is [a (draft?) RFC for the PowerShell gallery limitation.](https://github.com/PowerShell/PowerShell-RFC/blob/master/1-Draft/RFC0013-PowerShellGet-PowerShellGallery_PreRelease_Version_Support.md)

[2017-09-16 18:01] alx9r commented on #877
@it-praktyk I _think_ this sort of issue should probably be marked with "Resolution-External" similar to [the way that tag gets used on other projects like PowerShell/PowerShell](https://github.com/PowerShell/PowerShell/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aclosed%20label%3AResolution-External%20).

[2017-09-17 06:39] splatteredbits commented on #877
Hmm. I would prefer, then, that you not publish prerelease versions to the Gallery until it supports prerelease versions. I use the gallery too, and don't like how it doesn't support them. Use nuget.org or publish to GitHub. Maybe someone needs to write a GitHub provider.

[2017-09-17 06:46] it-praktyk commented on #877
I understand your concerns. In the next few days (?), we start a discussion about maintenance model of Pester. Your issue will also be dealt with.

[2017-09-17 19:29] it-praktyk commented on #713
I didn't analyze it very deeply before I've opened the issue. I agree that it's very specific case and maybe doesn't be handled even.

I just marked it as 'Known limitation' and 'Documentation' so I'll try mention about it in the wiki.

[2017-09-17 19:29] #713 closed

[2017-09-17 19:31] #246 closed

[2017-09-17 19:32] #552 closed

[2017-09-17 19:44] it-praktyk opened #888 "RFC - Pester v. 3.x - an maintenance plan"
I would like to start a discussion about a future of the Pester 3.x branch.

IMHO - because Pester 3.4.0 is a part of Windows 10 and Windows Server 2016 - we should still maintain it for some time.

Maintain means - for me
- resolve major bugs what are know or will be discovered
- backport features what doesn't require major refactor to Pester v 3.x code
- update documentation
- analyze and accept

[2017-09-17 22:41] alx9r commented on #888
This raises a number of questions in my mind as follows:

1. Are updates to Pester deployed via Windows Updates and/or WSUS?  If so, how is that decision made?
2. At what point will Windows Update and/or WSUS deploy Pester 4.x?  At that point, what will happen to instances of Pester 3.x that were deployed as part of Windows 10 and Server 2016?

[2017-09-18 09:38] it-praktyk commented on #888
@SteveL-MSFT, would you like to join the discussion too?

[2017-09-18 09:39] it-praktyk commented on #888
@alx9r, I can't answer your questions. Those decisions are outside of the Pester team.

[2017-09-18 09:45] nohwnd commented on #888
@it-praktyk Pester being shipped with Windows is cool, but I haven't heard about anyone who actually uses the version shipped with Windows, and if they do, we can easily migrate their test base. ( MSFT has it's own fork of Pester that works on PSCore, so the they could migrate only when Pester is compatible with PSCore, which is not gonna happen for Pester 3. ) So I would vote for Pester 3 being m

[2017-09-18 13:15] it-praktyk commented on #870
@nohwnd, @dlwyatt

Should all tests for Pester itself (Functions\*.Tests.ps1 files) start with a declaration `Set-StrictMode -Version Latest`?

I've found that the Functions\Coverage.Tests.ps1 doesn't contain this.

[2017-09-18 14:06] it-praktyk commented on #639
@JamesWTruher, your name was mentioned here #888 so I've checked your GitHub profile. I think that you can be interested in the current thread too.

[2017-09-18 14:08] nohwnd commented on #870
yup. whole pester should be able to run in strict mode.

[2017-09-18 14:27] it-praktyk commented on #870
OK, I'll update style rules tests to check if the first line of Functions\*.Tests.ps1 is `Set-StrictMode -Version Latest` to avoid this kind of situation in the future.

BTW, I can't find any tests for the Set-TestInconclusive function.

[2017-09-18 15:50] nohwnd commented on #870
Okay maybe not this way. Once the strict mode is set you don't have to re-set it for every file right? So this is likely just a remnant of past. No need to add more rules for this, imho the code on build server runs in strict mode anyway, so it would get caught there. If it is not we should set it up that way.

[2017-09-18 16:35] TravisEz13 commented on #639
@it-praktyk The blog is the best channel I can think of right now.  Message me on Gitter or Twitter (@TravisPlunk) and I'll see if I can get your connected with the DSC team.

[2017-09-18 20:15] it-praktyk commented on #870
Hmmm, I caught errors provided above - like for Functions\Mock.Tests.ps1 provided above - after when I set `Set-StrictMode -Version Latest` just at the beginning of my local copy of the Pester.psm1. They were not caught by CI.

[2017-09-18 21:26] SteveL-MSFT commented on #888
@it-praktyk yes, please keep me in the loop.

We put Pester in Windows to help bootstrap users and ensure they can leverage Pester since it's available, but our expectation is that most users would want to get the latest version from PowerShellGallery.  I would be fine if it is declared that Pester 3 is obsolete, but it will take some time to replace it in Windows.

[2017-09-18 22:10] alx9r opened #889 "Test Publishing to PowerShell Gallery Using Pre-release Semantics"
Pester 4 release candidates (rc) were published to PowerShell gallery as though they were stable.  They weren't.  The public API changed from 4.0.6-rc to 4.07 and caused the pain in #877 (among other pain, I imagine).  The cause of that pain [was summed up by @nohwnd](https://github.com/pester/Pester/issues/877#issuecomment-329948805):

It turns out that there is [a draft RFC for PowerShell Galler

[2017-09-18 22:15] alx9r commented on #877
It looks like PowerShell Gallery may soon have pre-release semantics.  I have opened #889 to pursue that solution.  Assuming pre-release semantics comes to fruition we should be able to avoid this problem in the future.

@splatteredbits Thanks for opening this issue.  I think it has precipitated some real progress.

[2017-09-19 05:33] nohwnd commented on #870
In that case I am wrong about how Strict mode works or something else is wring. I'll have a look when I have some spare time.

[2017-09-19 07:08] it-praktyk commented on #889
I like it.

[2017-09-19 08:45] davidwallis3101 commented on #663
I got around it by having a step in the build that runs the following:

[code]

I'm not sure if its an issue other people are seeing? I guess VS Online should exhibit the same behaviour.

to reproduce, create multiple test files and tag one file with say

[code]

and the other with

[code]

Then invoke all tests with the tag runme

[2017-09-19 08:49] davidwallis3101 commented on #663
To add the test results in my usage are ending in Pester.XML so alter for your environment if you are having the same issue.

All i am basically doing is looking for the files with the <results /> attribute in them that it complains about and then removing them - use at your own risk :)

[2017-09-19 13:03] DarkLite1 opened #890 "Pester test behaving differently with breakpoints and without breakpoints"
For some specific reason `Pester` behaves differently when stopped before executing a test then if it does when it's not stopped at all. Some examples to show the problem:

**File.Tests.ps1**

[code]

**File.ps1**

[code]

When executing `Pester` by opening `File.Tests.ps1` and hitting `F5` or clicking `Play` in the PowerShell ISE the following error is thrown:
[code]
Now when running the same tes

[2017-09-19 13:04] DarkLite1 commented on #890
I'm not able to `Edit` my post for proper formatting. Sorry for that.. Might be a bug on `GitHub`.

[2017-09-19 13:07] it-praktyk commented on #890
I've corrected formatting.

[2017-09-19 13:29] nohwnd commented on #890
Could you check if the rest of the test is actually executed (for example write the current date to a file after the breakpoint), please? If that is not done then Code coverage is likely to blame, because that uses breakpoints, si maybe it skips the rest of the test for some resson, but I doubt it is as simple as that.

[2017-09-19 13:32] DarkLite1 commented on #890
In real life, because the example here is highly simplified. the other tests are correctly executed. The ones before it and the ones after it. I hope that answers your question. I simplified it so much, so that everyone is able to reproduce it.

[2017-09-19 22:57] alx9r commented on #890
Replacing `Test-DefaultPermissionsHC` with

[code]

reveals that `$Sheet` varies depending on whether a breakpoint is set or not.  It differs enough that when a breakpoint is set `where` is never invoked while it is invoked otherwise.  I'm not sure whether this is caused by Pester or PowerShell or both.

What I do know is that, in general, debugging in PowerShell clobbers variables.  Invoking, for

[2017-09-20 06:35] DarkLite1 commented on #890
Thank you for the thorough investigation @alx9r . really appreciate your help. It shows indeed that, as you say, there is a difference when a breakpoint is set and when not. Maybe some of the `Pester` devs can have a look too. to see if they can see it being a problem within `Pester` or not.

For now, I fixed the code as following:
[code]

Thanks again for your help as this was really driving me n

[2017-09-20 06:38] nohwnd commented on #890
Alx9r is a Pester dev, and knows the most about Pester edge cases than anyone else. 🙂

[2017-09-20 06:40] DarkLite1 commented on #890
:embarrassed_humble_face:

[2017-09-20 22:45] brantb opened #891 "Custom assertion operators can't easily be reused"
I have a few custom assertion operators which I'd like to use in multiple test suites, but Pester only allows an assertion to be defined once.

### Assertions.ps1
[code]

### Get-SomethingInteresting.Tests.ps1
[code]

### Set-SomethingInteresting.Tests.ps1
[code]
----

## Actual result
[code]
## Expected result
I can reuse `Assertions.ps1` in multiple test files, somehow.

As a workaround for this

[2017-09-21 03:16] it-praktyk commented on #870
The list of tests files which don't start from `Set-StrictMode`

[code]

[2017-09-21 05:19] nohwnd commented on #891
Yikes. There are few ways to solve this. One that seems most reasonable is relaxing the rule and simply do nothing when you add the same operator the second time. This should probably be optional so I think it would be reasonable to force the registration to provide a unique Id of the operator (think Guid, or better - hash of the file), when it registers multiple times. That should both:
- Allow u

[2017-09-21 11:07] indented-automation opened #892 "Migration script"
I don't have time to do a PR right now, but in case it helps (anyone).

This is a different version of the migration script which (in part) rewrites the "Should Contain" assertion. This particular version also updates notation to parameterized assertions.

Posted because it does away with the use of regular expressions to find statements to update which means it should be a more robust approach.

[2017-09-25 13:38] brantb commented on #891
Whoops, I didn't expect my force-pushes to clutter the issue history like that. My bad.

[2017-09-25 17:29] brantb opened #894 "Assert-MockCalled's ParameterFilter no longer counts invocations when script block has no return value"
In Pester 3.x I frequently used the following pattern with `Assert-MockCalled`:

[code]

My reason for doing this was the improved error messages that `Should` would generate, i.e. `Expected: {NotUseful} to match the expression {Useful}`.

In Pester 4.x, this technique no longer works. `Assert-MockCalled` fails with the message `Expected MockedCommand to be called at least 1 times but was called 0

[2017-09-26 00:38] alx9r commented on #894
@brantb I'm not in a place I can follow your repro right now.  Would you be able to create a test that reveals whether it is the behavior of `Should` or `Assert-MockCalled` that changed from Pester 3.x to 4.x?

[2017-09-26 06:49] simonfangyingzhang opened #895 "variable not new value after It block, how I can have new value?"
for example, try the below code,
[code]
the output is:

[code]
how I can  have $i is 1? many thanks

[2017-09-26 08:42] it-praktyk commented on #895
Please use [a global scope](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_scopes?view=powershell-5.1) for a variable.

[code]

Please be aware that you should remove your variable as fast as is not be needed.

[2017-09-26 08:42] simonfangyingzhang commented on #895
looks like I should use mutable variable

[2017-09-26 08:42] #895 closed

[2017-09-26 08:45] simonfangyingzhang commented on #895
thanks it-praktyk, really appreicate!

[2017-09-27 13:40] brantb commented on #894
@alx9r I updated the [gist](https://gist.github.com/brantb/2ee6bc26a2a98eb74fa729a76f636b9b), I hope that makes the change in behavior clearer. From what I can tell, the change in behavior lies in `Assert-MockCalled`, but I can't seem to figure out what caused it.

[2017-09-28 08:18] majkinetor opened #896 "Chocolatey package failed verifier"
Last 2 packages are waiting for maintainer to fix them.

Could you also please update `packageSourceUrl` so we know where is the code of this package.

[2017-10-02 14:10] DarkLite1 opened #897 "Mock scoping issue"
With the latest version (`4.0.8`) of `Pester` I'm running into a strange issue which I think has to do with `Mock` and the `scope`. Please consider the following code, where the function `Send-MailHC` is in the module `Toolbox.HTML` and is called exactly one time in the script you want to test.

[code]

Took me a while to figure this out, because I thought I was doing things wrong. But ti doesn't

[2017-10-02 14:34] dlwyatt commented on #897
Can't really troubleshoot this without seeing what's in your `$sut` file.  However, you probably need your tests file to import Toolbox.HTML before you try to mock anything inside of it.

[2017-10-03 07:20] DarkLite1 commented on #897
After playing a bit more with it, you are indeed correct, something was wrong in my `$sut`. I was trying to use parameters defined in a `HashTable` with the splatting technique. But they were not available so `Pester` threw correctly an error message.

Closing this a my own stupidity.

[2017-10-03 07:20] #897 closed

[2017-10-03 09:27] DarkLite1 opened #898 "BeforeEach, AfterEach inside of In block"
I guess this is a feature request, but would it be possible to do this:

[code]

Instead of having to repeat the `BeforeEach` clause in every `Describe` block as it is now:

[code]

[2017-10-03 17:08] kmaddox-ebsco opened #899 "Cannot find Drive error on OSX"
I am getting the following error when I attempt to run any pester tests on OSX.

[code]

I am using pester 4.0.8

$psversiontable output

[code]

[2017-10-03 18:20] it-praktyk commented on #899
Pester 4.0.8 is not compatible with PowerShell Core yet.

Please try to use code from the branch https://github.com/pester/Pester/tree/Dev4-1_PSCore_compatibility.

All feedbacks - especially related to macOS - are welcomed.

[2017-10-04 08:24] DarkLite1 commented on #734
I'm stumbling upon the same issue. We have a module called `Toolbox.HTML` containing a function that sends out e-mails to end users. Something like this:

[code]

The problem when using `Mock Send-MailHC` is as described above, `Pester` is still executing the `ValidateScript` on the parameters `Attachments` and `LogFolder`. I'm not really willing to pull out the code in `ValidateScript` to a separ

[2017-10-04 13:27] kmaddox-ebsco commented on #899
Thanks, that got the issue resolved for me.

[2017-10-04 13:27] #899 closed

[2017-10-05 07:32] NeilBird opened #900 "Pester 4.0.8 Not Catalog Signed Error?"
Installing latest Pester 4.0.8 as part of a CI/CD Pipeline in Microsoft Visual Studio Team Services for PowerShell Unit Testing. Getting the error below:

PackageManagement\Install-Package : **The version '4.0.8' of the module 'Pester' being installed is not catalog signed.** Ensure that the version '4.0.8' of the module 'Pester' has the catalog file 'Pester.cat' and signed with the same publisher

[2017-10-05 07:35] it-praktyk commented on #900
Please read the article [Installation and Update](https://github.com/pester/Pester/wiki/Installation-and-Update).

[2017-10-05 07:42] NeilBird commented on #900
Great, thanks for info regarding known limitation when installing the latest version due to different Certificate / Signature. I will include the "**-SkipPublisherCheck**" parameter.

[2017-10-05 07:42] #900 closed

[2017-10-07 17:15] dlwyatt commented on #894
I'm surprised it ever worked.  ParameterFilter has always been assumed to return a boolean value (true for match, false otherwise).  Technically any value can be converted to a boolean in PowerShell, so maybe something was leaking from the Should command's output stream in previous versions.

[2017-10-07 17:20] dlwyatt commented on #894
Ah, there it is:  https://github.com/pester/Pester/blob/95c7af19c1366bd1bfba2b129e096ae025af6305/Functions/Assertions/Should.ps1#L79

`MoveNext()` returns a boolean value, and we were redirecting it anywhere.  No one noticed because the `It` command (where people would tend to call `Should`) does suppress output.

[2017-10-07 17:20] dlwyatt commented on #894
Anyhow, old behavior was a bug.

[2017-10-07 18:54] it-praktyk commented on #888
Thank you all for your comments.

I propose to release Pester 3.4.7 and include in it a warning (displayed under importing it) that the module is obsoleted.

Update README.md and include information about an obsoleting, a lack of support (?), link to migration.

Do you agree?

[2017-10-08 22:24] it-praktyk commented on #844
I close this issue because you repeated your feature request directly as #898.

[2017-10-08 22:24] #844 closed

[2017-10-09 21:04] it-praktyk commented on #892
@indented-automation, thank you for your awesome script! I just migrated all Pester itself tests to the new syntax using it.

In the near future, I'll add it to documentation.

[2017-10-10 13:41] brantb commented on #894
Don't you just love those "I'm surprised this ever worked" moments? 😁 Thanks for looking into this @dlwyatt.

FWIW though, I don't find the error messages generated by `Assert-MockCalled` very helpful in troubleshooting test failures, which is why I combined them with `Should` assertions in the first place. If you folks decide to stick with the 3.x behavior, would you instead consider this a featu

[2017-10-10 16:03] #891 closed

[2017-10-11 04:04] RandomNoun7 opened #904 "Failed Gherkin tests do not report the correct error."
When a test in a *.steps.ps1 file fails, the error reported in some cases is not the error the caused the test to fail, but an internal error handling the ErrorRecord object. To illustrate, create a feature file and a test file as specified below and run Invoke-Gherkin. The error you receive will not be expected error of $true <> $false, but ```ConvertTo-FailureLines : Cannot bind argument to para

[2017-10-11 06:35] RandomNoun7 opened #906 "Extend Pester Gherkin Support to Write Test Stubs from Feature Files"
My employer has a use case where we want people to be able to write business scenarios as Gherkin files, and then automatically turn those files into test stubs that others can implement.

I found that Pester already has a Gherkin parsing dll that I leveraged to make writing the stubs possible. Since I am using Pester's dll for this, I think it would be nice if this functionality was within Pester

[2017-10-11 09:44] DarkLite1 opened #908 "Difficulty mocking Get-ADGroupMember"
I'm trying to figure out how it's possible to have `Get-ADGroupMember` return specific user objects based on the `Identity` parameter provided.

[code]
Throws:
[code]
In the real world scenario we have multiple group names where `Get-ADGroupMember` needs to return for each group a specific set of users. We were thinking of using a `Switch` for this.

Maybe I'm just missing something super obvious

[2017-10-11 10:49] DarkLite1 commented on #908
Restarted the `PowerShell ISE` and the problem was gone. Might have been some left over variables...

[2017-10-11 10:49] #908 closed

[2017-10-11 14:43] simonfangyingzhang opened #909 "how to take action when 1 of It blocks inside Describe block failed?"
Hi Guru,

suppose I have 1 Describe and multiple It blocks inside it, when 1 It block failed, I need to collect support files for debug, how I should using pester? could you please share with me sample code?

or I have to using 1 Describe with single It blocks inside it? thanks in advance

[2017-10-11 17:11] myriad90 commented on #904
Seeing the same issue with same version of Pester. Basic assertion tests fail exactly as described in this bug

ConvertTo-FailureLines : Cannot bind argument to parameter 'ErrorRecord' because it is null.
At C:\Program Files\WindowsPowerShell\Modules\Pester\4.0.8\Functions\Output.ps1:267 char:25
+                         ConvertTo-FailureLines |
+                         ~~~~~~~~~~~~~~~~~~~~~~

[2017-10-11 19:31] it-praktyk commented on #892
@indented-automation, could you declare directly that your script ['Update-PesterTest.ps1'](https://gist.github.com/indented-automation/aeb14825e39dd8849beee44f681fbab3) can be used under the [Apache License 2.0](https://www.apache.org/licenses/LICENSE-2.0)?

Pester itself use that license.

Thank you.

[2017-10-11 19:36] indented-automation commented on #892
Yep, I can confirm I am happy for this to be used under that licence.

Chris

On 11 October 2017 at 20:31, Wojciech Sciesinski <notifications@github.com>
wrote:

[2017-10-11 20:25] it-praktyk commented on #909
You can use switches to run your tests.

Quotes from `Get-Help Invoke-Pester -Full`

or

[2017-10-11 20:50] it-praktyk commented on #906
Thank you for your contributions to Pester project. I hope that we will review it soon.

Can I ask you what resources do you use to learn employees write Gherkin tests? I'm asking because Gherkin is a relatively new feature of Pester and we still didn't complete documentation to it.

[2017-10-11 20:55] RandomNoun7 commented on #906
@it-praktyk
Right now it's just me learning it. This project is in the very earliest stages, so it's up to me to create the process and then train others.

My main resources are just Cucumber and Gherkin documentation and [this excellent blog post](https://kevinmarquette.github.io/2017-04-30-Powershell-Gherkin-advanced-features/#table-support) by Kevin Marquette.

[2017-10-11 21:01] it-praktyk commented on #906
Feel free to contribute to the documentation too. Thank you in advance.

[2017-10-11 21:24] it-praktyk commented on #875
The related pull request #903

[2017-10-12 02:06] simonfangyingzhang commented on #909
thank you it-praktyk for your info,

I was expecting, if 1 It block failed, I can collect support files and then continue to run next It block,

looks like I have to using 1 Describe with single It blocks inside it?

[2017-10-12 18:57] it-praktyk commented on #870
Guys, I need help!

I stacked in troubleshooting of the current issue. The whole what I did is in the branch https://github.com/it-praktyk/pester/tree/Dev4-1_PSCore_compatibility.

Thank you in advance.

CC: @Jaykul

[2017-10-12 21:54] it-praktyk commented on #892
@indented-automation, thank you.

[2017-10-12 21:54] it-praktyk commented on #892
![screenshot from 2017-10-12 23-53-29](https://user-images.githubusercontent.com/4910261/31521145-b410f068-afa8-11e7-97f1-7f9f7049db2c.png)

[2017-10-13 09:46] it-praktyk commented on #892
The issue with some characters is probably related to the file encoding.

[code]

All files what were UTF-8 encoded before conversion and correction script are below

[code]

[2017-10-13 13:07] chridentitv commented on #892
It could likely do with injection of your original encoding detection function. I haven't needed that for my purposes, but I couldn't find fault with the approach.

Realistically this only replaces the regex matching part of the process.

[2017-10-13 13:07] indented-automation commented on #892
It could likely do with injection of your original encoding detection function. I haven't needed that for my purposes, but I couldn't find fault with the approach.

Realistically this only replaces the regex matching part of the process.

[2017-10-13 17:45] RandomOff opened #911 "Background scenario is executed more often than once for every scenario"
The Background scenario appears to execute as the background for itself. For example I expected a one scenario feature should only execute background once instead of 3 times.

### Reproduction Step

[code]

### Expected Results

[code]

### Actual Result

[code]

### Note
Also discovered attempting to reproduce:
- Null path parameter error after successful completion.
- Feature header instead of D

[2017-10-15 01:10] simonfangyingzhang commented on #909
Hi Guru,

is there a way in Pester for my testing request? thanks

[2017-10-15 01:36] #909 closed

[2017-10-15 21:23] it-praktyk commented on #911
CC: @Jaykul

[2017-10-15 21:39] it-praktyk commented on #870
@nohwnd,
I don't understand what [the line](https://github.com/pester/Pester/blob/403158e0bea7ed1f13498a656f540c2d6acf69bd/Functions/TestResults.Tests.ps1#L148) does.

When I've added Set-StrictMode -Latest at the beginning of the Pester.psm1 the error like below is thrown.

Could you look on this, please?

[code]

[2017-10-15 22:02] it-praktyk commented on #870
3 days ago I've asked for help to resolve the issue #870. I was not clear what does it mean and what I really need.

I tried to resolve issues with not initialized variables in the Gherkin related code - some examples are above. Due to lack of time, I can't learn Gherkin notations and analyze this part of the code.

All your help will be appreciated. Thank you.

[2017-10-15 23:04] alx9r commented on #376
@brantb [was using `Should` for this purpose](https://github.com/pester/Pester/issues/894).  It turns out that `Should` should never have worked in that situation.  Nevertheless, the exception `Should` throws really does report helpful information.

FWIW, I did [some experimentation](https://gist.github.com/alx9r/fcf7b61453ec730420b179024af6aa75) with a function with semantics similar to [a C++ VE

[2017-10-15 23:06] alx9r commented on #894
@brantb There's a thread about getting more information from `Assert-MockCalled` failures over on #376 that you might be interested in.

[2017-10-16 11:12] DarkLite1 opened #912 "Mock Get-ADGroupMember with ParameterFilter on Identity"
Why does this work fine:

[code]

And this doesn't:
[code]

Did I miss something super obvious here?

[2017-10-16 13:00] dlwyatt commented on #912
-ParameterFilter returns a Boolean value; “MYGROUP” is always true when cast to a bool.

[2017-10-16 13:02] DarkLite1 commented on #912
Thanks for the feedback. I was wondering how it's possible to return `user A` when `group A` is provided and return `user B` when `group B` is provided. I can't seem to get that right....

[2017-10-16 13:32] DarkLite1 opened #913 "Mock CommandName not correct"
In some very rare circumstances, which I can't seem to duplicate consistently, it happens that instead of the name of the mocked function the name of the `$TestDrive` is returned. After some debugging it appears to happen on line 169 of `Mock.ps1`:

`$CommandName = $contextInfo.Command.Name`

A screenshot to explain:
![image](https://user-images.githubusercontent.com/10828570/31614538-ff625ec2-b28

[2017-10-17 08:46] DarkLite1 opened #914 "Mock Get-ADUser : The input object cannot be bound to any parameters"
Sorry guys for bothering you again, but can someone tell me why this isn't working properly?

[code]

Within the `foreach` it appears that the mocked `Get-Aduser` doesn't seem to be able to accept pipeline input.

Thank you for your help.

[2017-10-17 10:04] f0rt opened #915 "[Feature Request] Specify tags for test"
Team,

Please implement Tag support for each test(It). Specifying tags for each test group (Describe) is very helpful but in some cases I need more flexibility and I don't want to create test groups with 1 test just to take advantage of the Tag functionality.

Thanks,
Nedko

[2017-10-17 12:08] mikeclayton opened #916 "Assert-VerifiableMocks fails to assert uncalled mocks"
I've inherited a project which uses Pester that correctly fails a test on our build agent using Pester 3.4.0 but incorrectly passes the same test locally using Pester 4.0.8. The difference seems to be that ```Assert-Verifiable``` does not detect an uncalled Mock in my Context when I use Pester 4.0.8, but *does* assert in Pester 3.4.0.

I've reduced it to the smallest reproducible example that I ca

[2017-10-17 12:14] mikeclayton commented on #916
After a bit more testing it looks like the behaviour changed around version 4.0.6-4.0.8

**Output from Pester 4.0.6**
(correctly fails the test because my Verifiable Mock hasn't been called)
[code]

**Output from Pester 4.0.7**
(looks like Pester has broken internals?)
[code]

**Output from Pester 4.0.8**
(incorrectly passes the test even though my Verifiable Mock hasn't been called)
[code]

[2017-10-17 15:12] mikeclayton commented on #916
Ok, I've worked out the problem - I didn't read the manual!

https://github.com/pester/Pester/wiki/Migrating-from-Pester-3-to-Pester-4

```rename all occurrences of Assert-VerifiableMocks to Assert-VerifiableMock```

However, can I suggest that at the bottom of Pester.psm1,

```function Assert-VerifiableMocks { [CmdletBinding()]param()  "This command has been renamed to 'Assert-VerifiableMock' (wi

[2017-10-17 17:10] LEdiodes opened #917 "Limit information for failed tests"
Is there a way to suppress the errors?

for example;

instead of;
[-] Kaseya service [Running on VFOOT] 48ms
      Expected: {Running}
      But was:  {}
      331:     it "Kaseya service [Running on $Computer]" { (Get-service -name *
vrt* -ComputerName $Computer).Status | should Be Running }
      at <ScriptBlock>, C:\projects\Onboarding\Pester-ServerOnboarding.ps1: line
 331

I would like a simp

[2017-10-17 17:35] dlwyatt commented on #914
The pipeline input for Get-AdUser is a strict object type (`[Microsoft.ActiveDirectory.Management.ADUser]`), and your mock is outputting a PSCustomObject instead.  Working with commands like this is one of the challenges we have with mocking right now.

[2017-10-17 17:36] dlwyatt commented on #915
Right now, tags are only useful on the outermost test group, because Pester doesn't parse the whole test script to try to figure out an execution plan before running stuff.  We have some ideas of how to make that happen, but until that's ready, there's no benefit to putting tags on `It` blocks.

[2017-10-17 17:55] it-praktyk commented on #917
As I know it's not currently possible.

[2017-10-17 18:15] it-praktyk commented on #916
@mikeclayton, you are probably right. I just open the pull request #918.

Let's check what @nohwnd (I was assigned him as a reviewer) think about it.

[2017-10-17 18:22] it-praktyk commented on #915
Your requests it's a duplicate for #721 so I'm closing it now.

[2017-10-17 18:22] #915 closed

[2017-10-17 18:31] it-praktyk commented on #914
@DarkLite1, please read #803, IMHO it's related to your case too.

[2017-10-17 19:20] #912 closed

[2017-10-17 19:40] Draftkings opened #919 "Ability to use variables declared outside of Describe or Context blocks"
I tried declaring a variable outside of any Describe or Context blocks in my Pester tests but it seems like when I attempt to consume them in my test, they are null. Am I missing something?

Example

    $myVar = @{ key = 'value'; }

    Describe -Name 'MyFunction' {
        Context 'Given $myVar[key] = "abc" ' {
          # $myVar is null here
      }
    }

[2017-10-17 19:42] it-praktyk commented on #919
Please read #895.

[2017-10-18 06:30] DarkLite1 commented on #912
@it-praktyk I'm ok closing the issue but I still haven't found an answer to the question:

Is this even possible?

[2017-10-18 06:40] DarkLite1 commented on #914
Thank you @it-praktyk for the link, but I can't seem to get it to work with piping objects to `Get-ADUser`. As I understand it from @dlwyatt it's currently not possible to `mock` the behavior of a `CmdLet` that receives pipeline input.

I tried the following but still having the same issue:
[code]

[2017-10-19 20:56] #356 closed

[2017-10-19 20:57] #494 closed

[2017-10-19 20:59] #845 closed

[2017-10-19 21:05] it-praktyk commented on #912
Maybe you can use your own custom function for it? But I can be wrong.

[2017-10-19 23:32] jonkeda commented on #212
Just created a version of the JaCoCo xml in pull request #920 and create a JaCoCo reader available at
https://marketplace.visualstudio.com/itemsitemName=Jonkers.JaCoCoreaderfortheJavaCodeCoveragefile.

[2017-10-20 14:14] scriptkiddie123 commented on #212
@RangerDjanger yes, version 6 of PesterRunner has support for Pester 4, and got a new field to specify where you want the code coverage report: https://marketplace.visualstudio.com/items?itemName=richardfennellBM.BM-VSTS-PesterRunner-Task.

[2017-10-20 14:44] jonkeda commented on #212
@scriptkiddie123 Would you be able to test pull request #920 with the PesterRunner? I guess you should be able to see details in VSTS. I haven't been able to try it yet.

[2017-10-20 14:48] scriptkiddie123 commented on #212
@it-praktyk The code created to do the JaCoCo report is the bare minimum. Mostly because TFS/VSTS only has the 4 bar charts for total files/functions/lines/instuctions, so for my purpose I did not need anything else.

The Get-JaCoCoReportXml function consists of 3 basic parts:
1: Take the code coverage report object, and count the number for hit/missed lines/functions/files, these values are not d

[2017-10-21 08:34] it-praktyk commented on #639
Today, for the first time, the Pester code from the branch [Dev4-1_PSCore_compatibility](https://github.com/pester/Pester/tree/Dev4-1_PSCore_compatibility) passed standard Pester tests on
- Windows [PowerShell 2.0 - 5.1](https://build.powershell.org/viewLog.html?buildId=13073&buildTypeId=Pester_TestPester&guest=1)
- Linux [PowerShell 6.0.0-beta.8](https://travis-ci.org/pester/Pester/builds/2907534

[2017-10-22 03:48] Jaykul commented on #808
Invoke-Gherkin is the big kahuna, like Invoke-Pester
Invoke-GherkinStep should probably be private...

Find-GherkinStep is useful outside of tests.

The rest map **roughly** to the Pester functions, and are meant for use in .Steps.ps1 files like the Pester versions are only meant for use in .Tests.ps1 files

| Gherkin | Pester |
|---------|--------|
|GherkinStep|It|
|BeforeEachFeature|BeforeAll|
|

[2017-10-22 04:16] EliteLoser opened #921 "Verbose output is printed from Describe despite specifying -Verbose:$False when $VerbosePreference is Continue"
Code to reproduce:

[code]

I would like for Describe's verbose output to not be printed if you specify -Verbose:$False explicitly, despite $VerbosePreference being "Continue", as is expected behavior.

Output for me is:

[code]

[2017-10-23 00:39] dlwyatt commented on #921
That output is coming from Import-Module, not from Describe.

[2017-10-23 00:47] dlwyatt commented on #921
That output is coming from New-Module, which Pester calls internally to set up an object tracking its state.  I have no idea why it's outputting Verbose stuff when the calling code has `$VerbosePreference` set to SilentlyContinue.  Seems like a possible PowerShell bug to me.

[2017-10-26 10:18] ambsoerensen opened #923 "Feature Request: Add Description Property On Describe And Context"
Would it be possible to add an Description field as an oprtional property on Describe, Context and It blocks.
Parameter added on all three to provide flexibilty in how a user wants to  organize their tests.

A bit like what you can do in inspec just slightly more flexible.

Use case:
When deploying test in larger organisations a field for longer descriptions could be valuable.
This field to contai

[2017-10-27 06:31] it-praktyk commented on #923
I'm not sure if I understand your request.

Could you provide examples how should looks output after implementing your request?

[2017-10-27 07:11] GitAMBS commented on #923
Sure,

A description can be added to either a Describe, a Context or an It block.
Descriptions is chosen by scope if set.

a description set on a describe block will be added to all sub Context or It blocks in scriptblock.
a description set on a Context block will be added to all sub IT blocks in scriptblock.
a desciption set on a It block will be added to that It block.

Values set in current sco

[2017-10-28 17:42] vors commented on #639
@it-praktyk super cool! Imho it's ok to exclude this test on macOS with a comment about the issue bug number, so it could be merged into master and officially released.

[2017-10-28 18:11] nohwnd commented on #639
@it-praktyk Super cool indeed. :) Please exclude the test, and then we can merge it. Next week I hopefully will have some time to get back to Pester, so I can start solving other issues and so on.

[2017-10-28 19:54] it-praktyk commented on #639
Today I've prepared the new branch https://github.com/it-praktyk/Pester/tree/PSCore_compatibility_clean what will be a source of a pull request.

For the test that fails on macOS I'm not sure if should we skip it or set as inconclusive.

[2017-10-29 15:37] it-praktyk commented on #870
Most of the issues are resolved and proposed to merge as a part of the pull request #925.

Gherkin related are sent back to the @Jaykul's fork as a part of the pull request https://github.com/Jaykul/Pester/pull/1 - the code what caused them was not merged to Pester yet.

[2017-10-29 15:37] #870 closed

[2017-10-29 15:47] it-praktyk commented on #639
I just created the pull request #925 - Update Pester to work on PowerShell Core at Windows, Linux, macOS.

The failing on macOS test is excluded.

[2017-10-31 23:40] simonfangyingzhang opened #928 "AfterEach block how to take action when one of It blocks failed?"
Hi Guru,

suppose I have 1 Describe and multiple It blocks inside it, when 1 It block failed, I need to collect support files for debug, how I should do it inside AfterEach block?
could you please share with me sample code? many thanks

[2017-11-01 09:59] it-praktyk commented on #928
Please read #909 once again.

[2017-11-01 09:59] #928 closed

[2017-11-01 13:48] simonfangyingzhang commented on #928
looks like AfterEach block is the right place to collect support files,

if AfterEach block can not support this kind of usage, could Pester consider it a feature request? thanks

[2017-11-01 18:54] it-praktyk commented on #914
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-11-01 18:55] it-praktyk commented on #919
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-11-01 18:55] #919 closed

[2017-11-01 18:56] it-praktyk commented on #890
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-11-01 18:56] #890 closed

[2017-11-01 19:03] it-praktyk commented on #868
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-11-01 19:03] #868 closed

[2017-11-01 19:07] it-praktyk commented on #864
Currently, the pull request #925 wait for merging so I assume that we can close this issue.

[2017-11-01 19:10] it-praktyk commented on #921
@EliteLoser, can you consider open a bug for [PowerShell](https://github.com/powershell/powershell)?

[2017-11-01 23:03] Jaykul commented on #864
Normally, one doesn't close issues **before** merging the PR.
Instead, you mention the issue as fixed in the PR, and *when* you merge it, the issues get closed.

[2017-11-01 23:15] it-praktyk commented on #864
I'm reopening the issue. I hope that it will you feel better.

[2017-11-02 10:42] DarkLite1 commented on #914
I don't know if adding a `Name` property is a `Pester` issue. But it is nonetheless not possible to pipe to a mocked `Get-ADUser` function.

[2017-11-02 21:32] dbroeglin commented on #780
@nohwnd My apologies for the _very_ delayed answer, I'm afraid I did not see the GitHub notification until today.

Yes, you are right, what I had in mind is that `Get-TestGroupMetadata` returns information about the current test context. This would allow the test to parameter itself based on the context or test case description.

Without this feature, I would have to duplicate the argument in each

[2017-11-03 07:59] EliteLoser commented on #921
I made an attempt with this: https://github.com/PowerShell/PowerShell/issues/5325 -- wish us luck.

[2017-11-03 08:35] EliteLoser commented on #921
Is closing this the correct thing to do now...?

[2017-11-03 09:46] it-praktyk commented on #921
The issue has minimal impact on Pester so closing it is OK. Thank you.

[2017-11-04 20:54] SeeminglyScience commented on #706
@nohwnd Not sure where this stands but I wrote a [proof of concept](https://github.com/SeeminglyScience/MockingPSClassesPoC). It takes over the `ScriptBlockMemberMethodWrapper` that stores the AST used by methods created in PowerShell. It works for new and existing instances, static methods, and constructors.   The main draw back being the amount of reflection required.

[2017-11-04 20:58] it-praktyk commented on #706
@SeeminglyScience, thank you.

[2017-11-05 02:54] mklement0 commented on #921
The issue only surfaces if you set `$VerbosePreference = "Continue"` _globally_.

From a _script_ - unless you use `$global:VerbosePreference = "Continue"` explicitly - you wouldn't see that behavior, because the Pester-internal `New-Module` call wouldn't see the script's variable.

I suppose that Pester functions could perform its internal `New-Module` invocation in a manner that passes their own

[2017-11-05 03:21] mklement0 opened #930 "Prevent multiple `Describe` blocks with the same name"
It is currently possible to create multiple `Describe` blocks with the very same name.

It is easy to _accidentally_ create such duplicate names, and Pester then targeting _all_ duplicates with the given name can be confusing, if more tests than expected are being executed.

Ideally, Pester should either _fail_ when duplicate names are found or - if a potentially breaking change is to be avoided -

[2017-11-05 05:54] Jaykul commented on #911
Bug confirmed. Will fix.

The things you "discovered attempting to reproduce" are caused by trying to run Pester-in-Pester.  You can't call `Invoke-Pester` nor `Invoke-Gherkin` from **inside** your tests. Notice the [Pester tests for Gherkin](https://github.com/pester/Pester/blob/master/Functions/Gherkin.Tests.ps1#L8) call Gherkin in a _job_ to avoid this.

[2017-11-05 07:17] Jaykul commented on #906
This is a great idea...

[2017-11-06 12:26] mklement0 commented on #921
PS.: If  you were looking to turn off verbose output _in the script block_ passed to `Describe`,
passing `-Verbose` to `Describe` itself is not the right approach anyway.
Instead, place `$VerbosePreference = 'silentlycontinue'` inside the script block:

[code]

[2017-11-07 03:39] EliteLoser commented on #921
I notice it happens when you press F5 to run the script in ISE, but not if you call it from the command line.

This example below, showing it called from the command line, does not print verbose output from New-Module - code as in the first example I provided to reproduce - try that in PowerShell ISE and press F5, and you should the behavior I saw, with the verbose output.

I often run scripts wit

[2017-11-07 04:11] mklement0 commented on #921
I see: from the _ISE_, your code indeed gets run in the _global_ scope, explaining your symptom.
As you imply, this wouldn't happen in VS Code (where <kbd>F5</kbd> would do just fine).

I agree that it makes for sense for the internal `New-Module` call to explicitly use the enclosing function's (`Describe`, in this case) effective `-Verbose` setting for consistency, but, again, what is the purpose

[2017-11-07 04:17] mklement0 commented on #921
@EliteLoser:

I see: from the _ISE_, your code indeed gets run in the _global_ scope, explaining your symptom.
Note that this would happen in VS Code as well (where you can also just press <kbd>F5</kbd>).

I agree that it makes for sense for the internal `New-Module` call to explicitly use the enclosing function's (`Describe`, in this case) effective `-Verbose` setting for consistency, but, again,

[2017-11-07 04:37] EliteLoser commented on #921
My expectation from the code example below was/is that nothing would get printed from whatever `Describe` does behind the scenes (and anything it subsequently calls) - and that my "Hi" still gets printed, without passing -Verbose explicitly to Write-Verbose there. Probably a corner case only I care about? It's about the inverting the behavior thing, I guess.

Actually, it boils down to "Write-Host

[2017-11-07 12:19] mklement0 commented on #921
I realize I had a misconception about whether `-Verbose` passed to an advanced function _normally_, _by default_ propagates that setting to script blocks it invokes directly. Indeed it does, as the following snippet demonstrates.

[code]

So, because of how `Describe` is implemented (which I know nothing about), it does _not_ propagate, though I _suspect_ that the internal use of `New-Module` is r

[2017-11-08 10:35] felixfbecker commented on #212
I also found https://github.com/JanJoris/coveralls

It seems like there are a lot of custom scripts. Could one of these get integrated into core so there is some kind of output? It doesn't have to be perfect, it doesn't matter if initially it doesn't report partial hits on lines, but even hit/not hit per line is valuable.

[2017-11-08 22:24] felixfbecker commented on #212
I got it to working in the meantime using the script by DscResource:

- [appveyor.yml](https://github.com/aaronpowell/ps-nvmw/blob/9784e5ada938a7485a6786371ac76b3ed78d37fb/appveyor.yml)
- [.travis.yml](https://github.com/aaronpowell/ps-nvmw/blob/9784e5ada938a7485a6786371ac76b3ed78d37fb/.travis.yml)
- [CodeCov report](https://codecov.io/gh/aaronpowell/ps-nvmw/src/master/nvm.psm1)

As this seems to

[2017-11-08 22:32] it-praktyk commented on #212
I'll try to read about [coveralls](https://github.com/JanJoris/coveralls) and test it on weekend.
Personally, I'm not sure if we would like to add an external dependency to Pester.

CC: @JanJoris

[2017-11-08 22:33] felixfbecker commented on #212
I'm not saying we should add an external dependency, my understanding is that the JSON format is a commonly used format and I would copy and integrate the DscResources script code and remove any mention of codecov.

[2017-11-08 22:43] it-praktyk commented on #212
I think that with that kind of contribution we will not have an issue :-)

Of course
- the source projects maintainers need to be aware of that. Maybe we should give them even priority to contribute?
- a source code license needs to be appropriate to a code reuse under Apache license.

@SteveL-MSFT, who can verify formal aspects of reuse the code from the [PowerShell\DscResource.Tests](https://git

[2017-11-08 22:52] felixfbecker commented on #212
It's MIT. You could also just look at the way they do as an example of how it could be done in Pester.

[2017-11-09 04:16] aaronpowell commented on #864
I just hit this same issue in adding Linux support to a module of mine (https://github.com/aaronpowell/ps-nvmw/issues/35).

Digging through it I came to find that the problem was caused by this line in `Mock.ps1`:

[code]

Changing it to

[code]

From the branch above has seen it working now.

[2017-11-09 11:55] mikeclayton opened #933 "InModuleScope gives error "Module 'MyModule' is not a Script module." in "Manifest"-type modules"
Hi,

I've got a PowerShell *.psd1 Module which references some *.ps1 files in NestedModules and I'm trying to mock the functions defined in those *.ps1 files, but I'm having some problems. I've seen similar issues that recommend using InModuleScope, but when I do that I get the following error:

[code]

I'll post my module's code in a follow-up comment, but I think the problem is because Get-Scrip

[2017-11-09 11:56] mikeclayton commented on #933
Code to reproduce issue:

**MyModule.psd1**
[code]

**Invoke-PrivateMethod.ps1**
[code]

**Invoke-PublicMethod.ps1**
[code]

**Invoke-PublicMethod.Tests.ps1**
[code]

[2017-11-09 12:50] jonkeda commented on #212
In #920 the line details are added for JaCoCo. Looking at the  PowerShell\DscResource.Tests it shouldn't be hard to add this.

I don't know how what the proces is for contributing to Pester. Is it ok if I create the code over the weekend? Or is there another way?

[2017-11-09 17:59] alx9r commented on #933
For a module to be a `Script` [`ModuleType`](https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.moduletype?redirectedfrom=MSDN&view=powershellsdk-1.1.0) you need to specify a `.psm1` file in the `RootModule` field of the manifest.  (FWIW, I didn't know this until just now.)  It looks like [this page](https://msdn.microsoft.com/en-us/library/dd878337(v=vs.85).aspx) is some aut

[2017-11-09 20:57] mikeclayton commented on #933
@axl9r - Nice find with the link to the documentation - it makes total sense, and the workaround looks like it'll be fine for my scenario.

I've also submitted a pull request which adds support for Manifest-type modules in case it's something you want to incorporate. I've included some additional tests in InModuleScope.Tests.ps1 to cover it as well.

Cheers,

Mike

[2017-11-09 21:08] it-praktyk commented on #212
@jonkeda, please read [Contributing to Pester](https://github.com/pester/Pester/wiki/Contributing-to-Pester).

I hope to find time to update it soon. Update will contain e.g. what needs to be fulfilled due to PowerShell Core compatibility.

[2017-11-10 22:33] it-praktyk commented on #639
I just updated Pester wiki
- [Pester on PSCore - limitations](https://github.com/pester/Pester/wiki/Pester-on-PSCore-limitations)
- [Development rules - technical)(https://github.com/pester/Pester/wiki/Developement-rules---technical)

[2017-11-10 22:48] it-praktyk commented on #838
I just added information about that to [Development rules - technical](https://github.com/pester/Pester/wiki/Developement-rules---technical)

[2017-11-10 22:48] #838 closed

[2017-11-11 02:05] Jaykul commented on #639
Why have you disabled Gherkin?

[2017-11-11 06:00] nohwnd opened #935 "Test 'uses Format-PesterPath with the provided path' fails when called with -Show Failed"
Invoking Pester tests (on macos) by ` invoke-pester -show failed, summary` makes the test fail. Most likely because we are depending on global Pester state and that says that we should not show that info, and so the formatting function is not called.

To reproduce run the the tests with the given command, and then run with the full outupt, there should be one error less in the full output.

[code]

[2017-11-11 06:03] nohwnd commented on #917
You are right, there is no option for that. We can add it when we have options, but wouldn't you lose  valuable information? Or is your usage different than testing code - for example running infrastructure tests?

[2017-11-11 06:51] nohwnd commented on #916
@mikeclayton @it-praktyk throwing an exception is what I wanted to do all along, lol. must have been a long night when I wrote the update to 4.0.8

[2017-11-11 06:52] #916 closed

[2017-11-11 07:54] it-praktyk commented on #639
@Jaykul, I don't understand why you are surprised.

I informed about issues with Gherkin related code on PSCore, mentioned you directly, and even sent you an email with a help request.

Please read
- #639
- #870
- https://github.com/Jaykul/Pester/pull/1
- email

[2017-11-11 15:34] it-praktyk commented on #864
Fixed by #925

[2017-11-11 15:34] #864 closed

[2017-11-12 09:30] #904 closed

[2017-11-12 09:30] #911 closed

[2017-11-12 10:07] nohwnd commented on #846
This also causes printing issues on Linux. The progress is not really showing any progress, and the original issue #321 was that Pester should show what it is running, which is also not happening very well. I am removing this functionality from 4.1 because it has very bad value to issues ratio. I think we will be replacing it with some verbose progress or something, but I don't want to add quick i

[2017-11-12 10:10] it-praktyk opened #937 "Tests from Gherkin.Tests.ps1 fail on Linux"
I enabled executing test from the file Functions\Gherkin.Tests.ps1 (I commented the [line](https://github.com/pester/Pester/blob/2c1f24b855014ad1e6468e19009fbba930cfc1cc/Functions/Gherkin.Tests.ps1#L3)) and after that run tests for Gherkin - all tests fail.

[code]

[2017-11-12 10:20] nohwnd opened #939 "Report what is currently running"
#321 requested to provide info about what is currently running for long tasks. We used write-progress for that, but it never could report any real progress, it only shown the currently running tasks. This now causes formatting issues on Linux, and a lot of overhead on both platforms. So I removed the progress, and now we need a better way of reporting what is happening, and we should also make it

[2017-11-12 10:21] nohwnd commented on #846
workaround is in place, moves to #939

[2017-11-12 10:21] #846 closed

[2017-11-12 10:32] nohwnd commented on #846
The issue is much more severe on TravisCI  😆

![image2](https://user-images.githubusercontent.com/5735905/32698015-ec58e320-c79c-11e7-99c7-e9cd5fed2cdc.jpg)

![image](https://user-images.githubusercontent.com/5735905/32698012-cba7e7ca-c79c-11e7-8bd7-61510a67046e.png)

[2017-11-12 10:39] #529 closed

[2017-11-12 10:44] nohwnd commented on #937
@it-praktyk there were some fixes to Gherkin posted this morning, did you try it on sources that had #936 ? Please try again.

[2017-11-12 10:53] nohwnd opened #940 "Make build on Windows mandatory validation step"
Our code builds on TeamCity and TravisCI, but each integration works differently. On Travis we are running the build as a hook and waiting for it to complete, on TC we are pushing the details of build that we detect by pulling back to Github. The approach we use on TC makes the build on CI non mandatory, and when the TC server fails we are not notified that our tests were not run on any CI.

Simpl

[2017-11-12 11:02] it-praktyk commented on #937
Yes, I didn't provide details about the Pester version. My shame.

I performed the test based on the version after merging the pull request #936 to the Pester/master branch - [the code base](https://github.com/pester/Pester/tree/2c1f24b855014ad1e6468e19009fbba930cfc1cc).

[2017-11-12 11:23] dlwyatt commented on #940
Looks like this is supported in TC now:  https://blog.jetbrains.com/teamcity/2016/09/installing-github-webhooks-from-teamcity/

[2017-11-12 11:24] nohwnd commented on #937
@Jaykul Do you want to fix this for `4.1`, or should I release without Gherkin support on Linux and you fix it in `4.1.1`?

[2017-11-12 11:27] nohwnd commented on #940
@dlwyatt  Thx, I would have been very surprised if they did not have it. :) Will wait with this till we get license again so I can test it.

[2017-11-12 11:34] dlwyatt commented on #940
Looks like the latest version of the github integration plugin also supports marking a build as Pending when it's added to the queue, rather than when it starts executing.  I've uploaded the webhooks plugin and updated the other one.

[2017-11-12 12:20] nohwnd commented on #937
![image](https://user-images.githubusercontent.com/5735905/32698864-3d50a060-c7ac-11e7-98bb-a6b3e12dd2e5.png)
Failed count is wrong and it cannot find the implementation for step.

[2017-11-12 13:28] nohwnd commented on #940
Added the hook, and changed the publish step to this:
![image](https://user-images.githubusercontent.com/5735905/32699422-aa7b47a4-c7b5-11e7-8639-d02d99f8ea18.png)
Let's see if it works when the server runs again.

[2017-11-12 20:36] nohwnd commented on #279
@it-praktyk Yes it does. I should finish it and propose merging it.

[2017-11-12 23:09] Jaykul commented on #937
I will address this immediately.

[2017-11-12 23:53] Jaykul commented on #937
Bah. Stupid case-sensitive FileSystemProvider....
Short story: `-Filter *.steps.ps1` doesn't find files named `.Steps.ps1` on Linux.

[2017-11-13 04:12] Jaykul commented on #937
Sorry that took so long. Had some merge weirdness...

[2017-11-13 04:42] Jaykul commented on #870
Ok. I'll take a look at this, but for the record ... I **really _hate_** Strict-Mode.
So I have to say: strict-mode tests? Seriously? Why!?

[2017-11-13 14:05] RandomOff commented on #911
Thanks!

[2017-11-14 06:54] nohwnd commented on #937
@Jaykul could you have a look on this today please?

[2017-11-14 16:52] GoEddie commented on #607
I've written a module to support -Watch like we would have in javascript if anyone wants to use it feel free. I am going to shove in the gallery.

https://github.com/GoEddie/PestWatch

Invoke-PesterWatcher -WatchFolder . -PesterOptions etc

(forwards all pester arguments onto pester)

[2017-11-14 18:47] Jaykul commented on #937
Just pushed changes, and the v2 test re-ran the **old** tests. WTF?

[2017-11-14 19:10] Jaykul commented on #937
I made a couple attempts to resolve this, but there are still weird errors. It seems to be because the test files were changed to use StrictMode in PS2, but I am not sure what's happening.

They pass in PS3+, **including on Linux.**

If you want to release today with a caveat re. PS2, I can live with that. Otherwise, I'll get back to it in 8 hours or so, after work.

[2017-11-14 22:09] it-praktyk commented on #875
I've updated the wiki pages about Should
- [Pester v4.x](https://github.com/pester/Pester/wiki/Should)
- [Pester v3.x](https://github.com/pester/Pester/wiki/Should-v3)
and cross-linked them so I'm closing the issue now.

[2017-11-14 22:09] #875 closed

[2017-11-15 06:25] Jaykul commented on #937
After the last set of commits (which I accidentally pushed one at a time), all tests pass on all my systems, from PS2 through PowerShell 5 and 6 Windows 10 Fast Ring and Linux.

I dislike PowerShell 2 more than ever now, but they're working. 😉

[2017-11-15 06:51] nohwnd commented on #607
@GoEddie Thank you for your contribution. There are other projects that do the same or similar thing, but it does not hurt to have another one. If you want you can add your project to our [list of projects connected to Pester.](https://github.com/pester/Pester/wiki/Articles-and-other-resources#projects)

[2017-11-15 07:07] nohwnd commented on #937
Fixed by the commit above, forgot to add auto-closing message.

[2017-11-15 07:07] #937 closed

[2017-11-15 07:12] nohwnd commented on #940
The builds are building fine, but when I merged to master I saw that it shown the checkmark quite fast, because the Travis build was fast, but the Windows build was not yet done. I would much rather see it yellow till both pass. At the moment I am not sure if that is config problem or just how it works. I will need to observe it a bit more on PRs and on merges.

[2017-11-15 07:24] #369 closed

[2017-11-15 07:34] nohwnd commented on #940
I've set the detection to 10 minutes on both VCS roots we are using to see if the hook is working correctly or if we still rely on fetching the repository for the build.

[2017-11-15 07:36] nohwnd commented on #639
Achievement unlocked, thanks to everyone involved, mainly @it-praktyk !

[2017-11-15 07:36] #639 closed

[2017-11-15 20:53] it-praktyk commented on #888
I would like to return to a discussion. What do you think about my previous proposal?

[2017-11-15 21:03] JanJoris commented on #212
Just stumbling in here to see what it's all about. I don't mind if anyone uses my code to add this functionality, I would even be glad to help out as I did a lot of the lifting by trial and error. The only issue today is that, I kid you not, no longer have a proper Windows dev environment due to switching jobs. But I'd gladly create one, because I love Pester :-)

[2017-11-15 21:07] SteveL-MSFT commented on #212
@it-praktyk as noted, it's MIT licensed, so just attribution is required (adding to ThirdPartyNotices.txt is typically what happens)

[2017-11-15 21:10] SteveL-MSFT commented on #888
@it-praktyk proposal seems fine to me, no work in immediate future to replace what we have in Windows.  What I'd like to do in the future is to have a stub implementation of Pester in Windows, so if it's invoked, it tells the user to install it from PSGallery.  I don't think we can just call Install-Module on the user's behalf since 4.x breaks 3.x tests.

[2017-11-15 21:13] nohwnd commented on #212
@JanJoris You are right on time then. Pester runs cross-platform since this morning. You can either install powershell directly to your linux/mac, or run it in Docker. Either interactively in `microsoft/powershell`, or use this [pre-canned](https://hub.docker.com/r/nohwnd/pester-build/) image that I use.

[2017-11-15 21:18] alx9r commented on #888
@it-praktyk Your proposal seems fine to me.  I haven't been able to think of a compelling reason to do much maintenance on 3.x.  Do you have an example we should expect?  It seems like it would be a rather extraordinary situation where the cost of moving a project to 4.x is higher than fixing 3.x.

[2017-11-15 21:38] nohwnd commented on #888
[Tweeted it out](https://twitter.com/PSPester/status/930912214223114241) so we will see. I doubt there will be many problems. The migration script worked well for us, and we test a lot of weird stuff and edge cases, so I hope it works for others.

[2017-11-15 22:27] it-praktyk commented on #888
In the next few days, I'll update
- [the migration script](https://github.com/pester/Pester/issues/892) provided by @indented-automation; I'll add a detection/correction an used charset
- Pester wiki with information about that script

[2017-11-15 22:46] MathieuBuisson commented on #888
Unfortunately, I had to revert to Pester 3.4.6 at work.
This is because the test result XML file generated by Pester 4.x seems to mess up ReportUnit's reports.
Each test is duplicated multiple times.
I think it has something to do with `Describe `or `Context `blocks being seen as separate test suites.

They have an issue about it :
https://github.com/reportunit/reportunit/issues/110

But I think i

[2017-11-16 09:42] nohwnd commented on #888
@MathieuBuisson could you provide a sample project so I can try it? I worked with report unit few times so maybe I can get it fixed. Or at least see what the problem is.

[2017-11-16 12:52] MathieuBuisson commented on #888
Hi @nohwnd ,

I created [a new repository](https://github.com/MathieuBuisson/Pester-ReportUnit) to reproduce and test the problem.
I used the script `repro.ps1` to generate sample output with different **ReportUnit** versions and test it with **Pester** version 3.4.6 and 4.08.
You can use the same script to test things out.

In the directory `SampleOutPut`, you can find the **Pester** test result

[2017-11-16 13:34] dlwyatt commented on #888
Looks to me like ReportUnit doesn't handle nested TestFixtures properly.  In Pester v4, we make use of that structure to allow for any number of nested Describe or Context blocks (plus we log a fixture per script file, and one root fixture for the entire run of Invoke-Pester.)

[2017-11-16 20:31] rismoney opened #944 "output formatting not syntactically proper"
version 4.08

Issues across the assertion files.

[code]

The result comes back:
```Expected: value to be empty but it was: {item1 item2}```

Ideally the formatting of the $actualvalue should be @(item1,item2) or some other nomenclature.  The former conveys a mismatched type.  Types and their handling should be consistent through all the assertions.  I think with arrays the output is being splatte

[2017-11-16 20:48] it-praktyk commented on #944
Thank you for your comment.

I'm not sure if do I understand you. But before I ask questions please check the version 4.1.0 - we released it yesterday.

[2017-11-16 21:08] nohwnd commented on #944
@rismoney Thanks for the feedback. At the moment I am writing a set of assertion that, among other things, are making the formatting better. I plan to later merge with Pester, most likely starting from the formatting, so I would value your help. The [project can be found here](https://github.com/nohwnd/Assert) and is available on PsGallery. The `Assert-Equal` does not work very well in the current

[2017-11-17 02:16] rismoney commented on #944
This is great @nohwnd -  I initially monkey patched some of the asserts and was going to attempt a PR just to see what would be involved to try to massage the formatting and came away with a similar finding that the formatting of the objects consistently became non trivial. I walked away initially and posted because the only way to do it is, as you have found too is TDD because of all the use case

[2017-11-17 07:55] shurick81 opened #946 "Getting boolean test result in the PS script"
## 1. Provide a general summary of the issue in the Title above

I would like to incorporate test into a PS script but I don't know how.

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

[code]

## 3. Expected Behavior

I tried to run test so I get a Boolean result in a variable and I expected that I can use this variable for the further script logic:

$re

[2017-11-17 09:30] nohwnd commented on #946
Please see #360

[2017-11-18 22:52] it-praktyk commented on #888
The pull request #947 created.

[2017-11-19 14:40] it-praktyk commented on #808
The [current situation](https://github.com/pester/Pester/tree/c4c5073d2205eab292e6ad5973b93bfe5339f503)

[code]

[2017-11-19 14:44] it-praktyk commented on #808
@Jaykul,
thank you for your answer.

Can you prepare the pull request which changes [exported module member](https://github.com/pester/Pester/blob/c4c5073d2205eab292e6ad5973b93bfe5339f503/Pester.psm1#L1158)?

[2017-11-19 14:54] it-praktyk commented on #648
The [current status](https://github.com/pester/Pester/tree/c4c5073d2205eab292e6ad5973b93bfe5339f503)

[code]

[2017-11-19 15:33] it-praktyk commented on #808
@Jaykul,
I prepared [a pull request](https://github.com/pester/Pester/pull/948) what I asked you about in the previous comment.

[2017-11-19 16:21] it-praktyk commented on #648
The function Set-DynamicParameterVariable was named previously Set-DynamicParameterVariables and was excluded because is generally internal (as is stated in the function synopsis).

[2017-11-20 06:28] JanJoris commented on #212
@nohwnd cool, let me try that!

[2017-11-20 06:31] felixfbecker commented on #212
I did some slight modifications to the DSC CodeCov script to make it work cross-platform: https://github.com/aaronpowell/ps-nvm/blob/bf4ca1953b250c11887a36464de566794947afb1/.scripts/CodeCovIo.psm1
(the original is linked at the top if you want to diff it)

[2017-11-21 09:50] nohwnd commented on #808
The PR #948 is merged.

[2017-11-21 16:24] Jaykul commented on #808
Thanks guys, it's been a bit ... crazy over here.
I'll add examples for those two (`GherkinStep` and `Find-GherkinStep`)

[2017-11-21 21:25] mikeclayton opened #949 "Get-ScriptModule error when no modules with given name imported"
[code]

When attempting to Mock a command in a module which is not loaded into scope, Get-ScriptModule throws an unclear error message:

[code]

Get-ScriptModule appears to be expecting PowerShell's built-in Get-Module to throw a terminating error if no modules match the name.

It attempts to ```catch``` the error, but it looks like Get-Module actually returns a $null object instead (which might b

[2017-11-22 05:59] it-praktyk commented on #949
@mikeclayton, thank you for your report and a proposed solution.

Please prepare a pull request based on the current master branch - what is now based on Pester 4.1.0.

Thank you.

[2017-11-22 20:11] mikeclayton commented on #949
I've pushed some changes based on pester:master, but I can't work out how to open a second pull request from this branch while the first one is still open.

https://github.com/pester/Pester/compare/master...mikeclayton:feature/get-scriptmodule-error-message?expand=1

Any ideas how to do that?

[2017-11-22 21:55] nohwnd commented on #949
@mikeclayton  That's why it is better to always make a topic branch (feature branch) for your changes, so you can keep your master and make more pull requests. :)

BUT you can still make a new branch before your last commit. Looking at your changes, it looks like you are only one commit ahead of the original master. So you can simply checkout the commit that is the second newest `git checkout head

[2017-11-30 16:46] vgaltes opened #950 "Missing folder when installing Pester via nuget"
I'm trying to setup a CI build using Pester and PSake. I'm getting errors executing Pester with some basic tests.

Environment:
Pester version: 4.1.0
PowerShell version: 5.1.16299.15
OS version: Microsoft Windows NT 10.0.16299.0

## Problem

I've created a psake script to run a build. What the script is doing is
- Downloading pester from nuget
- Importing the module
- Run the test

The problem is

[2017-11-30 18:06] nohwnd commented on #950
You are right something went wrong when I packaged 4.1.0. The build server got stuck on the package and I had to run the script locally. Not sure what exactly went wrong, since I used the same script. I am working on fixing it right now. It also affects chocolatey as they use the same nupkg.

[2017-11-30 20:17] nohwnd commented on #950
The problem was that the libs has moved in one of the commits, and so our nuspec did not copy them. I am now testing updated build scripts so I can publish automatically again.

[2017-11-30 20:42] jherby2k opened #951 "Visual Studio 2017 test explorer not showing tests"
## 1. Provide a general summary of the issue in the Title above

If I create a new PowerShell script project, and add a single test to it, it does not appear in test explorer. I can run it by right-clicking the file and choosing "Execute as script" but that is about it.

## 2. Describe Your Environment

Windows 10 1709, Visual Studio 2017 15.4.5, Pester 4.1.0, Posh Tools 3.0.585.

## 3. Expected B

[2017-11-30 21:02] it-praktyk commented on #951
@jherby2k,
thank you for your report.

Can you tell if did you try to run tests using Pester 3.4.6?

[2017-11-30 21:08] it-praktyk commented on #946
I assume that the issue can be closed now. Feel free to reopen if you need more assistance.

[2017-11-30 21:08] #946 closed

[2017-12-01 16:45] jherby2k commented on #951
I did, yes. 3.4.5 didn't work either.

[2017-12-02 03:48] alx9r commented on #890
There's a repro that seems similar in PowerShell/PowerShell#5607 that doesn't involve Pester.

[2017-12-03 00:59] alx9r commented on #951
FWIW I evaluated using Posh Tools with Pester last year.  You can find the results, the module I used for that evaluation, and a procedure to (hopefully) reproduce my results  [in this repo](https://github.com/alx9r/PoshToolsTest).  It looks like I did get Posh Tools 3.0.399 working with Pester 3.4.3 but did not find an efficient workflow.  Currently I still do all my PowerShell development in ISE

[2017-12-03 21:03] rivy commented on #450
Closing ~ fixed in the current release (v4+).

[2017-12-03 21:03] #450 closed

[2017-12-06 17:13] nohwnd opened #952 "Error when cleaning up Mocks defined outside of Describe, when running via Invoke-Pester"
[code]
It fails to cleanup properly when Mock is defined outside of Describe, when you run via Invoke-Pester. When you run via Invoke-Pester then `$script:pester` is populated before Describe is entered, and that is what the "you cannot run Mock outside of Pester tests" looks at. Then when the cleanup is done, the uppermost Describe tears down all the mocks, but keeps the entry in the mockTable (d

[2017-12-09 10:21] it-praktyk commented on #889
[Prerelease Versioning Added to PowerShellGet and PowerShell Gallery](https://blogs.msdn.microsoft.com/powershell/2017/12/05/prerelease-versioning-added-to-powershellget-and-powershell-gallery/)

[2017-12-09 13:31] nohwnd commented on #889
It's on my work list.

[2017-12-09 13:33] nohwnd commented on #950
@vgaltes 4.1.1 is published that fixes this issue. Sorry it took so long, the build server broke down, and I needed to do a lot of changes to make it work again.

[2017-12-09 13:33] #950 closed

[2017-12-09 19:15] nohwnd opened #953 "Should Not Throw filters suppresses exceptions when they don't match filter"
Specifying filters on `Should Not Throw` suppresses exception when it does not match the message. This does not make sense. The prerequisite for `Should Not Throw` is that no exception was thrown, the same way the pre requisite for `Should Throw` is that an exception was thrown.

[code]

[2017-12-11 22:16] it-praktyk commented on #808
@Jaykul, can I ask for these examples?

I just opened the pull request #955 what contains tests to validate help completions.

[2017-12-12 08:03] #889 closed

[2017-12-12 09:31] #279 closed

[2017-12-12 09:31] #953 closed

[2017-12-13 18:56] it-praktyk commented on #951
[Looks like it was resolved](https://github.com/adamdriscoll/poshtools/issues/528#issuecomment-351482113) in the version 15.5 [PowerShell Tools for Visual Studio](https://github.com/adamdriscoll/poshtools).

[2017-12-13 18:56] #951 closed

[2017-12-17 13:01] it-praktyk opened #958 "Set-StrictMode should be set for all Pester tests due to settings used by CI"
Currently, the continues integration process uses strict mode but not all Pester tests have declared that at the beginning of the file.

As the result, some tests what pass run locally fails under CI due to e.g. non-existing parameters, undeclared variables etc.

You can see that behavior on the screenshot included below - I include it due that tests results are periodically cleaned at the CI serv

[2017-12-17 13:07] it-praktyk commented on #958
The related issue: #870

[2017-12-17 18:04] nohwnd commented on #958
Are you using `.\bin\pester.bat` to run the tests on your local computer?

[2017-12-17 18:37] nohwnd commented on #481
Running this
[code]

[2017-12-17 18:39] #481 closed

[2017-12-17 19:28] #121 closed

[2017-12-17 19:28] #312 closed

[2017-12-17 19:28] #729 closed

[2017-12-17 19:36] nohwnd commented on #212
@JanJoris Still willing to contribute this? :)

[2017-12-17 20:00] nohwnd commented on #287
This would be nice to solve when we have blocks that encapsulate all user code.

[2017-12-17 20:16] it-praktyk commented on #958
Nope, I just (re)import the module from the branch what I'm working on and type `Invoke-Pester`.

[2017-12-17 20:30] it-praktyk opened #960 "Documentation update required due to new assertion added by #959"
In the pull request #959 new assertions were added.

Quotation from the pull request description

An appropriate documentation needs to be aligned with the current code.
- [en-US/about_Should.help.txt](https://github.com/pester/Pester/blob/4a04a80b72a3099e6a7b56feccc390668d0a6e83/en-US/about_Should.help.txt)
- [Pester wiki - Should](https://github.com/pester/Pester/wiki/Should)

[2017-12-17 20:38] it-praktyk commented on #960
@nohwnd, what do you think about assigning it to the same milestone that code will be released?

[2017-12-17 20:48] it-praktyk commented on #896
@IISResetMe, @nohwnd, does #957 resolve it?

[2017-12-18 06:06] stevepeak commented on #212
(*Codecov Team Member*) I'll be happy to help verify uploads and json structure when it's time. Just ping me. 👍

[2017-12-18 09:47] IISResetMe commented on #896
That's the intension, @majkinetor can you verify?

[2017-12-18 10:03] it-praktyk commented on #896
Thank you!

[2017-12-18 11:57] nohwnd commented on #958
Could you try it with the bin\pester.bat? it gives you clean session, and I am using it to do pre-release checks on my computer, and I think the build server uses it as well. So maybe we could set the strict mode threre just once?

[2017-12-18 11:59] nohwnd commented on #960
Sure, but don't start documenting it just yet, maybe some of the changes break compatibility, or will be rejected from the final release, so let's not waste time putting changes in that won't be needed in the end.

[2017-12-18 12:50] #958 closed

[2017-12-18 15:20] AdmiringWorm commented on #896
I take it that the metadata file used for the chocolatey package is the one in the root of the repo?
If so, it seems to missing the reference to the VERIFICATION.txt file in it.

[2017-12-18 19:29] it-praktyk commented on #896
@AdmiringWorm, can you look at [an updated version](https://github.com/it-praktyk/Pester/blob/657273b4d4bb50e35dda7fd4241672161ac5ac6c/Pester.nuspec#L20) of Pester.nuspec?

[2017-12-18 20:15] AdmiringWorm commented on #896
@it-praktyk LGTM

[2017-12-18 20:20] it-praktyk commented on #896
Thx @AdmiringWorm!

[2017-12-19 22:16] #896 closed

[2017-12-21 14:31] it-praktyk commented on #877
Now, when pre-release versions are supported by PowerShell Gallery and Pester is published in this mode too, I assume that we can close the issue.

[2017-12-21 14:31] #877 closed

[2017-12-21 20:37] Midacts opened #965 "Possible to Mock Method Calls?"
Is there a way to `mock` methods?

(Get-Date).AddDays(1)

To be able to mock the ",AddDays" call.

[2017-12-22 16:40] dlwyatt commented on #965
No, but you can wrap that method call in a PowerShell function and then mock that function.  It's annoying, but it's what we've got to work with.

[code]

[2017-12-22 16:40] #965 closed

[2017-12-22 17:59] Midacts commented on #965
I worked with someone in the powershell.slack.com #testing channel to mock `Get-WmiObject` calls (chrisdent maybe?).
The below code worked.

Is that something that can be reproduced for other method calls?
Or was this just something that would only work for specific instances.

If it would work for others, i am not sure how to figure out what what in the `Add-Member` delete value.

[code]

[2017-12-27 16:13] MartinSGill commented on #360
I believe this is still a good option candidate and might bear re-opening.

My use case is as follows:

One of the core principles in continuous development/deployment is to "fail fast", and the stop on first failure is ideal for that scenario.

In the release/master branch you would run all tests, regardless, but on developer and feature branches you would use the switch. This way the build will

[2018-01-01 10:02] nohwnd commented on #360
They will know that they broke something, but they will lack the details to know what/how much they broke. There might be one test failing, or 100 tests failing, but you will never know, if you stop the build after first fail. I tried this approach on multiple projects and it always ended up with us developers re-running the tests locally. So we always ended up making groups of tests (unit tests /

[2018-01-01 10:05] nohwnd commented on #965
@Midacts I think it was me as well. I think this is a path worth looking into, but I would need more examples to see if it is actually that useful.

[2018-01-01 10:33] johlju commented on #965
We use that method extensively in the [unit tests over at SqlServerDsc resource module](https://github.com/PowerShell/SqlServerDsc/tree/dev/Tests/Unit). Example for unit tests below for a resource that is currently in PR. It also counts number of calls that is made to the method.

https://github.com/SQLHorizons/xSQLServer/blob/f26967cb1ab48200cf6c9ab9ea8c6e3bf53ccbea/Tests/Unit/MSFT_SqlServerDatab

[2018-01-01 20:45] Midacts commented on #965
Sadly, the example I have posted is the best/only working example I have.
I have run into scenarios where I have used method calls in my functions, which is why I was prompted to ask the question.

I was curious if this is actually a valid option (and if we have some "formula" to make this repeatable as I can't figure out how to accomplish this on my own). Or if the only option to mock things like

[2018-01-02 12:21] SQLDBAWithABeard opened #966 "Should : A parameter cannot be found that matches parameter name 'BeLikeExactly'"
## 1. Provide a general summary of the issue in the Title above

I am getting this error when trying to use the BeLikeExactly Assertion in 4.1.1 or 4.0.8

Error - Should : A parameter cannot be found that matches parameter name 'BeLikeExactly'

## 2. Describe Your Environment

Operating System, Pester version and PowerShell version:

Pester version     : 4.1.1 4.0.8
WindowsPowerShell\Modules\Peste

[2018-01-03 16:02] iRon7 commented on #386
The same issue exists for a [DataTable](https://msdn.microsoft.com/library/system.data.datatable(v=vs.110).aspx):

[code]

Work around (as above): `,$DataTable | Should -BeOfType [System.Data.DataTable]`

I guess there would be more situations where you `Should` should cover the whole $Input object rather then each $Value. Maybe a `-NoEnumerate` switch for `Should` itself could clear this.

[2018-01-04 09:28] GitAMBS commented on #923
@it-praktyk is this sufficient or do you still need more information?

[2018-01-04 12:00] megamorf commented on #923
@GitAMBS do you mean like InSpec's describe block?

https://www.inspec.io/docs/reference/dsl_inspec/

I'd love to see a description property be added to describe-block and in some cases they'd even be suitable for it-blocks. That way one can add more information to a test/set of tests without having to rely on non-machine readable comments.

[2018-01-04 13:03] GitAMBS commented on #923
Yes exactly like inspec or at least somewhat similar @megamorf

Although i would prefer it to be available for all blocks.
In order to allow more flexibility in regard to how you can organize your pester tests.

[2018-01-04 23:01] it-praktyk opened #967 "Pester 3.4.6 vs 4.1.1 NUnit schema ?"
## 1. Provide a general summary of the issue

As a part of discussion about #888 @dlwyatt [mentioned](https://github.com/pester/Pester/issues/888#issuecomment-344923915)

Because are opened issues related to [Output and CI](https://github.com/pester/Pester/issues?q=is%3Aopen+is%3Aissue+label%3A%22Output+and+CI%22), especially #663, I tried to dig in this change.

I've used tests those are a part o

[2018-01-04 23:05] it-praktyk commented on #967
CC: @bielawb, @smurawski, @chrislgardner

[2018-01-05 01:54] dlwyatt commented on #967
Is the 2.5 xsd not valid for the output we’re creating now?  I don’t see why it would need to change otherwise.

[2018-01-05 19:20] iRon7 opened #968 "Feature request: Should -BeEqualTo"
I have written a [`ConvertTo-PSON` (PowerShell Object Notation)](https://powersnippets.com/convertto-pson/) cmdlet which I am about to upload to github but I want to add some pester tests before I do.
There are lot of situation were I would like to tests both the value (`Should -Be`) *and* its type (`Should -BeOfType`). With requires a lot of statements likes:

[code]

I would like to be able to s

[2018-01-06 03:40] dogleft opened #969 "mock.ps1 - parameter not passed into scriptblock"
## 2. Describe Your Environment
Operating System, Pester version and PowerShell version:
Pester version     :
PowerShell version : 5.1.14393.1944
OS version         : Microsoft Windows NT 10.0.14393.0

## 3. Expected Behavior

The mock should play out and return the substitute hash.

[code]

## 4.Current Behavior
Exception:
      [-] Retrieves all users from the master newhire SmartSheet 91ms

[2018-01-06 19:46] it-praktyk commented on #969
@dogleft,
thank you for the report and a proposed solution. We will verify it, I hope soon.

Please be aware that due to security reason I've removed attached zip file. Please share a code required for reproducing as a gist. Thank you for your understanding.

[2018-01-06 19:51] it-praktyk commented on #923
@GitAMBS, my apologies for a lack of answer previously, I've missed your answer.

Yes, I think that now your feature request is clear.

[2018-01-06 19:52] it-praktyk commented on #923
[code]

But what about nested Describe and/or Context?

[2018-01-06 20:03] it-praktyk commented on #923
I've found that something similar (?) was implemented in the Pester fork used by PowerShell Team https://github.com/PowerShell/psl-pester/pull/9/.

@JamesWTruher, do I understand correctly?

[2018-01-07 18:27] iRon7 commented on #631
I bounced into the same "display" issue.
Pester revealed a bug in my (Windows) PowerShell cmdlet, but it took me quiet a while to figure out what was going wrong due the concerned  "unhelpful" message:

[code]
Note that in the `Get-Date` example, `.ToString('o')` also shows the timezone:
[code]
Which I think is correct to display as well, as the whole time (on a tick level) might could show an equ

[2018-01-08 16:40] dogleft commented on #969
You bet. Created public gist: "https://gist.github.com/dogleft/3ff3600b6f20c4002155a4156e977cd7.js"
"Repro for pester issue 969 - parameter not passed into scriptblock"

For repro, set a breakpoint on mock.ps1 1122 for the command & $scriptBlock @Splat
Before this call, you'll see that the parameters to be passed are populated.
Inside the scriptblock, the parameter is $null

Hope that helps.
-Andy

[2018-01-11 04:46] it-praktyk opened #970 "Pester is not tagged as 'PSEdition_Core' in the PowerShell Gallery"
PowerShell Core 6.0.0 GA is available and described in the document [PowerShell Core 6.0: Generally Available (GA) and Supported!](https://blogs.msdn.microsoft.com/powershell/2018/01/10/powershell-core-6-0-generally-available-ga-and-supported/).

In the document, we can read

Please extend tags list in the Pester manifest to display Pester as compatible with PSCore 6.0 in the PowerShell Gallery.

[2018-01-11 20:39] it-praktyk commented on #754
I would like to return to a discussion about release model for Pester.

Why now? Today I've opened the issue #970 what could be relatively simple to resolve if we stick to the git branching model described here as [Gitflow Workflow](https://www.atlassian.com/git/tutorials/comparing-workflows/gitflow-workflow).

I think that we should now and in the future

1. rename the current master branch to de